Repository ynput/OpenPype, pull requests merged in 2020-08, with the labels that each got.

#376 Maya: support for single frame renders
  pype/plugins/global/publish/submit_publish_job.py
  pype/plugins/maya/publish/submit_maya_deadline.py
Labels: affects: USER, bug, host: Maya

#381 Maya: bake custom attributes to camera during export
  pype/plugins/maya/publish/extract_camera_alembic.py
  pype/plugins/maya/publish/extract_camera_mayaAscii.py
Labels: affects: USER, enhancement, host: Maya

#384 Maya: camera names in render - invalid characters
  pype/hosts/maya/expected_files.py
Labels: affects: USER, bug, host: Maya

#389 Maya: render setup update and removal implementation
  pype/plugins/maya/load/load_rendersetup.py
Labels: affects: USER, enhancement, host: Maya

#400 Fix multiple attributes on the same node overwriting.
  pype/plugins/maya/publish/validate_attributes.py
Labels: bug, host: Maya

#401 Instance in Same Context for Nuke
  pype/plugins/global/publish/validate_instance_in_context.py
  pype/plugins/maya/publish/validate_instance_in_context.py
  pype/plugins/nuke/publish/collect_instances.py
Labels: enhancement, host: Maya, host: Nuke

#402 Nuke: Fix viewer input process node return as Viewer node
  pype/hosts/nuke/lib.py
  pype/plugins/nuke/publish/extract_thumbnail.py
Labels: bug, host: Nuke

#405 Publish: Cleanup plugin code optimization
  pype/plugins/global/publish/cleanup.py
Labels: affects: CORE, enhancement

#338 WIP POC imlementation of Websocket Json RPC server
  pype/modules/websocket_server/__init__.py
  pype/modules/websocket_server/hosts/__init__.py
  pype/modules/websocket_server/hosts/external_app_1.py
  pype/modules/websocket_server/test_client/wsrpc_client.html
  pype/modules/websocket_server/test_client/wsrpc_client.py
  pype/modules/websocket_server/websocket_server.py
Labels: enhancement

#407 Maya: make choice about ma/mb configurable per family type
  pype/plugins/maya/publish/extract_camera_mayaScene.py
  pype/plugins/maya/publish/extract_maya_scene_raw.py
  pype/plugins/maya/publish/extract_model.py
  pype/plugins/maya/publish/extract_rig.py
  pype/plugins/maya/publish/extract_yeti_rig.py
Labels: affects: USER, client, enhancement, host: Maya

#374 Calculate size
  pype/modules/ftrack/actions/action_delete_old_versions.py
Labels: enhancement, ftrack

#417 change deprecated -intra parameter in ffmpeg to new `-g`
  pype/scripts/otio_burnin.py
Labels: bug

#420 Cleanup plugin fail on instances without staging dir
  pype/plugins/global/publish/cleanup.py
Labels: affects: CORE, bug

#397 Delivery action can now work with entered path
  pype/modules/ftrack/actions/action_delivery.py
Labels: bug

#398 Maya: Publishing of tile renderings on Deadline
  pype/plugins/celaction/publish/submit_celaction_deadline.py
  pype/plugins/fusion/publish/submit_deadline.py
  pype/plugins/global/publish/submit_publish_job.py
  pype/plugins/maya/create/create_render.py
  pype/plugins/maya/publish/collect_render.py
  pype/plugins/maya/publish/submit_maya_deadline.py
  pype/plugins/maya/publish/submit_maya_muster.py
  pype/plugins/maya/publish/validate_deadline_tile_submission.py
  pype/plugins/maya/publish/validate_frame_range.py
  pype/plugins/nuke/publish/submit_nuke_deadline.py
Labels: affects: USER, enhancement, host: Maya

#430 additional fixes for celaction
  pype/hooks/celaction/prelaunch.py
  pype/lib.py
  pype/plugins/celaction/publish/collect_audio.py
  pype/plugins/celaction/publish/collect_celaction_instances.py
  pype/plugins/celaction/publish/submit_celaction_deadline.py
  pype/plugins/global/publish/cleanup.py
  pype/plugins/global/publish/extract_review.py
  pype/plugins/premiere/publish/collect_instance_representations.py
Labels: HIGH, bug, client

#427 new representation name for audio was not accepted
  pype/plugins/celaction/publish/collect_audio.py
Labels: HIGH, bug, client

#424 Multiple reviews where being overwritten to one.
  pype/plugins/maya/publish/collect_review.py
Labels: bug, host: Maya

#441 Optional skip review on renders.
  pype/plugins/global/publish/extract_jpeg.py
  pype/plugins/global/publish/extract_review.py
  pype/plugins/maya/create/create_render.py
  pype/plugins/maya/publish/collect_render.py
Labels: enhancement, host: Maya

#440 Ftrack: Option to push status from task to latest version
  pype/modules/ftrack/events/event_task_to_version_status.py
Labels: enhancement

#426 Option to keep the review files.
  pype/plugins/maya/create/create_review.py
  pype/plugins/maya/publish/extract_playblast.py
  pype/plugins/nuke/load/load_sequence.py
Labels: enhancement, host: Maya

#434 Properly containerize image plane loads.
  pype/plugins/maya/load/load_image_plane.py
Labels: enhancement, host: Maya

#436 Bugfix/empty enumerator attributes
  pype/modules/ftrack/actions/action_create_cust_attrs.py
Labels: bug

#453 Bugfix/ftrack app launch fix
  pype/modules/ftrack/lib/ftrack_app_handler.py
Labels: bug

#448 Burnins: Copy bit rate of input video to match quality.
  pype/scripts/otio_burnin.py
Labels: bug

#459 celaction last workfile
  pype/hooks/celaction/prelaunch.py
Labels: HIGH, bug

#481 Add "preview" to image plane representations
  pype/plugins/maya/load/load_image_plane.py
Labels: enhancement, host: Maya

#488 Thumbnail parent
  pype/modules/ftrack/actions/action_thumbnail_to_parent.py
Labels: bug, ftrack

#485 2.x/bugfix/integrate new handle destination
  pype/plugins/global/publish/integrate_new.py
Labels: bug

#486 Containerize audio loading.
  pype/plugins/maya/load/load_audio.py
Labels: enhancement, host: Maya

#487 Enable previews for Ftrack review.
  pype/plugins/nukestudio/publish/collect_reviews.py
Labels: bug, host: NukeStudio

#492 Fix collect reviews
  pype/plugins/nukestudio/publish/collect_reviews.py
Labels: bug, host: NukeStudio

#498 Fix: strip dot from repre names in single frame renders
  pype/plugins/global/publish/submit_publish_job.py
Labels: affects: CORE, bug

#494 Revamp Build Workfile in Nuke.
  pype/hosts/nuke/lib.py
  pype/hosts/nuke/menu.py
Labels: enhancement, host: Nuke
