Repository ynput/OpenPype, pull requests merged in 2020-06, with the labels that each got.

#174 Cleaning renders needs to be before staging directory checks.
  pype/plugins/global/publish/cleanup.py
Labels: affects: CORE, bug

#190 Publish backdrops with templates.
  pype/plugins/harmony/load/load_template.py
  pype/plugins/harmony/publish/collect_instances.py
  pype/plugins/harmony/publish/extract_template.py
Labels: enhancement, host: Harmony

#191 Enable additional metadata on representations
  pype/plugins/global/publish/integrate_new.py
Labels: enhancement

#193 Creator class exposed to the user.
  pype/plugins/nuke/create/create_backdrop.py
  pype/plugins/nuke/create/create_gizmo.py
Labels: bug, host: Nuke

#194 Optional script validation
  pype/plugins/nuke/publish/validate_script.py
Labels: enhancement, host: Nuke

#195 Add all file and alembic path to Deadline submissions.
  pype/plugins/maya/publish/collect_file_dependencies.py
  pype/plugins/maya/publish/submit_maya_deadline.py
Labels: enhancement, host: Maya

#198 Improve documentation for validate version.
  pype/plugins/global/publish/validate_version.py
Labels: enhancement

#188 Black Magic DaVinci Resolve Host integration
  pype/hooks/resolve/prelaunch.py
  pype/hosts/resolve/README.markdown
  pype/hosts/resolve/RESOLVE_API_README.txt
  pype/hosts/resolve/__init__.py
  pype/hosts/resolve/action.py
  pype/hosts/resolve/lib.py
  pype/hosts/resolve/menu.py
  pype/hosts/resolve/menu_style.qss
  pype/hosts/resolve/pipeline.py
  pype/hosts/resolve/plugin.py
  pype/hosts/resolve/preload_console.py
  pype/hosts/resolve/utility_scripts/Pype_menu.py
  pype/hosts/resolve/utility_scripts/README.markdown
  pype/hosts/resolve/utility_scripts/__dev_compound_clip.py
  pype/hosts/resolve/utility_scripts/__test_pyblish.py
  pype/hosts/resolve/utility_scripts/__test_subprocess.py
  pype/hosts/resolve/utils.py
  pype/hosts/resolve/workio.py
  pype/plugins/resolve/publish/collect_host.py
  res/app_icons/resolve.png
Labels: affects: CORE, affects: USER, epic, host: Resolve

#197 Support for unmerged AOVs in Redshift multipart EXRs
  pype/plugins/global/publish/extract_jpeg.py
  pype/plugins/maya/publish/collect_render.py
Labels: LOW, affects: CORE, bug, host: Maya

#207 Maya - Look: Skip invalid connections
  pype/plugins/maya/publish/collect_look.py
Labels: MEDIUM, affects: USER, host: Maya

#216 Blender: adding plugin for increment version
  pype/plugins/blender/publish/increment_workfile_version.py
Labels: MEDIUM, affects: USER, enhancement, host: Blender

#244 Fix harmony plugin paths.
  pype/hosts/harmony/__init__.py
Labels: bug

#204 Refactor Maya deadline submission to support multiple job types
  pype/hosts/maya/expected_files.py
  pype/hosts/photoshop/__init__.py
  pype/modules/logging/gui/app.py
  pype/modules/logging/gui/models.py
  pype/modules/logging/gui/widgets.py
  pype/modules/logging/tray/logging_module.py
  pype/plugins/blender/create/create_layout.py
  pype/plugins/blender/create/create_rig.py
  pype/plugins/blender/load/load_animation.py
  pype/plugins/blender/load/load_layout.py
  pype/plugins/blender/load/load_model.py
  pype/plugins/blender/load/load_rig.py
  pype/plugins/global/publish/collect_output_repre_config.py
  pype/plugins/global/publish/integrate_new.py
  pype/plugins/global/publish/submit_publish_job.py
  pype/plugins/maya/create/create_render.py
  pype/plugins/maya/publish/collect_render.py
  pype/plugins/maya/publish/collect_vray_scene.py
  pype/plugins/maya/publish/submit_maya_deadline.py
  pype/plugins/maya/publish/submit_vray_deadline.py
  pype/plugins/photoshop/create/create_image.py
  pype/plugins/photoshop/load/load_image.py
  pype/plugins/photoshop/publish/collect_current_file.py
  pype/plugins/photoshop/publish/collect_instances.py
  pype/plugins/photoshop/publish/collect_workfile.py
  pype/plugins/photoshop/publish/extract_image.py
  pype/plugins/photoshop/publish/extract_save_scene.py
  pype/plugins/photoshop/publish/validate_instance_asset.py
  pype/scripts/export_maya_ass_job.py
  pype/scripts/export_maya_ass_sequence.mel
  res/app_icons/photoshop.png
Labels: LOW, enhancement, host: Maya

#248 Fix extract render
  pype/plugins/harmony/publish/extract_render.py
Labels: bug, host: Harmony

#249 Ensure scene settings on application launch.
  pype/hosts/harmony/__init__.py
Labels: enhancement, host: Harmony

#251 Publish workfile
  pype/plugins/harmony/load/load_template.py
  pype/plugins/harmony/publish/collect_workfile.py
  pype/plugins/harmony/publish/extract_save_scene.py
  pype/plugins/harmony/publish/extract_workfile.py
  pype/plugins/harmony/publish/increment_workfile.py
Labels: enhancement, host: Harmony

#250 Loader for templates and workfiles
  pype/plugins/harmony/load/load_template_workfile.py
Labels: enhancement, host: Harmony

#254 Maya: export alembic start/end frame type
  pype/plugins/maya/publish/extract_animation.py
Labels: affects: USER, bug, host: Maya

#258 Standalone editorial
  pype/plugins/ftrack/publish/integrate_ftrack_instances.py
  pype/plugins/global/publish/extract_hierarchy_avalon.py
  pype/plugins/global/publish/integrate_new.py
  pype/plugins/harmony/publish/extract_render.py
  pype/plugins/standalonepublisher/publish/collect_shots.py
  pype/plugins/standalonepublisher/publish/extract_review.py
  pype/plugins/standalonepublisher/publish/extract_shot.py
  pype/plugins/standalonepublisher/publish/validate_editorial_resources.py
Labels: enhancement, host: Standalone

#260 Ignore standalone host.
  pype/plugins/global/publish/validate_custom_ftrack_attributes.py
Labels: bug, host: Standalone

#253 Validate instances
  pype/plugins/harmony/publish/validate_instances.py
Labels: enhancement, host: Harmony

#262 Batch tasks action
  pype/modules/ftrack/actions/action_batch_task_creation.py
  pype/modules/ftrack/lib/ftrack_base_handler.py
Labels: enhancement, ftrack

#256 Attach render to subset sanity check
  pype/plugins/maya/create/create_render.py
  pype/plugins/maya/publish/collect_render.py
  pype/plugins/maya/publish/validate_mesh_arnold_attributes.py
Labels: affects: USER, bug, host: Maya

#257 Maya: validator: Suffix Name Conventions - invalid method signature
  pype/plugins/maya/publish/validate_transform_naming_suffix.py
Labels: affects: USER, bug, host: Maya

#255 premiere workfile root per task (multi-root)
  pype/hooks/premiere/prelaunch.py
  pype/hosts/premiere/__init__.py
  pype/hosts/premiere/extensions/com.pype/jsx/batchRenamer.jsx
  pype/hosts/premiere/ppro/index.html
  pype/hosts/premiere/ppro/js/pype.js
Labels: affects: USER, enhancement

#243 Feature/102 draft celaction quick integration
  pype/api.py
  pype/hooks/celaction/prelaunch.py
  pype/hosts/celaction/__init__.py
  pype/hosts/celaction/celaction_template_scene.scn
  pype/hosts/celaction/cli.py
  pype/lib.py
  pype/plugins/celaction/publish/collect_audio.py
  pype/plugins/celaction/publish/collect_celaction_cli_kwargs.py
  pype/plugins/celaction/publish/collect_celaction_instances.py
  pype/plugins/celaction/publish/collect_render_path.py
  pype/plugins/celaction/publish/integrate_version_up.py
  pype/plugins/celaction/publish/submit_celaction_deadline.py
  pype/plugins/global/publish/collect_rendered_files.py
  pype/plugins/global/publish/extract_review.py
  pype/plugins/global/publish/integrate_new.py
  pype/plugins/global/publish/submit_publish_job.py
  res/app_icons/celaction_local.png
  res/app_icons/celaction_remotel.png
Labels: duplicate, enhancement

#269 Fix extract render
  pype/plugins/harmony/publish/extract_render.py
Labels: bug, host: Harmony

#270 Validate scene settings.
  pype/hosts/harmony/__init__.py
  pype/plugins/harmony/publish/validate_scene_settings.py
Labels: enhancement, host: Harmony

#271 Load imagesequence.
  pype/plugins/harmony/load/load_imagesequence.py
Labels: enhancement, host: Harmony

#267 Fix publishing workfile
  pype/hosts/harmony/__init__.py
  pype/plugins/harmony/load/load_template_workfile.py
  pype/plugins/harmony/publish/extract_save_scene.py
  pype/plugins/harmony/publish/extract_template.py
  pype/plugins/harmony/publish/extract_workfile.py
Labels: bug, host: Harmony

#276 Optimize processing
  pype/plugins/global/publish/validate_ffmpeg_installed.py
  pype/tools/pyblish_pype/control.py
Labels: enhancement

#277 Validate shots
  pype/plugins/standalonepublisher/publish/validate_shots.py
Labels: enhancement, host: Standalone

#278 Collect shots
  pype/plugins/standalonepublisher/publish/collect_shots.py
Labels: bug, host: Standalone

#285 Harmony scene validation needs to start at 1.
  pype/plugins/harmony/publish/validate_scene_settings.py
Labels: bug, host: Harmony

#286 Load audio
  pype/plugins/harmony/load/load_audio.py
  pype/plugins/harmony/publish/extract_render.py
Labels: enhancement, host: Harmony

#284 Feature/maya deadline plugin
  pype/plugins/global/publish/submit_publish_job.py
  pype/plugins/maya/create/create_render.py
  pype/plugins/maya/publish/collect_render.py
  pype/plugins/maya/publish/submit_maya_deadline.py
Labels: affects: CORE, enhancement, host: Maya

#293 Defaults for frameStart and frameEnd
  pype/plugins/global/publish/collect_avalon_entities.py
Labels: bug

#289 Cloud Mongo
  pype/api.py
  pype/lib.py
  pype/modules/adobe_communicator/lib/io_nonsingleton.py
  pype/modules/avalon_apps/rest_api.py
  pype/modules/ftrack/ftrack_server/event_server_cli.py
  pype/modules/ftrack/ftrack_server/lib.py
  pype/modules/ftrack/ftrack_server/sub_event_storer.py
  pype/modules/ftrack/lib/custom_db_connector.py
  pype/modules/ftrack/lib/io_nonsingleton.py
  pype/modules/logging/gui/models.py
  pype/modules/logging/tray/logging_module.py
  schema/session-2.0.json
Labels: enhancement

#299 Using existing items for instances.
  pype/plugins/photoshop/create/create_image.py
  pype/plugins/photoshop/publish/validate_naming.py
Labels: enhancement, host: Photoshop

#302 Flag Outdated containers
  pype/hosts/harmony/__init__.py
  pype/plugins/global/publish/validate_containers.py
  pype/plugins/harmony/load/load_imagesequence.py
Labels: enhancement, host: Harmony

#304 Subset was not named or validated correctly.
  pype/plugins/photoshop/create/create_image.py
  pype/plugins/photoshop/publish/validate_naming.py
Labels: bug, host: Photoshop

#305 hotfix/Fix event server mongo uri
  pype/modules/ftrack/ftrack_server/lib.py
Labels: bug, ftrack
