Repository ynput/OpenPype, pull requests merged in 2020-07, with the labels that each got.

#298 Photoshop: Publish review
  pype/plugins/photoshop/publish/collect_review.py
  pype/plugins/photoshop/publish/extract_review.py
Labels: enhancement, host: Photoshop

#309 Flag outdated containers on startup and publish.
  pype/hosts/photoshop/__init__.py
  pype/plugins/global/publish/validate_containers.py
Labels: enhancement, host: Photoshop

#310 Only zip files are supported.
  pype/plugins/harmony/load/load_template_workfile.py
Labels: bug, host: Harmony

#316 fixing vray rendering on deadline
  pype/hosts/maya/expected_files.py
  pype/plugins/global/publish/submit_publish_job.py
  pype/plugins/maya/publish/submit_maya_deadline.py
  pype/plugins/maya/publish/validate_rendersettings.py
  pype/plugins/maya/publish/validate_vray_translator_settings.py
Labels: affects: USER, bug, host: Maya

#324 Support palettes.
  pype/hosts/harmony/__init__.py
  pype/plugins/global/publish/integrate_new.py
  pype/plugins/harmony/load/load_imagesequence.py
  pype/plugins/harmony/load/load_palette.py
  pype/plugins/harmony/publish/collect_palettes.py
  pype/plugins/harmony/publish/extract_palette.py
Labels: enhancement, host: Harmony

#325 Ftrack timeout needs to look at AVALON_TIMEOUT
  pype/modules/ftrack/lib/custom_db_connector.py
Labels: bug, ftrack

#336 Support publishing a subset of shots
  pype/plugins/standalonepublisher/publish/collect_shots.py
Labels: enhancement, host: Standalone

#337 stop appending of tools environment to existing env
  pype/modules/ftrack/lib/ftrack_app_handler.py
Labels: affects: CORE, bug

#339 If camera attributes are connected, we can ignore them.
  pype/plugins/maya/load/load_image_plane.py
Labels: bug, host: Maya

#340 Fix ValidateNukeWriteKnobs
  pype/plugins/nuke/publish/validate_knobs.py
Labels: bug, host: Nuke

#319 [draft] Celaction and Premiere workflow glithes
  pype/hosts/celaction/cli.py
  pype/modules/adobe_communicator/lib/publish.py
  pype/plugins/celaction/publish/collect_celaction_cli_kwargs.py
  pype/plugins/celaction/publish/collect_celaction_instances.py
  pype/plugins/celaction/publish/collect_render_path.py
  pype/plugins/celaction/publish/submit_celaction_deadline.py
  pype/plugins/global/publish/submit_publish_job.py
Labels: HIGH, affects: CORE, affects: USER, client

#345 Priority was forced to 50
  pype/plugins/nuke/publish/submit_nuke_deadline.py
Labels: bug, host: Nuke

#346 premiere workflow fixes
  pype/hooks/premiere/prelaunch.py
  pype/plugins/premiere/publish/collect_frameranges.py
  pype/plugins/premiere/publish/collect_instance_representations.py
  pype/plugins/premiere/publish/validate_auto_sync_off.py
Labels: MEDIUM, affects: CORE, bug, enhancement

#357 Bugfix/celaction litle bits
  pype/hooks/celaction/prelaunch.py
  pype/hosts/celaction/cli.py
Labels: affects: CORE, bug, client

#359 Mac tweaks
  .gitignore
Labels: enhancement

#307 [draft] Resolve: tagging and renaming for publish
  pype/hooks/premiere/prelaunch.py
  pype/hooks/resolve/prelaunch.py
  pype/hosts/resolve/__init__.py
  pype/hosts/resolve/action.py
  pype/hosts/resolve/lib.py
  pype/hosts/resolve/menu_style.qss
  pype/hosts/resolve/pipeline.py
  pype/hosts/resolve/plugin.py
  pype/hosts/resolve/preload_console.py
  pype/hosts/resolve/utility_scripts/Pype_menu.py
  pype/hosts/resolve/utility_scripts/__dev_compound_clip.py
  pype/hosts/resolve/utility_scripts/__test_pyblish.py
  pype/hosts/resolve/utility_scripts/__test_subprocess.py
  pype/hosts/resolve/utility_scripts/test.py
  pype/hosts/resolve/utils.py
  pype/hosts/resolve/workio.py
  pype/modules/ftrack/actions/action_delete_asset.py
  pype/plugins/nuke/publish/submit_nuke_deadline.py
  pype/plugins/premiere/publish/collect_frameranges.py
  pype/plugins/premiere/publish/collect_instance_representations.py
  pype/plugins/premiere/publish/validate_auto_sync_off.py
  pype/plugins/resolve/create/create_shot_clip.py
  pype/plugins/resolve/publish/collect_clips.py
  pype/plugins/resolve/publish/collect_host.py
  pype/plugins/resolve/publish/collect_project.py
  pype/tools/tray/pype_tray.py
Labels: MEDIUM, affects: USER, client, epic, host: Resolve

#355 Fix preview always True.
  pype/plugins/global/publish/submit_publish_job.py
Labels: bug

#329 Increase socket thread timeout.
  pype/modules/ftrack/ftrack_server/socket_thread.py
Labels: bug, ftrack

#361 Use published workfile for rendering.
  pype/plugins/nuke/publish/submit_nuke_deadline.py
Labels: bug, host: Nuke

#363 premiere audio only was not working
  pype/hosts/premiere/extensions/com.pype/jsx/pype.jsx
Labels: HIGH

#364 Premiere - synchronization of ftrack project back on
  pype/plugins/ftrack/publish/integrate_hierarchy_ftrack.py
  pype/plugins/premiere/publish/validate_auto_sync_off.py
Labels: HIGH

#351 validator for Maya: check if instances asset matches context asset
  pype/plugins/maya/publish/validate_instance_in_context.py
Labels: affects: USER, host: Maya

#378 celaction deadline rendering
  pype/plugins/celaction/publish/collect_render_path.py
  pype/plugins/celaction/publish/submit_celaction_deadline.py
  pype/plugins/global/publish/integrate_new.py
  pype/plugins/global/publish/submit_publish_job.py
Labels: affects: CORE, bug, client

#385 fix(celaction): version up
  pype/plugins/celaction/publish/integrate_version_up.py
Labels: HIGH, bug, client

#393 Celaction: metadata json folder fixes on path
  pype/plugins/celaction/publish/collect_render_path.py
  pype/plugins/global/publish/submit_publish_job.py
Labels: HIGH, affects: CORE

#391 CelAction - version up method taken fro pype.lib
  pype/plugins/celaction/publish/integrate_version_up.py
Labels: HIGH, affects: USER, client
