Repository ynput/OpenPype, pull requests merged in 2021-07, with the labels that each got.

#1781 Hiero: wrong frame number
  pype/plugins/hiero/publish/collect_review.py
Labels: HIGH, client, hotfix

#1756 Deadline: Nuke submission additional attributes
  openpype/modules/deadline/plugins/publish/submit_nuke_deadline.py
  openpype/settings/defaults/project_settings/deadline.json
  openpype/settings/entities/schemas/projects_schema/schema_project_deadline.json
Labels: client, enhancement, host: Nuke

#1782 Otio unrelated error on import
  openpype/lib/editorial.py
Labels: backend, bug

#1785 Invitee email can be None which break the Ftrack commit.
  pype/modules/ftrack/actions/action_clone_review_session.py
Labels: 2x-dev, backend, bug, convert to 3.0, module: Ftrack

#1788 Invitee email can be None which break the Ftrack commit.
  openpype/modules/ftrack/event_handlers_server/action_clone_review_session.py
Labels: backend, bug, module: Ftrack

#1786 Fix: staging and `--use-version` option
  igniter/bootstrap_repos.py
  openpype/cli.py
  start.py
  tests/igniter/test_bootstrap_repos.py
  tools/build.ps1
  website/docs/admin_openpype_commands.md
  website/docs/admin_use.md
Labels: bug, documentation

#1771 Bc/fix/docs
  website/docs/dev_build.md
  website/docs/module_ftrack.md
Labels: MEDIUM, backend

#1672 Unreal: launching on Linux
  openpype/hosts/unreal/README.md
  openpype/hosts/unreal/api/lib.py
  openpype/hosts/unreal/hooks/pre_workfile_preparation.py
  openpype/settings/defaults/system_settings/applications.json
  openpype/settings/entities/schemas/projects_schema/schema_project_unreal.json
Labels: bug, host: UE

#1794 Ftrack Multiple notes as server action
  pype/modules/ftrack/events/action_multiple_notes.py
Labels: 2x-dev, backend, enhancement, module: Ftrack

#1799 Standalone publisher last project
  openpype/tools/standalonepublish/app.py
  openpype/tools/standalonepublish/widgets/widget_asset.py
Labels: backend, enhancement, host: Standalone

#1800 standalone: space in ffmpeg path dir name issue
  pype/plugins/standalonepublisher/publish/extract_trim_video_audio.py
Labels: HIGH, client, host: Standalone, hotfix

#1803 nuke: fixing wrong name of family folder when `used existing frames`
  openpype/hosts/nuke/plugins/publish/precollect_instances.py
Labels: HIGH, bug, client

#1795 Ftrack Multiple notes as server action
  openpype/modules/ftrack/event_handlers_server/action_multiple_notes.py
Labels: backend, enhancement, module: Ftrack

#1801 Collect ftrack family bugs
  openpype/modules/ftrack/plugins/publish/collect_ftrack_family.py
  openpype/settings/defaults/project_settings/ftrack.json
Labels: HIGH, backend, bug, module: Ftrack

#1768 Environments in app executable for MacOS
  openpype/lib/applications.py
Labels: HIGH, backend, bug

#1777 Settings conditional dict
  openpype/settings/entities/__init__.py
  openpype/settings/entities/base_entity.py
  openpype/settings/entities/dict_conditional.py
  openpype/settings/entities/dict_immutable_keys_entity.py
  openpype/settings/entities/dict_mutable_keys_entity.py
  openpype/settings/entities/input_entities.py
  openpype/settings/entities/item_entities.py
  openpype/settings/entities/lib.py
  openpype/settings/entities/list_entity.py
  openpype/settings/entities/root_entities.py
  openpype/settings/entities/schemas/README.md
  openpype/settings/entities/schemas/system_schema/example_schema.json
  openpype/tools/settings/settings/categories.py
  openpype/tools/settings/settings/dict_conditional.py
  openpype/tools/settings/settings/item_widgets.py
Labels: backend, enhancement

#1738 StandalonePublisher: failing collector for editorial
  openpype/hosts/standalonepublisher/plugins/publish/collect_editorial_instances.py
  openpype/hosts/standalonepublisher/plugins/publish/collect_editorial_resources.py
Labels: HIGH, bug, host: Standalone

#1808 Build: don't add Poetry to `PATH`
  tools/build.ps1
  tools/build.sh
  tools/build_win_installer.ps1
  tools/create_env.ps1
  tools/create_env.sh
  tools/create_zip.ps1
  tools/create_zip.sh
  tools/fetch_thirdparty_libs.ps1
  tools/fetch_thirdparty_libs.sh
  tools/make_docs.ps1
  tools/make_docs.sh
  tools/run_project_manager.ps1
  tools/run_projectmanager.sh
  tools/run_settings.ps1
  tools/run_settings.sh
  tools/run_tests.ps1
  tools/run_tests.sh
  tools/run_tray.ps1
  tools/run_tray.sh
Labels: LOW, backend

#1802 Houdini colector formatting keys fix
  openpype/hosts/houdini/plugins/publish/collect_instances.py
Labels: bug, host: Houdini

#1797 Maya: Deadline custom settings
  openpype/modules/deadline/plugins/publish/submit_maya_deadline.py
  openpype/settings/defaults/project_settings/deadline.json
  openpype/settings/entities/schemas/projects_schema/schema_project_deadline.json
Labels: host: Maya

#1747 Standalone Publish Textures
  pype/plugins/global/publish/integrate_new.py
  pype/plugins/standalonepublisher/publish/collect_batch_instances.py
  pype/plugins/standalonepublisher/publish/collect_texture.py
  pype/plugins/standalonepublisher/publish/extract_resources.py
  pype/plugins/standalonepublisher/publish/extract_workfile_location.py
  pype/plugins/standalonepublisher/publish/validate_texture_batch.py
  pype/plugins/standalonepublisher/publish/validate_texture_has_workfile.py
  pype/plugins/standalonepublisher/publish/validate_texture_name.py
  pype/plugins/standalonepublisher/publish/validate_texture_versions.py
  pype/plugins/standalonepublisher/publish/validate_texture_workfiles.py
Labels: 2x-dev, convert to 3.0, enhancement

#1819 Settings: settings for plugins
  openpype/hosts/standalonepublisher/plugins/publish/collect_editorial.py
  openpype/hosts/standalonepublisher/plugins/publish/collect_editorial_instances.py
  openpype/hosts/standalonepublisher/plugins/publish/collect_editorial_resources.py
  openpype/hosts/standalonepublisher/plugins/publish/collect_hierarchy.py
  openpype/settings/defaults/project_settings/global.json
  openpype/settings/defaults/project_settings/standalonepublisher.json
  openpype/settings/entities/enum_entity.py
  openpype/settings/entities/schemas/projects_schema/schema_project_standalonepublisher.json
  openpype/settings/entities/schemas/projects_schema/schemas/schema_global_publish.json
Labels: client, enhancement, host: Standalone

#1809 Maya: fix yeti settings path in extractor
  openpype/hosts/maya/plugins/publish/extract_yeti_rig.py
Labels: bug, host: Maya

#1813 Project folder structure overrides
  openpype/modules/ftrack/event_handlers_user/action_create_project_structure.py
  openpype/settings/defaults/project_settings/global.json
  openpype/settings/entities/input_entities.py
  openpype/settings/entities/schemas/README.md
  openpype/settings/entities/schemas/projects_schema/schema_project_global.json
Labels: backend, bug, module: Ftrack

#1823 Update poetry lock
  poetry.lock
Labels: HIGH, backend, enhancement

#1837 Fix - Standalone Publish better handling of loading multiple versions…
  pype/plugins/standalonepublisher/publish/collect_texture.py
  pype/tools/standalonepublish/widgets/widget_drop_frame.py
Labels: 2x-dev, bug, host: Standalone

#1558 Failsafe for cross project containers.
  pype/hosts/nuke/lib.py
Labels: 2x-dev, bug, convert to 3.0, host: Nuke

#1838 Prepare project action enhance
  openpype/modules/ftrack/event_handlers_user/action_prepare_project.py
Labels: backend, enhancement, module: Ftrack

#1806 Failsafe for cross project containers.
  openpype/hosts/nuke/api/lib.py
Labels: bug, host: Nuke

#1770 Expose write attributes to config
  pype/plugins/nuke/create/create_write_prerender.py
  pype/plugins/nuke/create/create_write_render.py
Labels: 2x-dev, convert to 3.0, host: Nuke

#1843 Ftrack push attributes action adds traceback to job
  openpype/modules/ftrack/event_handlers_server/action_push_frame_values_to_task.py
  openpype/modules/ftrack/lib/ftrack_base_handler.py
Labels: backend, enhancement, module: Ftrack

#1842 Ftrack push attributes action adds traceback to job
  pype/modules/ftrack/events/action_push_frame_values_to_task.py
Labels: 2x-dev, backend, module: Ftrack

#1822 Add support for pyenv-win on windows
  tools/build.ps1
  tools/create_env.ps1
  tools/run_mongo.ps1
Labels: backend

#1841 Nuke: updating effects subset fail
  openpype/hosts/nuke/plugins/load/load_effects.py
  openpype/hosts/nuke/plugins/load/load_effects_ip.py
Labels: MEDIUM, bug, client

#1684 Application launch stdout/stderr in GUI build
  openpype/hooks/pre_foundry_apps.py
  openpype/hooks/pre_non_python_host_launch.py
  openpype/hooks/pre_with_windows_shell.py
  openpype/lib/applications.py
Labels: HIGH, backend, bug

#1849 publisher: missing version in subset prop
  openpype/hosts/standalonepublisher/plugins/publish/collect_editorial_instances.py
Labels: HIGH, bug, client

#1851 Bugfix textures validator versions
  pype/plugins/standalonepublisher/publish/validate_texture_versions.py
Labels: 2x-dev

#1845 Ftrack type error fix in sync to avalon event handler
  openpype/modules/ftrack/event_handlers_server/event_sync_to_avalon.py
Labels: backend, bug, module: Ftrack

#1853 Independent general environments
  openpype/settings/lib.py
  start.py
Labels: backend, enhancement

#1856 imageio: fix grouping
  openpype/settings/entities/schemas/projects_schema/schemas/schema_anatomy_imageio.json
Labels: bug

#1839 TVPaint Start Frame
  pype/plugins/tvpaint/publish/collect_workfile_data.py
  pype/plugins/tvpaint/publish/extract_sequence.py
  pype/plugins/tvpaint/publish/validate_start_frame.py
Labels: convert to 3.0, host: TV Paint

#1844 TVPaint Start Frame
  openpype/hosts/tvpaint/plugins/publish/collect_workfile_data.py
  openpype/hosts/tvpaint/plugins/publish/extract_sequence.py
  openpype/hosts/tvpaint/plugins/publish/validate_start_frame.py
  openpype/settings/defaults/project_settings/tvpaint.json
  openpype/settings/entities/schemas/projects_schema/schema_project_tvpaint.json
Labels: LOW, backend, enhancement, host: TV Paint

#1834 Standalone Publish of textures family
  openpype/hosts/standalonepublisher/plugins/publish/collect_texture.py
  openpype/hosts/standalonepublisher/plugins/publish/extract_resources.py
  openpype/hosts/standalonepublisher/plugins/publish/extract_workfile_location.py
  openpype/hosts/standalonepublisher/plugins/publish/validate_texture_batch.py
  openpype/hosts/standalonepublisher/plugins/publish/validate_texture_has_workfile.py
  openpype/hosts/standalonepublisher/plugins/publish/validate_texture_name.py
  openpype/hosts/standalonepublisher/plugins/publish/validate_texture_versions.py
  openpype/hosts/standalonepublisher/plugins/publish/validate_texture_workfiles.py
  openpype/plugins/publish/integrate_new.py
  openpype/settings/defaults/project_anatomy/templates.json
  openpype/settings/defaults/project_settings/standalonepublisher.json
  openpype/settings/entities/schemas/projects_schema/schema_project_standalonepublisher.json
  openpype/tools/standalonepublish/widgets/widget_drop_frame.py
  website/docs/project_settings/assets/standalone_creators.png
  website/docs/project_settings/settings_project_standalone.md
  website/sidebars.js
Labels: documentation, enhancement, host: Standalone

#1861 Ftrack prepare project structure
  openpype/modules/ftrack/event_handlers_server/action_prepare_project.py
  openpype/modules/ftrack/event_handlers_user/action_prepare_project.py
  openpype/settings/defaults/project_settings/ftrack.json
  openpype/settings/entities/schemas/projects_schema/schema_project_ftrack.json
Labels: backend, bug, enhancement, module: Ftrack

#1864 Anatomy schema validation
  openpype/settings/entities/anatomy_entities.py
  openpype/settings/entities/schemas/README.md
Labels: backend, enhancement

#1868 Filter hosts in settings host-enum
  openpype/settings/entities/enum_entity.py
  openpype/settings/entities/schemas/README.md
  openpype/settings/entities/schemas/projects_schema/schemas/schema_global_tools.json
Labels: backend, enhancement

#1869 Prepare for pyside2
  openpype/modules/log_viewer/tray/app.py
  openpype/modules/log_viewer/tray/widgets.py
  openpype/style/style.css
  openpype/tools/settings/settings/window.py
  openpype/tools/standalonepublish/widgets/widget_component_item.py
Labels: LOW, backend, enhancement

#1880 Normalize path returned from Workfiles.
  openpype/tools/workfiles/app.py
Labels: bug, host: TV Paint

#1798 Settings error dialog on show
  openpype/tools/settings/settings/categories.py
  openpype/tools/settings/settings/window.py
Labels: backend, bug

#1865 Workfile tool start at host launch support
  openpype/hosts/nuke/api/lib.py
  openpype/lib/applications.py
  openpype/settings/defaults/project_settings/global.json
  openpype/settings/entities/schemas/projects_schema/schemas/schema_global_tools.json
Labels: client, enhancement, host: Nuke

#1867 Local actions with process identifier
  openpype/modules/ftrack/event_handlers_user/action_applications.py
  openpype/modules/ftrack/event_handlers_user/action_prepare_project.py
  openpype/modules/ftrack/event_handlers_user/action_where_run_show.py
  openpype/modules/ftrack/lib/ftrack_action_handler.py
  openpype/modules/ftrack/lib/ftrack_base_handler.py
Labels: backend, bug, enhancement, module: Ftrack

#1862 Workfiles tool event arguments fix
  openpype/tools/workfiles/app.py
Labels: backend, bug

#1886 Expose stop timer through rest api.
  openpype/modules/timers_manager/rest_api.py
Labels: enhancement
