Repository ynput/OpenPype, pull requests merged in 2022-10, with the labels that each got.

#3888 Publisher: Files Drag n Drop cleanup
  openpype/widgets/attribute_defs/files_widget.py
Labels: type: bug

#3926 General: import 'Logger' from 'openpype.lib'
  openpype/hosts/aftereffects/api/launch_logic.py
  openpype/hosts/aftereffects/api/pipeline.py
  openpype/hosts/blender/api/lib.py
  openpype/hosts/blender/api/pipeline.py
  openpype/hosts/celaction/api/cli.py
  openpype/hosts/flame/api/lib.py
  openpype/hosts/flame/api/pipeline.py
  openpype/hosts/flame/api/plugin.py
  openpype/hosts/flame/api/render_utils.py
  openpype/hosts/flame/api/utils.py
  openpype/hosts/hiero/api/menu.py
  openpype/hosts/hiero/api/tags.py
  openpype/hosts/hiero/api/workio.py
  openpype/hosts/nuke/api/gizmo_menu.py
  openpype/hosts/nuke/api/pipeline.py
  openpype/hosts/nuke/plugins/inventory/repair_old_loaders.py
  openpype/hosts/nuke/startup/menu.py
  openpype/hosts/photoshop/api/launch_logic.py
  openpype/hosts/photoshop/api/pipeline.py
  openpype/hosts/resolve/api/workio.py
  openpype/hosts/traypublisher/plugins/create/create_from_settings.py
  openpype/modules/ftrack/scripts/sub_event_status.py
  openpype/modules/ftrack/scripts/sub_event_storer.py
  openpype/modules/log_viewer/log_view_module.py
  openpype/modules/sync_server/providers/local_drive.py
  openpype/pipeline/create/creator_plugins.py
  openpype/pipeline/plugin_discover.py
  openpype/tools/launcher/actions.py
  openpype/tools/settings/local_settings/window.py
  openpype/tools/standalonepublish/widgets/widget_components.py
  openpype/tools/stdout_broker/app.py
  openpype/tools/utils/host_tools.py
  openpype/tools/utils/lib.py
Labels: refactor

#3816 Maya: Warn correctly about nodes in render instance with unexpected names
  openpype/hosts/maya/plugins/publish/collect_render.py
Labels: host: Maya

#3947 General: Set root environments before DCC launch
  openpype/lib/applications.py
Labels: type: enhancement

#3946 Photoshop: missed sync published version of workfile with workfile
  openpype/hosts/photoshop/plugins/publish/collect_version.py
Labels: type: bug, client, host: Photoshop

#3908 Photoshop: create single frame image in Ftrack as review
  openpype/hosts/photoshop/plugins/publish/extract_review.py
  openpype/hosts/traypublisher/api/plugin.py
  openpype/lib/transcoding.py
  openpype/modules/ftrack/plugins/publish/integrate_ftrack_instances.py
  openpype/settings/defaults/project_settings/photoshop.json
Labels: client, host: Photoshop

#3937 AttributeDefs: Fix crashing multivalue of files widget
  openpype/widgets/attribute_defs/files_widget.py
Labels: type: bug

#3939 Maya: Moved plugin from global to maya
  openpype/hosts/maya/plugins/publish/validate_unique_names.py
Labels: type: enhancement, host: Maya

#3846 Publisher: Instances can be marked as stored
  openpype/hosts/traypublisher/api/plugin.py
  openpype/pipeline/create/context.py
Labels: type: enhancement

#3938 Tray: Change order of attribute changes
  openpype/tools/tray/pype_tray.py
Labels: type: bug

#3948 Houdini: Fix validate workfile paths for non-parm file references
  openpype/hosts/houdini/plugins/publish/validate_workfile_paths.py
Labels: type: bug, host: Houdini

#3683 General: version string in subset name break file sequence collection in review
  openpype/hosts/maya/plugins/publish/extract_playblast.py
Labels: host: Maya

#3950 Maya: Deadline OutputFilePath hack regression for Renderman
  openpype/modules/deadline/plugins/publish/submit_maya_deadline.py
Labels: type: bug, host: Maya, module: Deadline

#3928 Fusion: Implement callbacks to Fusion's event system thread
  openpype/hosts/fusion/api/lib.py
  openpype/hosts/fusion/api/menu.py
  openpype/hosts/fusion/api/pipeline.py
  openpype/hosts/fusion/api/pulse.py
Labels: host: Fusion

#3941 Refactor: changed legacy way to update database for Hero version integrate
  openpype/client/operations.py
  openpype/plugins/publish/integrate_hero_version.py
Labels: type: enhancement

#3934 General: Direct settings imports
  openpype/hosts/flame/api/plugin.py
  openpype/hosts/hiero/api/plugin.py
  openpype/hosts/maya/api/lib.py
  openpype/hosts/maya/api/lib_rendersettings.py
  openpype/hosts/maya/plugins/create/create_render.py
  openpype/hosts/maya/plugins/create/create_unreal_staticmesh.py
  openpype/hosts/maya/plugins/create/create_vrayscene.py
  openpype/hosts/maya/plugins/load/load_ass.py
  openpype/hosts/maya/plugins/load/load_gpucache.py
  openpype/hosts/maya/plugins/load/load_redshift_proxy.py
  openpype/hosts/maya/plugins/load/load_reference.py
  openpype/hosts/maya/plugins/load/load_vdb_to_arnold.py
  openpype/hosts/maya/plugins/load/load_vdb_to_redshift.py
  openpype/hosts/maya/plugins/load/load_vdb_to_vray.py
  openpype/hosts/maya/plugins/load/load_vrayproxy.py
  openpype/hosts/maya/plugins/load/load_vrayscene.py
  openpype/hosts/maya/plugins/load/load_yeti_cache.py
  openpype/hosts/maya/plugins/load/load_yeti_rig.py
  openpype/hosts/maya/plugins/publish/submit_maya_muster.py
  openpype/hosts/maya/startup/userSetup.py
  openpype/hosts/nuke/api/pipeline.py
  openpype/hosts/nuke/api/plugin.py
  openpype/hosts/resolve/api/plugin.py
  openpype/hosts/traypublisher/plugins/create/create_from_settings.py
  openpype/hosts/tvpaint/api/pipeline.py
  openpype/hosts/unreal/plugins/load/load_layout.py
  openpype/modules/ftrack/event_handlers_user/action_create_cust_attrs.py
  openpype/modules/ftrack/launch_hooks/post_ftrack_changes.py
  openpype/modules/job_queue/module.py
  openpype/modules/kitsu/utils/update_zou_with_op.py
  openpype/modules/shotgrid/lib/settings.py
  openpype/plugins/publish/collect_settings.py
  openpype/tools/creator/window.py
  openpype/tools/pyblish_pype/control.py
  openpype/tools/pyblish_pype/model.py
  openpype/tools/settings/local_settings/window.py
  openpype/tools/utils/lib.py
  openpype/widgets/password_dialog.py
Labels: refactor

#3944 Maya: Set default value for RenderSetupIncludeLights option
  openpype/modules/deadline/plugins/publish/submit_maya_deadline.py
  openpype/settings/defaults/project_settings/maya.json
Labels: type: bug, host: Maya, module: Deadline

#3964 General: Use direct import of resources
  openpype/hosts/maya/api/customize.py
  openpype/hosts/nuke/api/utils.py
  openpype/tools/launcher/actions.py
  openpype/tools/launcher/lib.py
  openpype/tools/launcher/window.py
  openpype/tools/standalonepublish/app.py
  openpype/tools/tray/pype_info_widget.py
Labels: refactor

#3968 Maya: new style dataclasses in maya deadline submitter plugin
  openpype/modules/deadline/plugins/publish/submit_maya_deadline.py
Labels: type: enhancement, host: Maya

#3951 General: Control Thumbnail integration via explicit configuration profiles
  openpype/plugins/publish/integrate_thumbnail.py
  openpype/plugins/publish/preintegrate_thumbnail_representation.py
  openpype/settings/defaults/project_settings/global.json
  openpype/settings/entities/schemas/projects_schema/schemas/schema_global_publish.json
Labels: client, module: Ftrack, type: feature

#3961 Webpublisher: use max next published version number for all items in batch
  openpype/hosts/webpublisher/plugins/publish/collect_published_files.py
  openpype/settings/defaults/project_settings/webpublisher.json
  openpype/settings/entities/schemas/projects_schema/schema_project_webpublisher.json
Labels: client, type: feature

#3936 Publisher: Create dialog is part of main window
  openpype/host/interfaces.py
  openpype/style/data.json
  openpype/style/style.css
  openpype/tools/publisher/control.py
  openpype/tools/publisher/publish_report_viewer/widgets.py
  openpype/tools/publisher/widgets/__init__.py
  openpype/tools/publisher/widgets/assets_widget.py
  openpype/tools/publisher/widgets/create_widget.py
  openpype/tools/publisher/widgets/help_widget.py
  openpype/tools/publisher/widgets/images/copy.png
  openpype/tools/publisher/widgets/images/create.png
  openpype/tools/publisher/widgets/images/download_arrow.png
  openpype/tools/publisher/widgets/images/validate.png
  openpype/tools/publisher/widgets/images/view_report.png
  openpype/tools/publisher/widgets/overview_widget.py
  openpype/tools/publisher/widgets/publish_frame.py
  openpype/tools/publisher/widgets/publish_widget.py
  openpype/tools/publisher/widgets/tabs_widget.py
  openpype/tools/publisher/widgets/tasks_widget.py
  openpype/tools/publisher/widgets/validations_widget.py
  openpype/tools/publisher/widgets/widgets.py
  openpype/tools/publisher/window.py
  openpype/tools/traypublisher/window.py
  openpype/tools/utils/overlay_messages.py
Labels: type: enhancement, host: TrayPublisher

#3976 Integrate: Preserve existing subset group if instance does not set it for new version
  openpype/plugins/publish/integrate.py
Labels: type: enhancement

#3973 Maya: add object to attr.s declaration
  openpype/modules/deadline/plugins/publish/submit_maya_deadline.py
Labels: type: bug, host: Maya

#3719 Unreal: Layout Loader from Maya for Existing Scenes
  openpype/hosts/maya/plugins/publish/extract_layout.py
  openpype/hosts/unreal/plugins/load/load_alembic_staticmesh.py
  openpype/hosts/unreal/plugins/load/load_layout_existing.py
  openpype/pipeline/workfile/path_resolving.py
  openpype/settings/defaults/project_settings/unreal.json
  openpype/settings/entities/schemas/projects_schema/schema_project_unreal.json
Labels: host: UE, type: feature

#3873 Maya: Remove hardcoded requirement for maya/ start for image file prefix
  openpype/hosts/maya/api/lib_renderproducts.py
  openpype/hosts/maya/api/lib_rendersettings.py
  openpype/hosts/maya/plugins/publish/submit_maya_muster.py
  openpype/hosts/maya/plugins/publish/validate_rendersettings.py
  openpype/modules/deadline/plugins/publish/submit_maya_deadline.py
  openpype/settings/defaults/project_settings/maya.json
Labels: type: enhancement, host: Maya

#3906 Add version to shortcut name
  inno_setup.iss
Labels: type: enhancement, Bump Minor

#3817 Maya: Fix capture preset camera options not working
  openpype/hosts/maya/api/lib.py
  openpype/hosts/maya/plugins/publish/extract_playblast.py
  openpype/hosts/maya/plugins/publish/extract_thumbnail.py
Labels: type: bug, host: Maya

#3977 Blender: Remove openpype api imports
  openpype/hosts/blender/plugins/publish/validate_camera_zero_keyframe.py
  openpype/hosts/blender/plugins/publish/validate_mesh_has_uv.py
  openpype/hosts/blender/plugins/publish/validate_mesh_no_negative_scale.py
  openpype/hosts/blender/plugins/publish/validate_no_colons_in_name.py
  openpype/hosts/blender/plugins/publish/validate_transform_zero.py
Labels: host: Blender, refactor

#3980 Ftrack: Fix schema cache for Python 2
  openpype/modules/ftrack/python2_vendor/ftrack-python-api/source/ftrack_api/session.py
Labels: type: bug, module: Ftrack

#3907 General: Remove deprecated functions from lib
  openpype/api.py
  openpype/lib/__init__.py
  openpype/lib/abstract_collect_render.py
  openpype/lib/abstract_expected_files.py
  openpype/lib/abstract_metaplugins.py
  openpype/lib/config.py
  openpype/lib/editorial.py
Labels: refactor

#3985 Fix - tags might be missing on representation
  openpype/modules/ftrack/plugins/publish/integrate_ftrack_instances.py
Labels: type: bug, host: Maya

#3978 General: Fix deprecated warning in legacy creator
  openpype/pipeline/create/legacy_create.py
Labels: refactor

#3983 Resolve: Fix usage of functions from lib
  openpype/hosts/resolve/api/pipeline.py
  openpype/hosts/resolve/api/plugin.py
Labels: type: bug, host: Resolve

#3952 TrayPublisher: Extract thumbnail for other families
  openpype/hosts/traypublisher/plugins/publish/collect_movie_batch.py
  openpype/hosts/traypublisher/plugins/publish/collect_simple_instances.py
  openpype/hosts/traypublisher/plugins/publish/extract_thumbnail.py
  openpype/tools/publisher/widgets/validations_widget.py
Labels: type: enhancement, host: TrayPublisher

#3988 Tray Publisher: add `originalBasename` data to simple creators
  openpype/hosts/traypublisher/plugins/publish/collect_simple_instances.py
Labels: type: enhancement

#3990 TrayPublisher: Original Basename cause crash too early
  openpype/hosts/traypublisher/plugins/publish/collect_simple_instances.py
Labels: type: enhancement

#3940 Kitsu: 2 fixes, nb_frames and Shot type error
  openpype/modules/kitsu/utils/update_op_with_zou.py
Labels: type: bug, module: Kitsu

#3992 Flame: Import lib functions from lib
  openpype/hosts/flame/api/workio.py
  openpype/hosts/flame/hooks/pre_flame_setup.py
Labels: host: Flame, refactor

#3996 TrayPublisher: Disable sequences in batch mov creator
  openpype/hosts/traypublisher/plugins/create/create_movie_batch.py
Labels: type: bug, host: TrayPublisher

#3982 General: Custom paths to ffmpeg and OpenImageIO tools
  openpype/lib/vendor_bin_utils.py
  website/docs/admin_settings_system.md
Labels: type: enhancement

#3845 Kitsu: Add "Show in Kitsu" ( Update for selecting Assets / Shots / SubTasks folders )
  openpype/modules/kitsu/actions/launcher_show_in_kitsu.py
  openpype/modules/kitsu/kitsu_module.py
Labels: type: enhancement, module: Kitsu

#3981 Maya: remove invalid prefix token for non-multipart outputs
  openpype/hosts/maya/api/lib_renderproducts.py
  openpype/modules/deadline/plugins/publish/submit_maya_deadline.py
Labels: type: bug, host: Maya

#3993 Publisher: Multiselection in card view
  openpype/tools/publisher/widgets/card_view_widgets.py
  openpype/tools/publisher/widgets/list_view_widgets.py
  openpype/tools/publisher/widgets/overview_widget.py
  openpype/tools/publisher/widgets/widgets.py
Labels: type: enhancement

#3690 Maya: write color sets in create_model
  openpype/hosts/maya/plugins/create/create_animation.py
  openpype/hosts/maya/plugins/create/create_model.py
  openpype/hosts/maya/plugins/create/create_pointcache.py
  openpype/settings/defaults/project_settings/maya.json
  openpype/settings/entities/schemas/projects_schema/schemas/schema_maya_create.json
Labels: type: enhancement, host: Maya

#3994 TVPaint: Defined with HostBase
  openpype/hosts/tvpaint/api/__init__.py
  openpype/hosts/tvpaint/api/launch_script.py
  openpype/hosts/tvpaint/api/lib.py
  openpype/hosts/tvpaint/api/pipeline.py
  openpype/hosts/tvpaint/api/plugin.py
  openpype/hosts/tvpaint/api/workio.py
  openpype/hosts/tvpaint/plugins/create/create_render_layer.py
  openpype/hosts/tvpaint/plugins/create/create_render_pass.py
  openpype/hosts/tvpaint/plugins/load/load_image.py
  openpype/hosts/tvpaint/plugins/load/load_reference_image.py
  openpype/hosts/tvpaint/plugins/load/load_sound.py
  openpype/hosts/tvpaint/plugins/load/load_workfile.py
  openpype/hosts/tvpaint/plugins/publish/collect_workfile_data.py
  openpype/hosts/tvpaint/plugins/publish/extract_sequence.py
  openpype/hosts/tvpaint/plugins/publish/increment_workfile_version.py
  openpype/hosts/tvpaint/plugins/publish/validate_asset_name.py
  openpype/hosts/tvpaint/plugins/publish/validate_marks.py
  openpype/hosts/tvpaint/plugins/publish/validate_start_frame.py
  openpype/hosts/tvpaint/plugins/publish/validate_workfile_metadata.py
Labels: host: TV Paint, refactor

#4005 Houdini: Change import of RepairAction
  openpype/hosts/houdini/plugins/publish/validate_workfile_paths.py
Labels: host: Houdini, refactor

#3986 Resolve: updating to v18 compatibility
  openpype/hosts/resolve/README.markdown
  openpype/hosts/resolve/RESOLVE_API_README_v16.2.0_down.txt
  openpype/hosts/resolve/RESOLVE_API_v18.0.4.txt
  openpype/hosts/resolve/api/__init__.py
  openpype/hosts/resolve/api/menu.py
  openpype/hosts/resolve/api/preload_console.py
  openpype/hosts/resolve/hooks/pre_resolve_setup.py
  openpype/hosts/resolve/utils.py
  openpype/settings/defaults/system_settings/applications.json
Labels: type: enhancement, host: Resolve

#4002 Unreal: fix order of includes
  openpype/hosts/unreal/integration/UE_5.0/Source/OpenPype/Private/OpenPypeStyle.cpp
Labels: host: UE

#4007 Unreal: Fix import of moved function
  openpype/hosts/unreal/hooks/pre_workfile_preparation.py
Labels: host: UE, refactor

#4008 Maya: Removed unused imports
  openpype/hosts/maya/plugins/create/create_render.py
Labels: host: Maya, refactor

#4011 General: Fix python 2 compatibility of ffmpeg and oiio tools discovery
  openpype/lib/vendor_bin_utils.py
Labels: type: bug

#4012 Unreal: Remove redundant Creator stub
  openpype/hosts/unreal/api/__init__.py
  openpype/hosts/unreal/api/plugin.py
  openpype/hosts/unreal/plugins/create/create_camera.py
  openpype/hosts/unreal/plugins/create/create_layout.py
  openpype/hosts/unreal/plugins/create/create_look.py
  openpype/hosts/unreal/plugins/create/create_render.py
  openpype/hosts/unreal/plugins/create/create_staticmeshfbx.py
Labels: host: UE

#4000 Nuke/Hiero: Refactor openpype.api imports
  openpype/hosts/hiero/api/pipeline.py
  openpype/hosts/hiero/plugins/publish/integrate_version_up_workfile.py
  openpype/hosts/nuke/api/pipeline.py
  openpype/hosts/nuke/plugins/publish/precollect_workfile.py
Labels: host: Nuke, host: Hiero, refactor

#3995 Publisher: Create context has shared data for collection phase
  openpype/hosts/traypublisher/api/plugin.py
  openpype/pipeline/create/context.py
  openpype/pipeline/create/creator_plugins.py
  openpype/tools/publisher/control.py
  website/docs/dev_publishing.md
Labels: type: enhancement

#4009 Nuke | Global: adding custom tags representation filtering
  openpype/hosts/nuke/api/lib.py
  openpype/hosts/nuke/api/plugin.py
  openpype/plugins/publish/extract_review.py
  openpype/settings/defaults/project_settings/global.json
  openpype/settings/defaults/project_settings/nuke.json
  openpype/settings/entities/schemas/projects_schema/schemas/schema_global_publish.json
  openpype/settings/entities/schemas/projects_schema/schemas/schema_nuke_publish.json
Labels: type: enhancement, host: Nuke

#4023 General: Extract review does not crash with old settings overrides
  openpype/plugins/publish/extract_review.py
Labels: type: enhancement

#4015 Publisher: Catch creator errors
  openpype/pipeline/create/context.py
  openpype/tools/publisher/control.py
  openpype/tools/publisher/widgets/create_widget.py
  openpype/tools/publisher/widgets/overview_widget.py
  openpype/tools/publisher/widgets/publish_frame.py
  openpype/tools/publisher/window.py
  openpype/tools/utils/__init__.py
  openpype/tools/utils/error_dialog.py
  openpype/tools/utils/widgets.py
Labels: type: enhancement

#4026 General: More specific error in burnins script
  openpype/scripts/otio_burnin.py
Labels: type: enhancement

#4018 workflows: adding milestone creator and assigner
  .github/workflows/milestone_assign.yml
  .github/workflows/milestone_create.yml
Labels: type: enhancement

#4020 Publisher: Convertors for legacy instances
  openpype/pipeline/create/context.py
  openpype/pipeline/create/creator_plugins.py
  openpype/style/data.json
  openpype/style/style.css
  openpype/tools/publisher/constants.py
  openpype/tools/publisher/control.py
  openpype/tools/publisher/widgets/card_view_widgets.py
  openpype/tools/publisher/widgets/list_view_widgets.py
  openpype/tools/publisher/widgets/overview_widget.py
  openpype/tools/publisher/widgets/widgets.py
  openpype/tools/publisher/window.py
Labels: type: enhancement

#4029 StandalonePublisher: Fix thumbnail publishing
  openpype/hosts/standalonepublisher/plugins/publish/extract_thumbnail.py
  openpype/modules/ftrack/plugins/publish/integrate_ftrack_instances.py
Labels: type: bug, module: Ftrack, host: Standalone

#4027 Experimental Tools: Fix publisher import
  openpype/tools/experimental_tools/tools_def.py
Labels: type: bug

#4032 Igniter: handle missing directory
  igniter/bootstrap_repos.py
Labels: type: bug

#4025 Documentation: Minor updates to dev_requirements.md
  website/docs/dev_requirements.md
Labels: type: documentation

#4034 Maya: Soft fail when applying capture preset
  openpype/hosts/maya/plugins/publish/extract_playblast.py
  openpype/vendor/python/common/capture.py
Labels: type: bug, host: Maya

#4016 Houdini: fix wrong path in ASS loader
  openpype/hosts/houdini/plugins/load/load_ass.py
Labels: type: bug, host: Houdini

#4040 Publish Report Viewer: Store reports locally on machine
  openpype/tools/publisher/publish_report_viewer/window.py
Labels: type: enhancement

#4041 Nuke: add 13.2 variant
  openpype/settings/defaults/system_settings/applications.json
Labels: host: Nuke, type: feature

#4038 Hiero - effect collection fixes
  openpype/hosts/hiero/plugins/publish/precollect_instances.py
Labels: type: bug, host: Hiero

#3823 Maya: Fix very slow `get_container_members` calls for instances
  openpype/hosts/maya/api/lib.py
Labels: type: bug
