Repository ynput/OpenPype, pull requests merged in 2022-06, with the labels that each got.

#3264 Maya: reference loaders could store placeholder in referenced url
  openpype/hosts/maya/api/plugin.py
  openpype/hosts/maya/plugins/load/_load_animation.py
  openpype/hosts/maya/plugins/load/load_ass.py
  openpype/hosts/maya/plugins/load/load_look.py
  openpype/hosts/maya/plugins/load/load_reference.py
  openpype/hosts/maya/plugins/load/load_yeti_rig.py
  openpype/settings/defaults/project_settings/maya.json
  openpype/settings/entities/schemas/projects_schema/schema_project_maya.json
Labels: type: enhancement, host: Maya, module: Sitesync

#3283 Webpublisher: return only active projects in ProjectsEndpoint
  openpype/hosts/webpublisher/webserver_service/webpublish_routes.py
Labels: type: bug

#3281 Webpublisher: return only active projects in ProjectsEndpoint
  openpype/hosts/webpublisher/webserver_service/webpublish_routes.py
Labels: type: bug

#3267 Unreal: add support for skeletalMesh and staticMesh to loaders
  openpype/hosts/unreal/plugins/load/load_rig.py
  openpype/hosts/unreal/plugins/load/load_staticmeshfbx.py
Labels: type: enhancement, host: UE

#3278 General: Fix Oiio tool path resolving
  openpype/lib/vendor_bin_utils.py
Labels: type: bug

#3277 Hiero: add support for task tags
  openpype/hosts/hiero/api/__init__.py
  openpype/hosts/hiero/api/lib.py
  openpype/hosts/hiero/plugins/publish/collect_tag_tasks.py
  openpype/hosts/hiero/plugins/publish/precollect_instances.py
  openpype/modules/ftrack/plugins/publish/integrate_hierarchy_ftrack.py
  openpype/plugins/publish/collect_hierarchy.py
  openpype/plugins/publish/extract_hierarchy_avalon.py
Labels: type: bug, module: Ftrack, host: Hiero

#3225 Deadline: publishing of animation and pointcache on a farm
  openpype/api.py
  openpype/hosts/maya/api/pipeline.py
  openpype/hosts/maya/plugins/create/create_animation.py
  openpype/hosts/maya/plugins/create/create_pointcache.py
  openpype/hosts/maya/plugins/publish/collect_animation.py
  openpype/hosts/maya/plugins/publish/collect_pointcache.py
  openpype/hosts/maya/plugins/publish/extract_animation.py
  openpype/hosts/maya/plugins/publish/extract_pointcache.py
  openpype/hosts/maya/plugins/publish/help/submit_maya_remote_publish_deadline.xml
  openpype/hosts/maya/plugins/publish/validate_animation_content.py
  openpype/lib/applications.py
  openpype/lib/remote_publish.py
  openpype/modules/base.py
  openpype/modules/deadline/plugins/publish/collect_publishable_instances.py
  openpype/modules/deadline/plugins/publish/submit_maya_remote_publish_deadline.py
  openpype/modules/deadline/repository/custom/plugins/GlobalJobPreLoad.py
  openpype/modules/ftrack/ftrack_module.py
  openpype/modules/ftrack/launch_hooks/pre_python2_vendor.py
  openpype/plugin.py
  openpype/plugins/publish/integrate_new.py
  openpype/pype_commands.py
  openpype/scripts/remote_publish.py
  website/docs/artist_hosts_maya.md
Labels: module: Deadline

#3286 Global: extract review slate issues
  openpype/plugins/publish/extract_review_slate.py
Labels: type: bug

#3172 Add a gizmo menu to nuke
  openpype/hosts/nuke/api/gizmo_menu.py
  openpype/hosts/nuke/api/lib.py
  openpype/hosts/nuke/startup/menu.py
  openpype/settings/defaults/project_settings/nuke.json
  openpype/settings/entities/schemas/projects_schema/schema_project_nuke.json
  openpype/settings/entities/schemas/projects_schema/schemas/schema_nuke_scriptsgizmo.json
  website/docs/admin_hosts_nuke.md
  website/docs/assets/nuke-admin_gizmomenu.png
Labels: host: Nuke

#2650 Module: Kitsu module
  openpype/modules/base.py
  openpype/modules/kitsu/__init__.py
  openpype/modules/kitsu/kitsu_module.py
  openpype/modules/kitsu/kitsu_widgets.py
  openpype/modules/kitsu/plugins/publish/collect_kitsu_credential.py
  openpype/modules/kitsu/plugins/publish/collect_kitsu_entities.py
  openpype/modules/kitsu/plugins/publish/integrate_kitsu_note.py
  openpype/modules/kitsu/plugins/publish/integrate_kitsu_review.py
  openpype/modules/kitsu/plugins/publish/other_kitsu_log_out.py
  openpype/modules/kitsu/utils/__init__.py
  openpype/modules/kitsu/utils/credentials.py
  openpype/modules/kitsu/utils/sync_service.py
  openpype/modules/kitsu/utils/update_op_with_zou.py
  openpype/modules/kitsu/utils/update_zou_with_op.py
  openpype/settings/defaults/project_settings/kitsu.json
  openpype/settings/defaults/system_settings/modules.json
  openpype/settings/entities/schemas/projects_schema/schema_main.json
  openpype/settings/entities/schemas/projects_schema/schema_project_kitsu.json
  openpype/settings/entities/schemas/system_schema/module_settings/schema_kitsu.json
  openpype/settings/entities/schemas/system_schema/schema_modules.json
  pyproject.toml
  website/docs/artist_kitsu.md
  website/docs/assets/kitsu/kitsu_credentials.png
  website/docs/module_kitsu.md
  website/sidebars.js
Labels: type: documentation, Bump Minor, type: feature, module: Kitsu

#3208 Maya: Look assigner UI improvements
  openpype/hosts/maya/api/lib.py
  openpype/tools/utils/host_tools.py
Labels: type: enhancement, host: Maya

#3298 Maya: Look assigner UI improvements
  openpype/hosts/maya/api/lib.py
  openpype/tools/utils/host_tools.py
Labels: type: enhancement

#3299 Documentation: Add app key to template documentation
  website/docs/admin_settings_project_anatomy.md
Labels: type: documentation

#3300 Maya: Fix swaped width and height in reviews
  openpype/hosts/maya/plugins/publish/collect_render.py
Labels: type: bug, host: Maya

#3307 Ftrack: Delivery action can work on ReviewSessions
  openpype/modules/ftrack/event_handlers_user/action_delivery.py
Labels: type: enhancement, module: Ftrack

#3303 Fix - added local targets to install host
  openpype/hosts/maya/api/pipeline.py
  openpype/modules/deadline/plugins/publish/submit_maya_remote_publish_deadline.py
  openpype/pipeline/context_tools.py
  openpype/plugin.py
Labels: type: bug

#3308 TVPaint: Extractor use mark in/out range to render
  openpype/hosts/tvpaint/api/pipeline.py
  openpype/hosts/tvpaint/plugins/publish/extract_sequence.py
Labels: type: enhancement, host: TV Paint

#3316 updated poetry installation source
  tools/create_env.ps1
  tools/create_env.sh
Labels: type: enhancement

#3322 Houdini: Fix Houdini VDB manage update wrong file attribute name
  openpype/hosts/houdini/plugins/load/load_vdb.py
Labels: type: bug, host: Houdini

#3318 Maya: add pointcache family to gpu cache loader
  openpype/hosts/maya/plugins/load/load_gpucache.py
Labels: host: Maya

#3297 Maya: point cache publish handles Maya instances
  openpype/hosts/maya/plugins/publish/collect_instances.py
Labels: type: bug

#3310 Ftrack: Action to easily create daily review session
  openpype/modules/ftrack/event_handlers_server/action_create_review_session.py
  openpype/settings/defaults/project_settings/ftrack.json
  openpype/settings/entities/schemas/projects_schema/schema_project_ftrack.json
Labels: type: enhancement, module: Ftrack

#3314 hiero: otio p3 compatibility issue - metadata on effect use update 3.11
  openpype/hosts/hiero/api/otio/hiero_export.py
Labels: type: bug, host: Hiero

#3321 Nuke: anatomy compatibility issue hacks
  openpype/hosts/nuke/api/lib.py
  openpype/hosts/nuke/plugins/create/create_write_still.py
Labels: type: bug

#3323 Settings: Settings can be extracted from UI
  openpype/tools/settings/settings/base.py
  openpype/tools/settings/settings/categories.py
  openpype/tools/settings/settings/constants.py
Labels: type: enhancement

#3274 Maya look: skip empty file attributes
  openpype/hosts/maya/plugins/publish/collect_look.py
Labels: host: Maya

#3288 General: Define query functions
  openpype/client/__init__.py
  openpype/client/entities.py
  openpype/pipeline/legacy_io.py
  openpype/pipeline/mongodb.py
  openpype/tools/assetlinks/widgets.py
  openpype/tools/creator/window.py
  openpype/tools/launcher/models.py
  openpype/tools/libraryloader/app.py
  openpype/tools/loader/app.py
  openpype/tools/loader/model.py
  openpype/tools/loader/widgets.py
  openpype/tools/mayalookassigner/app.py
  openpype/tools/mayalookassigner/commands.py
  openpype/tools/mayalookassigner/vray_proxies.py
  openpype/tools/project_manager/project_manager/model.py
  openpype/tools/project_manager/project_manager/view.py
  openpype/tools/project_manager/project_manager/widgets.py
  openpype/tools/publisher/control.py
  openpype/tools/publisher/widgets/create_dialog.py
  openpype/tools/sceneinventory/model.py
  openpype/tools/sceneinventory/switch_dialog.py
  openpype/tools/sceneinventory/view.py
  openpype/tools/standalonepublish/app.py
  openpype/tools/standalonepublish/widgets/model_asset.py
  openpype/tools/standalonepublish/widgets/widget_asset.py
  openpype/tools/standalonepublish/widgets/widget_family.py
  openpype/tools/texture_copy/app.py
  openpype/tools/utils/assets_widget.py
  openpype/tools/utils/delegates.py
  openpype/tools/utils/lib.py
  openpype/tools/utils/tasks_widget.py
  openpype/tools/workfiles/files_widget.py
  openpype/tools/workfiles/model.py
  openpype/tools/workfiles/save_as_dialog.py
  openpype/tools/workfiles/window.py
Labels: refactor

#3331 Blender: Use client query functions
  openpype/hosts/blender/api/pipeline.py
  openpype/hosts/blender/plugins/publish/extract_layout.py
Labels: host: Blender, refactor

#3341 General: Handle empty source key on instance
  openpype/plugins/publish/integrate_new.py
Labels: type: bug

#3336 Deadline: added OPENPYPE_MONGO to filter
  openpype/modules/deadline/plugins/publish/submit_publish_job.py
Labels: type: bug, module: Deadline

#3259 Enhancement: More control over thumbnail processing.
  openpype/lib/transcoding.py
  openpype/plugins/publish/extract_jpeg_exr.py
  openpype/settings/defaults/project_settings/deadline.json
  openpype/settings/defaults/project_settings/global.json
  openpype/settings/entities/schemas/projects_schema/schemas/schema_global_publish.json
Labels: type: enhancement

#3344 Nuke: removing third-party plugins
  openpype/hosts/nuke/startup/KnobScripter/__init__.py
  openpype/hosts/nuke/startup/KnobScripter/icons/icon_clearConsole.png
  openpype/hosts/nuke/startup/KnobScripter/icons/icon_download.png
  openpype/hosts/nuke/startup/KnobScripter/icons/icon_exitnode.png
  openpype/hosts/nuke/startup/KnobScripter/icons/icon_pick.png
  openpype/hosts/nuke/startup/KnobScripter/icons/icon_prefs.png
  openpype/hosts/nuke/startup/KnobScripter/icons/icon_prefs2.png
  openpype/hosts/nuke/startup/KnobScripter/icons/icon_refresh.png
  openpype/hosts/nuke/startup/KnobScripter/icons/icon_run.png
  openpype/hosts/nuke/startup/KnobScripter/icons/icon_save.png
  openpype/hosts/nuke/startup/KnobScripter/icons/icon_search.png
  openpype/hosts/nuke/startup/KnobScripter/icons/icon_snippets.png
  openpype/hosts/nuke/startup/KnobScripter/knob_scripter.py
  openpype/hosts/nuke/startup/init.py
Labels: type: feature

#3345 General: Fix last version function
  openpype/client/entities.py
Labels: type: bug

#3320 Ftrack: Open browser from tray
  openpype/modules/ftrack/tray/ftrack_tray.py
Labels: type: enhancement

#3198 Maya: Fix Yeti errors on Create, Publish and Load
  openpype/hosts/maya/plugins/create/create_yeti_cache.py
  openpype/hosts/maya/plugins/load/load_yeti_cache.py
  openpype/hosts/maya/plugins/publish/collect_yeti_rig.py
  openpype/hosts/maya/plugins/publish/extract_yeti_cache.py
  openpype/hosts/maya/plugins/publish/extract_yeti_rig.py
Labels: type: bug, host: Maya

#3351 General: Create only one thumbnail per instance
  openpype/plugins/publish/extract_jpeg_exr.py
Labels: type: bug

#3352 Kitsu: Prevent crash on missing frames information
  openpype/modules/kitsu/utils/update_op_with_zou.py
Labels: type: enhancement, module: Kitsu

#3354 Ftrack: Removed requirement of pypeclub role from default settings
  openpype/modules/ftrack/event_handlers_user/action_create_cust_attrs.py
  openpype/settings/defaults/system_settings/modules.json
  website/docs/module_ftrack.md
Labels: type: enhancement, module: Ftrack

#3356 deadline: fixing misidentification of revieables
  openpype/modules/deadline/plugins/publish/submit_publish_job.py
Labels: type: bug, module: Deadline

#3361 Nuke: Fix precollect writes
  openpype/hosts/nuke/plugins/publish/precollect_writes.py
Labels: type: bug, host: Nuke

#3358 AE- fix validate_scene_settings and renderLocal
  openpype/hosts/aftereffects/plugins/publish/collect_render.py
Labels: type: bug, host: After Effects

#3363 Nuke: Fix missing variable in extract thumbnail
  openpype/hosts/nuke/plugins/publish/extract_thumbnail.py
Labels: type: bug, host: Nuke

#3364 Harmony: audio validator has wrong logic
  openpype/hosts/harmony/plugins/publish/validate_audio.py
Labels: type: bug

#3196 Houdini: Implement Redshift Proxy Export
  openpype/hosts/houdini/api/lib.py
  openpype/hosts/houdini/plugins/create/create_redshift_proxy.py
  openpype/hosts/houdini/plugins/publish/collect_frames.py
  openpype/hosts/houdini/plugins/publish/collect_output_node.py
  openpype/hosts/houdini/plugins/publish/extract_redshift_proxy.py
Labels: host: Houdini

#3330 Standalone Publisher: Use client query functions
  openpype/hosts/standalonepublisher/plugins/publish/collect_bulk_mov_instances.py
  openpype/hosts/standalonepublisher/plugins/publish/collect_hierarchy.py
  openpype/hosts/standalonepublisher/plugins/publish/collect_matching_asset.py
  openpype/hosts/standalonepublisher/plugins/publish/validate_task_existence.py
Labels: host: Standalone, refactor

#3366 General: Add ability to change user value for templates
  openpype/lib/avalon_context.py
  openpype/plugins/publish/collect_current_pype_user.py
  website/docs/admin_settings_project_anatomy.md
Labels: type: enhancement, type: documentation

#3357 Hosts: More options for in-host callbacks
  openpype/lib/avalon_context.py
  openpype/modules/base.py
  openpype/modules/timers_manager/timers_manager.py
  openpype/pipeline/context_tools.py
  openpype/tools/workfiles/files_widget.py
Labels: type: enhancement

#3369 Maya - added support for single frame playblast review
  openpype/hosts/maya/plugins/publish/extract_playblast.py
  openpype/plugins/publish/extract_review.py
Labels: host: Maya

#3350 Feature/multiverse
  openpype/hosts/maya/plugins/create/create_multiverse_usd.py
  openpype/settings/defaults/project_settings/deadline.json
  openpype/settings/defaults/project_settings/maya.json
  openpype/settings/entities/schemas/projects_schema/schemas/schema_maya_create.json
  openpype/settings/entities/schemas/projects_schema/schemas/schema_maya_publish.json
  website/docs/artist_hosts_maya_multiverse.md
  website/docs/assets/maya-multiverse_setup.png
Labels: type: enhancement, host: Maya

#3375 Photoshop: Use client query functions
  openpype/hosts/photoshop/plugins/create/workfile_creator.py
Labels: host: Photoshop, refactor

#3339 Ftrack: Use client query functions
  openpype/client/__init__.py
  openpype/client/entities.py
  openpype/modules/ftrack/event_handlers_server/action_prepare_project.py
  openpype/modules/ftrack/event_handlers_server/event_sync_to_avalon.py
  openpype/modules/ftrack/event_handlers_server/event_user_assigment.py
  openpype/modules/ftrack/event_handlers_user/action_applications.py
  openpype/modules/ftrack/event_handlers_user/action_delete_asset.py
  openpype/modules/ftrack/event_handlers_user/action_delete_old_versions.py
  openpype/modules/ftrack/event_handlers_user/action_delivery.py
  openpype/modules/ftrack/event_handlers_user/action_fill_workfile_attr.py
  openpype/modules/ftrack/event_handlers_user/action_prepare_project.py
  openpype/modules/ftrack/event_handlers_user/action_rv.py
  openpype/modules/ftrack/event_handlers_user/action_store_thumbnails_to_avalon.py
  openpype/modules/ftrack/lib/avalon_sync.py
  openpype/modules/ftrack/plugins/publish/integrate_hierarchy_ftrack.py
Labels: module: Ftrack, refactor

#3378 Harmony: Use client query functions
  openpype/hosts/harmony/api/README.md
  openpype/hosts/harmony/api/pipeline.py
Labels: host: Harmony, refactor

#3372 Harmony: added unc path to zifile command in Harmony
  openpype/modules/deadline/plugins/publish/submit_harmony_deadline.py
Labels: type: bug

#3374 AfterEffects: Use client query functions
  openpype/hosts/aftereffects/api/pipeline.py
  openpype/hosts/aftereffects/plugins/create/workfile_creator.py
  openpype/hosts/aftereffects/plugins/publish/validate_scene_settings.py
Labels: host: After Effects, refactor

#3381 Maya: vray device aspect ratio fix
  openpype/hosts/maya/api/lib.py
Labels: type: bug, host: Maya

#3304 Maya: Allow more data to be published along camera 🎥
  openpype/hosts/maya/plugins/publish/extract_camera_alembic.py
  openpype/hosts/maya/plugins/publish/extract_camera_mayaScene.py
  openpype/hosts/maya/plugins/publish/validate_camera_contents.py
  openpype/settings/defaults/project_settings/maya.json
  openpype/settings/entities/schemas/projects_schema/schemas/schema_maya_publish.json
Labels: type: enhancement, host: Maya

#3382 TVPaint: Make sure exit code is set to not None
  openpype/hosts/tvpaint/api/communication_server.py
Labels: type: bug, host: TV Paint

#3340 TVPaint: Use client query functions
  openpype/hosts/tvpaint/api/pipeline.py
  openpype/hosts/tvpaint/plugins/load/load_workfile.py
  openpype/hosts/tvpaint/plugins/publish/collect_instances.py
  openpype/hosts/tvpaint/plugins/publish/collect_scene_render.py
  openpype/hosts/tvpaint/plugins/publish/collect_workfile.py
Labels: host: TV Paint, refactor

#3128 Maya: fix image prefix warning in validator
  openpype/hosts/maya/plugins/publish/validate_rendersettings.py
Labels: type: bug, host: Maya

#2921 Add shotgrid module
  .gitignore
  openpype/modules/deadline/plugins/publish/submit_maya_deadline.py
  openpype/modules/shotgrid/README.md
  openpype/modules/shotgrid/__init__.py
  openpype/modules/shotgrid/lib/__init__.py
  openpype/modules/shotgrid/lib/const.py
  openpype/modules/shotgrid/lib/credentials.py
  openpype/modules/shotgrid/lib/record.py
  openpype/modules/shotgrid/lib/settings.py
  openpype/modules/shotgrid/plugins/publish/collect_shotgrid_entities.py
  openpype/modules/shotgrid/plugins/publish/collect_shotgrid_session.py
  openpype/modules/shotgrid/plugins/publish/integrate_shotgrid_publish.py
  openpype/modules/shotgrid/plugins/publish/integrate_shotgrid_version.py
  openpype/modules/shotgrid/plugins/publish/validate_shotgrid_user.py
  openpype/modules/shotgrid/server/README.md
  openpype/modules/shotgrid/shotgrid_module.py
  openpype/modules/shotgrid/tests/shotgrid/lib/test_credentials.py
  openpype/modules/shotgrid/tray/credential_dialog.py
  openpype/modules/shotgrid/tray/shotgrid_tray.py
  openpype/resources/app_icons/shotgrid.png
  openpype/settings/defaults/project_settings/shotgrid.json
  openpype/settings/defaults/system_settings/modules.json
  openpype/settings/entities/__init__.py
  openpype/settings/entities/enum_entity.py
  openpype/settings/entities/schemas/projects_schema/schema_main.json
  openpype/settings/entities/schemas/projects_schema/schema_project_shotgrid.json
  openpype/settings/entities/schemas/projects_schema/schemas/schema_representation_tags.json
  openpype/settings/entities/schemas/system_schema/schema_modules.json
  poetry.lock
  pyproject.toml
Labels: Bump Minor, type: feature, module: Shotgrid

#3385 Maya: Use client query functions
  openpype/hosts/maya/api/action.py
  openpype/hosts/maya/api/commands.py
  openpype/hosts/maya/api/lib.py
  openpype/hosts/maya/api/setdress.py
  openpype/hosts/maya/plugins/inventory/import_modelrender.py
  openpype/hosts/maya/plugins/load/load_audio.py
  openpype/hosts/maya/plugins/load/load_image_plane.py
  openpype/hosts/maya/plugins/load/load_look.py
  openpype/hosts/maya/plugins/load/load_vrayproxy.py
  openpype/hosts/maya/plugins/publish/collect_review.py
  openpype/hosts/maya/plugins/publish/validate_node_ids_in_database.py
  openpype/hosts/maya/plugins/publish/validate_node_ids_related.py
  openpype/hosts/maya/plugins/publish/validate_renderlayer_aovs.py
Labels: host: Maya, refactor

#3388 Backport 3.9.x: Fix Maya look UDIMs (#3266)
  openpype/hosts/maya/plugins/publish/collect_look.py
Labels: host: Maya, backport

#3392 Maya: look collector typo
  openpype/hosts/maya/plugins/publish/collect_look.py
Labels: type: bug, host: Maya

#3393 Hiero: Use client query functions
  openpype/hosts/hiero/api/lib.py
  openpype/hosts/hiero/api/tags.py
  openpype/hosts/hiero/plugins/load/load_clip.py
  openpype/hosts/hiero/plugins/publish_old_workflow/collect_assetbuilds.py
Labels: host: Hiero, refactor

#3398 General: Filter representations before integration start
  openpype/plugins/publish/integrate_new.py
Labels: type: bug

#3401 Linux: update OIIO package
  pyproject.toml
  website/docs/dev_requirements.md
Labels: type: documentation, dependencies

#3397 Kitsu: renaming to plural func sync_all_projects
  openpype/modules/kitsu/kitsu_module.py
  openpype/modules/kitsu/utils/update_op_with_zou.py
Labels: refactor

#3328 Nuke: Load full model hierarchy by default
  openpype/hosts/nuke/plugins/load/load_model.py
Labels: type: bug

#3391 Nuke: Use client query functions
  openpype/client/entities.py
  openpype/hosts/nuke/api/__init__.py
  openpype/hosts/nuke/api/command.py
  openpype/hosts/nuke/api/lib.py
  openpype/hosts/nuke/plugins/load/load_backdrop.py
  openpype/hosts/nuke/plugins/load/load_camera_abc.py
  openpype/hosts/nuke/plugins/load/load_clip.py
  openpype/hosts/nuke/plugins/load/load_effects.py
  openpype/hosts/nuke/plugins/load/load_effects_ip.py
  openpype/hosts/nuke/plugins/load/load_gizmo.py
  openpype/hosts/nuke/plugins/load/load_gizmo_ip.py
  openpype/hosts/nuke/plugins/load/load_image.py
  openpype/hosts/nuke/plugins/load/load_model.py
  openpype/hosts/nuke/plugins/load/load_script_precomp.py
  openpype/hosts/nuke/plugins/publish/collect_reads.py
  openpype/hosts/nuke/plugins/publish/precollect_instances.py
  openpype/hosts/nuke/plugins/publish/precollect_writes.py
  openpype/hosts/nuke/plugins/publish/validate_script.py
Labels: host: Nuke, refactor

#3407 Nuke: Collect representation files based on Write
  openpype/hosts/nuke/plugins/publish/extract_render_local.py
  openpype/hosts/nuke/plugins/publish/precollect_writes.py
Labels: type: bug, host: Nuke

#3414 Nuke: Fix keyword argument in query function
  openpype/hosts/nuke/api/lib.py
Labels: type: bug, host: Nuke

#2755 Add root keys and project keys to create starting folder
  openpype/lib/path_tools.py
  openpype/settings/defaults/project_settings/global.json
Labels: type: enhancement

#3395 Houdini: Use client query functions
  openpype/hosts/houdini/api/lib.py
  openpype/hosts/houdini/api/usd.py
  openpype/hosts/houdini/plugins/create/create_hda.py
  openpype/hosts/houdini/plugins/publish/collect_usd_bootstrap.py
  openpype/hosts/houdini/plugins/publish/extract_usd_layered.py
  openpype/hosts/houdini/plugins/publish/validate_usd_shade_model_exists.py
  openpype/hosts/houdini/vendor/husdoutputprocessors/avalon_uri_processor.py
Labels: host: Houdini, refactor

#3417 Fix typo in documentation: pyenv on mac
  website/docs/dev_build.md
Labels: type: bug, type: documentation

#3418 Bug: fix invalid avalon import
  openpype/lib/path_tools.py
Labels: type: bug

#3371 Sync Queue: Added far future value for null values for dates
  openpype/modules/sync_server/tray/models.py
Labels: module: Sitesync

#3377 Flame: bunch of publishing issues
  openpype/hosts/flame/plugins/publish/collect_timeline_instances.py
  openpype/hosts/flame/plugins/publish/extract_subset_resources.py
Labels: type: bug, host: Flame

#3419 General: Move editorial lib to pipeline
  openpype/hosts/flame/plugins/publish/collect_timeline_instances.py
  openpype/hosts/hiero/plugins/publish/precollect_instances.py
  openpype/hosts/resolve/api/lib.py
  openpype/lib/editorial.py
  openpype/lib/import_utils.py
  openpype/pipeline/editorial.py
  openpype/plugins/publish/collect_otio_frame_ranges.py
  openpype/plugins/publish/collect_otio_subset_resources.py
  openpype/plugins/publish/extract_otio_review.py
  openpype/plugins/publish/extract_otio_trimming_video.py
Labels: refactor

#3421 Unreal: Use client query functions
  openpype/client/entities.py
  openpype/hosts/unreal/plugins/create/create_render.py
  openpype/hosts/unreal/plugins/load/load_camera.py
  openpype/hosts/unreal/plugins/load/load_layout.py
  openpype/hosts/unreal/plugins/publish/extract_layout.py
Labels: host: UE, refactor

#3422 Webserver: Added CORS middleware
  openpype/modules/webserver/cors_middleware.py
  openpype/modules/webserver/server.py
  poetry.lock
  pyproject.toml
Labels: type: enhancement

#3426 Blender: Bugfix - Set fps properly on open
  openpype/hosts/blender/api/pipeline.py
Labels: type: enhancement, host: Blender

#3435 General: Anatomy moved to pipeline
  openpype/lib/anatomy.py
  openpype/pipeline/__init__.py
  openpype/pipeline/anatomy.py
Labels: refactor

#3443 LogViewer: Escape html characters in log message
  openpype/modules/log_viewer/tray/widgets.py
Labels: type: bug

#3447 Maya: fix hashing in Python 3 for tile rendering
  openpype/modules/deadline/plugins/publish/submit_maya_deadline.py
Labels: type: bug, host: Maya

#3427 Nuke: Slate frame is integrated
  openpype/hosts/nuke/plugins/publish/extract_slate_frame.py
  openpype/hosts/nuke/plugins/publish/precollect_writes.py
Labels: type: bug, host: Nuke

#3450 Nuke: prerender reviewable fails
  openpype/hosts/nuke/plugins/publish/extract_review_data_mov.py
  openpype/plugins/publish/extract_jpeg_exr.py
Labels: type: bug, host: Nuke
