Repository ynput/OpenPype, pull requests merged in 2022-05, with the labels that each got.

#3120 Nuke: fixing default settings for workfile builder loaders
  openpype/settings/defaults/project_settings/nuke.json
Labels: type: bug, host: Nuke

#3125 Nuke: render instance with subset name filtered overrides (3.9.x)
  openpype/hosts/nuke/api/lib.py
  openpype/hosts/nuke/api/pipeline.py
  openpype/hosts/nuke/api/plugin.py
  openpype/hosts/nuke/plugins/publish/extract_review_data_mov.py
  openpype/settings/defaults/project_anatomy/imageio.json
  openpype/settings/defaults/project_settings/nuke.json
  openpype/settings/entities/schemas/projects_schema/schemas/schema_anatomy_imageio.json
  openpype/settings/entities/schemas/projects_schema/schemas/schema_nuke_publish.json
Labels: host: Nuke, type: feature

#3134 TVPaint: Composite layers in reversed order
  openpype/hosts/tvpaint/lib.py
Labels: type: bug, host: TV Paint

#3135 TVPaint: Composite layers in reversed order
  openpype/hosts/tvpaint/lib.py
Labels: type: bug, host: TV Paint

#3137 General: Simplified OP modules/addons import
  openpype/modules/base.py
Labels: type: enhancement

#3140 Houdini: Add loader for alembic through Alembic Archive node
  openpype/hosts/houdini/plugins/load/load_alembic_archive.py
Labels: type: enhancement, host: Houdini

#3133 Terminal: Tweak coloring of TrayModuleManager logging enabled states
  openpype/lib/terminal.py
Labels: type: enhancement

#3130 General: Remove remaining imports from avalon
  openpype/hosts/blender/api/plugin.py
  openpype/hosts/fusion/api/pipeline.py
  openpype/hosts/harmony/api/lib.py
  openpype/hosts/hiero/api/lib.py
  openpype/hosts/houdini/plugins/load/show_usdview.py
  openpype/hosts/maya/plugins/load/_load_animation.py
  openpype/hosts/nuke/api/lib.py
  openpype/widgets/project_settings.py
  tests/lib/testing_classes.py
Labels: refactor

#3141 General: New Session schema
  openpype/pipeline/legacy_io.py
  schema/session-3.0.json
Labels: type: bug

#3142 nuke: removing redundant code from startup
  openpype/hosts/nuke/startup/KnobScripter/__init__.py
  openpype/hosts/nuke/startup/KnobScripter/icons/icon_clearConsole.png
  openpype/hosts/nuke/startup/KnobScripter/icons/icon_download.png
  openpype/hosts/nuke/startup/KnobScripter/icons/icon_exitnode.png
  openpype/hosts/nuke/startup/KnobScripter/icons/icon_pick.png
  openpype/hosts/nuke/startup/KnobScripter/icons/icon_prefs.png
  openpype/hosts/nuke/startup/KnobScripter/icons/icon_prefs2.png
  openpype/hosts/nuke/startup/KnobScripter/icons/icon_refresh.png
  openpype/hosts/nuke/startup/KnobScripter/icons/icon_run.png
  openpype/hosts/nuke/startup/KnobScripter/icons/icon_save.png
  openpype/hosts/nuke/startup/KnobScripter/icons/icon_search.png
  openpype/hosts/nuke/startup/KnobScripter/icons/icon_snippets.png
  openpype/hosts/nuke/startup/KnobScripter/knob_scripter.py
  openpype/hosts/nuke/startup/init.py
Labels: type: enhancement, host: Nuke

#3119 Nuke: fix anatomy imageio regex default
  openpype/settings/defaults/project_anatomy/imageio.json
Labels: type: bug, host: Nuke

#3136 General: Missing version on headless mode crash properly
  start.py
Labels: type: bug, Bump Minor

#3149 General: Add 'dataclasses' to required python modules
  setup.py
Labels: type: enhancement

#3144 Deadline: fix the output directory
  openpype/modules/deadline/plugins/publish/submit_maya_deadline.py
Labels: type: bug, module: Deadline

#3154 Ftrack: Action delete old versions formatting works
  openpype/modules/ftrack/event_handlers_user/action_delete_old_versions.py
Labels: type: bug, module: Ftrack

#3155 Deadline output dir issue to 3.9x
  openpype/modules/deadline/plugins/publish/submit_maya_deadline.py
Labels: type: enhancement

#3153 Compressed bgeo publishing in SAP and Houdini loader
  openpype/hosts/houdini/plugins/load/load_bgeo.py
  openpype/tools/standalonepublish/widgets/widget_drop_frame.py
Labels: type: enhancement, host: Houdini

#3143 Nuke: settings for reformat node in CreateWriteRender node
  openpype/hosts/nuke/api/lib.py
  openpype/hosts/nuke/api/plugin.py
  openpype/hosts/nuke/plugins/create/create_write_prerender.py
  openpype/hosts/nuke/plugins/create/create_write_render.py
  openpype/hosts/nuke/plugins/create/create_write_still.py
  openpype/settings/defaults/project_anatomy/imageio.json
  openpype/settings/defaults/project_settings/nuke.json
  openpype/settings/entities/schemas/projects_schema/schema_project_nuke.json
  openpype/settings/entities/schemas/projects_schema/schemas/schema_anatomy_imageio.json
  openpype/settings/entities/schemas/projects_schema/schemas/schema_nuke_knob_inputs.json
  openpype/settings/entities/schemas/projects_schema/schemas/schema_nuke_publish.json
  openpype/settings/entities/schemas/projects_schema/schemas/template_nuke_knob_inputs.json
  openpype/settings/lib.py
Labels: type: enhancement, host: Nuke

#3093 StandalonePublisher: removed Extract Background plugins
  openpype/hosts/standalonepublisher/plugins/publish/collect_batch_instances.py
  openpype/hosts/standalonepublisher/plugins/publish/extract_bg_for_compositing.py
  openpype/hosts/standalonepublisher/plugins/publish/extract_bg_main_groups.py
  openpype/hosts/standalonepublisher/plugins/publish/extract_images_from_psd.py
  setup.py
Labels: host: Standalone

#3139 Publisher: UI Modifications and fixes
  openpype/hosts/traypublisher/api/plugin.py
  openpype/hosts/traypublisher/plugins/publish/collect_review_family.py
  openpype/hosts/traypublisher/plugins/publish/collect_simple_instances.py
  openpype/lib/attribute_definitions.py
  openpype/settings/defaults/project_settings/traypublisher.json
  openpype/settings/entities/schemas/projects_schema/schema_project_traypublisher.json
  openpype/style/style.css
  openpype/tools/publisher/widgets/assets_widget.py
  openpype/tools/publisher/widgets/create_dialog.py
  openpype/tools/publisher/widgets/widgets.py
  openpype/tools/utils/assets_widget.py
  openpype/widgets/attribute_defs/files_widget.py
  openpype/widgets/attribute_defs/widgets.py
Labels: type: enhancement

#3159 Webpublisher: replace space by underscore in subset names
  openpype/hosts/photoshop/api/ws_stub.py
  openpype/hosts/photoshop/plugins/publish/collect_color_coded_instances.py
  openpype/hosts/photoshop/plugins/publish/validate_naming.py
Labels: host: Photoshop

#3160 Webpublisher: replace space by underscore in subset names
  openpype/hosts/photoshop/api/ws_stub.py
  openpype/hosts/photoshop/plugins/publish/collect_color_coded_instances.py
  openpype/hosts/photoshop/plugins/publish/validate_naming.py
Labels: host: Photoshop

#3163 Harmony: fixed missing task name in render instance
  openpype/hosts/harmony/plugins/publish/collect_farm_render.py
Labels: type: bug, host: Harmony

#2611 Maya: Implement Hardware Renderer 2.0 support for Render Products
  openpype/hosts/maya/api/lib_renderproducts.py
  openpype/hosts/maya/plugins/create/create_render.py
  openpype/hosts/maya/plugins/publish/collect_render.py
  openpype/hosts/maya/plugins/publish/validate_render_single_camera.py
  openpype/hosts/maya/plugins/publish/validate_rendersettings.py
Labels: type: enhancement, host: Maya

#3166 General: Oiio conversion for ffmpeg checks for invalid characters
  openpype/lib/transcoding.py
Labels: type: bug

#3170 General: TemplateResult can be copied
  openpype/lib/path_templates.py
Labels: type: bug

#3174 General: Avoid creating multiple thumbnails
  openpype/plugins/publish/extract_jpeg_exr.py
Labels: type: bug

#3175 Ftrack: Locations deepcopy issue
  openpype/modules/ftrack/plugins/publish/integrate_ftrack_api.py
  openpype/modules/ftrack/plugins/publish/integrate_ftrack_instances.py
Labels: type: bug, module: Ftrack

#3177 Ftrack: Locations deepcopy issue
  openpype/modules/ftrack/plugins/publish/integrate_ftrack_api.py
  openpype/modules/ftrack/plugins/publish/integrate_ftrack_instances.py
Labels: type: bug, module: Ftrack

#3176 General: Avoid creating multiple thumbnails
  openpype/plugins/publish/extract_jpeg_exr.py
Labels: type: bug

#3167 Maya: add maya 2023 to default applications
  openpype/settings/defaults/system_settings/applications.json
Labels: type: enhancement

#3116 Unreal: Layout and Camera update and remove functions reimplemented and improvements
  openpype/hosts/unreal/api/rendering.py
  openpype/hosts/unreal/plugins/load/load_animation.py
  openpype/hosts/unreal/plugins/load/load_camera.py
  openpype/hosts/unreal/plugins/load/load_layout.py
  openpype/hosts/unreal/plugins/load/load_rig.py
  openpype/hosts/unreal/plugins/publish/collect_render_instances.py
Labels: type: enhancement, host: UE

#3182 Ftrack: Review image only if there are no mp4 reviews
  openpype/modules/ftrack/plugins/publish/integrate_ftrack_instances.py
Labels: type: bug, module: Ftrack

#3183 Ftrack: Review image only if there are no mp4 reviews
  openpype/modules/ftrack/plugins/publish/integrate_ftrack_instances.py
Labels: type: bug, module: Ftrack

#3164 Fix for attaching render to subset
  openpype/modules/deadline/plugins/publish/submit_publish_job.py
Labels: type: bug, host: Maya

#3179 General: Creator plugins from addons can be registered
  openpype/hosts/traypublisher/api/plugin.py
  openpype/modules/base.py
  openpype/modules/interfaces.py
  openpype/pipeline/context_tools.py
  openpype/pipeline/create/context.py
  openpype/pipeline/create/creator_plugins.py
Labels: type: feature

#3195 Backport of fix for attaching renders to subsets
  openpype/modules/deadline/plugins/publish/submit_publish_job.py
Labels: type: enhancement

#3184 Nuke: render/workfile version sync doesn't work on farm
  openpype/settings/defaults/project_settings/deadline.json
  openpype/settings/defaults/project_settings/nuke.json
  openpype/settings/entities/schemas/projects_schema/schemas/schema_nuke_publish.json
Labels: type: bug

#3185 Nuke: render/workfile version sync doesn't work on farm
  openpype/settings/defaults/project_settings/deadline.json
  openpype/settings/defaults/project_settings/nuke.json
  openpype/settings/entities/schemas/projects_schema/schemas/schema_nuke_publish.json
Labels: type: bug

#3194 hiero: otio p3 compatibility issue - metadata on effect use update
  openpype/hosts/hiero/api/otio/hiero_export.py
Labels: host: Hiero

#3203 Standalone Publisher: Always create new representation for thumbnail
  openpype/hosts/standalonepublisher/plugins/publish/extract_thumbnail.py
  openpype/tools/standalonepublish/widgets/widget_components.py
Labels: type: bug, module: Ftrack, host: Standalone

#3204 Standalone Publisher: Always create new representation for thumbnail
  openpype/hosts/standalonepublisher/plugins/publish/extract_thumbnail.py
  openpype/tools/standalonepublish/widgets/widget_components.py
Labels: type: bug, module: Ftrack, host: Standalone

#3180 General: OpenPype modules publish plugins are registered in host
  openpype/pipeline/context_tools.py
  start.py
Labels: Bump Minor, type: feature

#3169 General/Hiero: better clip duration calculation
  openpype/hosts/hiero/api/otio/hiero_export.py
  openpype/hosts/hiero/plugins/publish/precollect_instances.py
  openpype/lib/editorial.py
Labels: type: bug, host: Hiero

#3206 nuke: generate publishing nodes inside render group node
  openpype/hosts/nuke/api/plugin.py
  openpype/hosts/nuke/plugins/publish/extract_review_data_mov.py
  openpype/hosts/nuke/plugins/publish/extract_thumbnail.py
  openpype/hosts/nuke/plugins/publish/precollect_writes.py
Labels: type: enhancement, host: Nuke

#3181 Maya: added clean_import option to Import loader
  openpype/hosts/maya/plugins/load/actions.py
Labels: type: enhancement, host: Maya

#3210 Ftrack: Push hierarchical attributes action works
  openpype/modules/ftrack/event_handlers_server/action_push_frame_values_to_task.py
Labels: type: bug, module: Ftrack

#3209 Ftrack: Push hierarchical attributes action works
  openpype/modules/ftrack/event_handlers_server/action_push_frame_values_to_task.py
Labels: type: bug, module: Ftrack, backport

#3216 Project manager: Sped up project load
  openpype/tools/project_manager/project_manager/model.py
  openpype/tools/project_manager/project_manager/view.py
  openpype/tools/project_manager/project_manager/window.py
Labels: type: enhancement

#3214 Deadline: instance data overwrite fix
  openpype/modules/deadline/plugins/publish/submit_publish_job.py
Labels: type: bug, module: Deadline

#3215 Deadline: instance data overwrite - backport #3214
  openpype/modules/deadline/plugins/publish/submit_publish_job.py
Labels: backport

#3223 Maya: added jpg to filter for Image Plane Loader
  openpype/hosts/maya/plugins/load/load_image_plane.py
Labels: host: Maya

#3221 Maya: added jpg to filter for Image Plane Loader
  openpype/hosts/maya/plugins/load/load_image_plane.py
Labels: host: Maya, backport

#3218 Project Manager: Fix persistent editors on project change
  openpype/tools/project_manager/project_manager/model.py
  openpype/tools/project_manager/project_manager/window.py
Labels: type: bug

#3226 Project Manager: Allow to paste Tasks into multiple assets at the same time
  openpype/tools/project_manager/project_manager/model.py
  openpype/tools/project_manager/project_manager/view.py
Labels: type: enhancement

#3228 TVPaint: Look for more groups than 12
  openpype/hosts/tvpaint/api/lib.py
Labels: type: bug, host: TV Paint

#3237 Ftrack: Validate that the user exists on ftrack
  openpype/modules/ftrack/lib/credentials.py
Labels: type: bug, module: Ftrack

#3219 Hiero: debugging frame range and other
  openpype/hosts/hiero/api/__init__.py
  openpype/hosts/hiero/api/events.py
  openpype/hosts/hiero/api/lib.py
  openpype/hosts/hiero/api/pipeline.py
  openpype/hosts/hiero/api/plugin.py
  openpype/hosts/hiero/api/tags.py
  openpype/hosts/hiero/plugins/load/load_clip.py
  openpype/hosts/hiero/plugins/publish/precollect_instances.py
  openpype/hosts/hiero/plugins/publish/precollect_workfile.py
  openpype/hosts/hiero/plugins/publish_old_workflow/precollect_instances.py
  openpype/hosts/hiero/plugins/publish_old_workflow/precollect_workfile.py
  openpype/lib/editorial.py
  openpype/plugins/publish/collect_hierarchy.py
  openpype/plugins/publish/collect_otio_frame_ranges.py
  openpype/plugins/publish/collect_otio_subset_resources.py
  openpype/plugins/publish/extract_otio_trimming_video.py
Labels: type: bug, host: Hiero

#3242 Maya: renderman displays needs to be filtered
  openpype/hosts/maya/api/lib_renderproducts.py
Labels: type: bug, host: Maya

#3244 Ftrack: Chunk sizes for queries has minimal condition
  openpype/modules/ftrack/lib/avalon_sync.py
Labels: type: bug, module: Ftrack

#3248 Harmony: 21.1 fix
  openpype/hosts/harmony/api/TB_sceneOpened.js
Labels: host: Harmony

#3246 General: updating common vendor `scriptmenu` to 1.5.2
  openpype/vendor/python/common/scriptsmenu/action.py
  openpype/vendor/python/common/scriptsmenu/launchfornuke.py
  openpype/vendor/python/common/scriptsmenu/scriptsmenu.py
  openpype/vendor/python/common/scriptsmenu/version.py
Labels: type: enhancement

#3249 Harmony: 21.1 fix
  openpype/hosts/harmony/api/TB_sceneOpened.js
Labels: host: Harmony

#3168 Add the scripts menu definition to nuke
  openpype/hosts/nuke/startup/menu.py
  openpype/settings/defaults/project_settings/nuke.json
  openpype/settings/entities/schemas/projects_schema/schema_project_maya.json
  openpype/settings/entities/schemas/projects_schema/schema_project_nuke.json
  openpype/settings/entities/schemas/projects_schema/schemas/schema_scriptsmenu.json
  website/docs/admin_hosts_nuke.md
  website/docs/assets/nuke-admin_scriptsmenu.png
  website/sidebars.js
Labels: type: enhancement, host: Nuke

#3238 Unreal: Fixed Camera loading in UE5
  openpype/hosts/unreal/plugins/load/load_camera.py
Labels: type: bug, host: UE

#3239 Unreal: Fixed Render creation in UE5
  openpype/hosts/unreal/plugins/create/create_render.py
Labels: type: bug, host: UE

#3240 Unreal: Fixed Animation loading in UE5
  openpype/hosts/unreal/plugins/load/load_animation.py
  openpype/hosts/unreal/plugins/load/load_layout.py
Labels: type: bug, host: UE

#3222 Hiero: debugging frame range and other 3.10
  openpype/hosts/hiero/api/__init__.py
  openpype/hosts/hiero/api/events.py
  openpype/hosts/hiero/api/lib.py
  openpype/hosts/hiero/api/otio/hiero_export.py
  openpype/hosts/hiero/api/pipeline.py
  openpype/hosts/hiero/api/plugin.py
  openpype/hosts/hiero/api/tags.py
  openpype/hosts/hiero/plugins/load/load_clip.py
  openpype/hosts/hiero/plugins/publish/precollect_instances.py
  openpype/hosts/hiero/plugins/publish/precollect_workfile.py
  openpype/lib/editorial.py
  openpype/plugins/publish/collect_hierarchy.py
  openpype/plugins/publish/collect_otio_frame_ranges.py
  openpype/plugins/publish/collect_otio_subset_resources.py
  openpype/plugins/publish/extract_otio_trimming_video.py
  openpype/plugins/publish/integrate_new.py
Labels: type: bug, host: Hiero

#3253 Maya: FBX camera export
  openpype/hosts/maya/plugins/publish/collect_fbx_camera.py
  openpype/settings/defaults/project_settings/maya.json
  openpype/settings/entities/schemas/projects_schema/schemas/schema_maya_publish.json
Labels: type: enhancement, host: Maya

#3257 Harmony: message length in 21.1
  openpype/hosts/harmony/api/TB_sceneOpened.js
  openpype/hosts/harmony/api/server.py
Labels: host: Harmony

#3258 Harmony: message length in 21.1
  openpype/hosts/harmony/api/TB_sceneOpened.js
  openpype/hosts/harmony/api/server.py
Labels: host: Harmony

#3255 Unreal: Fix Camera Loading if Layout is missing
  openpype/hosts/unreal/plugins/load/load_camera.py
Labels: type: bug, host: UE

#3122 Support for Unreal 5
  openpype/hosts/unreal/__init__.py
  openpype/hosts/unreal/hooks/pre_workfile_preparation.py
  openpype/hosts/unreal/integration/UE_4.7/.gitignore
  openpype/hosts/unreal/integration/UE_4.7/Content/Python/init_unreal.py
  openpype/hosts/unreal/integration/UE_4.7/OpenPype.uplugin
  openpype/hosts/unreal/integration/UE_4.7/README.md
  openpype/hosts/unreal/integration/UE_4.7/Resources/openpype128.png
  openpype/hosts/unreal/integration/UE_4.7/Resources/openpype40.png
  openpype/hosts/unreal/integration/UE_4.7/Resources/openpype512.png
  openpype/hosts/unreal/integration/UE_4.7/Source/OpenPype/OpenPype.Build.cs
  openpype/hosts/unreal/integration/UE_4.7/Source/OpenPype/Private/AssetContainer.cpp
  openpype/hosts/unreal/integration/UE_4.7/Source/OpenPype/Private/AssetContainerFactory.cpp
  openpype/hosts/unreal/integration/UE_4.7/Source/OpenPype/Private/OpenPype.cpp
  openpype/hosts/unreal/integration/UE_4.7/Source/OpenPype/Private/OpenPypeLib.cpp
  openpype/hosts/unreal/integration/UE_4.7/Source/OpenPype/Private/OpenPypePublishInstance.cpp
  openpype/hosts/unreal/integration/UE_4.7/Source/OpenPype/Private/OpenPypePublishInstanceFactory.cpp
  openpype/hosts/unreal/integration/UE_4.7/Source/OpenPype/Private/OpenPypePythonBridge.cpp
  openpype/hosts/unreal/integration/UE_4.7/Source/OpenPype/Private/OpenPypeStyle.cpp
  openpype/hosts/unreal/integration/UE_4.7/Source/OpenPype/Public/AssetContainer.h
  openpype/hosts/unreal/integration/UE_4.7/Source/OpenPype/Public/AssetContainerFactory.h
  openpype/hosts/unreal/integration/UE_4.7/Source/OpenPype/Public/OpenPype.h
  openpype/hosts/unreal/integration/UE_4.7/Source/OpenPype/Public/OpenPypeLib.h
  openpype/hosts/unreal/integration/UE_4.7/Source/OpenPype/Public/OpenPypePublishInstance.h
  openpype/hosts/unreal/integration/UE_4.7/Source/OpenPype/Public/OpenPypePublishInstanceFactory.h
  openpype/hosts/unreal/integration/UE_4.7/Source/OpenPype/Public/OpenPypePythonBridge.h
  openpype/hosts/unreal/integration/UE_4.7/Source/OpenPype/Public/OpenPypeStyle.h
  openpype/hosts/unreal/integration/UE_5.0/.gitignore
  openpype/hosts/unreal/integration/UE_5.0/Content/Python/__init__.py
  openpype/hosts/unreal/integration/UE_5.0/Content/Python/init_unreal.py
  openpype/hosts/unreal/integration/UE_5.0/Content/__init__.py
  openpype/hosts/unreal/integration/UE_5.0/OpenPype.uplugin
  openpype/hosts/unreal/integration/UE_5.0/README.md
  openpype/hosts/unreal/integration/UE_5.0/Resources/openpype128.png
  openpype/hosts/unreal/integration/UE_5.0/Resources/openpype40.png
  openpype/hosts/unreal/integration/UE_5.0/Resources/openpype512.png
  openpype/hosts/unreal/integration/UE_5.0/Source/OpenPype/OpenPype.Build.cs
  openpype/hosts/unreal/integration/UE_5.0/Source/OpenPype/Private/AssetContainer.cpp
  openpype/hosts/unreal/integration/UE_5.0/Source/OpenPype/Private/AssetContainerFactory.cpp
  openpype/hosts/unreal/integration/UE_5.0/Source/OpenPype/Private/OpenPype.cpp
  openpype/hosts/unreal/integration/UE_5.0/Source/OpenPype/Private/OpenPypeCommands.cpp
  openpype/hosts/unreal/integration/UE_5.0/Source/OpenPype/Private/OpenPypeLib.cpp
  openpype/hosts/unreal/integration/UE_5.0/Source/OpenPype/Private/OpenPypePublishInstance.cpp
  openpype/hosts/unreal/integration/UE_5.0/Source/OpenPype/Private/OpenPypePublishInstanceFactory.cpp
  openpype/hosts/unreal/integration/UE_5.0/Source/OpenPype/Private/OpenPypePythonBridge.cpp
  openpype/hosts/unreal/integration/UE_5.0/Source/OpenPype/Private/OpenPypeStyle.cpp
  openpype/hosts/unreal/integration/UE_5.0/Source/OpenPype/Public/AssetContainer.h
  openpype/hosts/unreal/integration/UE_5.0/Source/OpenPype/Public/AssetContainerFactory.h
  openpype/hosts/unreal/integration/UE_5.0/Source/OpenPype/Public/OpenPype.h
  openpype/hosts/unreal/integration/UE_5.0/Source/OpenPype/Public/OpenPypeCommands.h
  openpype/hosts/unreal/integration/UE_5.0/Source/OpenPype/Public/OpenPypeLib.h
  openpype/hosts/unreal/integration/UE_5.0/Source/OpenPype/Public/OpenPypePublishInstance.h
  openpype/hosts/unreal/integration/UE_5.0/Source/OpenPype/Public/OpenPypePublishInstanceFactory.h
  openpype/hosts/unreal/integration/UE_5.0/Source/OpenPype/Public/OpenPypePythonBridge.h
  openpype/hosts/unreal/integration/UE_5.0/Source/OpenPype/Public/OpenPypeStyle.h
  openpype/hosts/unreal/lib.py
  openpype/hosts/unreal/plugins/create/create_render.py
  openpype/hosts/unreal/plugins/load/load_animation.py
  openpype/hosts/unreal/plugins/load/load_camera.py
  openpype/hosts/unreal/plugins/load/load_layout.py
  openpype/settings/defaults/system_settings/applications.json
Labels: type: enhancement, host: UE

#3186 Nuke: add pointcache and animation to loader
  openpype/hosts/nuke/plugins/load/load_model.py
Labels: host: Nuke

#3261 Nuke: bake reformat was failing on string type
  openpype/hosts/nuke/api/plugin.py
Labels: type: bug, host: Nuke

#3224 Flame: debugging
  openpype/hosts/flame/api/lib.py
  openpype/hosts/flame/api/plugin.py
  openpype/hosts/flame/api/render_utils.py
  openpype/hosts/flame/otio/flame_export.py
  openpype/hosts/flame/plugins/create/create_shot_clip.py
  openpype/hosts/flame/plugins/publish/collect_timeline_instances.py
  openpype/hosts/flame/plugins/publish/collect_timeline_otio.py
  openpype/hosts/flame/plugins/publish/extract_subset_resources.py
  openpype/hosts/hiero/api/lib.py
  openpype/lib/__init__.py
  openpype/lib/editorial.py
  openpype/plugins/publish/collect_otio_subset_resources.py
  openpype/settings/defaults/project_settings/flame.json
  openpype/settings/entities/schemas/projects_schema/schema_project_flame.json
Labels: type: bug, host: Flame

#3265 General: editorial collection one frame longer
  openpype/lib/editorial.py
Labels: type: bug

#3162 add silent audio to slate
  openpype/plugins/publish/extract_review_slate.py
Labels: type: bug, host: Nuke

#2929 Add timecode to slate
  openpype/plugins/publish/extract_review_slate.py
  openpype/scripts/otio_burnin.py
Labels: type: bug, host: Nuke

#3268 General: Updated windows oiio tool
  pyproject.toml
Labels: type: enhancement
