Repository ynput/OpenPype, pull requests merged in 2022-09, with the labels that each got.

#3773 General: Remove unused teshost
  openpype/hosts/testhost/README.md
  openpype/hosts/testhost/__init__.py
  openpype/hosts/testhost/api/__init__.py
  openpype/hosts/testhost/api/context.json
  openpype/hosts/testhost/api/instances.json
  openpype/hosts/testhost/api/pipeline.py
  openpype/hosts/testhost/plugins/create/auto_creator.py
  openpype/hosts/testhost/plugins/create/test_creator_1.py
  openpype/hosts/testhost/plugins/create/test_creator_2.py
  openpype/hosts/testhost/plugins/publish/collect_context.py
  openpype/hosts/testhost/plugins/publish/collect_instance_1.py
  openpype/hosts/testhost/plugins/publish/validate_context_with_error.py
  openpype/hosts/testhost/plugins/publish/validate_with_error.py
  openpype/hosts/testhost/run_publish.py
Labels: refactor

#3771 General: Copied 'Extractor' plugin to publish pipeline
  openpype/pipeline/publish/__init__.py
  openpype/pipeline/publish/publish_plugins.py
  openpype/plugin.py
  openpype/plugins/publish/extract_burnin.py
  openpype/plugins/publish/extract_otio_file.py
  openpype/plugins/publish/extract_otio_review.py
  openpype/plugins/publish/extract_otio_trimming_video.py
  openpype/plugins/publish/extract_review_slate.py
  openpype/plugins/publish/extract_trim_video_audio.py
Labels: refactor

#3618 Documentation: Anatomy templates
  website/docs/admin_settings_project_anatomy.md
  website/docs/assets/settings/anatomy_attributes.png
Labels: type: documentation

#3779 Standalone Publisher: Ignore empty labels, then still use name like other asset models
  openpype/tools/standalonepublish/widgets/model_asset.py
Labels: host: Standalone

#3763 Nuke: Build workfile by template
  openpype/hosts/nuke/api/lib.py
  openpype/hosts/nuke/api/lib_template_builder.py
  openpype/hosts/nuke/api/pipeline.py
  openpype/hosts/nuke/api/template_loader.py
  openpype/pipeline/workfile/abstract_template_loader.py
  openpype/pipeline/workfile/build_template.py
  openpype/settings/defaults/project_settings/maya.json
  openpype/settings/defaults/project_settings/nuke.json
  openpype/settings/entities/schemas/projects_schema/schema_project_nuke.json
  openpype/settings/entities/schemas/projects_schema/schemas/schema_templated_workfile_build.json
  website/docs/artist_hosts_hiero.md
  website/docs/assets/nuke_addProfile.png
  website/docs/assets/nuke_buildWorfileFromTemplate.png
  website/docs/assets/nuke_buildworkfile.png
  website/docs/assets/nuke_createPlaceHolder.png
  website/docs/assets/nuke_fillingExtraAttributes.png
  website/docs/assets/nuke_placeHolderNode.png
  website/docs/assets/nuke_placeholder.png
  website/docs/assets/nuke_publishedinstance.png
  website/docs/assets/nuke_updatePlaceHolder.png
  website/docs/assets/nuke_updateWorkfile.png
Labels: host: Nuke, type: feature

#3784 AfterEffects: Use new Extractor location
  openpype/hosts/aftereffects/plugins/publish/extract_local_render.py
  openpype/hosts/aftereffects/plugins/publish/extract_save_scene.py
  openpype/hosts/aftereffects/plugins/publish/remove_publish_highlight.py
Labels: host: After Effects, refactor

#3777 Fix - changed format of version string in pyproject.toml
  pyproject.toml
  tools/ci_tools.py
  tools/create_env.ps1
  tools/create_env.sh
Labels: type: bug

#3757 Fix version resolution
  igniter/bootstrap_repos.py
  tools/create_zip.ps1
Labels: type: bug

#3659 Scene Inventory: Maya add actions to select from or to scene
  openpype/hosts/maya/plugins/inventory/select_containers.py
Labels: type: enhancement, host: Maya

#3674 Maya: `containerise` dont skip empty values
  openpype/hosts/maya/api/pipeline.py
Labels: type: bug, host: Maya

#3669 Maya: move set render settings menu entry
  openpype/hosts/maya/api/menu.py
Labels: type: enhancement, host: Maya

#3770 General: Move queries of asset and representation links
  openpype/client/__init__.py
  openpype/client/entities.py
  openpype/client/entity_links.py
  openpype/lib/avalon_context.py
  openpype/pipeline/workfile/abstract_template_loader.py
  openpype/pipeline/workfile/build_workfile.py
  openpype/plugins/load/add_site.py
Labels: refactor

#3780 nuke: validate write node is not failing due wrong type
  openpype/hosts/nuke/plugins/publish/validate_write_nodes.py
Labels: type: bug, host: Nuke

#3787 Blender: Use new Extractor location
  openpype/hosts/blender/plugins/publish/extract_abc.py
  openpype/hosts/blender/plugins/publish/extract_blend.py
  openpype/hosts/blender/plugins/publish/extract_blend_animation.py
  openpype/hosts/blender/plugins/publish/extract_camera.py
  openpype/hosts/blender/plugins/publish/extract_fbx.py
  openpype/hosts/blender/plugins/publish/extract_fbx_animation.py
  openpype/hosts/blender/plugins/publish/extract_layout.py
Labels: host: Blender, refactor

#3670 Blender: Publisher collect workfile representation
  openpype/hosts/blender/plugins/publish/collect_current_file.py
Labels: type: enhancement, host: Blender

#3789 Photoshop: Use new Extractor location
  openpype/hosts/photoshop/api/README.md
  openpype/hosts/photoshop/plugins/publish/extract_image.py
  openpype/hosts/photoshop/plugins/publish/extract_review.py
  openpype/hosts/photoshop/plugins/publish/extract_save_scene.py
Labels: host: Photoshop, refactor

#3793 Photoshop: attempt to speed up ExtractImage
  openpype/hosts/photoshop/api/lib.py
  openpype/hosts/photoshop/api/ws_stub.py
  openpype/hosts/photoshop/plugins/publish/extract_image.py
Labels: type: enhancement, host: Photoshop

#3798 Resolve: Addon import is Python 2 compatible
  openpype/hosts/resolve/utils.py
Labels: type: bug, host: Resolve

#3739 Kitsu|Change: Drop 'entities root' setting.
  openpype/modules/kitsu/utils/update_op_with_zou.py
  openpype/settings/defaults/project_settings/kitsu.json
  openpype/settings/entities/schemas/projects_schema/schema_project_kitsu.json
Labels: type: enhancement, module: Kitsu

#3776 Kitsu - sync_all_project - add list ignore_projects
  openpype/modules/kitsu/utils/update_op_with_zou.py
Labels: module: Kitsu

#3768 General: Move create project folders to pipeline
  openpype/hooks/pre_create_extra_workdir_folders.py
  openpype/lib/path_tools.py
  openpype/lib/plugin_tools.py
  openpype/modules/ftrack/event_handlers_user/action_create_project_structure.py
  openpype/pipeline/project_folders.py
  openpype/pipeline/template_data.py
  openpype/pipeline/workfile/__init__.py
  openpype/pipeline/workfile/path_resolving.py
  openpype/tools/project_manager/project_manager/window.py
  openpype/tools/workfiles/files_widget.py
Labels: refactor

#3792 Hiero: retimed clip publishing is working
  openpype/hosts/hiero/plugins/publish/precollect_instances.py
Labels: type: bug, host: Hiero

#3658 Scene Inventory: Add subsetGroup column
  openpype/tools/sceneinventory/model.py
  openpype/tools/sceneinventory/window.py
Labels: type: enhancement

#3809 General: Better pixmap scaling
  openpype/tools/tray/pype_tray.py
Labels: type: enhancement

#3679 Global: making collect audio plugin global
  openpype/hosts/celaction/plugins/publish/collect_audio.py
  openpype/hosts/nuke/plugins/publish/precollect_writes.py
  openpype/plugins/publish/collect_audio.py
  openpype/settings/defaults/project_settings/global.json
  openpype/settings/entities/schemas/projects_schema/schemas/schema_global_publish.json
Labels: type: feature

#3804 Igniter: Fix status handling when version is already installed
  igniter/install_dialog.py
Labels: type: bug

#3828 General: Fix Pattern access in client code
  openpype/client/entities.py
Labels: type: bug

#3722 git: update gitignore
  .gitignore
  README.md
Labels: type: enhancement

#3822 Launcher: Skip opening last work file works for groups
  openpype/tools/launcher/models.py
  openpype/tools/launcher/widgets.py
Labels: type: bug

#3826 Flame: Adding Creator's retimed shot and handles switch
  openpype/hosts/flame/api/plugin.py
  openpype/hosts/flame/plugins/create/create_shot_clip.py
  openpype/hosts/flame/plugins/publish/collect_timeline_instances.py
  openpype/hosts/flame/plugins/publish/extract_subset_resources.py
  openpype/plugins/publish/collect_otio_frame_ranges.py
Labels: type: enhancement, host: Flame

#3759 Maya: Refactor submit deadline to use AbstractSubmitDeadline
  openpype/hosts/maya/plugins/publish/collect_render.py
  openpype/modules/deadline/abstract_submit_deadline.py
  openpype/modules/deadline/plugins/publish/collect_deadline_server_from_instance.py
  openpype/modules/deadline/plugins/publish/submit_aftereffects_deadline.py
  openpype/modules/deadline/plugins/publish/submit_harmony_deadline.py
  openpype/modules/deadline/plugins/publish/submit_maya_deadline.py
Labels: refactor

#3755 General: Change publish template settings location
  openpype/pipeline/publish/__init__.py
  openpype/pipeline/publish/contants.py
  openpype/pipeline/publish/lib.py
  openpype/plugins/publish/integrate.py
  openpype/plugins/publish/integrate_hero_version.py
  openpype/plugins/publish/integrate_legacy.py
  openpype/settings/defaults/project_settings/global.json
  openpype/settings/entities/schemas/projects_schema/schemas/schema_global_publish.json
  openpype/settings/entities/schemas/projects_schema/schemas/schema_global_tools.json
Labels: refactor

#3790 Maya: Workspace mel loaded from settings
  openpype/hosts/maya/api/pipeline.py
  openpype/hosts/maya/hooks/pre_copy_mel.py
  openpype/hosts/maya/lib.py
  openpype/hosts/maya/resources/workspace.mel
  openpype/settings/defaults/project_settings/maya.json
  openpype/settings/entities/schemas/projects_schema/schema_project_maya.json
Labels: type: enhancement, host: Maya

#3833 Publisher: Add new publisher to host tools
  openpype/tools/utils/host_tools.py
Labels: type: enhancement

#3834 Ftrack: Url validation does not require ftrackapp
  openpype/modules/ftrack/__init__.py
  openpype/modules/ftrack/ftrack_module.py
  openpype/modules/ftrack/ftrack_server/__init__.py
  openpype/modules/ftrack/ftrack_server/event_server_cli.py
  openpype/modules/ftrack/ftrack_server/lib.py
  openpype/modules/ftrack/lib/avalon_sync.py
  openpype/modules/ftrack/tray/ftrack_tray.py
Labels: type: bug, module: Ftrack

#3820 Maya+Ftrack: Change typo in family name `mayaascii` -> `mayaAscii`
  openpype/modules/ftrack/plugins/publish/integrate_ftrack_instances.py
  openpype/settings/defaults/project_settings/ftrack.json
Labels: type: bug

#3629 General: Collect (generative) input links
  openpype/hosts/fusion/plugins/publish/collect_inputs.py
  openpype/hosts/houdini/plugins/publish/collect_inputs.py
  openpype/hosts/maya/api/lib_rendersetup.py
  openpype/hosts/maya/plugins/publish/collect_inputs.py
  openpype/modules/deadline/plugins/publish/submit_publish_job.py
  openpype/plugins/publish/collect_input_representations_to_versions.py
Labels: host: Maya, host: Houdini, host: Fusion, type: feature

#3758 Maya Deadline: Fix Tile Rendering by forcing integer pixel values
  openpype/modules/deadline/plugins/publish/submit_maya_deadline.py
  openpype/modules/deadline/repository/custom/plugins/OpenPypeTileAssembler/OpenPypeTileAssembler.py
Labels: type: bug, host: Maya, module: Deadline

#3840 Houdini: Increment current file on workfile publish
  openpype/hosts/houdini/plugins/publish/increment_current_file.py
  openpype/hosts/houdini/plugins/publish/increment_current_file_deadline.py
Labels: type: enhancement, host: Houdini

#3775 Maya: Use new Extractor location
  openpype/hosts/maya/plugins/publish/extract_ass.py
  openpype/hosts/maya/plugins/publish/extract_assembly.py
  openpype/hosts/maya/plugins/publish/extract_assproxy.py
  openpype/hosts/maya/plugins/publish/extract_camera_alembic.py
  openpype/hosts/maya/plugins/publish/extract_camera_mayaScene.py
  openpype/hosts/maya/plugins/publish/extract_fbx.py
  openpype/hosts/maya/plugins/publish/extract_layout.py
  openpype/hosts/maya/plugins/publish/extract_look.py
  openpype/hosts/maya/plugins/publish/extract_maya_scene_raw.py
  openpype/hosts/maya/plugins/publish/extract_model.py
  openpype/hosts/maya/plugins/publish/extract_multiverse_look.py
  openpype/hosts/maya/plugins/publish/extract_multiverse_usd.py
  openpype/hosts/maya/plugins/publish/extract_multiverse_usd_comp.py
  openpype/hosts/maya/plugins/publish/extract_multiverse_usd_over.py
  openpype/hosts/maya/plugins/publish/extract_playblast.py
  openpype/hosts/maya/plugins/publish/extract_pointcache.py
  openpype/hosts/maya/plugins/publish/extract_redshift_proxy.py
  openpype/hosts/maya/plugins/publish/extract_rendersetup.py
  openpype/hosts/maya/plugins/publish/extract_rig.py
  openpype/hosts/maya/plugins/publish/extract_thumbnail.py
  openpype/hosts/maya/plugins/publish/extract_unreal_skeletalmesh.py
  openpype/hosts/maya/plugins/publish/extract_unreal_staticmesh.py
  openpype/hosts/maya/plugins/publish/extract_vrayproxy.py
  openpype/hosts/maya/plugins/publish/extract_vrayscene.py
  openpype/hosts/maya/plugins/publish/extract_xgen_cache.py
  openpype/hosts/maya/plugins/publish/extract_yeti_cache.py
  openpype/hosts/maya/plugins/publish/extract_yeti_rig.py
Labels: host: Maya, refactor

#3649 Loader: Show whether a subset is loaded into the current scene
  openpype/tools/loader/delegates.py
  openpype/tools/loader/model.py
  openpype/tools/loader/widgets.py
Labels: type: enhancement

#3652 Houdini: Shelf Manager
  openpype/hosts/houdini/api/pipeline.py
  openpype/hosts/houdini/api/shelves.py
  openpype/settings/defaults/project_settings/houdini.json
  openpype/settings/entities/schemas/projects_schema/schema_project_houdini.json
  openpype/settings/entities/schemas/projects_schema/schemas/schema_houdini_scriptshelf.json
  website/docs/admin_hosts_houdini.md
  website/docs/assets/houdini-admin_shelvesmanager.png
  website/sidebars.js
Labels: host: Houdini, type: feature

#3856 Tray Publisher: skip plugin if otioTimeline is missing
  openpype/plugins/publish/extract_otio_file.py
Labels: type: bug, host: TrayPublisher

#3852 Maya: Extract Playblast fix textures + labelize viewport show settings
  openpype/hosts/maya/api/lib.py
  openpype/settings/defaults/project_settings/maya.json
  openpype/settings/entities/schemas/projects_schema/schemas/schema_maya_capture.json
Labels: type: bug, host: Maya

#3810 General: lock task workfiles when they are working on
  openpype/hosts/maya/api/pipeline.py
  openpype/pipeline/workfile/lock_workfile.py
  openpype/settings/defaults/project_settings/global.json
  openpype/settings/entities/schemas/projects_schema/schemas/schema_global_tools.json
  openpype/tools/workfiles/files_widget.py
  openpype/tools/workfiles/lock_dialog.py
Labels: type: enhancement

#3819 Maya: Remove old legacy (ftrack) plug-ins that are of no use anymore
  openpype/hosts/maya/plugins/publish/collect_maya_scene.py
  openpype/hosts/maya/plugins/publish/collect_maya_scene_time.py
  openpype/hosts/maya/plugins/publish/collect_rig.py
Labels: refactor

#3862 Publisher: Increase size of main window
  openpype/tools/publisher/window.py
Labels: type: enhancement

#3869 General: Copy of workfile does not use 'copy' function but 'copyfile'
  openpype/tools/workfiles/files_widget.py
Labels: type: bug

#3870 Settings: Add missing default settings
  openpype/settings/defaults/project_settings/blender.json
  openpype/settings/defaults/project_settings/houdini.json
Labels: type: bug

#3864 Github issues adding `running version` section
  .github/ISSUE_TEMPLATE/bug_report.md
Labels: type: enhancement

#3851 Hiero: Use new Extractor location
  openpype/hosts/hiero/plugins/publish/extract_clip_effects.py
  openpype/hosts/hiero/plugins/publish/extract_frames.py
  openpype/hosts/hiero/plugins/publish/extract_thumbnail.py
Labels: host: Hiero, refactor

#3799 Nuke: Use new Extractor location
  openpype/hosts/nuke/plugins/publish/extract_backdrop.py
  openpype/hosts/nuke/plugins/publish/extract_camera.py
  openpype/hosts/nuke/plugins/publish/extract_gizmo.py
  openpype/hosts/nuke/plugins/publish/extract_model.py
  openpype/hosts/nuke/plugins/publish/extract_render_local.py
  openpype/hosts/nuke/plugins/publish/extract_review_data.py
  openpype/hosts/nuke/plugins/publish/extract_review_data_lut.py
  openpype/hosts/nuke/plugins/publish/extract_review_data_mov.py
  openpype/hosts/nuke/plugins/publish/extract_slate_frame.py
  openpype/hosts/nuke/plugins/publish/extract_thumbnail.py
Labels: host: Nuke, refactor

#3874 Remove lockfile during publish
  openpype/hosts/maya/plugins/publish/save_scene.py
Labels: host: Maya

#3879 Maya: RenderSettings set default image format for V-Ray+Redshift to exr
  openpype/settings/defaults/project_settings/maya.json
Labels: host: Maya

#3843 General: Simple script for getting license information about used packages
  tools/get_python_packages_info.py
Labels: type: enhancement

#3871 TrayPublisher: added persisting of last selected project
  openpype/tools/traypublisher/window.py
  openpype/tools/utils/models.py
Labels: type: enhancement, client

#3886 Maya: better logging in Maketx
  openpype/hosts/maya/plugins/publish/extract_look.py
Labels: type: enhancement, host: Maya

#3854 Photoshop: synchronize image version with workfile
  openpype/hosts/photoshop/plugins/publish/collect_published_version.py
  openpype/hosts/photoshop/plugins/publish/collect_version.py
  openpype/pype_commands.py
  openpype/settings/defaults/project_settings/photoshop.json
  openpype/settings/entities/schemas/projects_schema/schema_project_photoshop.json
Labels: type: enhancement, client

#3867 TrayPublisher: added text filter on project name to Tray Publisher
  openpype/tools/traypublisher/window.py
  openpype/tools/utils/models.py
Labels: type: enhancement, client

#3860 Flame: make migratable projects after creation
  openpype/hosts/flame/hooks/pre_flame_setup.py
Labels: type: enhancement, host: Flame

#3877 Publisher: Nice checkbox visible in Python 2
  openpype/widgets/nice_checkbox.py
Labels: type: bug

#3891 WebPublisher: Fix import after refactor
  openpype/pype_commands.py
Labels: type: bug

#3882 TVPaint: Fix renaming of rendered files
  openpype/hosts/tvpaint/lib.py
Labels: type: bug, host: TV Paint

#2769 Fusion: Tweak Fusion integration
  openpype/hooks/pre_add_last_workfile_arg.py
  openpype/hosts/fusion/addon.py
  openpype/hosts/fusion/api/__init__.py
  openpype/hosts/fusion/api/lib.py
  openpype/hosts/fusion/api/menu.py
  openpype/hosts/fusion/api/menu_style.qss
  openpype/hosts/fusion/api/pipeline.py
  openpype/hosts/fusion/api/pulse.py
  openpype/hosts/fusion/api/workio.py
  openpype/hosts/fusion/deploy/Config/openpype_menu.fu
  openpype/hosts/fusion/deploy/MenuScripts/README.md
  openpype/hosts/fusion/deploy/MenuScripts/install_pyside2.py
  openpype/hosts/fusion/deploy/MenuScripts/openpype_menu.py
  openpype/hosts/fusion/deploy/Scripts/Comp/OpenPype/32bit/backgrounds_selected_to32bit.py
  openpype/hosts/fusion/deploy/Scripts/Comp/OpenPype/32bit/backgrounds_to32bit.py
  openpype/hosts/fusion/deploy/Scripts/Comp/OpenPype/32bit/loaders_selected_to32bit.py
  openpype/hosts/fusion/deploy/Scripts/Comp/OpenPype/32bit/loaders_to32bit.py
  openpype/hosts/fusion/deploy/Scripts/Comp/OpenPype/switch_ui.py
  openpype/hosts/fusion/deploy/Scripts/Comp/OpenPype/update_loader_ranges.py
  openpype/hosts/fusion/deploy/fusion_shared.prefs
  openpype/hosts/fusion/hooks/pre_fusion_ocio_hook.py
  openpype/hosts/fusion/hooks/pre_fusion_setup.py
  openpype/hosts/fusion/plugins/create/create_exr_saver.py
  openpype/hosts/fusion/plugins/load/load_sequence.py
  openpype/hosts/fusion/plugins/publish/collect_instances.py
  openpype/hosts/fusion/plugins/publish/render_local.py
  openpype/hosts/fusion/scripts/fusion_switch_shot.py
  openpype/settings/defaults/project_settings/fusion.json
  openpype/settings/defaults/system_settings/applications.json
  openpype/settings/entities/schemas/projects_schema/schema_main.json
  openpype/settings/entities/schemas/projects_schema/schema_project_fusion.json
Labels: type: enhancement, host: Fusion

#3849 General: Transcoding handle float2 attr type
  openpype/lib/transcoding.py
  openpype/modules/deadline/repository/custom/plugins/OpenPypeTileAssembler/OpenPypeTileAssembler.py
Labels: type: enhancement

#3885 Photoshop: review can be turned off
  openpype/hosts/photoshop/plugins/publish/collect_review.py
  openpype/settings/defaults/project_settings/photoshop.json
  openpype/settings/entities/schemas/projects_schema/schema_project_photoshop.json
Labels: type: enhancement, client, host: Photoshop

#3895 Hiero: Fix inventory check on launch
  openpype/hosts/hiero/api/lib.py
Labels: type: bug, host: Hiero

#3654 Maya: Redshift Skip aov file format check for Cryptomatte
  openpype/hosts/maya/plugins/publish/validate_rendersettings.py
Labels: type: bug, host: Maya

#3646 Backend: Implementation of addon deployment logic
  common/openpype_common/distribution/README.md
  common/openpype_common/distribution/__init__.py
  common/openpype_common/distribution/addon_distribution.py
  common/openpype_common/distribution/addon_info.py
  common/openpype_common/distribution/file_handler.py
  common/openpype_common/distribution/tests/test_addon_distributtion.py
  tests/lib/testing_classes.py
Labels: type: enhancement

#3855 Flame: retimed attributes are integrated with settings
  openpype/hosts/flame/api/pipeline.py
  openpype/hosts/flame/plugins/create/create_shot_clip.py
  openpype/hosts/flame/plugins/publish/collect_timeline_instances.py
  openpype/hosts/flame/plugins/publish/extract_subset_resources.py
  openpype/plugins/publish/collect_otio_frame_ranges.py
  openpype/settings/defaults/project_settings/flame.json
  openpype/settings/entities/schemas/projects_schema/schema_project_flame.json
Labels: type: bug, host: Flame

#3901 Flame: loading multilayer exr to batch/reel is working
  openpype/hosts/flame/api/lib.py
  openpype/hosts/flame/api/plugin.py
  openpype/hosts/flame/plugins/load/load_clip.py
  openpype/hosts/flame/plugins/load/load_clip_batch.py
Labels: type: bug, host: Flame

#3894 Houdini: Use new Extractor location
  openpype/hosts/houdini/plugins/publish/collect_remote_publish.py
  openpype/hosts/houdini/plugins/publish/extract_alembic.py
  openpype/hosts/houdini/plugins/publish/extract_ass.py
  openpype/hosts/houdini/plugins/publish/extract_composite.py
  openpype/hosts/houdini/plugins/publish/extract_hda.py
  openpype/hosts/houdini/plugins/publish/extract_redshift_proxy.py
  openpype/hosts/houdini/plugins/publish/extract_usd.py
  openpype/hosts/houdini/plugins/publish/extract_usd_layered.py
  openpype/hosts/houdini/plugins/publish/extract_vdb_cache.py
Labels: host: Houdini, refactor

#3893 Harmony: Use new Extractor location
  openpype/hosts/harmony/plugins/publish/extract_palette.py
  openpype/hosts/harmony/plugins/publish/extract_template.py
  openpype/hosts/harmony/plugins/publish/extract_workfile.py
Labels: host: Harmony, refactor

#3897 Publisher: Enhancement proposals
  openpype/host/__init__.py
  openpype/host/interfaces.py
  openpype/hosts/traypublisher/api/pipeline.py
  openpype/pipeline/create/context.py
  openpype/pipeline/create/creator_plugins.py
  openpype/plugins/publish/collect_from_create_context.py
Labels: type: enhancement

#3917 Unreal: Use new Extractor location
  openpype/hosts/unreal/plugins/publish/extract_camera.py
  openpype/hosts/unreal/plugins/publish/extract_layout.py
  openpype/hosts/unreal/plugins/publish/extract_look.py
  openpype/hosts/unreal/plugins/publish/extract_render.py
Labels: host: UE, refactor

#3918 Resolve: Use new Extractor location
  openpype/hosts/resolve/plugins/publish/extract_workfile.py
Labels: host: Fusion, refactor

#3916 Flame: Use new Extractor location
  openpype/hosts/flame/plugins/publish/extract_otio_file.py
  openpype/hosts/flame/plugins/publish/extract_subset_resources.py
Labels: host: Flame, refactor

#3923 Maya: Fix Scene Inventory possibly starting off-screen due to maya preferences
  openpype/tools/sceneinventory/window.py
Labels: host: Maya

#3929 Maya: Fix Render single camera validator
  openpype/hosts/maya/plugins/publish/validate_render_single_camera.py
Labels: type: bug, host: Maya
