Repository ynput/OpenPype, pull requests merged in 2022-12, with the labels that each got.

#4153 Ftrack: Fix occational double parents issue
  openpype/modules/ftrack/lib/avalon_sync.py
Labels: type: bug, module: Ftrack

#4129 Ftrack: Reset session before instance processing
  openpype/modules/ftrack/plugins/publish/integrate_ftrack_api.py
Labels: type: enhancement, module: Ftrack

#4128 Blender: Extract Alembic Animations
  openpype/hosts/blender/plugins/publish/extract_abc_animation.py
Labels: host: Blender, type: feature

#4152 General: Extract review handle start offset of sequences
  openpype/plugins/publish/extract_review.py
Labels: type: bug

#4166 Ensure Mongo database directory exists in Windows.
  tools/run_mongo.ps1
Labels: type: enhancement

#4144 Maya: Optional viewport refresh on pointcache extraction
  openpype/hosts/maya/api/lib.py
  openpype/hosts/maya/plugins/create/create_pointcache.py
  openpype/hosts/maya/plugins/publish/extract_pointcache.py
Labels: type: enhancement, host: Maya

#4146 Maya: Disable viewport Pan/Zoom on playblast extraction.
  openpype/hosts/maya/plugins/publish/extract_playblast.py
  openpype/hosts/maya/plugins/publish/extract_thumbnail.py
Labels: type: enhancement, host: Maya

#4108 Dockerfile for Debian Bullseye
  Dockerfile.debian
Labels: type: enhancement

#4124 Changed the UOpenPypePublishInstance to use the UDataAsset class
  openpype/hosts/unreal/integration/UE_4.7/Source/OpenPype/Private/OpenPypePublishInstance.cpp
  openpype/hosts/unreal/integration/UE_4.7/Source/OpenPype/Private/OpenPypePublishInstanceFactory.cpp
  openpype/hosts/unreal/integration/UE_4.7/Source/OpenPype/Public/OpenPypePublishInstance.h
  openpype/hosts/unreal/integration/UE_4.7/Source/OpenPype/Public/OpenPypePublishInstanceFactory.h
  openpype/hosts/unreal/integration/UE_5.0/Source/OpenPype/Private/OpenPypePublishInstance.cpp
  openpype/hosts/unreal/integration/UE_5.0/Source/OpenPype/Private/OpenPypePublishInstanceFactory.cpp
  openpype/hosts/unreal/integration/UE_5.0/Source/OpenPype/Public/OpenPypePublishInstance.h
  openpype/hosts/unreal/integration/UE_5.0/Source/OpenPype/Public/OpenPypePublishInstanceFactory.h
Labels: type: enhancement, host: UE

#4161 Note about unrestricted execution on Windows.
  website/docs/dev_build.md
Labels: type: enhancement

#4160 Consistent Python version
  website/docs/dev_requirements.md
Labels: type: enhancement, type: documentation

#4169 Flame: vertical alignment of layers
  openpype/hosts/flame/api/plugin.py
Labels: type: bug, host: Flame

#4140 CelAction: refactory integration to current openpype
  openpype/hosts/celaction/__init__.py
  openpype/hosts/celaction/addon.py
  openpype/hosts/celaction/api/__init__.py
  openpype/hosts/celaction/api/cli.py
  openpype/hosts/celaction/hooks/pre_celaction_registers.py
  openpype/hosts/celaction/hooks/pre_celaction_setup.py
  openpype/hosts/celaction/plugins/publish/collect_celaction_cli_kwargs.py
  openpype/hosts/celaction/plugins/publish/collect_celaction_instances.py
  openpype/hosts/celaction/plugins/publish/collect_render_path.py
  openpype/hosts/celaction/scripts/__init__.py
  openpype/hosts/celaction/scripts/publish_cli.py
  openpype/modules/deadline/plugins/publish/submit_celaction_deadline.py
  openpype/modules/deadline/plugins/publish/submit_publish_job.py
  openpype/modules/deadline/repository/custom/plugins/CelAction/CelAction.ico
  openpype/modules/deadline/repository/custom/plugins/CelAction/CelAction.param
  openpype/modules/deadline/repository/custom/plugins/CelAction/CelAction.py
  openpype/plugins/publish/integrate.py
  openpype/resources/app_icons/celaction.png
  openpype/resources/app_icons/celaction_local.png
  openpype/resources/app_icons/celaction_remotel.png
  openpype/settings/defaults/project_settings/celaction.json
  openpype/settings/defaults/project_settings/deadline.json
  openpype/settings/defaults/system_settings/applications.json
  openpype/settings/entities/schemas/projects_schema/schema_project_celaction.json
  openpype/settings/entities/schemas/projects_schema/schema_project_deadline.json
  openpype/settings/entities/schemas/system_schema/host_settings/schema_celaction.json
  setup.cfg
Labels: type: enhancement, celaction

#4171 Nuke/Hiero: Remove tkinter library paths before launch
  openpype/hosts/hiero/addon.py
  openpype/hosts/nuke/addon.py
Labels: type: bug, host: Nuke, host: Hiero

#4178 General: Comment per instance in Publisher
  openpype/hosts/nuke/plugins/publish/extract_slate_frame.py
  openpype/modules/deadline/plugins/publish/submit_celaction_deadline.py
  openpype/modules/deadline/plugins/publish/submit_publish_job.py
  openpype/modules/ftrack/plugins/publish/integrate_ftrack_description.py
  openpype/modules/ftrack/plugins/publish/integrate_ftrack_note.py
  openpype/pipeline/publish/publish_plugins.py
  openpype/plugins/publish/collect_comment.py
  openpype/plugins/publish/extract_burnin.py
  openpype/plugins/publish/integrate.py
  openpype/plugins/publish/integrate_legacy.py
  openpype/settings/defaults/project_settings/global.json
  openpype/settings/entities/schemas/projects_schema/schemas/schema_global_publish.json
Labels: type: enhancement

#4181 General: Integrate thumbnail looks for thumbnail to multiple places
  openpype/plugins/publish/extract_thumbnail_from_source.py
  openpype/plugins/publish/integrate_thumbnail.py
Labels: type: bug

#4184 File transactions: Source path is destination path
  openpype/lib/file_transaction.py
  openpype/plugins/publish/integrate.py
Labels: type: enhancement

#4060 General: Oiio conversion multipart fix
  openpype/lib/transcoding.py
Labels: type: enhancement

#4165 Nuke: correct detection of viewer and display
  openpype/hosts/nuke/api/lib.py
Labels: type: bug, host: Nuke

#4110 General: Collection Audio speed up
  openpype/plugins/publish/collect_audio.py
Labels: type: enhancement

#4168 3dsmax: integration
  openpype/hosts/max/__init__.py
  openpype/hosts/max/addon.py
  openpype/hosts/max/api/__init__.py
  openpype/hosts/max/api/lib.py
  openpype/hosts/max/api/menu.py
  openpype/hosts/max/api/pipeline.py
  openpype/hosts/max/api/plugin.py
  openpype/hosts/max/hooks/set_paths.py
  openpype/hosts/max/plugins/__init__.py
  openpype/hosts/max/plugins/create/create_pointcache.py
  openpype/hosts/max/plugins/load/load_pointcache.py
  openpype/hosts/max/plugins/publish/collect_workfile.py
  openpype/hosts/max/plugins/publish/extract_pointcache.py
  openpype/hosts/max/plugins/publish/validate_scene_saved.py
  openpype/hosts/max/startup/startup.ms
  openpype/hosts/max/startup/startup.py
  openpype/resources/app_icons/3dsmax.png
  openpype/settings/defaults/system_settings/applications.json
  openpype/settings/entities/enum_entity.py
  openpype/settings/entities/schemas/system_schema/host_settings/schema_3dsmax.json
  openpype/settings/entities/schemas/system_schema/schema_applications.json
Labels: type: feature, host: 3dsmax

#2604 Houdini: Implement Arnold ROP render publishing to Deadline from Houdini
  openpype/hosts/houdini/plugins/create/create_arnold_rop.py
  openpype/hosts/houdini/plugins/publish/collect_arnold_rop.py
  openpype/hosts/houdini/plugins/publish/collect_instances.py
  openpype/hosts/houdini/plugins/publish/increment_current_file.py
  openpype/modules/deadline/plugins/publish/submit_houdini_render_deadline.py
  openpype/modules/deadline/plugins/publish/submit_publish_job.py
Labels: host: Houdini, module: Deadline, type: feature

#4192 Feature/op 4397 gl tf extractor for maya
  openpype/hosts/maya/api/gltf.py
  openpype/hosts/maya/plugins/publish/collect_gltf.py
  openpype/hosts/maya/plugins/publish/extract_gltf.py
  openpype/plugins/publish/collect_resources_path.py
  openpype/plugins/publish/integrate.py
  openpype/plugins/publish/integrate_legacy.py
  openpype/settings/defaults/project_settings/maya.json
  openpype/settings/entities/schemas/projects_schema/schemas/schema_maya_publish.json
Labels: host: Maya, type: feature

#4196 Maya: Enhanced ASS publishing
  openpype/hosts/maya/plugins/create/create_ass.py
  openpype/hosts/maya/plugins/publish/collect_ass.py
  openpype/hosts/maya/plugins/publish/extract_ass.py
  openpype/settings/defaults/project_settings/maya.json
  openpype/settings/entities/schemas/projects_schema/schemas/schema_maya_create.json
Labels: type: enhancement, host: Maya

#4174 Maya: Extractor for Unreal SkeletalMesh
  openpype/hosts/maya/plugins/create/create_unreal_skeletalmesh.py
  openpype/hosts/maya/plugins/publish/extract_unreal_skeletalmesh_abc.py
  openpype/hosts/maya/plugins/publish/extract_unreal_skeletalmesh_fbx.py
  openpype/hosts/maya/plugins/publish/validate_skeletalmesh_hierarchy.py
  openpype/hosts/maya/plugins/publish/validate_skeletalmesh_triangulated.py
  openpype/hosts/unreal/plugins/load/load_geometrycache_abc.py
  openpype/hosts/unreal/plugins/load/load_skeletalmesh_abc.py
  openpype/hosts/unreal/plugins/load/load_skeletalmesh_fbx.py
  openpype/hosts/unreal/plugins/load/load_staticmesh_abc.py
  openpype/hosts/unreal/plugins/load/load_staticmesh_fbx.py
Labels: host: Maya, host: UE, type: feature

#4127 Unreal: Load Alembic Animations
  openpype/hosts/unreal/plugins/load/load_alembic_animation.py
Labels: host: UE, type: feature

#4172 Various minor bugfixes
  openpype/modules/ftrack/event_handlers_server/event_first_version_status.py
  openpype/settings/defaults/project_settings/maya.json
  openpype/tools/standalonepublish/widgets/widget_family.py
Labels: type: bug

#4131 Maya: create and publish bounding box geometry
  openpype/hosts/maya/plugins/create/create_proxy_abc.py
  openpype/hosts/maya/plugins/load/actions.py
  openpype/hosts/maya/plugins/load/load_abc_to_standin.py
  openpype/hosts/maya/plugins/load/load_gpucache.py
  openpype/hosts/maya/plugins/load/load_reference.py
  openpype/hosts/maya/plugins/publish/extract_proxy_abc.py
  openpype/hosts/maya/plugins/publish/validate_animation_out_set_related_node_ids.py
  openpype/hosts/maya/plugins/publish/validate_frame_range.py
  openpype/plugins/publish/collect_resources_path.py
  openpype/plugins/publish/integrate.py
  openpype/plugins/publish/integrate_legacy.py
  openpype/settings/defaults/project_settings/maya.json
  openpype/settings/entities/schemas/projects_schema/schemas/schema_maya_create.json
  openpype/settings/entities/schemas/projects_schema/schemas/schema_maya_publish.json
  openpype/settings/entities/schemas/projects_schema/schemas/template_publish_families.json
Labels: type: enhancement, host: Maya

#4156 Settings UI: Don't create QApplication if already exists
  openpype/tools/settings/__init__.py
Labels: type: bug

#4201 Maya: pointcache
  openpype/hosts/maya/api/lib.py
  openpype/hosts/maya/plugins/publish/extract_pointcache.py
Labels: type: bug, host: Maya

#4087 Maya: keep existing AOVs when creating render instance
  openpype/hosts/maya/api/lib_rendersettings.py
  openpype/settings/defaults/project_settings/maya.json
  openpype/settings/entities/schemas/projects_schema/schemas/schema_maya_render_settings.json
Labels: type: enhancement, host: Maya

#4185 Documentation: Testing on Deadline
  website/docs/assets/deadline_job_version.png
  website/docs/dev_deadline.md
  website/sidebars.js
Labels: type: documentation

#4147 Maya: Enable thumbnail transparency on extraction.
  openpype/hosts/maya/plugins/publish/extract_thumbnail.py
Labels: type: enhancement, host: Maya

#4208 Build: update to Gazu in toml
  pyproject.toml
Labels: type: enhancement

#4203 General: Default command for headless mode is interactive
  openpype/cli.py
Labels: type: enhancement

#4215 General: Use qtpy in settings UI
  openpype/tools/settings/__init__.py
  openpype/tools/settings/local_settings/apps_widget.py
  openpype/tools/settings/local_settings/environments_widget.py
  openpype/tools/settings/local_settings/experimental_widget.py
  openpype/tools/settings/local_settings/general_widget.py
  openpype/tools/settings/local_settings/mongo_widget.py
  openpype/tools/settings/local_settings/projects_widget.py
  openpype/tools/settings/local_settings/widgets.py
  openpype/tools/settings/local_settings/window.py
  openpype/tools/settings/settings/base.py
  openpype/tools/settings/settings/breadcrumbs_widget.py
  openpype/tools/settings/settings/categories.py
  openpype/tools/settings/settings/color_widget.py
  openpype/tools/settings/settings/constants.py
  openpype/tools/settings/settings/dialogs.py
  openpype/tools/settings/settings/dict_conditional.py
  openpype/tools/settings/settings/dict_mutable_widget.py
  openpype/tools/settings/settings/images/__init__.py
  openpype/tools/settings/settings/item_widgets.py
  openpype/tools/settings/settings/lib.py
  openpype/tools/settings/settings/list_item_widget.py
  openpype/tools/settings/settings/list_strict_widget.py
  openpype/tools/settings/settings/multiselection_combobox.py
  openpype/tools/settings/settings/search_dialog.py
  openpype/tools/settings/settings/tests.py
  openpype/tools/settings/settings/widgets.py
  openpype/tools/settings/settings/window.py
  openpype/tools/settings/settings/wrapper_widgets.py
Labels: refactor

#4220 Houdini: Use new interface class name for publish host
  openpype/hosts/houdini/api/pipeline.py
Labels: type: enhancement, host: Houdini

#4182 Deadline: improve environment processing
  openpype/modules/deadline/plugins/publish/submit_publish_job.py
Labels: type: enhancement, module: Deadline

#4098 layout publish more than one container issue
  openpype/hosts/maya/plugins/create/create_layout.py
  openpype/hosts/maya/plugins/publish/extract_layout.py
Labels: host: Maya

#4228 Blender: Fix Layout Family Versioning
  openpype/hosts/blender/plugins/load/load_layout_blend.py
Labels: type: bug, host: Blender

#4210 General: Event callbacks pass event to callbacks as expected
  openpype/lib/events.py
Labels: type: bug

#4225 General: Use qtpy in modules and hosts UIs which are running in OpenPype process
  openpype/hosts/aftereffects/api/launch_logic.py
  openpype/hosts/aftereffects/api/lib.py
  openpype/hosts/aftereffects/api/pipeline.py
  openpype/hosts/blender/api/ops.py
  openpype/hosts/fusion/api/menu.py
  openpype/hosts/fusion/api/pipeline.py
  openpype/hosts/fusion/api/pulse.py
  openpype/hosts/fusion/deploy/MenuScripts/install_pyside2.py
  openpype/hosts/fusion/deploy/Scripts/Comp/OpenPype/switch_ui.py
  openpype/hosts/fusion/plugins/inventory/set_tool_color.py
  openpype/hosts/fusion/scripts/set_rendermode.py
  openpype/hosts/harmony/api/lib.py
  openpype/hosts/photoshop/api/launch_logic.py
  openpype/hosts/photoshop/api/lib.py
  openpype/hosts/photoshop/api/pipeline.py
  openpype/hosts/photoshop/plugins/create/create_legacy_image.py
  openpype/hosts/tvpaint/api/launch_script.py
  openpype/hosts/tvpaint/plugins/create/create_render_layer.py
  openpype/hosts/unreal/api/tools_ui.py
  openpype/modules/avalon_apps/avalon_app.py
  openpype/modules/clockify/clockify_module.py
  openpype/modules/clockify/widgets.py
  openpype/modules/example_addons/example_addon/widgets.py
  openpype/modules/ftrack/tray/ftrack_tray.py
  openpype/modules/ftrack/tray/login_dialog.py
  openpype/modules/interfaces.py
  openpype/modules/kitsu/kitsu_widgets.py
  openpype/modules/log_viewer/log_view_module.py
  openpype/modules/log_viewer/tray/app.py
  openpype/modules/log_viewer/tray/models.py
  openpype/modules/log_viewer/tray/widgets.py
  openpype/modules/muster/muster.py
  openpype/modules/muster/widget_login.py
  openpype/modules/python_console_interpreter/window/widgets.py
  openpype/modules/shotgrid/tray/credential_dialog.py
  openpype/modules/shotgrid/tray/shotgrid_tray.py
  openpype/modules/sync_server/sync_server_module.py
  openpype/modules/sync_server/tray/app.py
  openpype/modules/sync_server/tray/delegates.py
  openpype/modules/sync_server/tray/models.py
  openpype/modules/sync_server/tray/widgets.py
  openpype/modules/timers_manager/idle_threads.py
  openpype/modules/timers_manager/widget_user_idle.py
  openpype/modules/webserver/host_console_listener.py
Labels: refactor

#4230 Publisher: Signal type issues in Python 2 DCCs
  openpype/tools/publisher/constants.py
  openpype/tools/publisher/widgets/card_view_widgets.py
Labels: type: bug

#4223 Tools: Use qtpy instead of Qt in standalone tools
  openpype/tools/context_dialog/window.py
  openpype/tools/launcher/actions.py
  openpype/tools/launcher/constants.py
  openpype/tools/launcher/delegates.py
  openpype/tools/launcher/lib.py
  openpype/tools/launcher/models.py
  openpype/tools/launcher/widgets.py
  openpype/tools/launcher/window.py
  openpype/tools/project_manager/project_manager/__init__.py
  openpype/tools/project_manager/project_manager/constants.py
  openpype/tools/project_manager/project_manager/delegates.py
  openpype/tools/project_manager/project_manager/model.py
  openpype/tools/project_manager/project_manager/multiselection_combobox.py
  openpype/tools/project_manager/project_manager/style.py
  openpype/tools/project_manager/project_manager/view.py
  openpype/tools/project_manager/project_manager/widgets.py
  openpype/tools/project_manager/project_manager/window.py
  openpype/tools/standalonepublish/app.py
  openpype/tools/standalonepublish/widgets/__init__.py
  openpype/tools/standalonepublish/widgets/model_asset.py
  openpype/tools/standalonepublish/widgets/model_filter_proxy_exact_match.py
  openpype/tools/standalonepublish/widgets/model_filter_proxy_recursive_sort.py
  openpype/tools/standalonepublish/widgets/model_tasks_template.py
  openpype/tools/standalonepublish/widgets/model_tree.py
  openpype/tools/standalonepublish/widgets/model_tree_view_deselectable.py
  openpype/tools/standalonepublish/widgets/widget_asset.py
  openpype/tools/standalonepublish/widgets/widget_component_item.py
  openpype/tools/standalonepublish/widgets/widget_components.py
  openpype/tools/standalonepublish/widgets/widget_components_list.py
  openpype/tools/standalonepublish/widgets/widget_drop_empty.py
  openpype/tools/standalonepublish/widgets/widget_drop_frame.py
  openpype/tools/standalonepublish/widgets/widget_family.py
  openpype/tools/standalonepublish/widgets/widget_family_desc.py
  openpype/tools/standalonepublish/widgets/widget_shadow.py
  openpype/tools/stdout_broker/window.py
  openpype/tools/tray/pype_info_widget.py
  openpype/tools/tray/pype_tray.py
  openpype/tools/traypublisher/window.py
Labels: refactor

#4202 Nuke: fixed imageio node overrides subset filter
  openpype/hosts/nuke/api/lib.py
Labels: type: bug, host: Nuke

#4237 Igniter: Use qtpy modules instead of Qt
  igniter/__init__.py
  igniter/__main__.py
  igniter/install_dialog.py
  igniter/install_thread.py
  igniter/message_dialog.py
  igniter/nice_progress_bar.py
  igniter/update_thread.py
  igniter/update_window.py
  setup.py
Labels: refactor

#4234 Blender: Workfile Loader
  openpype/hosts/blender/plugins/load/import_workfile.py
Labels: host: Blender, type: feature

#4239 Nuke: Use qtpy in Nuke
  openpype/hosts/nuke/api/lib.py
Labels: host: Nuke, refactor

#4204 Flame - loading multilayer with controlled layer names
  openpype/hosts/flame/api/plugin.py
  openpype/hosts/flame/plugins/load/load_clip.py
  openpype/hosts/flame/plugins/load/load_clip_batch.py
  openpype/settings/defaults/project_settings/flame.json
  openpype/settings/entities/schemas/projects_schema/schema_project_flame.json
Labels: type: enhancement, host: Flame

#4240 Hiero: Use qtpy in Hiero
  openpype/hosts/hiero/api/launchforhiero.py
  openpype/hosts/hiero/api/lib.py
  openpype/hosts/hiero/api/menu.py
  openpype/hosts/hiero/api/plugin.py
  openpype/hosts/hiero/plugins/publish/precollect_workfile.py
Labels: host: Hiero, refactor

#4238 Flame: Use qtpy in flame
  openpype/hosts/flame/api/menu.py
  openpype/hosts/flame/api/plugin.py
  openpype/hosts/flame/startup/openpype_babypublisher/modules/panel_app.py
  openpype/hosts/flame/startup/openpype_babypublisher/modules/uiwidgets.py
  openpype/hosts/flame/startup/openpype_in_flame.py
Labels: host: Flame, refactor

#4245 General: Fill default values of new publish template profiles
  openpype/settings/defaults/project_settings/global.json
Labels: deprecated

#4214 General: Extend 'IPluginPaths' to have more available methods
  openpype/modules/base.py
  openpype/modules/interfaces.py
  openpype/pipeline/context_tools.py
Labels: type: enhancement

#4247 General: Update gazu in poetry lock
  poetry.lock
Labels: type: bug

#4249 Publisher: Fix 'CreatorType' not equal for Python 2 DCCs
  openpype/tools/publisher/control.py
Labels: type: bug

#4253 NiceCheckbox: Fix checker positioning in Python 2
  openpype/widgets/nice_checkbox.py
Labels: type: bug

#4250 Maya: Use qtpy in Maya
  openpype/hosts/maya/api/commands.py
  openpype/hosts/maya/api/lib.py
  openpype/hosts/maya/api/menu.py
  openpype/hosts/maya/api/pipeline.py
  openpype/hosts/maya/api/shader_definition_editor.py
  openpype/hosts/maya/plugins/load/actions.py
  openpype/hosts/maya/plugins/load/load_image_plane.py
  openpype/hosts/maya/plugins/load/load_look.py
  openpype/hosts/maya/plugins/publish/validate_assembly_transforms.py
Labels: host: Maya, refactor

#4251 Max: Use qtpy in Max
  openpype/hosts/max/api/menu.py
Labels: refactor, host: 3dsmax

#4252 Houdini: Use qtpy in Houdini
  openpype/hosts/houdini/api/usd.py
Labels: host: Houdini, refactor

#4257 hiero: creator gui with min max
  openpype/hosts/hiero/api/plugin.py
Labels: type: bug, host: Hiero

#4236 Houdini: hotfix instance data access
  openpype/hosts/houdini/plugins/create/create_hda.py
  openpype/hosts/houdini/plugins/publish/collect_active_state.py
  openpype/hosts/houdini/plugins/publish/collect_redshift_rop.py
  openpype/hosts/houdini/plugins/publish/collect_usd_layers.py
  openpype/hosts/houdini/plugins/publish/extract_redshift_proxy.py
  openpype/hosts/houdini/plugins/publish/extract_usd.py
  openpype/hosts/houdini/plugins/publish/extract_usd_layered.py
  openpype/hosts/houdini/plugins/publish/extract_vdb_cache.py
  openpype/hosts/houdini/plugins/publish/validate_animation_settings.py
  openpype/hosts/houdini/plugins/publish/validate_bypass.py
  openpype/hosts/houdini/plugins/publish/validate_cop_output_node.py
  openpype/hosts/houdini/plugins/publish/validate_frame_token.py
  openpype/hosts/houdini/plugins/publish/validate_no_errors.py
  openpype/hosts/houdini/plugins/publish/validate_usd_layer_path_backslashes.py
  openpype/hosts/houdini/plugins/publish/validate_usd_model_and_shade.py
  openpype/hosts/houdini/plugins/publish/validate_usd_output_node.py
  openpype/hosts/houdini/plugins/publish/validate_usd_setdress.py
  openpype/hosts/houdini/plugins/publish/validate_usd_shade_workspace.py
  openpype/hosts/houdini/plugins/publish/validate_vdb_output_node.py
Labels: type: bug, host: Houdini

#4211 Refactorization of folder coloring
  openpype/hosts/unreal/integration/UE_4.7/Config/DefaultOpenPypeSettings.ini
  openpype/hosts/unreal/integration/UE_4.7/Source/OpenPype/OpenPype.Build.cs
  openpype/hosts/unreal/integration/UE_4.7/Source/OpenPype/Private/OpenPype.cpp
  openpype/hosts/unreal/integration/UE_4.7/Source/OpenPype/Private/OpenPypeLib.cpp
  openpype/hosts/unreal/integration/UE_4.7/Source/OpenPype/Private/OpenPypePublishInstance.cpp
  openpype/hosts/unreal/integration/UE_4.7/Source/OpenPype/Private/OpenPypeSettings.cpp
  openpype/hosts/unreal/integration/UE_4.7/Source/OpenPype/Public/OpenPype.h
  openpype/hosts/unreal/integration/UE_4.7/Source/OpenPype/Public/OpenPypeLib.h
  openpype/hosts/unreal/integration/UE_4.7/Source/OpenPype/Public/OpenPypePublishInstance.h
  openpype/hosts/unreal/integration/UE_4.7/Source/OpenPype/Public/OpenPypeSettings.h
  openpype/hosts/unreal/integration/UE_5.0/Config/DefaultOpenPypeSettings.ini
  openpype/hosts/unreal/integration/UE_5.0/Source/OpenPype/OpenPype.Build.cs
  openpype/hosts/unreal/integration/UE_5.0/Source/OpenPype/Private/OpenPype.cpp
  openpype/hosts/unreal/integration/UE_5.0/Source/OpenPype/Private/OpenPypeLib.cpp
  openpype/hosts/unreal/integration/UE_5.0/Source/OpenPype/Private/OpenPypePublishInstance.cpp
  openpype/hosts/unreal/integration/UE_5.0/Source/OpenPype/Private/OpenPypeSettings.cpp
  openpype/hosts/unreal/integration/UE_5.0/Source/OpenPype/Public/OpenPype.h
  openpype/hosts/unreal/integration/UE_5.0/Source/OpenPype/Public/OpenPypeLib.h
  openpype/hosts/unreal/integration/UE_5.0/Source/OpenPype/Public/OpenPypePublishInstance.h
  openpype/hosts/unreal/integration/UE_5.0/Source/OpenPype/Public/OpenPypeSettings.h
Labels: type: enhancement, host: UE

#4222 bugfix/image plane load error
  openpype/hosts/maya/plugins/load/load_image_plane.py
Labels: type: bug, host: Maya
