Repository ynput/OpenPype, pull requests merged in 2023-05, with the labels that each got.

#4871 Photoshop: add autocreators for review and flat image
  openpype/hosts/photoshop/lib.py
  openpype/hosts/photoshop/plugins/create/create_flatten_image.py
  openpype/hosts/photoshop/plugins/create/create_image.py
  openpype/hosts/photoshop/plugins/create/create_review.py
  openpype/hosts/photoshop/plugins/create/create_workfile.py
  openpype/hosts/photoshop/plugins/publish/collect_auto_image.py
  openpype/hosts/photoshop/plugins/publish/collect_auto_review.py
  openpype/hosts/photoshop/plugins/publish/collect_auto_workfile.py
  openpype/hosts/photoshop/plugins/publish/collect_instances.py
  openpype/hosts/photoshop/plugins/publish/collect_review.py
  openpype/hosts/photoshop/plugins/publish/collect_workfile.py
  openpype/hosts/photoshop/plugins/publish/extract_review.py
  openpype/settings/defaults/project_settings/photoshop.json
  openpype/settings/entities/schemas/projects_schema/schema_project_photoshop.json
  tests/integration/hosts/photoshop/test_publish_in_photoshop_auto_image.py
  tests/integration/hosts/photoshop/test_publish_in_photoshop_review.py
  website/docs/admin_hosts_photoshop.md
  website/docs/assets/admin_hosts_photoshop_settings.png
  website/sidebars.js
Labels: sponsored, host: Photoshop, size/M

#4722 Fix: Locally copied version of last published workfile is not incremented
  openpype/modules/sync_server/launch_hooks/pre_copy_last_published_workfile.py
  openpype/modules/sync_server/sync_server.py
  openpype/modules/sync_server/sync_server_module.py
  website/docs/module_site_sync.md
Labels: type: bug, type: documentation, module: Sitesync, size/M

#4929 Maya: soft-fail when pan/zoom locked on camera when playblasting
  openpype/hosts/maya/plugins/publish/extract_playblast.py
Labels: type: bug, host: Maya, size/XS

#4917 Maya: Validate Attributes
  openpype/hosts/maya/plugins/publish/validate_attributes.py
Labels: type: bug, host: Maya, size/XS

#4904 Maya Load References - Add Display Handle Setting
  openpype/hosts/maya/plugins/load/load_reference.py
  openpype/settings/defaults/project_settings/maya.json
  openpype/settings/entities/schemas/projects_schema/schemas/schema_maya_load.json
Labels: host: Maya, size/XS

#4898 Houdini: Workfile icon in new publisher
  openpype/hosts/houdini/plugins/create/create_workfile.py
Labels: type: enhancement, host: Houdini, community contribution, size/XS

#4881 Houdini: ExtractOpenGL for Review instance not optional
  openpype/hosts/houdini/plugins/publish/extract_opengl.py
Labels: type: enhancement, host: Houdini, community contribution, size/XS

#4874 Houdini: Don't error in collect review if camera is not set correctly
  openpype/hosts/houdini/plugins/publish/collect_review_data.py
  openpype/hosts/houdini/plugins/publish/validate_scene_review.py
Labels: type: bug, type: enhancement, host: Houdini, community contribution, size/XS

#4283 Substance Painter Integration
  openpype/hooks/pre_add_last_workfile_arg.py
  openpype/hooks/pre_host_set_ocio.py
  openpype/hosts/substancepainter/__init__.py
  openpype/hosts/substancepainter/addon.py
  openpype/hosts/substancepainter/api/__init__.py
  openpype/hosts/substancepainter/api/colorspace.py
  openpype/hosts/substancepainter/api/lib.py
  openpype/hosts/substancepainter/api/pipeline.py
  openpype/hosts/substancepainter/deploy/plugins/openpype_plugin.py
  openpype/hosts/substancepainter/deploy/startup/openpype_load_on_first_run.py
  openpype/hosts/substancepainter/plugins/create/create_textures.py
  openpype/hosts/substancepainter/plugins/create/create_workfile.py
  openpype/hosts/substancepainter/plugins/load/load_mesh.py
  openpype/hosts/substancepainter/plugins/publish/collect_current_file.py
  openpype/hosts/substancepainter/plugins/publish/collect_textureset_images.py
  openpype/hosts/substancepainter/plugins/publish/collect_workfile_representation.py
  openpype/hosts/substancepainter/plugins/publish/extract_textures.py
  openpype/hosts/substancepainter/plugins/publish/increment_workfile.py
  openpype/hosts/substancepainter/plugins/publish/save_workfile.py
  openpype/hosts/substancepainter/plugins/publish/validate_ouput_maps.py
  openpype/plugins/publish/extract_thumbnail.py
  openpype/plugins/publish/integrate.py
  openpype/resources/app_icons/substancepainter.png
  openpype/settings/defaults/project_settings/substancepainter.json
  openpype/settings/defaults/system_settings/applications.json
  openpype/settings/entities/enum_entity.py
  openpype/settings/entities/schemas/projects_schema/schema_main.json
  openpype/settings/entities/schemas/projects_schema/schema_project_substancepainter.json
  openpype/settings/entities/schemas/system_schema/host_settings/schema_substancepainter.json
  openpype/settings/entities/schemas/system_schema/schema_applications.json
  openpype/style/style.css
  website/docs/artist_hosts_substancepainter.md
  website/docs/assets/substancepainter_pbrmetallicroughness_export_preset.png
  website/docs/assets/substancepainter_pbrmetallicroughness_published.png
Labels: type: documentation, type: feature, community contribution, host: Substance Painter, size/XL

#4834 Houdini: Add null node as output indicator when using TAB search
  openpype/hosts/houdini/api/creator_node_shelves.py
  openpype/hosts/houdini/api/plugin.py
  openpype/hosts/houdini/plugins/create/create_alembic_camera.py
  openpype/hosts/houdini/plugins/create/create_composite.py
  openpype/hosts/houdini/plugins/create/create_pointcache.py
  openpype/hosts/houdini/plugins/create/create_usd.py
  openpype/hosts/houdini/plugins/create/create_vbd_cache.py
Labels: type: enhancement, host: Houdini, community contribution, size/XS

#4884 AfterEffects: add review flag to each instance
  openpype/hosts/aftereffects/plugins/create/create_render.py
  openpype/hosts/aftereffects/plugins/publish/collect_render.py
  openpype/hosts/aftereffects/plugins/publish/collect_review.py
  openpype/hosts/aftereffects/plugins/publish/extract_local_render.py
  openpype/modules/deadline/plugins/publish/submit_publish_job.py
  openpype/pipeline/publish/abstract_collect_render.py
  openpype/settings/defaults/project_settings/aftereffects.json
  openpype/settings/entities/schemas/projects_schema/schema_project_aftereffects.json
  tests/integration/hosts/aftereffects/test_deadline_publish_in_aftereffects_multicomposition.py
Labels: sponsored, host: After Effects, type: feature, size/S

#4937 Bug: add missing `pyblish.util` import
  openpype/pipeline/publish/lib.py
Labels: type: bug, size/XS

#4938 Unreal: Fix missing 'object_path' property
  openpype/hosts/unreal/plugins/load/load_animation.py
  openpype/hosts/unreal/plugins/load/load_layout.py
Labels: type: bug, host: UE, size/XS

#4815 Maya Template Builder - Remove default cameras from renderable cameras
  openpype/hosts/maya/api/workfile_template_builder.py
Labels: type: enhancement, host: Maya, community contribution, size/XS

#4845 Bugfix - Update gazu to 0.9.3
  poetry.lock
  pyproject.toml
Labels: type: bug, Bump Minor, community contribution, size/S

#4797 Maya template builder - preserve all references when importing a template
  openpype/hosts/maya/api/workfile_template_builder.py
Labels: type: enhancement, host: Maya, community contribution, size/XS

#4956 Unreal: Fix camera frame range
  openpype/hosts/unreal/plugins/load/load_camera.py
Labels: type: bug, host: UE, size/XS

#4829 Houdini: Fix slow Houdini launch due to shelves generation
  openpype/hosts/houdini/api/pipeline.py
Labels: type: bug, host: Houdini, community contribution, size/XS

#4912 Fusion - Fixed "optional validation"
  openpype/hosts/fusion/plugins/publish/increment_current_file.py
  openpype/hosts/fusion/plugins/publish/validate_background_depth.py
Labels: type: bug, host: Fusion, community contribution, size/XS

#4963 Unreal: Fix render extraction
  openpype/hosts/unreal/plugins/publish/collect_render_instances.py
  openpype/hosts/unreal/plugins/publish/extract_render.py
Labels: type: bug, host: UE, size/XS

#4965 Unreal: Remove Python 3.8 syntax from addon
  openpype/hosts/unreal/addon.py
Labels: type: bug, host: UE, size/XS

#4964 General: Remove ayon api from poetry lock
  poetry.lock
  pyproject.toml
Labels: type: bug, Bump Minor

#4927 Add "shortcut" to Scripts Menu Definition
  openpype/vendor/python/common/scriptsmenu/scriptsmenu.py
Labels: community contribution, size/XS

#4967 Ftrack: Fix AYON settings conversion
  openpype/settings/ayon_settings.py
Labels: type: bug, module: Ftrack, size/XS

#4940 General: fix build_workfile get_linked_assets missing project_name arg
  openpype/pipeline/workfile/build_workfile.py
Labels: type: bug, community contribution, size/XS

#4893 Addons directory
  .gitignore
  openpype/addons/README.md
  openpype/modules/base.py
Labels: type: feature, community contribution, size/XS

#4923 Kitsu - Add "image", "online" and "plate" to review families
  openpype/modules/kitsu/plugins/publish/integrate_kitsu_note.py
  openpype/modules/kitsu/plugins/publish/integrate_kitsu_review.py
  openpype/settings/defaults/project_settings/global.json
Labels: type: feature, module: Kitsu, community contribution, size/XS

#4970 AYON: Linux & MacOS launch script
  tools/run_tray_ayon.ps1
  tools/run_tray_ayon.sh
Labels: type: enhancement, Bump Minor, size/XS

#4930 Feature/remove and load inv action
  openpype/pipeline/context_tools.py
  openpype/plugins/inventory/remove_and_load.py
Labels: type: feature, community contribution, size/XS

#4971 Maya: Validate shader name - OP-5903
  openpype/hosts/maya/plugins/publish/validate_shader_name.py
  openpype/settings/defaults/project_settings/maya.json
  openpype/settings/entities/schemas/projects_schema/schemas/schema_maya_publish.json
Labels: type: bug, host: Maya, size/XS

#4729 3dsMax: render dialogue needs to be closed
  openpype/hosts/max/api/lib.py
  openpype/hosts/max/api/lib_rendersettings.py
  openpype/hosts/max/api/pipeline.py
  openpype/hosts/max/plugins/create/create_render.py
  openpype/hosts/max/plugins/publish/validate_resolution_setting.py
Labels: type: enhancement, sponsored, host: 3dsmax, size/XS

#4914 Validators for Frame Range in Max
  openpype/hosts/max/api/lib.py
  openpype/hosts/max/api/lib_renderproducts.py
  openpype/hosts/max/api/lib_rendersettings.py
  openpype/hosts/max/plugins/publish/collect_render.py
  openpype/hosts/max/plugins/publish/validate_frame_range.py
  openpype/settings/defaults/project_settings/max.json
  openpype/settings/entities/schemas/projects_schema/schema_project_max.json
  openpype/settings/entities/schemas/projects_schema/schemas/schema_max_publish.json
Labels: type: enhancement, sponsored, host: 3dsmax, size/S

#4943 Fusion: Saver creator settings
  openpype/hosts/fusion/plugins/create/create_saver.py
  openpype/settings/defaults/project_settings/fusion.json
  openpype/settings/entities/schemas/projects_schema/schema_project_fusion.json
Labels: type: enhancement, host: Fusion, size/S

#4972 Unreal: Fix transform when loading layout to match existing assets
  openpype/hosts/unreal/plugins/load/load_layout_existing.py
Labels: type: bug, host: UE, size/XS

#4946 Global: Move PyOpenColorIO to vendor/python
  pyproject.toml
  tools/fetch_thirdparty_libs.py
Labels: Bump Minor, community contribution, size/XS

#4975 AYON: General fixes and updates
  openpype/client/server/conversion_utils.py
  openpype/client/server/entities.py
  openpype/hosts/maya/api/lib.py
  openpype/hosts/maya/startup/userSetup.py
  openpype/settings/ayon_settings.py
  openpype/vendor/python/common/ayon_api/entity_hub.py
  openpype/vendor/python/common/ayon_api/graphql_queries.py
  openpype/vendor/python/common/ayon_api/server_api.py
  openpype/vendor/python/common/ayon_api/version.py
Labels: type: bug, host: Maya, Bump Minor, size/XS

#4978 Bugfix/frame variable fix
  openpype/hosts/max/api/lib.py
  openpype/hosts/maya/api/lib.py
  openpype/hosts/nuke/api/lib.py
Labels: type: bug, host: Nuke, host: Maya, host: 3dsmax, size/XS

#4985 Blender: Fix Alembic loading
  openpype/hosts/blender/plugins/load/load_abc.py
Labels: type: bug, sponsored, host: Blender, size/XS

#4984 AfterEffects: allow returning stub with not saved workfile
  openpype/hosts/aftereffects/api/pipeline.py
Labels: type: bug, sponsored, host: After Effects, size/XS

#4977 fix the bug of fbx loaders in Max
  openpype/hosts/max/plugins/load/load_camera_fbx.py
  openpype/hosts/max/plugins/load/load_model_fbx.py
Labels: type: bug, sponsored, host: 3dsmax, size/XS

#4877 Load Rig References - Change Rig to Animation in Animation instance
  openpype/hosts/maya/api/lib.py
  openpype/hosts/maya/api/plugin.py
  openpype/hosts/maya/plugins/load/load_reference.py
  website/docs/admin_hosts_maya.md
Labels: type: enhancement, host: Maya, type: documentation, community contribution, size/XS

#4942 Fix: Download last workfile doesn't work if not already downloaded
  openpype/modules/sync_server/sync_server.py
Labels: type: bug, module: Sitesync, community contribution, size/XS

#4993 General: Fix Python 2 vendor for arrow
  openpype/modules/ftrack/ftrack_module.py
  openpype/vendor/python/python_2/backports/__init__.py
  openpype/vendor/python/python_2/backports/configparser/__init__.py
  openpype/vendor/python/python_2/backports/configparser/helpers.py
  openpype/vendor/python/python_2/backports/functools_lru_cache.py
  openpype/vendor/python/python_2/builtins/__init__.py
Labels: type: bug, module: Ftrack, Bump Minor, size/XS

#4989 AYON: Missing files on representations
  openpype/client/server/conversion_utils.py
  openpype/client/server/operations.py
Labels: type: bug, Bump Minor, size/XS

#4994 Unreal: Addon Py2 compatibility
  openpype/hosts/unreal/addon.py
  openpype/hosts/unreal/lib.py
Labels: type: bug, host: UE, size/XS

#4983 AfterEffects: set frame range and resolution
  openpype/hosts/aftereffects/api/__init__.py
  openpype/hosts/aftereffects/api/extension.zxp
  openpype/hosts/aftereffects/api/extension/CSXS/manifest.xml
  openpype/hosts/aftereffects/api/extension/index.html
  openpype/hosts/aftereffects/api/extension/js/main.js
  openpype/hosts/aftereffects/api/extension/jsx/hostscript.jsx
  openpype/hosts/aftereffects/api/launch_logic.py
  openpype/hosts/aftereffects/api/lib.py
  openpype/hosts/aftereffects/api/pipeline.py
  openpype/hosts/aftereffects/api/ws_stub.py
  openpype/hosts/aftereffects/plugins/create/create_render.py
  openpype/hosts/aftereffects/plugins/publish/collect_render.py
  openpype/scripts/non_python_host_launch.py
  website/docs/artist_hosts_aftereffects.md
  website/docs/assets/aftereffects_extension.png
Labels: sponsored, type: documentation, host: After Effects, type: feature, size/M

#4986 Publish: Enhance automated publish plugin settings
  openpype/pipeline/publish/__init__.py
  openpype/pipeline/publish/lib.py
  website/docs/dev_publishing.md
Labels: type: feature, size/XS

#5002 Unreal: Fix the frame range when loading camera
  openpype/hosts/unreal/plugins/load/load_camera.py
Labels: type: bug, host: UE, size/XS

#5005 DJV open action `extensions` as `set`
  openpype/plugins/load/open_djv.py
Labels: type: enhancement, type: refactor, size/XS

#4991 General: Version attributes integration
  openpype/plugins/publish/integrate_version_attrs.py
Labels: Bump Minor, type: feature, size/XS

#4999 Nuke: fixed missing files key in representation
  openpype/hosts/nuke/plugins/publish/collect_writes.py
Labels: type: bug, host: Nuke, size/XS

#4916 Enhancement: Resolve prelaunch code refactoring and update defaults
  openpype/hosts/resolve/hooks/pre_resolve_setup.py
  openpype/hosts/resolve/utils.py
  openpype/settings/defaults/system_settings/applications.json
Labels: type: enhancement, host: Resolve, community contribution, size/XS

#4915 Publisher: Show instances in report page
  openpype/pipeline/publish/lib.py
  openpype/style/data.json
  openpype/style/style.css
  openpype/tools/attribute_defs/files_widget.py
  openpype/tools/publisher/constants.py
  openpype/tools/publisher/control.py
  openpype/tools/publisher/publish_report_viewer/widgets.py
  openpype/tools/publisher/widgets/__init__.py
  openpype/tools/publisher/widgets/card_view_widgets.py
  openpype/tools/publisher/widgets/images/error.png
  openpype/tools/publisher/widgets/images/success.png
  openpype/tools/publisher/widgets/images/warning.png
  openpype/tools/publisher/widgets/publish_frame.py
  openpype/tools/publisher/widgets/report_page.py
  openpype/tools/publisher/widgets/thumbnail_widget.py
  openpype/tools/publisher/widgets/validations_widget.py
  openpype/tools/publisher/widgets/widgets.py
  openpype/tools/publisher/window.py
  openpype/tools/utils/__init__.py
  openpype/tools/utils/layouts.py
  openpype/tools/utils/widgets.py
Labels: type: feature, tool: Publisher, size/XL

#5013 Fusion: fixing frame range targeting
  openpype/hosts/fusion/api/lib.py
  openpype/hosts/fusion/plugins/create/create_saver.py
  openpype/hosts/fusion/plugins/publish/collect_render.py
  openpype/hosts/fusion/plugins/publish/extract_render_local.py
  openpype/hosts/fusion/plugins/publish/validate_instance_frame_range.py
  openpype/pipeline/publish/abstract_collect_render.py
Labels: type: bug, host: Fusion, size/XS

#5003 General: Lib code cleanup
  openpype/lib/__init__.py
  openpype/lib/events.py
  openpype/lib/execute.py
  openpype/lib/python_2_comp.py
  openpype/lib/python_module_tools.py
  openpype/pipeline/publish/lib.py
Labels: type: enhancement, size/S

#5018 Enhancement: Improve logging levels and messages for artist facing publish reports
  openpype/hosts/fusion/plugins/publish/collect_inputs.py
  openpype/hosts/fusion/plugins/publish/save_scene.py
  openpype/hosts/houdini/plugins/publish/collect_frames.py
  openpype/hosts/houdini/plugins/publish/collect_inputs.py
  openpype/hosts/houdini/plugins/publish/collect_instances.py
  openpype/hosts/houdini/plugins/publish/collect_workfile.py
  openpype/hosts/houdini/plugins/publish/save_scene.py
  openpype/hosts/houdini/plugins/publish/validate_workfile_paths.py
  openpype/hosts/maya/plugins/publish/collect_inputs.py
  openpype/hosts/maya/plugins/publish/save_scene.py
  openpype/hosts/substancepainter/plugins/publish/save_workfile.py
  openpype/modules/deadline/plugins/publish/submit_fusion_deadline.py
  openpype/modules/deadline/plugins/publish/submit_nuke_deadline.py
  openpype/modules/deadline/plugins/publish/submit_publish_job.py
  openpype/modules/deadline/plugins/publish/validate_deadline_pools.py
  openpype/pipeline/publish/publish_plugins.py
  openpype/plugins/publish/cleanup.py
  openpype/plugins/publish/collect_anatomy_context_data.py
  openpype/plugins/publish/collect_anatomy_instance_data.py
  openpype/plugins/publish/collect_anatomy_object.py
  openpype/plugins/publish/collect_custom_staging_dir.py
  openpype/plugins/publish/collect_from_create_context.py
  openpype/plugins/publish/collect_scene_version.py
  openpype/plugins/publish/extract_burnin.py
  openpype/plugins/publish/extract_color_transcode.py
  openpype/plugins/publish/extract_review.py
  openpype/plugins/publish/extract_thumbnail.py
  openpype/plugins/publish/extract_thumbnail_from_source.py
  openpype/plugins/publish/integrate.py
  openpype/plugins/publish/integrate_legacy.py
  openpype/plugins/publish/integrate_thumbnail.py
Labels: type: enhancement, host: Nuke, host: Fusion, module: Deadline, type: refactor, tool: Publisher, size/XS

#4790 Global: plugins cleanup plugin will leave beauty rendered files
  openpype/pipeline/publish/lib.py
  openpype/plugins/publish/collect_rendered_files.py
  openpype/plugins/publish/extract_burnin.py
  openpype/plugins/publish/extract_review.py
Labels: type: bug, sponsored, size/XS

#5014 Unreal: Fix usage of 'get_full_path' function
  openpype/hosts/unreal/plugins/load/load_animation.py
  openpype/hosts/unreal/plugins/load/load_camera.py
  openpype/hosts/unreal/plugins/load/load_layout.py
Labels: type: bug, host: UE, size/XS

#5022 Settings: Added option to nest settings templates
  openpype/settings/entities/lib.py
Labels: type: enhancement, size/XS

#4928 Drop-down menu to list all families in create placeholder
  openpype/pipeline/workfile/workfile_template_builder.py
Labels: host: Nuke, host: Maya, community contribution, size/XS

#5021 Unreal: Fix sequence frames validator to use correct data
  openpype/hosts/unreal/plugins/publish/validate_sequence_frames.py
Labels: type: bug, host: UE, size/XS

#5023 Unreal: Fix render instances collection to use correct data
  openpype/hosts/unreal/plugins/publish/collect_render_instances.py
Labels: type: bug, host: UE, size/XS

#5032 Publisher: UI works with instances without label
  openpype/pipeline/publish/__init__.py
  openpype/pipeline/publish/lib.py
  openpype/plugins/publish/extract_review.py
  openpype/plugins/publish/integrate_thumbnail.py
  openpype/tools/publisher/control.py
Labels: type: bug, size/XS

#5033 Ftrack: Limit number of ftrack events to query at once
  openpype/modules/ftrack/ftrack_server/lib.py
Labels: type: enhancement, module: Ftrack, size/XS

#4992 AYON: Staging versions can be used
  common/ayon_common/distribution/addon_distribution.py
  common/ayon_common/distribution/addon_info.py
  common/ayon_common/resources/AYON_staging.png
  common/ayon_common/resources/__init__.py
  openpype/lib/openpype_version.py
  openpype/modules/base.py
  openpype/resources/__init__.py
  openpype/resources/icons/AYON_icon_staging.png
  openpype/resources/icons/AYON_splash_staging.png
  openpype/settings/ayon_settings.py
Labels: Bump Minor, type: feature, size/S

#5025 Resolve: loader is opening even if no timeline in project
  openpype/hosts/resolve/api/__init__.py
  openpype/hosts/resolve/api/lib.py
  openpype/hosts/resolve/api/plugin.py
  openpype/hosts/resolve/plugins/load/load_clip.py
  openpype/hosts/resolve/utility_scripts/OpenPype__Menu.py
  openpype/hosts/resolve/utility_scripts/README.markdown
  openpype/hosts/resolve/utility_scripts/develop/OTIO_export.py
  openpype/hosts/resolve/utility_scripts/develop/OTIO_import.py
  openpype/hosts/resolve/utility_scripts/develop/OpenPype_sync_util_scripts.py
  openpype/hosts/resolve/utility_scripts/tests/testing_timeline_op.py
  openpype/hosts/resolve/utils.py
Labels: type: bug, sponsored, host: Resolve, size/XS

#5030 nuke: callback for dirmapping is on demand
  openpype/hosts/nuke/api/pipeline.py
Labels: type: bug, host: Nuke, size/XS

#5037 General: Publish plugin apply settings can expect only project settings
  openpype/pipeline/publish/lib.py
Labels: type: enhancement, size/XS

#5034 General: Small code cleanups
  openpype/modules/ftrack/tray/login_dialog.py
  openpype/modules/muster/muster.py
  openpype/pipeline/publish/lib.py
  openpype/tools/utils/lib.py
  openpype/tools/utils/overlay_messages.py
  tests/README.md
Labels: type: enhancement, module: Ftrack, size/XS

#5008 Unreal: Implemented Creator, Loader and Extractor for Levels
  openpype/hosts/unreal/plugins/create/create_uasset.py
  openpype/hosts/unreal/plugins/load/load_uasset.py
  openpype/hosts/unreal/plugins/publish/collect_instance_members.py
  openpype/hosts/unreal/plugins/publish/extract_uasset.py
Labels: host: UE, type: feature, size/S

#5044 Publisher: Call explicitly prepared tab methods
  openpype/tools/publisher/window.py
Labels: type: bug, tool: Publisher, size/XS

#4974 General: Company name and URL changed
  inno_setup.iss
Labels: type: bug, size/XS

#4973 Maya: Skipping rendersetup for members.
  openpype/hosts/maya/plugins/publish/validate_instance_has_members.py
Labels: type: bug, host: Maya, size/XS

#4910 Deadline: escape rootless path in publish job
  openpype/modules/deadline/plugins/publish/submit_publish_job.py
Labels: type: bug, sponsored, module: Deadline, size/XS

#4987 Blender: Added setting for base unit scale
  openpype/hosts/blender/api/pipeline.py
  openpype/settings/defaults/project_settings/blender.json
  openpype/settings/entities/schemas/projects_schema/schema_project_blender.json
Labels: type: enhancement, sponsored, host: Blender, size/XS

#4990 Blender: Implemented Loading of Alembic Camera
  openpype/hosts/blender/plugins/load/load_camera_abc.py
Labels: sponsored, host: Blender, type: feature, size/S

#5058 Ftrack: Role names are not case sensitive in ftrack event server status action
  openpype/modules/ftrack/lib/ftrack_action_handler.py
  openpype/modules/ftrack/scripts/sub_event_status.py
Labels: type: bug, module: Ftrack, size/XS

#5031 General: Fix mongo secure connection
  igniter/tools.py
  openpype/client/mongo/mongo.py
Labels: type: bug, Bump Minor, size/XS

#5059 General: Qt scale enhancement
  common/ayon_common/connection/ui/lib.py
  igniter/__init__.py
  openpype/hosts/aftereffects/api/launch_logic.py
  openpype/hosts/aftereffects/api/pipeline.py
  openpype/hosts/photoshop/api/pipeline.py
  openpype/tools/context_dialog/window.py
  openpype/tools/push_to_project/app.py
  openpype/tools/settings/__init__.py
  openpype/tools/tray/pype_tray.py
  openpype/tools/traypublisher/window.py
  openpype/tools/utils/__init__.py
  openpype/tools/utils/lib.py
Labels: type: enhancement, Bump Minor, size/XS

#5036 Global: collect frames to fix with settings
  openpype/plugins/publish/collect_frames_fix.py
  openpype/settings/defaults/project_settings/global.json
  openpype/settings/entities/schemas/projects_schema/schemas/schema_global_publish.json
Labels: type: enhancement, size/XS

#5065 RuntimeError with Click on deadline publish
  poetry.lock
  pyproject.toml
Labels: Bump Minor, size/L

#5063 Publisher: Fix border widget
  openpype/tools/publisher/widgets/border_label_widget.py
Labels: type: bug, size/S

#4859 Maya: Load Assembly fix invalid imports
  openpype/hosts/maya/api/setdress.py
  openpype/hosts/maya/plugins/load/load_assembly.py
Labels: type: bug, host: Maya, community contribution, size/XS

#4919 add sync to specific projects or listen only
  openpype/modules/kitsu/kitsu_module.py
  openpype/modules/kitsu/utils/update_op_with_zou.py
  website/docs/module_kitsu.md
Labels: module: Kitsu, community contribution, size/XS

#5016 Maya: Validate Rig Output IDs
  openpype/hosts/maya/plugins/publish/validate_rig_output_ids.py
Labels: type: bug, host: Maya, community contribution, size/XS

#5045 Docs: Display wrong image in ExtractOIIOTranscode
  website/docs/project_settings/settings_project_global.md
Labels: type: documentation, community contribution, size/XS

#5066 Unreal: Fix Commandlet Project and Permissions
  openpype/hosts/unreal/ue_workers.py
  openpype/settings/defaults/project_settings/unreal.json
Labels: type: bug, host: UE, size/XS

#5070 Unreal: Added verification for Unreal app name format
  openpype/hosts/unreal/addon.py
Labels: type: bug, host: UE, size/XS

#5073 Hiero: Fix apply settings Clip Load
  openpype/hosts/hiero/plugins/load/load_clip.py
Labels: type: bug, host: Hiero, size/XS

#4960 3dsmax: Publishing Deadline jobs from RedShift
  openpype/hosts/max/api/colorspace.py
  openpype/hosts/max/api/lib_renderproducts.py
  openpype/hosts/max/plugins/create/create_render.py
  openpype/hosts/max/plugins/publish/collect_render.py
  openpype/hosts/max/plugins/publish/save_scene.py
  openpype/hosts/max/plugins/publish/validate_deadline_publish.py
  openpype/modules/deadline/abstract_submit_deadline.py
  openpype/modules/deadline/plugins/publish/submit_max_deadline.py
Labels: type: bug, sponsored, module: Deadline, host: 3dsmax, size/XS
