Repository ynput/OpenPype, pull requests merged in 2023-12, with the labels that each got.

#5977 nuke: updating name for custom tools menu item
  server_addon/nuke/server/settings/scriptsmenu.py
  server_addon/nuke/server/version.py
Labels: type: enhancement, host: Nuke, size/XS

#5962 SiteSync: implemented in Ayon Loader
  openpype/tools/attribute_defs/widgets.py
  openpype/tools/ayon_loader/abstract.py
  openpype/tools/ayon_loader/control.py
  openpype/tools/ayon_loader/models/__init__.py
  openpype/tools/ayon_loader/models/products.py
  openpype/tools/ayon_loader/models/site_sync.py
  openpype/tools/ayon_loader/ui/products_delegates.py
  openpype/tools/ayon_loader/ui/products_model.py
  openpype/tools/ayon_loader/ui/products_widget.py
  openpype/tools/ayon_loader/ui/repres_widget.py
Labels: type: feature, size/S

#5984 Testing: Skip Arnold license for test rendering.
  tests/integration/hosts/maya/test_deadline_publish_in_maya/input/workfile/test_project_test_asset_test_task_v001.ma
Labels: type: enhancement, host: Maya, sponsored, module: Deadline, size/XS

#5958 RoyalRender: inject submitter environment to the royal render job
  openpype/modules/royalrender/lib.py
  openpype/modules/royalrender/plugins/publish/create_maya_royalrender_job.py
  openpype/modules/royalrender/plugins/publish/create_nuke_royalrender_job.py
  openpype/modules/royalrender/plugins/publish/create_publish_royalrender_job.py
  openpype/modules/royalrender/rr_job.py
  openpype/pype_commands.py
Labels: type: enhancement, host: Maya, module: RoyalRender, size/XS

#5996 Photoshop: Fix removed unsupported Path
  server_addon/photoshop/server/settings/workfile_builder.py
Labels: type: bug, host: Photoshop, size/XS

#5823 Wrap: new integration
  openpype/hooks/pre_add_last_workfile_arg.py
  openpype/hooks/pre_copy_template_workfile.py
  openpype/resources/app_icons/wrap.png
  server_addon/applications/server/applications.json
  server_addon/applications/server/settings.py
Labels: type: feature, size/XS

#5991 AYON: rename Openpype Tools as Custom Tools in Maya Host
  server_addon/maya/server/settings/scriptsmenu.py
  server_addon/maya/server/version.py
Labels: type: enhancement, host: Maya, size/XS

#5954 Testing: hou module should be within class code.
  openpype/modules/deadline/plugins/publish/submit_houdini_cache_deadline.py
Labels: type: bug, host: Houdini, sponsored, module: Deadline, size/XS

#5978 fusion: AYON renaming menu
  openpype/hosts/fusion/api/menu.py
  openpype/hosts/fusion/deploy/MenuScripts/launch_menu.py
  openpype/hosts/fusion/deploy/ayon/Config/menu.fu
  openpype/hosts/fusion/deploy/ayon/fusion_shared.prefs
  openpype/hosts/fusion/deploy/openpype/Config/menu.fu
  openpype/hosts/fusion/deploy/openpype/fusion_shared.prefs
  openpype/hosts/fusion/hooks/pre_fusion_profile_hook.py
Labels: type: enhancement, host: Fusion, size/S

#6000 AYON: Conversion of the new playblast settings in Maya
  openpype/settings/ayon_settings.py
Labels: type: bug, size/XS

#6002 AYON: Update ayon python api
  openpype/vendor/python/common/ayon_api/_api.py
  openpype/vendor/python/common/ayon_api/constants.py
  openpype/vendor/python/common/ayon_api/entity_hub.py
  openpype/vendor/python/common/ayon_api/graphql.py
  openpype/vendor/python/common/ayon_api/graphql_queries.py
  openpype/vendor/python/common/ayon_api/server_api.py
  openpype/vendor/python/common/ayon_api/utils.py
  openpype/vendor/python/common/ayon_api/version.py
Labels: type: enhancement, size/M

#5995 AYON: Use AYON label in ayon mode
  openpype/modules/python_console_interpreter/window/widgets.py
  openpype/tools/experimental_tools/dialog.py
  openpype/tools/publisher/control.py
  openpype/tools/publisher/window.py
  openpype/tools/tray/pype_info_widget.py
Labels: type: enhancement, size/XS

#5992 Ayon: Updated name of Adobe extension to Ayon
  openpype/hosts/aftereffects/api/README.md
  openpype/hosts/aftereffects/api/extension.zxp
  openpype/hosts/aftereffects/api/extension/.debug
  openpype/hosts/aftereffects/api/extension/CSXS/manifest.xml
  openpype/hosts/aftereffects/api/extension/icons/ayon_logo.png
  openpype/hosts/aftereffects/api/panel.png
  openpype/hosts/aftereffects/api/panel_failure.PNG
  openpype/hosts/aftereffects/api/panel_failure.png
  openpype/hosts/photoshop/api/README.md
  openpype/hosts/photoshop/api/extension.zxp
  openpype/hosts/photoshop/api/extension/.debug
  openpype/hosts/photoshop/api/extension/CSXS/manifest.xml
  openpype/hosts/photoshop/api/extension/icons/avalon-logo-48.png
  openpype/hosts/photoshop/api/extension/icons/ayon_logo.png
  openpype/hosts/photoshop/api/panel.PNG
  openpype/hosts/photoshop/api/panel.png
  openpype/hosts/photoshop/api/panel_failure.PNG
  openpype/hosts/photoshop/api/panel_failure.png
Labels: host: Photoshop, host: After Effects, size/XS

#5969 General: Use manual thumbnail if present when publishing
  openpype/hosts/blender/plugins/publish/extract_thumbnail.py
  openpype/plugins/publish/integrate_thumbnail_ayon.py
Labels: type: enhancement, size/XS

#5971 AYON: Change of server url should work as expected
  openpype/tools/tray/pype_tray.py
Labels: type: enhancement, size/XS

#6019 Bugfix: handle missing key in Deadline
  openpype/modules/deadline/abstract_submit_deadline.py
Labels: type: bug, module: Deadline, size/XS

#6020 Revert `extractenvironments` behaviour
  openpype/pype_commands.py
Labels: type: bug, size/XS

#5955 Testing: dump_databases flag
  openpype/cli.py
  openpype/pype_commands.py
  tests/conftest.py
  tests/integration/README.md
  tests/lib/db_handler.py
  tests/lib/testing_classes.py
Labels: sponsored, type: feature, size/XS

#6021 Maya: bug fix the repair function in validate_rendersettings
  openpype/hosts/maya/plugins/publish/validate_rendersettings.py
Labels: type: bug, host: Maya, size/XS

#5944 Global: extract thumbnail with new settings
  openpype/lib/__init__.py
  openpype/lib/transcoding.py
  openpype/plugins/publish/extract_thumbnail.py
  openpype/settings/ayon_settings.py
  openpype/settings/defaults/project_settings/global.json
  openpype/settings/entities/schemas/projects_schema/schemas/schema_global_publish.json
  server_addon/core/server/settings/publish_plugins.py
  server_addon/core/server/version.py
Labels: type: enhancement, size/S

#5983 Settings: Changes in default settings
  server_addon/applications/server/applications.json
  server_addon/applications/server/settings.py
  server_addon/blender/server/settings/main.py
  server_addon/blender/server/settings/publish_plugins.py
  server_addon/core/server/settings/main.py
  server_addon/maya/server/settings/main.py
  server_addon/maya/server/settings/publishers.py
  server_addon/maya/server/settings/workfile_build_settings.py
  server_addon/unreal/server/settings.py
Labels: type: enhancement, host: Maya, host: UE, host: Blender, size/L

#6023 Deadline: Bump version because of Settings changes for Deadline
  server_addon/deadline/server/version.py
Labels: module: Deadline, size/XS

#6025 OP-7535 - Fix renaming composition in AE
  openpype/hosts/aftereffects/plugins/create/create_render.py
Labels: type: bug, host: After Effects, size/XS

#6028 Bugfix: Fix error message formatting if ayon executable can't be found by deadline
  openpype/modules/deadline/repository/custom/plugins/GlobalJobPreLoad.py
Labels: type: bug, type: enhancement, module: Deadline, size/XS

#6030 Change ASCII art in the Console based on the server mode
  openpype/modules/python_console_interpreter/window/widgets.py
Labels: size/XS

#6031 Show slightly different info in AYON mode
  openpype/tools/tray/pype_info_widget.py
  openpype/tools/tray/pype_tray.py
Labels: type: enhancement, size/XS

#6027 Add the AYON/OP settings to enable extractor for model family in 3dsmax
  openpype/settings/defaults/project_settings/max.json
  openpype/settings/entities/schemas/projects_schema/schemas/schema_max_publish.json
  server_addon/max/server/settings/publishers.py
  server_addon/max/server/version.py
Labels: type: enhancement, host: 3dsmax, size/S

#6032 Refactor code to handle missing "representations" key in instance data
  openpype/plugins/publish/extract_thumbnail.py
Labels: type: bug, size/XS, AYON compatible

#6036 Traypublisher: editorial preserve clip case sensitivity
  openpype/hosts/traypublisher/plugins/create/create_editorial.py
Labels: type: bug, host: TrayPublisher, size/XS

#5986 Testing: Validate errors and failed status from Deadline jobs.
  tests/lib/testing_classes.py
Labels: type: enhancement, size/XS

#5895 Chore: Staging mode determination
  openpype/lib/openpype_version.py
  openpype/resources/__init__.py
Labels: type: bug, size/XS

#5965 Max: Bug fix the resolution not being shown correctly in review burnin
  openpype/hosts/max/api/preview_animation.py
Labels: type: bug, host: 3dsmax, size/XS

#6043 AYON: Convert the createAt value to local timezone
  openpype/client/server/conversion_utils.py
  openpype/tools/ayon_loader/models/products.py
  openpype/tools/ayon_workfiles/models/workfiles.py
Labels: type: enhancement, size/XS

#6040 Tests: update after thumbnail default change
  openpype/hosts/aftereffects/plugins/publish/extract_local_render.py
  tests/integration/hosts/aftereffects/test_deadline_publish_in_aftereffects.py
  tests/integration/hosts/aftereffects/test_deadline_publish_in_aftereffects_multicomposition.py
  tests/integration/hosts/aftereffects/test_publish_in_aftereffects.py
  tests/integration/hosts/aftereffects/test_publish_in_aftereffects_legacy.py
  tests/integration/hosts/aftereffects/test_publish_in_aftereffects_multiframe.py
  tests/integration/hosts/maya/test_deadline_publish_in_maya.py
  tests/integration/hosts/maya/test_deadline_publish_in_maya/expected/test_project/test_asset/publish/render/renderTest_taskMain_beauty/v001/test_project_test_asset_renderTest_taskMain_beauty_v001.jpg
  tests/integration/hosts/nuke/test_deadline_publish_in_nuke.py
Labels: host: Nuke, host: Maya, host: After Effects, module: Deadline, size/XS

#6014 Max: Add missing repair action in validate resolution setting
  openpype/hosts/max/plugins/publish/validate_resolution_setting.py
Labels: type: enhancement, host: 3dsmax, size/XS, AYON compatible

#6039 Bugfix/add missing houdini settings
  openpype/hosts/houdini/plugins/publish/collect_chunk_size.py
  openpype/settings/defaults/project_settings/houdini.json
  openpype/settings/entities/schemas/projects_schema/schemas/schema_houdini_create.json
  openpype/settings/entities/schemas/projects_schema/schemas/schema_houdini_publish.json
  server_addon/houdini/server/settings/create.py
  server_addon/houdini/server/settings/publish.py
  server_addon/houdini/server/version.py
Labels: type: bug, host: Houdini, size/S, AYON compatible

#5940 Chore: PySide6 tree view style
  openpype/style/style.css
Labels: type: enhancement, size/XS

#6041 AYON Editorial: Hierarchy context have names as keys
  openpype/hosts/standalonepublisher/plugins/publish/collect_hierarchy.py
  openpype/hosts/traypublisher/plugins/publish/collect_shot_instances.py
  openpype/plugins/publish/collect_hierarchy.py
  openpype/plugins/publish/collect_resources_path.py
  openpype/plugins/publish/extract_hierarchy_to_ayon.py
Labels: type: enhancement, host: TrayPublisher, size/XS, AYON compatible

#6046 AYON Editorial: Extract hierarchy does not modifi hierarchyContext
  openpype/plugins/publish/extract_hierarchy_to_ayon.py
Labels: type: bug, size/XS

#6047 Ayon General: traypublisher editorial check of hierarchy in wrong data
  openpype/plugins/publish/collect_resources_path.py
Labels: type: bug, size/XS

#6044 CLI interface for CSV publishing
  openpype/cli.py
  openpype/pype_commands.py
Labels: type: enhancement, sponsored, size/XS

#6052 AYON: Update ayon api to 1.0.0-rc.3
  openpype/vendor/python/common/ayon_api/__init__.py
  openpype/vendor/python/common/ayon_api/_api.py
  openpype/vendor/python/common/ayon_api/entity_hub.py
  openpype/vendor/python/common/ayon_api/server_api.py
  openpype/vendor/python/common/ayon_api/version.py
Labels: type: enhancement, size/S

#6045 Fusion: Project/User option for output format (create_saver)
  openpype/hosts/fusion/plugins/create/create_saver.py
  openpype/settings/defaults/project_settings/fusion.json
  openpype/settings/entities/schemas/projects_schema/schema_project_fusion.json
  server_addon/fusion/server/settings.py
  server_addon/fusion/server/version.py
Labels: host: Fusion, community contribution, size/S

#5814 Max: Tweaks on Extractions for the exporters
  openpype/hosts/max/api/lib.py
  openpype/hosts/max/plugins/publish/extract_alembic.py
  openpype/hosts/max/plugins/publish/extract_camera_abc.py
  openpype/hosts/max/plugins/publish/extract_camera_fbx.py
  openpype/hosts/max/plugins/publish/extract_max_scene_raw.py
  openpype/hosts/max/plugins/publish/extract_model.py
  openpype/hosts/max/plugins/publish/extract_model_fbx.py
  openpype/hosts/max/plugins/publish/extract_model_obj.py
Labels: type: enhancement, host: 3dsmax, size/S, AYON compatible

#6061 Photoshop: fix layer publish thumbnail missing in loader
  openpype/hosts/photoshop/plugins/publish/extract_review.py
  openpype/plugins/publish/integrate_thumbnail_ayon.py
Labels: type: bug, host: Photoshop, size/XS

#6056 Fusion: fix for single frame rendering
  openpype/hosts/fusion/plugins/publish/extract_render_local.py
Labels: type: bug, host: Fusion, size/XS

#6064 Photoshop: fix creation of .mov
  openpype/hosts/photoshop/plugins/publish/extract_review.py
Labels: type: bug, host: Photoshop, size/XS

#6065 Photoshop: fix Collect Color Coded settings
  server_addon/photoshop/server/settings/publish_plugins.py
  server_addon/photoshop/server/version.py
Labels: type: bug, host: Photoshop, size/XS

#6067 Bug: Fix Publisher parent window in Nuke
  openpype/hosts/nuke/api/pipeline.py
Labels: type: bug, host: Nuke, size/XS

#6066 AYON ftrack: Expect 'ayon' group in custom attributes
  openpype/modules/ftrack/lib/custom_attributes.py
  openpype/modules/ftrack/plugins/publish/integrate_hierarchy_ftrack.py
Labels: type: enhancement, module: Ftrack, size/XS

#6069 Bug: fix AYON settings for Maya workspace
  openpype/settings/defaults/project_settings/maya.json
  server_addon/maya/server/settings/main.py
Labels: type: bug, host: Maya, size/XS, AYON compatible

#6060 Fusion: Output Image Format Updating Instances (create_saver)
  openpype/hosts/fusion/plugins/create/create_saver.py
Labels: host: Fusion, community contribution, size/XS

#6063 AYON Chore: Do not use thumbnailSource for thumbnail integration
  openpype/plugins/publish/integrate_thumbnail_ayon.py
Labels: type: bug, size/XS, target: AYON

#6033 Refactor colorspace handling in CollectColorspace plugin
  openpype/hosts/traypublisher/plugins/publish/collect_explicit_colorspace.py
  openpype/hosts/traypublisher/plugins/publish/validate_colorspace.py
Labels: type: bug, host: TrayPublisher, size/XS, target: OpenPype, target: AYON

#6072 Tests: Fix representation count for AE legacy test
  tests/integration/hosts/aftereffects/test_publish_in_aftereffects_legacy.py
Labels: host: After Effects, size/XS

#6077 Ftrack: update asset names for multiple reviewable items
  openpype/modules/ftrack/plugins/publish/integrate_ftrack_instances.py
Labels: type: bug, module: Ftrack, size/XS

#6076 Python console widget: Save registry fix
  openpype/modules/python_console_interpreter/window/widgets.py
Labels: type: bug, size/XS

#6081 Code cleanup
  openpype/hosts/maya/api/lib.py
  openpype/hosts/maya/plugins/publish/extract_playblast.py
  openpype/hosts/maya/plugins/publish/extract_thumbnail.py
Labels: type: bug, host: Maya, size/S

#6084 Traypublisher: Correct validator label
  openpype/hosts/traypublisher/plugins/publish/validate_filepaths.py
Labels: type: enhancement, host: TrayPublisher, size/XS

#6075 Editorial & chore: Stop using pathlib2
  openpype/scripts/ocio_wrapper.py
  server_addon/openpype/client/pyproject.toml
Labels: type: enhancement, size/XS, target: OpenPype, target: AYON

#5570 Chore: Maya / Nuke remove publish gui filters from settings
  openpype/settings/ayon_settings.py
  openpype/settings/defaults/project_settings/maya.json
  openpype/settings/defaults/project_settings/nuke.json
  openpype/settings/defaults/project_settings/tvpaint.json
  openpype/settings/entities/schemas/projects_schema/schema_project_maya.json
  openpype/settings/entities/schemas/projects_schema/schema_project_nuke.json
  openpype/settings/entities/schemas/projects_schema/schema_project_tvpaint.json
  server_addon/maya/server/settings/main.py
  server_addon/nuke/server/settings/filters.py
  server_addon/nuke/server/settings/main.py
  server_addon/nuke/server/version.py
  server_addon/tvpaint/server/settings/main.py
  server_addon/tvpaint/server/version.py
Labels: host: Nuke, host: Maya, community contribution, size/XS

#6074 AYON Chore: Remove dependencies related to separated addons
  server_addon/openpype/client/pyproject.toml
Labels: type: enhancement, size/XS, target: AYON

#5994 Maya: Optional preserve references.
  openpype/hosts/maya/plugins/publish/extract_maya_scene_raw.py
Labels: type: enhancement, host: Maya, community contribution, size/XS

#5990 Maya: Bug fix the file from texture node not being collected correctly in Yeti Rig
  openpype/hosts/maya/plugins/publish/collect_yeti_rig.py
Labels: type: bug, host: Maya, size/XS, target: AYON

#5718 Chore: Update folder-favorite icon to ayon icon
  openpype/hosts/nuke/api/utils.py
  openpype/resources/icons/folder-favorite.png
  openpype/resources/icons/folder-favorite2.png
  openpype/resources/icons/folder-favorite3.png
Labels: host: Nuke, type: refactor, community contribution, size/XS

#6087 Maya: Fix bake to world space to preserve locked attributes state of original node
  openpype/hosts/maya/api/lib.py
Labels: type: bug, host: Maya, community contribution, size/S
