Repository ynput/OpenPype, pull requests merged in 2023-03, with the labels that each got.

#4552 Deadline: fix submit_publish_job
  openpype/modules/deadline/plugins/publish/submit_publish_job.py
Labels: type: bug, module: Deadline

#4559 Maya: Validate missing instance attributes
  openpype/hosts/maya/plugins/publish/collect_instances.py
  openpype/hosts/maya/plugins/publish/validate_instance_attributes.py
Labels: type: enhancement, host: Maya

#4543 hiero: fix effect item node class
  openpype/hosts/hiero/plugins/publish/collect_clip_effects.py
Labels: type: bug, host: Hiero

#4519 Nuke: creator farm attributes from deadline submit plugin settings
  openpype/hosts/nuke/api/plugin.py
  openpype/hosts/nuke/plugins/create/create_write_prerender.py
  openpype/hosts/nuke/plugins/create/create_write_render.py
  openpype/hosts/nuke/plugins/publish/collect_writes.py
  openpype/modules/deadline/plugins/publish/submit_nuke_deadline.py
  openpype/settings/defaults/project_settings/deadline.json
  openpype/settings/entities/schemas/projects_schema/schema_project_deadline.json
Labels: type: bug, host: Nuke, module: Deadline

#4539 Maya: Validate model name - OP-4983
  openpype/hosts/maya/plugins/publish/validate_model_name.py
Labels: type: bug, host: Maya

#4558 Editorial: Fix tasks removal
  openpype/plugins/publish/extract_hierarchy_avalon.py
Labels: type: bug

#4550 AYON: Load local settings
  ayon_start.py
  common/ayon_common/connection/credentials.py
  common/ayon_common/utils.py
  openpype/lib/local_settings.py
  openpype/modules/base.py
  openpype/pipeline/anatomy.py
  poetry.lock
Labels: type: enhancement

#4556 Nuke | Global: colormanaged plugin in collection
  openpype/hosts/nuke/plugins/publish/collect_writes.py
  openpype/hosts/nuke/plugins/publish/extract_render_local.py
  openpype/pipeline/colorspace.py
  openpype/pipeline/publish/__init__.py
  openpype/pipeline/publish/publish_plugins.py
  openpype/plugins/publish/extract_colorspace_data.py
Labels: type: enhancement, host: Nuke

#4545 Nuke: Add option to use new creating system in workfile template builder
  openpype/hosts/maya/api/workfile_template_builder.py
  openpype/hosts/nuke/api/plugin.py
  openpype/hosts/nuke/plugins/create/create_write_image.py
  openpype/hosts/nuke/plugins/create/create_write_prerender.py
  openpype/hosts/nuke/plugins/create/create_write_render.py
  openpype/pipeline/workfile/workfile_template_builder.py
Labels: type: enhancement, host: Nuke

#4580 Fusion: Load sequence fix filepath resolving from representation
  openpype/hosts/fusion/plugins/load/load_sequence.py
Labels: type: bug, host: Fusion, community contribution

#4576 General: Input representation ids are not ObjectIds
  openpype/hosts/fusion/plugins/publish/collect_inputs.py
  openpype/hosts/houdini/plugins/publish/collect_inputs.py
  openpype/hosts/maya/plugins/publish/collect_inputs.py
  openpype/plugins/publish/collect_input_representations_to_versions.py
Labels: host: Maya, host: Houdini, host: Fusion, module: Deadline

#4522 Fusion: Updated render_local.py to not only process the first instance
  openpype/hosts/fusion/hooks/pre_fusion_ocio_hook.py
  openpype/hosts/fusion/plugins/publish/render_local.py
Labels: type: bug, host: Fusion, community contribution

#4579 Global, Nuke: Workfile first version with template processing
  openpype/hosts/nuke/api/lib.py
  openpype/hosts/nuke/api/pipeline.py
  openpype/hosts/nuke/api/workfile_template_builder.py
  openpype/hosts/nuke/api/workio.py
  openpype/pipeline/workfile/workfile_template_builder.py
  openpype/settings/defaults/project_settings/nuke.json
  openpype/settings/entities/schemas/projects_schema/schemas/schema_templated_workfile_build.json
Labels: type: enhancement, host: Nuke

#4584 AttrDefs: Fix type for PySide6
  openpype/tools/attribute_defs/widgets.py
Labels: type: bug

#4577 Kitsu: Fix task itteration in update-op-with-zou
  openpype/modules/kitsu/utils/update_op_with_zou.py
Labels: type: bug, module: Kitsu, community contribution

#4582 Fusion: Avoid error in "Scene has outdated content" pop-up in PySide6+
  openpype/widgets/popup.py
Labels: type: bug, host: Fusion, type: refactor

#4573 Maya: SkeletalMesh family loadable as reference
  openpype/hosts/maya/plugins/load/load_reference.py
Labels: type: bug, host: Maya, host: UE

#4574 Nuke: fix clip sequence loading
  openpype/hosts/nuke/plugins/load/load_clip.py
Labels: type: bug, host: Nuke

#4578 Unreal: Use client functions in Layout loader
  openpype/hosts/unreal/plugins/load/load_layout.py
Labels: type: enhancement, host: UE

#4590 Fusion: Fix review burnin start and end frame
  openpype/hosts/fusion/plugins/publish/collect_comp_frame_range.py
  openpype/hosts/fusion/plugins/publish/collect_instances.py
Labels: type: bug, host: Fusion, community contribution

#4566 Maya: V-Ray Set Image Format from settings
  openpype/hosts/maya/api/lib_rendersettings.py
Labels: host: Maya

#4563 SiteSync: host dirmap is not working properly
  openpype/host/dirmap.py
  openpype/hosts/nuke/api/lib.py
  openpype/modules/sync_server/sync_server_module.py
  openpype/tools/settings/local_settings/projects_widget.py
Labels: host: Nuke, host: Maya, client, module: Sitesync

#4597 Tools: Fix recursive filtering
  openpype/tools/loader/widgets.py
  openpype/tools/sceneinventory/model.py
  openpype/tools/sceneinventory/window.py
  openpype/tools/settings/settings/search_dialog.py
  openpype/tools/standalonepublish/widgets/model_filter_proxy_recursive_sort.py
  openpype/tools/utils/models.py
Labels: type: bug

#4276 look publishing and srgb colorspace in maya
  openpype/hosts/maya/api/lib.py
  openpype/hosts/maya/plugins/publish/extract_look.py
  openpype/hosts/maya/plugins/publish/validate_look_color_space.py
  openpype/settings/defaults/project_settings/maya.json
  openpype/settings/entities/schemas/projects_schema/schemas/schema_maya_publish.json
Labels: type: bug, host: Maya

#4601 Houdini: Create button open new publisher's "create" tab
  openpype/hosts/houdini/startup/MainMenuCommon.xml
Labels: type: enhancement, host: Houdini

#4616 Maya: Avoid error on right click in Loader if `mtoa` is not loaded
  openpype/hosts/maya/plugins/load/load_arnold_standin.py
Labels: type: bug, host: Maya, community contribution

#4617 Max: fix the bug of removing an instance
  openpype/hosts/max/api/plugin.py
Labels: type: bug, host: 3dsmax

#4549 Maya: Fix broken review publishing.
  openpype/hosts/maya/plugins/publish/collect_review.py
  openpype/hosts/maya/plugins/publish/extract_playblast.py
Labels: type: bug, host: Maya

#4613 Documentation: Tweak grammar and fix some typos
  openpype/settings/entities/schemas/README.md
  website/docs/admin_environment.md
  website/docs/admin_hosts_maya.md
  website/docs/admin_settings.md
  website/docs/admin_use.md
  website/docs/artist_hosts_3dsmax.md
  website/docs/artist_hosts_aftereffects.md
  website/docs/artist_hosts_harmony.md
  website/docs/artist_hosts_hiero.md
  website/docs/artist_hosts_photoshop.md
  website/docs/artist_tools_sync_queu.md
  website/docs/assets/harmony_creator.png
  website/docs/dev_colorspace.md
  website/docs/dev_host_implementation.md
  website/docs/dev_publishing.md
  website/docs/dev_settings.md
  website/docs/dev_testing.md
  website/docs/manager_ftrack.md
  website/docs/module_ftrack.md
  website/docs/module_kitsu.md
  website/docs/module_site_sync.md
  website/docs/project_settings/settings_project_global.md
  website/docs/project_settings/settings_project_nuke.md
  website/docs/project_settings/settings_project_standalone.md
  website/docs/pype2/admin_ftrack.md
  website/docs/system_introduction.md
Labels: type: documentation

#4610 Maya: Replace last usages of Qt module
  openpype/hosts/maya/plugins/inventory/connect_geometry.py
  openpype/hosts/maya/plugins/inventory/connect_xgen.py
  openpype/hosts/maya/plugins/load/load_xgen.py
Labels: host: Maya, type: refactor

#4484 Resolve missing OPENPYPE_MONGO in deadline global job preload
  openpype/modules/deadline/repository/custom/plugins/GlobalJobPreLoad.py
Labels: module: Deadline, community contribution

#4603 Maya: Arnold don't reset maya timeline frame range on render creation (or setting render settings)
  openpype/hosts/maya/api/lib.py
  openpype/hosts/maya/api/lib_rendersettings.py
Labels: host: Maya, community contribution

#4633 Ftrack: Ftrack additional families filtering
  openpype/modules/ftrack/plugins/publish/collect_ftrack_family.py
Labels: type: bug, module: Ftrack

#4607 Clockify: refresh and fix the integration
  openpype/modules/clockify/clockify_api.py
  openpype/modules/clockify/clockify_module.py
  openpype/modules/clockify/constants.py
  openpype/modules/clockify/ftrack/server/action_clockify_sync_server.py
  openpype/modules/clockify/ftrack/user/action_clockify_sync_local.py
  openpype/modules/clockify/launcher_actions/ClockifyStart.py
  openpype/modules/clockify/launcher_actions/ClockifySync.py
  openpype/modules/clockify/widgets.py
  openpype/modules/timers_manager/timers_manager.py
Labels: type: enhancement, community contribution, module: Clockify

#4644 3dsmax: opening last workfile
  openpype/hooks/pre_add_last_workfile_arg.py
Labels: type: bug, host: 3dsmax

#4612 Update tests and documentation for `ColormanagedPyblishPluginMixin`
  tests/unit/openpype/pipeline/publish/test_publish_plugins.py
  website/docs/dev_colorspace.md
Labels: type: refactor, community contribution

#3616 Blender: Extract Review
  openpype/hosts/blender/api/__init__.py
  openpype/hosts/blender/api/capture.py
  openpype/hosts/blender/api/lib.py
  openpype/hosts/blender/api/plugin.py
  openpype/hosts/blender/plugins/create/create_review.py
  openpype/hosts/blender/plugins/publish/collect_review.py
  openpype/hosts/blender/plugins/publish/extract_playblast.py
  openpype/hosts/blender/plugins/publish/extract_thumbnail.py
  openpype/plugins/publish/extract_review.py
  openpype/settings/defaults/project_settings/blender.json
  openpype/settings/entities/schemas/projects_schema/schemas/schema_blender_publish.json
Labels: host: Blender, type: feature

#4640 General: Use right validation for ffmpeg executable
  openpype/lib/vendor_bin_utils.py
Labels: type: bug

#4554 Maya: Yeti Validate Rig Input - OP-3454
  openpype/hosts/maya/plugins/inventory/connect_yeti_rig.py
  openpype/hosts/maya/plugins/load/load_yeti_rig.py
  openpype/hosts/maya/plugins/publish/validate_yeti_renderscript_callbacks.py
  website/docs/artist_hosts_maya_yeti.md
  website/docs/assets/maya-yeti_hair_setup.png
  website/docs/assets/maya-yeti_load_connections.png
  website/docs/assets/maya-yeti_publish_setup.png
  website/docs/assets/maya-yeti_rig.jpg
  website/docs/assets/maya-yeti_rig_setup.png
  website/docs/assets/maya-yeti_simple_rig.png
Labels: type: bug, host: Maya

#4572 Copy existing or generate new Fusion profile on prelaunch
  openpype/hosts/fusion/__init__.py
  openpype/hosts/fusion/addon.py
  openpype/hosts/fusion/api/lib.py
  openpype/hosts/fusion/deploy/fusion_shared.prefs
  openpype/hosts/fusion/hooks/pre_fusion_profile_hook.py
  openpype/hosts/fusion/hooks/pre_fusion_setup.py
  openpype/settings/defaults/project_settings/fusion.json
  openpype/settings/entities/schemas/projects_schema/schema_project_fusion.json
Labels: type: enhancement, host: Fusion, community contribution

#4653 General: Use right plugin class for Collect Comment
  openpype/plugins/publish/collect_comment.py
Labels: type: bug

#4313 Maya: Implement image file node loader
  openpype/hosts/maya/plugins/load/load_image.py
Labels: host: Maya, community contribution

#4637 bugfix for 3dsmax publishing error
  openpype/hosts/max/api/lib_renderproducts.py
Labels: type: bug, module: Deadline, host: 3dsmax

#4416 Maya: tile assembly fail in draft - OP-4820
  openpype/modules/deadline/plugins/publish/submit_maya_deadline.py
  openpype/modules/deadline/plugins/publish/validate_expected_and_rendered_files.py
  openpype/modules/deadline/repository/custom/plugins/OpenPypeTileAssembler/OpenPypeTileAssembler.py
  openpype/settings/defaults/project_settings/deadline.json
  openpype/settings/entities/schemas/projects_schema/schema_project_deadline.json
  website/docs/artist_hosts_maya.md
  website/docs/module_deadline.md
Labels: type: bug

#4618 Maya: Fix extract look colorspace detection
  openpype/hosts/maya/plugins/publish/extract_look.py
Labels: type: bug, host: Maya, community contribution

#4594 Scene inventory: Fix code errors when "not found" entries are found
  openpype/tools/sceneinventory/model.py
  openpype/tools/sceneinventory/view.py
  openpype/tools/utils/delegates.py
Labels: type: bug, community contribution

#4660 Global: add tags field to thumbnail representation
  openpype/plugins/publish/preintegrate_thumbnail_representation.py
Labels: type: bug

#4623 Global | Nuke: fixing farm publishing workflow
  openpype/hosts/nuke/plugins/publish/extract_review_data.py
  openpype/hosts/nuke/plugins/publish/extract_review_data_lut.py
  openpype/hosts/nuke/plugins/publish/extract_review_data_mov.py
  openpype/hosts/nuke/plugins/publish/extract_thumbnail.py
  openpype/modules/deadline/plugins/publish/submit_nuke_deadline.py
  openpype/modules/deadline/plugins/publish/submit_publish_job.py
  openpype/modules/deadline/plugins/publish/validate_deadline_pools.py
  tests/integration/hosts/nuke/test_deadline_publish_in_nuke.py
  tests/integration/hosts/nuke/test_publish_in_nuke.py
Labels: type: bug, host: Nuke

#4599 Kitsu custom comment template
  openpype/modules/kitsu/plugins/publish/integrate_kitsu_note.py
  openpype/settings/defaults/project_settings/kitsu.json
  openpype/settings/entities/schemas/projects_schema/schema_project_kitsu.json
Labels: type: feature, module: Kitsu, community contribution

#4537 Enhancement kitsu note with exceptions
  openpype/modules/kitsu/plugins/publish/integrate_kitsu_note.py
  openpype/settings/defaults/project_settings/kitsu.json
  openpype/settings/entities/schemas/projects_schema/schema_project_kitsu.json
  website/docs/assets/integrate_kitsu_note_settings.png
  website/docs/module_kitsu.md
Labels: type: enhancement, module: Kitsu, community contribution

#4662 Integrator: Enforce unique destination transfers, disallow overwrites in queued transfers
  openpype/lib/file_transaction.py
  openpype/plugins/publish/integrate.py
Labels: type: bug, community contribution

#4670 General: Environment variable for default OCIO configs
  openpype/settings/defaults/project_settings/global.json
  start.py
Labels: type: enhancement, Bump Minor

#4647 Fixed a bug where a QThread in the splash screen could be destroyed before finishing execution
  openpype/hosts/unreal/ue_workers.py
  openpype/widgets/splash_screen.py
Labels: type: bug, host: UE

#4666 Hiero: Creator with correct workfile numeric padding input
  openpype/hosts/hiero/api/plugin.py
Labels: type: bug, host: Hiero

#4672 Publisher: Windows reduce command window pop-ups during Publishing
  openpype/lib/execute.py
  openpype/lib/vendor_bin_utils.py
  openpype/plugins/publish/extract_burnin.py
  openpype/scripts/otio_burnin.py
Labels: type: enhancement, community contribution

#4682 Improve logging of used app + tool envs on application launch
  openpype/lib/applications.py
Labels: type: enhancement, community contribution

#3930 Extract Review code refactor
  openpype/plugins/publish/extract_burnin.py
  openpype/plugins/publish/extract_review.py
Labels: type: refactor, community contribution

#4686 Improve logging of used app + tool envs on application launch (minor tweak)
  openpype/lib/applications.py
Labels: type: refactor, community contribution

#4344 Docs/add architecture document
  ARCHITECTURE.md
Labels: type: documentation

#4676 Publisher: Explicit save
  openpype/pipeline/create/context.py
  openpype/tools/publisher/constants.py
  openpype/tools/publisher/control.py
  openpype/tools/publisher/widgets/__init__.py
  openpype/tools/publisher/widgets/card_view_widgets.py
  openpype/tools/publisher/widgets/images/save.png
  openpype/tools/publisher/widgets/list_view_widgets.py
  openpype/tools/publisher/widgets/overview_widget.py
  openpype/tools/publisher/widgets/widgets.py
  openpype/tools/publisher/window.py
  openpype/tools/traypublisher/window.py
Labels: type: enhancement

#4677 CelAction: conditional workfile parameters from settings
  openpype/hosts/celaction/hooks/pre_celaction_setup.py
  openpype/hosts/celaction/plugins/publish/collect_celaction_cli_kwargs.py
  openpype/modules/deadline/plugins/publish/submit_celaction_deadline.py
  openpype/settings/defaults/project_settings/celaction.json
  openpype/settings/entities/schemas/projects_schema/schema_project_celaction.json
Labels: type: enhancement, host: CelAction

#4600 Maya Look Assigner: Don't rely on containers for get all assets
  openpype/hosts/maya/tools/mayalookassigner/commands.py
Labels: host: Maya, community contribution

#4680 Docs: Fix some minor grammar/typos
  openpype/hooks/pre_foundry_apps.py
  openpype/hosts/blender/api/ops.py
  openpype/hosts/photoshop/api/launch_logic.py
  openpype/hosts/tvpaint/api/communication_server.py
  openpype/modules/example_addons/example_addon/addon.py
  openpype/tools/utils/lib.py
  website/docs/project_settings/settings_project_global.md
  website/docs/pype2/admin_presets_plugins.md
Labels: type: documentation, community contribution

#4611 Fusion publish existing frames
  openpype/hosts/fusion/api/action.py
  openpype/hosts/fusion/api/menu.py
  openpype/hosts/fusion/plugins/create/create_saver.py
  openpype/hosts/fusion/plugins/publish/collect_expected_frames.py
  openpype/hosts/fusion/plugins/publish/collect_render_target.py
  openpype/hosts/fusion/plugins/publish/collect_renders.py
  openpype/hosts/fusion/plugins/publish/extract_render_local.py
  openpype/hosts/fusion/plugins/publish/render_local.py
  openpype/hosts/fusion/plugins/publish/validate_create_folder_checked.py
  openpype/hosts/fusion/plugins/publish/validate_expected_frames_existence.py
  openpype/hosts/fusion/scripts/set_rendermode.py
Labels: type: enhancement, host: Fusion, community contribution

#4699 AYON: Editorial hierarchy creation
  openpype/plugins/publish/extract_hierarchy_avalon.py
  openpype/plugins/publish/extract_hierarchy_to_ayon.py
Labels: type: enhancement

#4635 Ftrack: Hierarchical <> Non-Hierarchical attributes sync fix
  openpype/modules/ftrack/event_handlers_server/action_push_frame_values_to_task.py
  openpype/modules/ftrack/event_handlers_server/event_push_frame_values_to_task.py
Labels: type: bug, module: Ftrack

#4583 Global: persistent staging directory for renders
  openpype/pipeline/publish/contants.py
  openpype/pipeline/publish/lib.py
  openpype/plugins/publish/cleanup.py
  openpype/plugins/publish/cleanup_farm.py
  openpype/plugins/publish/collect_custom_staging_dir.py
  openpype/settings/defaults/project_anatomy/templates.json
  openpype/settings/defaults/project_settings/global.json
  openpype/settings/entities/schemas/projects_schema/schemas/schema_global_tools.json
  website/docs/project_settings/assets/global_tools_custom_staging_dir.png
  website/docs/project_settings/settings_project_global.md
Labels: type: documentation, type: feature

#4674 TVPaint: Optional Validation plugins can be de/activated by user
  openpype/hosts/tvpaint/plugins/create/convert_legacy.py
  openpype/hosts/tvpaint/plugins/create/create_render.py
  openpype/hosts/tvpaint/plugins/publish/collect_instance_frames.py
  openpype/hosts/tvpaint/plugins/publish/validate_asset_name.py
  openpype/hosts/tvpaint/plugins/publish/validate_layers_visibility.py
  openpype/hosts/tvpaint/plugins/publish/validate_marks.py
  openpype/hosts/tvpaint/plugins/publish/validate_scene_settings.py
  openpype/hosts/tvpaint/plugins/publish/validate_start_frame.py
  openpype/settings/defaults/project_settings/tvpaint.json
  openpype/settings/entities/schemas/projects_schema/schema_project_tvpaint.json
Labels: type: bug, host: TV Paint

#4652 Resolution settings referenced from DB record for 3dsMax
  openpype/hosts/max/api/lib.py
  openpype/hosts/max/api/menu.py
  openpype/hosts/max/api/pipeline.py
Labels: type: enhancement, host: 3dsmax

#4687 Maya: enable 2D Pan/Zoom for playblasts - OP-5213
  openpype/hosts/maya/plugins/create/create_review.py
  openpype/hosts/maya/plugins/publish/extract_playblast.py
  openpype/hosts/maya/plugins/publish/extract_thumbnail.py
  openpype/settings/defaults/project_settings/maya.json
  openpype/settings/entities/schemas/projects_schema/schemas/schema_maya_capture.json
  website/docs/admin_hosts_maya.md
  website/docs/assets/maya-admin_extract_playblast_settings.png
  website/docs/assets/maya-admin_extract_playblast_settings_camera_options.png
  website/docs/assets/maya-admin_extract_playblast_settings_viewport_options.png
Labels: type: enhancement, host: Maya

#2968 Maya: Fix getting non-active model panel.
  openpype/hosts/maya/plugins/publish/extract_playblast.py
Labels: type: bug, host: Maya

#4669 Nuke: Nukenodes family instance without frame range
  openpype/hosts/nuke/plugins/load/load_backdrop.py
  openpype/hosts/nuke/plugins/publish/collect_backdrop.py
Labels: type: bug, host: Nuke

#4716 Maya: bug fix for passing zoom settings if review is attached to subset
  openpype/hosts/maya/plugins/publish/collect_review.py
Labels: type: bug, host: Maya

#4708 Hiero: correct container colors if UpToDate
  openpype/hosts/hiero/api/lib.py
Labels: type: bug, host: Hiero

#4695 3dsmax: make sure that startup script executes
  openpype/settings/defaults/system_settings/applications.json
Labels: host: 3dsmax

#4665 scene length setting referenced from DB record for 3dsMax
  openpype/hosts/max/api/lib.py
  openpype/hosts/max/api/menu.py
Labels: type: enhancement, host: 3dsmax

#4551 Kitsu: note family requirements
  openpype/modules/kitsu/plugins/publish/integrate_kitsu_note.py
  openpype/settings/defaults/project_settings/kitsu.json
  openpype/settings/entities/schemas/projects_schema/schema_project_kitsu.json
  website/docs/assets/integrate_kitsu_note_settings.png
  website/docs/module_kitsu.md
Labels: type: enhancement, module: Kitsu, community contribution

#4691 Maya: Suggestion to change capture labels.
  openpype/settings/entities/schemas/projects_schema/schemas/schema_maya_capture.json
Labels: type: enhancement, host: Maya, type: documentation

#4747 Maya: Extract Review settings add Use Background Gradient
  openpype/hosts/maya/api/lib.py
  openpype/settings/defaults/project_settings/maya.json
  openpype/settings/entities/schemas/projects_schema/schemas/schema_maya_capture.json
Labels: type: bug, host: Maya, community contribution, size/XS

#4751 Maya: Fix camera update
  openpype/hosts/maya/plugins/load/load_reference.py
Labels: type: enhancement, host: Maya, size/S

#4737 General: Hero version sites recalculation
  openpype/plugins/publish/integrate_hero_version.py
Labels: type: bug, size/XS

#4711 Maya: Refactor Extract Look with dedicated processors for maketx
  openpype/hosts/maya/plugins/create/create_look.py
  openpype/hosts/maya/plugins/publish/extract_look.py
  openpype/hosts/maya/plugins/publish/validate_look_color_space.py
  openpype/hosts/maya/plugins/publish/validate_look_contents.py
  openpype/settings/defaults/project_settings/maya.json
  openpype/settings/entities/schemas/projects_schema/schemas/schema_maya_create.json
  openpype/settings/entities/schemas/projects_schema/schemas/schema_maya_publish.json
Labels: host: Maya, community contribution, size/M

#2971 Maya looks: support for native Redshift texture format
  openpype/hosts/maya/plugins/create/create_look.py
  openpype/hosts/maya/plugins/publish/extract_look.py
  openpype/hosts/maya/plugins/publish/validate_look_contents.py
  openpype/settings/defaults/project_settings/maya.json
  openpype/settings/entities/schemas/projects_schema/schemas/schema_maya_create.json
Labels: type: enhancement, host: Maya
