Repository ynput/OpenPype, pull requests merged in 2023-04, with the labels that each got.

#4764 General: Update PySide 6 for MacOs
  pyproject.toml
Labels: type: enhancement, Bump Minor

#4673 Global: custom location for OP local versions
  igniter/bootstrap_repos.py
  igniter/install_thread.py
  igniter/tools.py
  igniter/update_thread.py
  openpype/settings/defaults/system_settings/general.json
  openpype/settings/entities/schemas/system_schema/schema_general.json
  openpype/settings/handlers.py
  start.py
Labels: type: enhancement, client, Bump Minor, type: feature

#4763 AYON: General issues
  ayon_start.py
  common/ayon_common/connection/ui/login_window.py
  common/ayon_common/connection/ui/widgets.py
  openpype/vendor/python/common/ayon_api/__init__.py
  openpype/vendor/python/common/ayon_api/_api.py
  openpype/vendor/python/common/ayon_api/constants.py
  openpype/vendor/python/common/ayon_api/entity_hub.py
  openpype/vendor/python/common/ayon_api/events.py
  openpype/vendor/python/common/ayon_api/exceptions.py
  openpype/vendor/python/common/ayon_api/graphql.py
  openpype/vendor/python/common/ayon_api/graphql_queries.py
  openpype/vendor/python/common/ayon_api/operations.py
  openpype/vendor/python/common/ayon_api/server_api.py
  openpype/vendor/python/common/ayon_api/thumbnails.py
  openpype/vendor/python/common/ayon_api/utils.py
  openpype/vendor/python/common/ayon_api/version.py
Labels: type: bug, Bump Minor

#4619 Deactivate closed Kitsu projects on OP
  openpype/modules/kitsu/utils/update_op_with_zou.py
Labels: type: enhancement, module: Kitsu, community contribution, size/XS

#4735 Maya: Validate Render Settings.
  openpype/hosts/maya/plugins/publish/validate_rendersettings.py
Labels: type: bug, host: Maya

#4460 Maya: Cant assign shaders to the ass file - OP-4859
  openpype/hosts/maya/api/lib.py
  openpype/hosts/maya/plugins/load/load_arnold_standin.py
  openpype/hosts/maya/plugins/publish/collect_arnold_scene_source.py
  openpype/hosts/maya/plugins/publish/collect_instances.py
  openpype/hosts/maya/plugins/publish/collect_look.py
  openpype/hosts/maya/plugins/publish/extract_arnold_scene_source.py
  openpype/hosts/maya/plugins/publish/validate_arnold_scene_source.py
  openpype/hosts/maya/plugins/publish/validate_arnold_scene_source_cbid.py
  openpype/hosts/maya/tools/mayalookassigner/app.py
  openpype/hosts/maya/tools/mayalookassigner/arnold_standin.py
  openpype/hosts/maya/tools/mayalookassigner/commands.py
  openpype/hosts/maya/tools/mayalookassigner/lib.py
  openpype/hosts/maya/tools/mayalookassigner/vray_proxies.py
Labels: host: Maya, type: feature, size/M

#4768 Global: Improve speed of Collect Custom Staging Directory
  openpype/plugins/publish/collect_custom_staging_dir.py
Labels: type: enhancement, community contribution

#4740 Global: Fix Extract Burnin + Colorspace functions for conflicting python environments with PYTHONHOME
  openpype/lib/execute.py
  openpype/pipeline/colorspace.py
  openpype/plugins/publish/extract_burnin.py
Labels: type: bug, community contribution, size/XS

#4744 Maya: Fix extract review and thumbnail for Maya 2020
  openpype/settings/defaults/project_settings/maya.json
  openpype/settings/entities/schemas/projects_schema/schemas/schema_maya_capture.json
  openpype/vendor/python/common/capture.py
Labels: type: bug, host: Maya, community contribution, size/XS

#4766 Workfiles: keep Browse always enabled
  openpype/tools/workfiles/files_widget.py
  openpype/tools/workfiles/save_as_dialog.py
Labels: type: bug

#4724 Maya: Remove pymel dependency
  .github/pr-branch-labeler.yml
  openpype/hosts/maya/api/lib.py
  openpype/hosts/maya/api/lib_rendersetup.py
  openpype/hosts/maya/plugins/load/load_audio.py
  openpype/hosts/maya/plugins/load/load_image_plane.py
  openpype/hosts/maya/plugins/load/load_reference.py
  openpype/hosts/maya/plugins/publish/collect_review.py
  openpype/hosts/maya/plugins/publish/extract_playblast.py
  openpype/hosts/maya/plugins/publish/extract_thumbnail.py
  openpype/hosts/maya/plugins/publish/validate_attributes.py
  openpype/hosts/maya/plugins/publish/validate_mesh_arnold_attributes.py
  openpype/hosts/maya/plugins/publish/validate_mesh_overlapping_uvs.py
  openpype/hosts/maya/plugins/publish/validate_no_namespace.py
  openpype/hosts/maya/plugins/publish/validate_rig_output_ids.py
  website/docs/module_kitsu.md
Labels: host: Maya, type: documentation, module: Kitsu, type: refactor, community contribution, size/M

#4715 Nuke, DL: Returning Suspended Publishing attribute
  openpype/modules/deadline/plugins/publish/submit_nuke_deadline.py
Labels: type: enhancement, host: Nuke, module: Deadline, type: feature, size/XS

#4745 Houdini: Change node type for OpenPypeContext `null` -> `subnet`
  openpype/hosts/houdini/api/pipeline.py
Labels: type: enhancement, host: Houdini, type: refactor, community contribution, size/XS

#4772 Documentation: Move publisher related tips to publisher area
  website/docs/artist_hosts_aftereffects.md
Labels: type: documentation

#4779 Global: label key in instance data is optional
  openpype/plugins/publish/collect_otio_review.py
Labels: type: bug

#4781 Loader: Fix missing variable
  openpype/tools/loader/model.py
Labels: type: bug, size/XS

#4755 Nuke: publisher is offering review on write families on demand
  openpype/hosts/nuke/api/plugin.py
  openpype/hosts/nuke/plugins/create/create_write_image.py
  openpype/hosts/nuke/plugins/create/create_write_prerender.py
  openpype/hosts/nuke/plugins/create/create_write_render.py
Labels: type: bug, host: Nuke, size/XS

#4773 General: Anatomy templates formatting
  openpype/lib/path_templates.py
  openpype/pipeline/anatomy.py
Labels: type: enhancement

#4782 Harmony: Handle zip files with deeper structure
  openpype/hosts/harmony/api/lib.py
Labels: type: enhancement, client, host: Harmony, size/XS

#4783 Nuke: Workfile Template builder fixes
  openpype/hosts/nuke/api/lib.py
  openpype/hosts/nuke/api/workfile_template_builder.py
Labels: type: bug, host: Nuke, size/XS

#4808 Maya: Fix Look Maya 2020 Py2 support for Extract Look
  openpype/hosts/maya/plugins/publish/extract_look.py
Labels: type: bug, host: Maya, community contribution, size/XS

#4822 Settings: Version settings popup fix
  openpype/tools/settings/settings/widgets.py
Labels: type: bug

#4511 Maya: custom namespace for references
  openpype/hosts/maya/api/plugin.py
  openpype/hosts/maya/plugins/load/_load_animation.py
  openpype/hosts/maya/plugins/load/load_reference.py
  openpype/hosts/maya/plugins/load/load_yeti_rig.py
  openpype/settings/defaults/project_settings/maya.json
  openpype/settings/entities/schemas/projects_schema/schemas/schema_maya_load.json
  website/docs/admin_hosts_maya.md
  website/docs/assets/maya-admin_custom_namespace.png
Labels: type: enhancement, host: Maya, type: documentation, community contribution

#4749 General: Extract burnin hosts filters
  openpype/plugins/publish/extract_burnin.py
Labels: type: enhancement, size/XS

#4813 Github: Grammar tweaks + uppercase issue title
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/enhancement_request.yml
Labels: type: enhancement, community contribution, size/XS

#4831 Houdini: Allow creation of publish instances via Houdini TAB menu
  openpype/hosts/houdini/api/creator_node_shelves.py
  openpype/hosts/houdini/api/pipeline.py
Labels: type: enhancement, host: Houdini, community contribution, size/S

#4795 Maya: Fix getting view and display in Maya 2020 - OP-5035
  openpype/hosts/maya/api/lib.py
Labels: type: bug, host: Maya, size/XS

#3839 Houdini: Implement review family with opengl node
  openpype/hosts/houdini/api/lib.py
  openpype/hosts/houdini/plugins/create/create_review.py
  openpype/hosts/houdini/plugins/publish/collect_frames.py
  openpype/hosts/houdini/plugins/publish/collect_review_data.py
  openpype/hosts/houdini/plugins/publish/extract_opengl.py
  openpype/hosts/houdini/plugins/publish/validate_scene_review.py
  openpype/plugins/publish/extract_burnin.py
  openpype/plugins/publish/extract_review.py
  openpype/settings/defaults/project_settings/global.json
  website/docs/artist_hosts_houdini.md
  website/docs/assets/houdini_review_create_attrs.png
  website/docs/project_settings/settings_project_global.md
  website/docs/pype2/admin_presets_plugins.md
Labels: host: Houdini, type: documentation, type: feature, community contribution, size/S

#4826 Hiero/Nuke: adding monitorOut key to settings
  openpype/settings/defaults/project_settings/hiero.json
  openpype/settings/entities/schemas/projects_schema/schema_project_hiero.json
  openpype/settings/entities/schemas/projects_schema/schemas/schema_nuke_imageio.json
Labels: type: bug, host: Nuke, host: Hiero, size/XS

#4664 Maya: Set correct framerange with handles on file opening
  openpype/hosts/maya/api/lib.py
  openpype/settings/defaults/project_settings/maya.json
  openpype/settings/entities/schemas/projects_schema/schema_project_maya.json
  website/docs/admin_hosts_maya.md
  website/docs/assets/maya-admin_exclude_handles.png
  website/docs/assets/maya-admin_include_handles.png
Labels: type: enhancement, host: Maya, community contribution, size/XS

#4657 Deadline: Remove unused FramesPerTask job info submission
  openpype/modules/deadline/plugins/publish/submit_maya_deadline.py
Labels: host: Maya, module: Deadline, type: refactor, community contribution

#4837 AYON: Update settings conversion
  openpype/settings/ayon_settings.py
Labels: type: enhancement, Bump Minor, type: feature

#4383 Global: Do not force instance data with frame ranges of the asset
  openpype/plugins/publish/collect_anatomy_instance_data.py
Labels: community contribution, host: cross

#4838 Documentation: Add extra terminology to the key concepts glossary
  website/docs/artist_concepts.md
Labels: type: documentation, community contribution, size/XS

#4835 Nuke: removed default workfile template builder preset
  openpype/settings/defaults/project_settings/nuke.json
Labels: type: bug, host: Nuke, size/XS

#4821 Settings UI: Allow setting a size hint for text fields
  openpype/settings/entities/input_entities.py
  openpype/settings/entities/schemas/README.md
  openpype/tools/settings/settings/item_widgets.py
  openpype/tools/settings/settings/widgets.py
Labels: type: feature, size/XS

#4788 Unreal: Use common logic to configure executable
  openpype/hosts/unreal/hooks/pre_workfile_preparation.py
  openpype/hosts/unreal/lib.py
  openpype/settings/defaults/system_settings/applications.json
  openpype/settings/entities/schemas/system_schema/host_settings/schema_unreal.json
Labels: type: enhancement, host: UE, size/S

#4791 Maya: Add family filter 'review' to burnin profile with focal length
  openpype/settings/defaults/project_settings/global.json
Labels: type: bug, community contribution, size/XS

#4827 TrayPublisher: Move 'BatchMovieCreator' settings to 'create' subcategory
  openpype/hosts/traypublisher/plugins/create/create_movie_batch.py
  openpype/settings/defaults/project_settings/traypublisher.json
  openpype/settings/entities/schemas/projects_schema/schema_project_traypublisher.json
Labels: type: feature, type: refactor, host: TrayPublisher, size/XS

#4843 TVPaint: Review can be made from any instance
  openpype/hosts/tvpaint/plugins/publish/extract_sequence.py
Labels: type: bug, host: TV Paint, size/XS

#4761 Maya template builder load all assets linked to the shot
  openpype/client/entities.py
  openpype/hosts/maya/api/workfile_template_builder.py
  openpype/pipeline/workfile/workfile_template_builder.py
Labels: host: Maya, community contribution, size/XS

#4778 Maya: local variable 'arnold_standins' referenced before assignment - OP-5542
  openpype/hosts/maya/tools/mayalookassigner/app.py
Labels: type: bug, host: Maya

#4832 Maya: Fix tile rendering with Vray - OP-5566
  openpype/modules/deadline/plugins/publish/submit_maya_deadline.py
Labels: type: bug, host: Maya, module: Deadline, size/XS

#4840 Maya: Remove single assembly validation for animation instances
  openpype/hosts/maya/plugins/publish/validate_single_assembly.py
Labels: type: enhancement, host: Maya, community contribution, size/XS

#4145 Maya: Optional control of display lights on playblast.
  openpype/hosts/maya/api/lib.py
  openpype/hosts/maya/plugins/create/create_review.py
  openpype/hosts/maya/plugins/publish/collect_review.py
  openpype/hosts/maya/plugins/publish/extract_playblast.py
  openpype/hosts/maya/plugins/publish/extract_thumbnail.py
  openpype/settings/entities/schemas/projects_schema/schemas/schema_maya_capture.json
Labels: type: enhancement, host: Maya, community contribution

#4707 Maya: Xgen fixes
  openpype/hosts/maya/plugins/publish/extract_xgen.py
  openpype/hosts/maya/plugins/publish/validate_xgen.py
  website/docs/artist_hosts_maya_xgen.md
Labels: type: bug, host: Maya

#4714 Maya: Defining plugins to load on Maya start - OP-4994
  openpype/hooks/pre_add_last_workfile_arg.py
  openpype/hosts/maya/hooks/pre_auto_load_plugins.py
  openpype/hosts/maya/hooks/pre_open_workfile_post_initialization.py
  openpype/hosts/maya/startup/userSetup.py
  openpype/settings/defaults/project_settings/maya.json
  openpype/settings/entities/schemas/projects_schema/schema_project_maya.json
  website/docs/admin_hosts_maya.md
Labels: host: Maya, type: documentation, type: feature

#4727 After Effects: fix handles KeyError
  openpype/hosts/aftereffects/plugins/publish/collect_workfile.py
Labels: host: After Effects, community contribution, size/XS

#4777 Maya: Playblast profiles
  openpype/hosts/maya/api/lib.py
  openpype/hosts/maya/plugins/create/create_review.py
  openpype/hosts/maya/plugins/publish/collect_review.py
  openpype/hosts/maya/plugins/publish/extract_playblast.py
  openpype/hosts/maya/plugins/publish/extract_thumbnail.py
  openpype/hosts/maya/plugins/publish/validate_review.py
  openpype/settings/defaults/project_settings/maya.json
  openpype/settings/entities/color_entity.py
  openpype/settings/entities/input_entities.py
  openpype/settings/entities/schemas/projects_schema/schemas/schema_maya_capture.json
Labels: type: enhancement, host: Maya

#4784 Global: Optimize anatomy formatting by only formatting used templates instead
  openpype/hosts/houdini/vendor/husdoutputprocessors/avalon_uri_processor.py
  openpype/hosts/standalonepublisher/plugins/publish/extract_workfile_location.py
  openpype/hosts/unreal/hooks/pre_workfile_preparation.py
  openpype/lib/usdlib.py
  openpype/modules/deadline/abstract_submit_deadline.py
  openpype/modules/deadline/plugins/publish/submit_publish_job.py
  openpype/pipeline/context_tools.py
  openpype/pipeline/delivery.py
  openpype/pipeline/workfile/path_resolving.py
  openpype/plugins/publish/collect_resources_path.py
  openpype/plugins/publish/integrate.py
  openpype/plugins/publish/integrate_hero_version.py
  openpype/plugins/publish/integrate_legacy.py
  openpype/plugins/publish/integrate_thumbnail.py
  openpype/tools/push_to_project/control_integrate.py
  openpype/tools/texture_copy/app.py
  openpype/tools/workfiles/save_as_dialog.py
Labels: type: enhancement, module: Deadline, community contribution, size/S

#4852 Maya: Fix nested model instances.
  openpype/hosts/maya/plugins/publish/collect_review.py
Labels: type: bug, host: Maya, size/XS

#4849 3dsmax: move startup script logic to hook
  openpype/hosts/max/hooks/force_startup_script.py
  openpype/settings/defaults/system_settings/applications.json
Labels: type: bug, sponsored, host: 3dsmax, size/XS

#4858 Maya: Don't change time slider ranges in `get_frame_range`
  openpype/hosts/maya/api/lib.py
Labels: type: bug, host: Maya, community contribution, size/XS

#4853 Patchelf version locked
  Dockerfile.centos7
Labels: type: enhancement, size/XS

#4842 AYON: Implement integrate links publish plugin
  openpype/client/server/entities.py
  openpype/client/server/entity_links.py
  openpype/plugins/publish/integrate_inputlinks.py
  openpype/plugins/publish/integrate_inputlinks_ayon.py
  openpype/vendor/python/common/ayon_api/server_api.py
  openpype/vendor/python/common/ayon_api/version.py
Labels: Bump Minor, type: feature, size/XL

#4856 Maya: Support .abc files directly for Arnold standin look assignment
  openpype/hosts/maya/tools/mayalookassigner/alembic.py
  openpype/hosts/maya/tools/mayalookassigner/arnold_standin.py
  openpype/hosts/maya/tools/mayalookassigner/vray_proxies.py
Labels: type: enhancement, host: Maya, community contribution, size/S

#4873 Maya: Make default namespace naming backwards compatible
  openpype/settings/defaults/project_settings/maya.json
Labels: type: bug, host: Maya, type: refactor, community contribution, size/XS

#4866 Houdini: Implement `switch` method on loaders
  openpype/hosts/houdini/plugins/load/load_alembic.py
  openpype/hosts/houdini/plugins/load/load_alembic_archive.py
  openpype/hosts/houdini/plugins/load/load_bgeo.py
  openpype/hosts/houdini/plugins/load/load_camera.py
  openpype/hosts/houdini/plugins/load/load_image.py
  openpype/hosts/houdini/plugins/load/load_usd_layer.py
  openpype/hosts/houdini/plugins/load/load_usd_reference.py
  openpype/hosts/houdini/plugins/load/load_vdb.py
Labels: type: enhancement, host: Houdini, community contribution, size/XS

#4872 Maya: Hide animation instance in creator
  openpype/hosts/maya/api/lib.py
  openpype/hosts/maya/plugins/create/create_animation.py
  openpype/hosts/maya/plugins/inventory/rig_recreate_animation_instance.py
  openpype/hosts/maya/plugins/load/load_reference.py
  openpype/settings/defaults/project_settings/maya.json
  website/docs/artist_hosts_maya.md
  website/docs/assets/maya-inventory_action_recreate_animation_instance.png
Labels: type: enhancement, host: Maya, type: documentation, community contribution, size/S

#4846 Nuke: Legacy convertor skips deprecation warnings
  openpype/hosts/nuke/api/lib.py
  openpype/hosts/nuke/plugins/create/convert_legacy.py
Labels: type: bug, host: Nuke, size/XS

#4885 Publisher: Clear comment on successful publish and on window close
  openpype/tools/publisher/window.py
Labels: type: enhancement, community contribution, tool: Publisher, size/XS

#4888 Add fps as instance.data in collect review in Houdini.
  openpype/hosts/houdini/plugins/publish/collect_review_data.py
Labels: type: bug, host: Houdini, size/XS

#4875 Code: Tweak docstrings and return type hints
  openpype/client/entities.py
Labels: type: enhancement, type: refactor, community contribution, size/S

#4886 Publisher: Make sure to reset asset widget when hidden and reshown
  openpype/tools/publisher/widgets/assets_widget.py
Labels: type: bug, type: enhancement, community contribution, tool: Publisher, size/XS

#4891 TrayPublisher: Fill missing data for instances with review
  openpype/hosts/traypublisher/plugins/publish/collect_review_frames.py
Labels: type: bug, host: TrayPublisher, size/XS

#4878 Maya: Looks - calculate hash for tx texture
  openpype/hosts/maya/plugins/publish/extract_look.py
Labels: type: bug, host: Maya, size/XS

#4477 Unreal: Render Creator enhancements
  openpype/hosts/unreal/api/rendering.py
  openpype/hosts/unreal/plugins/create/create_render.py
  openpype/hosts/unreal/plugins/publish/validate_sequence_frames.py
Labels: type: enhancement, host: UE

#4887 Nuke: fixed broken slate workflow once published on deadline
  openpype/plugins/publish/validate_sequence_frames.py
  tests/unit/openpype/plugins/publish/test_validate_sequence_frames.py
Labels: type: bug, size/XS

#4895 Scene inventory: Model refresh fix with cherry picking
  openpype/tools/sceneinventory/model.py
  openpype/tools/sceneinventory/window.py
Labels: type: bug, size/S

#4897 Nuke: Pre-render and missing review flag on instance causing crash
  openpype/hosts/nuke/plugins/publish/collect_writes.py
Labels: type: bug, host: Nuke, size/XS

#4899 Fusion: Simplify creator icons code
  openpype/hosts/fusion/plugins/create/create_saver.py
  openpype/hosts/fusion/plugins/create/create_workfile.py
Labels: type: enhancement, host: Fusion, type: refactor, community contribution, size/XS

#4900 Enhancement: Fix PySide 6.5 support for loader
  openpype/tools/loader/model.py
  openpype/tools/publisher/widgets/list_view_widgets.py
Labels: type: enhancement, type: refactor, community contribution, size/XS

#4894 Publisher: Small style changes
  openpype/pipeline/publish/publish_plugins.py
  openpype/style/data.json
  openpype/style/style.css
  openpype/tools/attribute_defs/widgets.py
  openpype/tools/publisher/constants.py
  openpype/tools/publisher/control.py
  openpype/tools/publisher/widgets/card_view_widgets.py
  openpype/tools/publisher/widgets/create_widget.py
  openpype/tools/publisher/widgets/list_view_widgets.py
  openpype/tools/publisher/widgets/precreate_widget.py
  openpype/tools/publisher/widgets/widgets.py
  openpype/tools/publisher/window.py
  openpype/tools/utils/__init__.py
  openpype/tools/utils/widgets.py
Labels: type: enhancement, size/S

#4909 Igniter: fix error reports in silent mode
  openpype/version.py
  start.py
Labels: type: bug, Bump Minor, size/XS

#4879 Project packager: Backup and restore can store only database
  openpype/cli.py
  openpype/client/mongo.py
  openpype/lib/project_backpack.py
  openpype/pype_commands.py
Labels: type: enhancement, size/S
