Repository ynput/OpenPype, pull requests merged in 2023-08, with the labels that each got.

#5372 AYON: Update staging icons
  openpype/resources/icons/AYON_icon_staging.png
  openpype/resources/icons/AYON_splash_staging.png
Labels: type: enhancement

#5359 Bugfix: Houdini Creator use selection even if it was toggled off
  openpype/hosts/houdini/api/plugin.py
Labels: type: bug, host: Houdini, size/XS

#5375 Chore: Python 2 support fix
  openpype/hosts/maya/api/plugin.py
  openpype/vendor/python/python_2/click/__init__.py
  openpype/vendor/python/python_2/click/_bashcomplete.py
  openpype/vendor/python/python_2/click/_compat.py
  openpype/vendor/python/python_2/click/_termui_impl.py
  openpype/vendor/python/python_2/click/_textwrap.py
  openpype/vendor/python/python_2/click/_unicodefun.py
  openpype/vendor/python/python_2/click/_winconsole.py
  openpype/vendor/python/python_2/click/core.py
  openpype/vendor/python/python_2/click/decorators.py
  openpype/vendor/python/python_2/click/exceptions.py
  openpype/vendor/python/python_2/click/formatting.py
  openpype/vendor/python/python_2/click/globals.py
  openpype/vendor/python/python_2/click/parser.py
  openpype/vendor/python/python_2/click/termui.py
  openpype/vendor/python/python_2/click/testing.py
  openpype/vendor/python/python_2/click/types.py
  openpype/vendor/python/python_2/click/utils.py
Labels: type: bug, host: Maya, size/XXL

#5374 Nuke: returned not cleaning of renders folder on the farm
  openpype/hosts/nuke/plugins/publish/collect_writes.py
  openpype/pipeline/farm/pyblish_functions.py
  openpype/pipeline/publish/lib.py
Labels: type: bug, host: Nuke, size/XS

#5349 Unreal: Better handling of Exceptions in UE Worker threads
  openpype/hosts/unreal/ue_workers.py
Labels: type: enhancement, sponsored, host: UE, size/XS

#5376 Nuke: loading sequences is working
  openpype/hosts/nuke/plugins/load/load_clip.py
Labels: type: bug, host: Nuke, size/XS

#5373 Enhancement: Houdini Update pointcache labels
  openpype/hosts/houdini/plugins/create/create_bgeo.py
  openpype/hosts/houdini/plugins/create/create_pointcache.py
Labels: type: enhancement, host: Houdini, size/XS

#5394 Houdini: delete redundant bgeo sop validator
  openpype/hosts/houdini/plugins/publish/validate_bgeo_file_sop_path.py
Labels: type: bug, host: Houdini, size/XS

#5387 Applications: Use prelaunch hooks to extract environments
  openpype/hooks/pre_add_last_workfile_arg.py
  openpype/hooks/pre_copy_template_workfile.py
  openpype/hooks/pre_create_extra_workdir_folders.py
  openpype/hooks/pre_foundry_apps.py
  openpype/hooks/pre_global_host_data.py
  openpype/hooks/pre_mac_launch.py
  openpype/hooks/pre_non_python_host_launch.py
  openpype/hooks/pre_ocio_hook.py
  openpype/hosts/blender/hooks/pre_add_run_python_script_arg.py
  openpype/hosts/blender/hooks/pre_pyside_install.py
  openpype/hosts/blender/hooks/pre_windows_console.py
  openpype/hosts/celaction/hooks/pre_celaction_setup.py
  openpype/hosts/flame/hooks/pre_flame_setup.py
  openpype/hosts/fusion/hooks/pre_fusion_profile_hook.py
  openpype/hosts/fusion/hooks/pre_fusion_setup.py
  openpype/hosts/houdini/hooks/set_paths.py
  openpype/hosts/max/hooks/force_startup_script.py
  openpype/hosts/max/hooks/inject_python.py
  openpype/hosts/max/hooks/set_paths.py
  openpype/hosts/maya/hooks/pre_auto_load_plugins.py
  openpype/hosts/maya/hooks/pre_copy_mel.py
  openpype/hosts/maya/hooks/pre_open_workfile_post_initialization.py
  openpype/hosts/nuke/hooks/pre_nukeassist_setup.py
  openpype/hosts/resolve/hooks/pre_resolve_last_workfile.py
  openpype/hosts/resolve/hooks/pre_resolve_setup.py
  openpype/hosts/resolve/hooks/pre_resolve_startup.py
  openpype/hosts/tvpaint/hooks/pre_launch_args.py
  openpype/hosts/unreal/hooks/pre_workfile_preparation.py
  openpype/hosts/webpublisher/publish_functions.py
  openpype/lib/applications.py
  openpype/modules/ftrack/launch_hooks/post_ftrack_changes.py
  openpype/modules/slack/launch_hooks/pre_python2_vendor.py
  openpype/modules/sync_server/launch_hooks/pre_copy_last_published_workfile.py
  openpype/modules/timers_manager/launch_hooks/post_start_timer.py
  openpype/pype_commands.py
Labels: type: enhancement, host: Nuke, host: Maya, host: Houdini, host: UE, host: Blender, host: Resolve, module: Ftrack, host: Fusion, host: TV Paint, module: Sitesync, host: Flame, host: 3dsmax, host: CelAction, size/S

#5382 3dsMax: Use relative path to MAX_HOST_DIR
  openpype/hosts/max/hooks/force_startup_script.py
Labels: type: bug, host: 3dsmax, size/XS

#5321 Ayon: deadline implementation
  openpype/modules/deadline/abstract_submit_deadline.py
  openpype/modules/deadline/plugins/publish/collect_deadline_server_from_instance.py
  openpype/modules/deadline/plugins/publish/collect_default_deadline_server.py
  openpype/modules/deadline/plugins/publish/submit_aftereffects_deadline.py
  openpype/modules/deadline/plugins/publish/submit_harmony_deadline.py
  openpype/modules/deadline/plugins/publish/submit_houdini_render_deadline.py
  openpype/modules/deadline/plugins/publish/submit_max_deadline.py
  openpype/modules/deadline/plugins/publish/submit_maya_deadline.py
  openpype/modules/deadline/plugins/publish/submit_maya_remote_publish_deadline.py
  openpype/modules/deadline/plugins/publish/submit_nuke_deadline.py
  openpype/modules/deadline/plugins/publish/submit_publish_job.py
  openpype/modules/deadline/repository/custom/plugins/Ayon/Ayon.ico
  openpype/modules/deadline/repository/custom/plugins/Ayon/Ayon.options
  openpype/modules/deadline/repository/custom/plugins/Ayon/Ayon.param
  openpype/modules/deadline/repository/custom/plugins/Ayon/Ayon.py
  openpype/modules/deadline/repository/custom/plugins/GlobalJobPreLoad.py
Labels: host: Nuke, host: Maya, host: Houdini, host: Harmony, host: After Effects, module: Deadline, type: feature, host: 3dsmax, size/S

#5337 Bugfix: Dependency without 'inputLinks' not downloaded
  openpype/client/mongo/entity_links.py
Labels: type: bug, community contribution, size/XS

#5397 AfterEffects: Removed unused imports
  openpype/hosts/aftereffects/plugins/publish/extract_local_render.py
Labels: type: enhancement, host: After Effects, type: refactor

#5395 Applications: Launch hooks cleanup
  openpype/hooks/pre_add_last_workfile_arg.py
  openpype/hooks/pre_copy_template_workfile.py
  openpype/hooks/pre_foundry_apps.py
  openpype/hooks/pre_mac_launch.py
  openpype/hooks/pre_non_python_host_launch.py
  openpype/hooks/pre_ocio_hook.py
  openpype/hosts/blender/hooks/pre_windows_console.py
  openpype/hosts/celaction/hooks/__init__.py
  openpype/hosts/celaction/hooks/pre_celaction_setup.py
  openpype/hosts/flame/hooks/pre_flame_setup.py
  openpype/hosts/fusion/hooks/pre_fusion_profile_hook.py
  openpype/hosts/fusion/hooks/pre_fusion_setup.py
  openpype/hosts/houdini/hooks/set_paths.py
  openpype/hosts/max/hooks/force_startup_script.py
  openpype/hosts/max/hooks/inject_python.py
  openpype/hosts/max/hooks/set_paths.py
  openpype/hosts/maya/hooks/pre_auto_load_plugins.py
  openpype/hosts/maya/hooks/pre_copy_mel.py
  openpype/hosts/maya/hooks/pre_open_workfile_post_initialization.py
  openpype/hosts/nuke/hooks/pre_nukeassist_setup.py
  openpype/hosts/resolve/hooks/pre_resolve_last_workfile.py
  openpype/hosts/resolve/hooks/pre_resolve_setup.py
  openpype/hosts/resolve/hooks/pre_resolve_startup.py
  openpype/hosts/tvpaint/hooks/pre_launch_args.py
Labels: type: enhancement, host: Nuke, host: Maya, host: Houdini, host: Blender, host: Resolve, host: Fusion, host: TV Paint, host: Flame, host: 3dsmax, host: CelAction, size/S

#5305 Nuke - Allow ExtractReviewDataMov with no timecode knob
  openpype/hosts/nuke/api/plugin.py
Labels: type: bug, host: Nuke, community contribution, size/XS

#5392 Nuke: node name influence product (subset) name
  openpype/hosts/nuke/api/pipeline.py
  openpype/hosts/nuke/api/plugin.py
Labels: type: bug, host: Nuke, size/XS

#5389 nuke: split write node product instance features
  openpype/hosts/nuke/api/plugin.py
  openpype/hosts/nuke/plugins/create/create_write_image.py
  openpype/hosts/nuke/plugins/create/create_write_prerender.py
  openpype/hosts/nuke/plugins/create/create_write_render.py
  openpype/settings/entities/schemas/projects_schema/schemas/template_nuke_write_attrs.json
Labels: type: enhancement, host: Nuke, size/XS

#5401 AYON: 3dsMax settings
  openpype/hooks/pre_add_last_workfile_arg.py
  openpype/hosts/max/hooks/force_startup_script.py
  openpype/hosts/max/hooks/inject_python.py
  openpype/settings/ayon_settings.py
Labels: type: bug, host: 3dsmax, size/XS

#5407 Bugfix: update defaults to default_variants in maya and houdini OP DCC settings
  openpype/settings/defaults/project_settings/houdini.json
  openpype/settings/defaults/project_settings/maya.json
  openpype/settings/entities/schemas/projects_schema/schemas/schema_houdini_create.json
  openpype/settings/entities/schemas/projects_schema/schemas/schema_maya_create.json
  server_addon/houdini/server/settings/publish_plugins.py
  server_addon/houdini/server/version.py
  server_addon/maya/server/settings/creators.py
  server_addon/maya/server/version.py
Labels: type: bug, host: Maya, host: Houdini, size/XS

#5405 Nuke: adding BBox knob type to settings
  openpype/hosts/nuke/api/lib.py
  openpype/settings/entities/schemas/projects_schema/schemas/template_nuke_knob_inputs.json
Labels: type: enhancement, host: Nuke, size/XS

#5400 Bugfix: houdini hard coded project settings
  openpype/hosts/houdini/api/plugin.py
  openpype/hosts/houdini/plugins/create/create_arnold_ass.py
  openpype/hosts/houdini/plugins/publish/validate_workfile_paths.py
Labels: type: bug, host: Houdini, size/XS

#5408 Applications: Attributes creation
  server_addon/applications/server/__init__.py
  server_addon/applications/server/version.py
Labels: type: bug

#5396 Max: Use the empty modifiers in container to store AYON Parameter
  openpype/hosts/max/api/plugin.py
  openpype/hosts/max/plugins/publish/collect_members.py
Labels: type: enhancement, host: 3dsmax, size/XS

#5304 Nuke Anamorphic slate - Read pixel aspect from input
  openpype/plugins/publish/extract_review_slate.py
Labels: type: bug, host: Nuke, community contribution, size/XS

#5295 Autosave preferences can be read after Nuke opens the script
  openpype/hosts/nuke/api/workio.py
Labels: type: enhancement, host: Nuke, community contribution, size/XS

#5411 Colorspace: including environments from launcher process
  openpype/hooks/pre_ocio_hook.py
  openpype/pipeline/colorspace.py
Labels: type: bug, size/XS

#5386 Bugfix: Houdini abc validator error message
  openpype/hosts/houdini/plugins/publish/validate_primitive_hierarchy_paths.py
Labels: type: bug, host: Houdini, size/XS

#5367 Bugfix: Houdini update defaults variable
  openpype/hosts/houdini/plugins/create/create_arnold_ass.py
  openpype/hosts/houdini/plugins/create/create_arnold_rop.py
  openpype/hosts/houdini/plugins/create/create_karma_rop.py
  openpype/hosts/houdini/plugins/create/create_mantra_rop.py
  openpype/hosts/houdini/plugins/create/create_redshift_rop.py
  openpype/hosts/houdini/plugins/create/create_vray_rop.py
Labels: type: bug, host: Houdini, size/XS

#5419 nuke: update server addon settings with box
  openpype/settings/ayon_settings.py
  server_addon/nuke/server/settings/common.py
  server_addon/nuke/server/version.py
Labels: type: enhancement, host: Nuke, size/XS

#5417 AYON: Add folder to template data
  openpype/client/server/conversion_utils.py
  openpype/hosts/maya/api/plugin.py
  openpype/lib/usdlib.py
  openpype/pipeline/template_data.py
  openpype/settings/ayon_settings.py
Labels: host: Maya, type: feature, size/XS

#5413 SyncServer: Existence of module is optional
  openpype/cli.py
  openpype/host/dirmap.py
  openpype/hosts/nuke/api/lib.py
  openpype/modules/sync_server/sync_server_module.py
  openpype/modules/sync_server/utils.py
  openpype/plugins/publish/integrate.py
  openpype/pype_commands.py
  openpype/tools/libraryloader/app.py
  openpype/tools/loader/model.py
  openpype/tools/sceneinventory/lib.py
  openpype/tools/sceneinventory/model.py
  openpype/tools/sceneinventory/view.py
  openpype/tools/settings/local_settings/projects_widget.py
  openpype/tools/utils/lib.py
  server_addon/create_ayon_addons.py
Labels: type: enhancement, host: Nuke, size/S

#5410 Max: fix the bug of handling Object deletion in OP Parameter
  openpype/hosts/max/api/plugin.py
Labels: type: bug, host: 3dsmax, size/XS

#5402 Maya: do not create top level group on reference
  openpype/hosts/maya/api/plugin.py
  openpype/hosts/maya/plugins/load/load_reference.py
  website/docs/admin_hosts_maya.md
Labels: type: bug, host: Maya, sponsored, type: documentation, size/XS

#5418 Webpublisher: Cleanup targets
  openpype/cli.py
  openpype/hosts/aftereffects/plugins/publish/closeAE.py
  openpype/hosts/photoshop/plugins/publish/closePS.py
  openpype/hosts/photoshop/plugins/publish/collect_auto_image.py
  openpype/hosts/photoshop/plugins/publish/collect_auto_review.py
  openpype/hosts/photoshop/plugins/publish/collect_auto_workfile.py
  openpype/hosts/photoshop/plugins/publish/collect_batch_data.py
  openpype/hosts/photoshop/plugins/publish/collect_color_coded_instances.py
  openpype/hosts/photoshop/plugins/publish/collect_published_version.py
  openpype/hosts/webpublisher/README.md
  openpype/hosts/webpublisher/lib.py
  openpype/hosts/webpublisher/publish_functions.py
  openpype/hosts/webpublisher/webserver_service/webpublish_routes.py
  openpype/hosts/webpublisher/webserver_service/webserver.py
  openpype/modules/ftrack/plugins/publish/collect_username.py
  openpype/pype_commands.py
Labels: type: enhancement, module: Ftrack, host: Photoshop, host: After Effects, size/S

#5430 Houdini, Max: Fix missed function interface change
  openpype/modules/deadline/plugins/publish/submit_houdini_render_deadline.py
  openpype/modules/deadline/plugins/publish/submit_max_deadline.py
Labels: type: bug, host: Houdini, module: Deadline, host: 3dsmax, size/XS

#5431 Scene Inventory: Fix issue with 'sync_server'
  openpype/tools/sceneinventory/view.py
Labels: type: bug, size/XS

#5433 Unpack project: Fix import issue
  openpype/client/mongo/__init__.py
Labels: type: bug, size/XS

#5379 Nuke: OCIO env var workflow
  openpype/hosts/nuke/api/lib.py
Labels: type: bug, host: Nuke, size/XS

#5436 Settings: Houdini & Maya create plugin settings
  openpype/settings/defaults/project_settings/houdini.json
  openpype/settings/defaults/project_settings/maya.json
  openpype/settings/entities/schemas/projects_schema/schemas/schema_houdini_create.json
  openpype/settings/entities/schemas/projects_schema/schemas/schema_maya_create.json
  openpype/settings/entities/schemas/projects_schema/schemas/schema_maya_create_render.json
  openpype/settings/entities/schemas/projects_schema/schemas/template_create_plugin.json
  server_addon/houdini/server/settings/publish_plugins.py
  server_addon/maya/server/settings/creators.py
Labels: type: bug, host: Maya, host: Houdini, size/S

#5428 Nuke: workfile template fixes
  openpype/hosts/nuke/api/workfile_template_builder.py
  openpype/pipeline/workfile/workfile_template_builder.py
Labels: type: bug, host: Nuke, size/XS

#5262 Option to start versioning from 0
  openpype/hosts/photoshop/plugins/publish/collect_published_version.py
  openpype/hosts/tvpaint/plugins/load/load_workfile.py
  openpype/hosts/webpublisher/plugins/publish/collect_published_files.py
  openpype/modules/deadline/plugins/publish/submit_publish_job.py
  openpype/modules/ftrack/plugins/publish/integrate_ftrack_api.py
  openpype/pipeline/__init__.py
  openpype/pipeline/context_tools.py
  openpype/pipeline/version_start.py
  openpype/pipeline/workfile/path_resolving.py
  openpype/plugins/publish/collect_anatomy_instance_data.py
  openpype/plugins/publish/integrate_hero_version.py
  openpype/scripts/fusion_switch_shot.py
  openpype/settings/defaults/project_settings/global.json
  openpype/settings/entities/schemas/projects_schema/schema_project_global.json
  openpype/tools/push_to_project/control_integrate.py
  openpype/tools/standalonepublish/widgets/widget_family.py
  openpype/tools/workfiles/save_as_dialog.py
Labels: sponsored, module: Ftrack, host: Photoshop, host: Fusion, host: TV Paint, module: Deadline, type: feature, size/XS

#5441 Chore: Versions post fixes
  openpype/plugins/publish/collect_anatomy_instance_data.py
Labels: type: bug, size/XS

#5443 Tests: Add automated targets for tests
  openpype/pipeline/context_tools.py
Labels: size/XS

#5412 TVPaint: Fix 'repeat' behavior
  openpype/hosts/tvpaint/api/lib.py
  openpype/hosts/tvpaint/lib.py
Labels: type: bug, sponsored, host: TV Paint

#5404 General: Navigation to Folder from Launcher
  openpype/plugins/actions/open_file_explorer.py
Labels: type: enhancement, sponsored, size/XS

#5427 Maya: allow not creation of group for Import loaders
  openpype/hosts/maya/api/plugin.py
  openpype/hosts/maya/plugins/load/_load_animation.py
  openpype/hosts/maya/plugins/load/actions.py
  openpype/hosts/maya/plugins/load/load_reference.py
  openpype/hosts/maya/plugins/load/load_yeti_rig.py
  openpype/settings/ayon_settings.py
  openpype/settings/defaults/project_settings/maya.json
  openpype/settings/entities/schemas/projects_schema/schemas/schema_maya_load.json
  server_addon/maya/server/settings/loaders.py
  server_addon/maya/server/version.py
Labels: type: enhancement, host: Maya, sponsored, size/S

#5437 AYON: Thumbnails cache and api prep
  openpype/client/server/thumbnails.py
  openpype/pipeline/thumbnail.py
Labels: type: bug, size/S

#5435 AYON: Apply unknown ayon settings first
  openpype/hosts/aftereffects/plugins/create/create_render.py
  openpype/settings/ayon_settings.py
  openpype/settings/defaults/project_settings/aftereffects.json
  openpype/settings/defaults/project_settings/maya.json
  openpype/settings/entities/schemas/projects_schema/schema_project_aftereffects.json
Labels: type: bug, host: Maya, host: After Effects, size/XS

#5220 Bug: Local settings don't open on 3.14.7
  openpype/tools/settings/local_settings/projects_widget.py
Labels: module: Sitesync, community contribution, size/S

#5447 Added missing defaults for import_loader
  server_addon/maya/server/settings/loaders.py
Labels: host: Maya, size/XS

#5446 Farm publishing: asymmetric handles fixed
  openpype/pipeline/farm/pyblish_functions.py
Labels: type: bug, size/XS

#5450 Scene Inventory: Provider icons fix
  openpype/tools/sceneinventory/model.py
Labels: type: bug, size/XS

#5429 Chore: Default variant in create plugin
  openpype/pipeline/create/__init__.py
  openpype/pipeline/create/constants.py
  openpype/pipeline/create/creator_plugins.py
  openpype/tools/publisher/widgets/create_widget.py
Labels: type: enhancement, size/XS

#5444 Nuke: Name of the Read Node should be updated correctly when switching versions or assets.
  openpype/hosts/nuke/plugins/load/load_image.py
Labels: type: bug, host: Nuke, sponsored, size/XS

#5442 Maya: Fix wrong subset name of render family in deadline
  openpype/hosts/maya/api/plugin.py
  openpype/hosts/maya/plugins/create/convert_legacy.py
  openpype/pipeline/farm/pyblish_functions.py
Labels: type: bug, host: Maya, size/XS

#5439 Publisher: Thumbnail widget enhancements
  openpype/tools/publisher/widgets/images/browse.png
  openpype/tools/publisher/widgets/images/options.png
  openpype/tools/publisher/widgets/images/paste.png
  openpype/tools/publisher/widgets/images/take_screenshot.png
  openpype/tools/publisher/widgets/screenshot_widget.py
  openpype/tools/publisher/widgets/thumbnail_widget.py
  openpype/tools/utils/widgets.py
Labels: type: enhancement, size/M

#5388 3dsMax: Settings for Ayon
  server_addon/applications/server/applications.json
  server_addon/max/server/__init__.py
  server_addon/max/server/settings/__init__.py
  server_addon/max/server/settings/imageio.py
  server_addon/max/server/settings/main.py
  server_addon/max/server/settings/publishers.py
  server_addon/max/server/settings/render_settings.py
  server_addon/max/server/version.py
Labels: type: enhancement, host: 3dsmax, size/S

#5460 AYON: Update ayon api to '0.3.5'
  openpype/vendor/python/common/ayon_api/__init__.py
  openpype/vendor/python/common/ayon_api/_api.py
  openpype/vendor/python/common/ayon_api/constants.py
  openpype/vendor/python/common/ayon_api/entity_hub.py
  openpype/vendor/python/common/ayon_api/graphql_queries.py
  openpype/vendor/python/common/ayon_api/operations.py
  openpype/vendor/python/common/ayon_api/server_api.py
  openpype/vendor/python/common/ayon_api/thumbnails.py
  openpype/vendor/python/common/ayon_api/utils.py
  openpype/vendor/python/common/ayon_api/version.py
Labels: type: enhancement, size/XL

#5393 Unreal: Fix loading hero version for static and skeletal meshes
  openpype/hosts/unreal/plugins/load/load_alembic_animation.py
  openpype/hosts/unreal/plugins/load/load_skeletalmesh_abc.py
  openpype/hosts/unreal/plugins/load/load_skeletalmesh_fbx.py
  openpype/hosts/unreal/plugins/load/load_staticmesh_abc.py
  openpype/hosts/unreal/plugins/load/load_staticmesh_fbx.py
Labels: type: bug, host: UE, size/XS

#5464 Maya: Context plugin shouldn't be tied to family
  openpype/hosts/maya/plugins/publish/collect_current_file.py
Labels: type: bug, host: Maya, sponsored, size/XS

#5472 AYON: Fix version attributes update
  openpype/client/server/conversion_utils.py
Labels: type: bug, size/XS

#5487 added UE to extract burnins families
  openpype/plugins/publish/extract_burnin.py
Labels: type: bug, size/XS

#5409 Nuke: publish existing frames on farm
  openpype/hosts/nuke/api/plugin.py
  openpype/hosts/nuke/plugins/publish/collect_nuke_instance_data.py
  openpype/hosts/nuke/plugins/publish/collect_slate_node.py
  openpype/hosts/nuke/plugins/publish/collect_writes.py
  openpype/hosts/nuke/plugins/publish/extract_camera.py
  openpype/hosts/nuke/plugins/publish/extract_model.py
  openpype/hosts/nuke/plugins/publish/extract_slate_frame.py
  openpype/modules/deadline/plugins/publish/submit_nuke_deadline.py
  openpype/modules/deadline/plugins/publish/submit_publish_job.py
  openpype/modules/deadline/plugins/publish/validate_deadline_connection.py
  openpype/modules/deadline/plugins/publish/validate_deadline_pools.py
  openpype/modules/deadline/plugins/publish/validate_expected_and_rendered_files.py
Labels: type: enhancement, host: Nuke, module: Deadline, size/S

#5455 Add kitsu credentials to deadline publish job
  openpype/modules/deadline/plugins/publish/submit_publish_job.py
Labels: type: bug, module: Deadline, module: Kitsu, size/XS

#5477 Ftrack: Fix version 0 when integrating to Ftrack - OP-6595
  openpype/modules/ftrack/plugins/publish/integrate_ftrack_api.py
Labels: type: bug, sponsored, module: Ftrack, size/XS

#5510 Publisher: Avoid warnings on thumbnails if source image also has alpha channel
  openpype/plugins/publish/extract_thumbnail_from_source.py
Labels: type: bug, community contribution, tool: Publisher, size/XS

#5511 General: missing tag could raise error
  openpype/pipeline/farm/pyblish_functions.py
Labels: type: enhancement, size/XS

#5520 Max: Fixing the bug of falling back to use workfile for Arnold or any renderers except Redshift
  openpype/modules/deadline/plugins/publish/submit_max_deadline.py
Labels: type: bug, module: Deadline, host: 3dsmax, size/XS

#5521 Publisher: Tweak log message to provide plugin name after "Plugin"
  openpype/pipeline/publish/lib.py
Labels: type: enhancement, community contribution, tool: Publisher, size/XS

#5512 Update ayon-python-api
  openpype/client/server/entities.py
  openpype/tools/utils/tasks_widget.py
  openpype/vendor/python/common/ayon_api/__init__.py
  openpype/vendor/python/common/ayon_api/_api.py
  openpype/vendor/python/common/ayon_api/constants.py
  openpype/vendor/python/common/ayon_api/graphql_queries.py
  openpype/vendor/python/common/ayon_api/server_api.py
  openpype/vendor/python/common/ayon_api/version.py
Labels: type: bug, size/S

#5489 TrayPublisher: adding audio product type into default presets
  openpype/settings/defaults/project_settings/traypublisher.json
Labels: type: enhancement, host: TrayPublisher, size/XS

#5534 General: Fix Validate Publish Dir Validator
  openpype/plugins/publish/validate_publish_dir.py
Labels: type: bug, size/XS

#5531 Enhancement: Deadline plugins optimize, cleanup and fix optional support for validate deadline pools
  openpype/modules/deadline/plugins/publish/collect_deadline_server_from_instance.py
  openpype/modules/deadline/plugins/publish/help/validate_deadline_pools.xml
  openpype/modules/deadline/plugins/publish/validate_deadline_connection.py
  openpype/modules/deadline/plugins/publish/validate_deadline_pools.py
Labels: type: enhancement, module: Deadline, type: refactor, community contribution, size/S

#5190 Enhancement: Cosmetics for Higher version of publish already exists validation error
  openpype/plugins/publish/validate_version.py
Labels: type: enhancement, community contribution, size/XS

#5514 Chore: Queued event system
  openpype/lib/events.py
  tests/unit/openpype/lib/test_event_system.py
Labels: type: enhancement, size/XS

#5533 Tests: fix unit tests
  openpype/hosts/unreal/plugins/publish/validate_sequence_frames.py
  tests/unit/openpype/hosts/unreal/plugins/publish/test_validate_sequence_frames.py
  tests/unit/openpype/lib/test_delivery.py
  tests/unit/openpype/modules/sync_server/test_site_operations.py
Labels: host: UE, module: Sitesync, size/XS

#5535 Chore: PowerShell script for docker build
  README.md
  tools/docker_build.ps1
Labels: type: enhancement, size/XS

#5527 Enhancement: Update houdini main menu
  openpype/hosts/houdini/startup/MainMenuCommon.xml
Labels: type: enhancement, host: Houdini, size/XS

#5539 have the addons loading respect a custom AYON_ADDONS_DIR
  openpype/modules/base.py
Labels: type: bug, size/XS

#5523 Houdini: Improve VDB Selection
  openpype/hosts/houdini/plugins/create/create_vbd_cache.py
Labels: type: enhancement, host: Houdini, size/XS

#5542 Chore: Use correct git url
  README.md
Labels: type: enhancement, size/XS

#5042 Nuke: Allow for knob values to be validated against multiple values.
  openpype/hosts/nuke/plugins/publish/validate_write_nodes.py
Labels: type: enhancement, host: Nuke, community contribution, size/XS

#5540 AYON: Deadline expand userpaths in executables list
  openpype/modules/deadline/repository/custom/plugins/Ayon/Ayon.py
  openpype/modules/deadline/repository/custom/plugins/GlobalJobPreLoad.py
Labels: type: enhancement, module: Deadline, size/XS

#5528 Houdini: Reset FPS when clicking Set Frame Range
  openpype/hosts/houdini/api/lib.py
  openpype/hosts/houdini/api/pipeline.py
Labels: type: enhancement, host: Houdini, size/XS

#5546 Webpublisher: better encode list values for click
  openpype/hosts/webpublisher/webserver_service/webpublish_routes.py
Labels: type: bug, size/XS

#5475 AYON: Fill entities during editorial
  openpype/plugins/publish/extract_hierarchy_to_ayon.py
Labels: type: bug, size/XS

#5544 AYON: Update settings
  openpype/settings/ayon_settings.py
  server_addon/aftereffects/server/settings/creator_plugins.py
  server_addon/aftereffects/server/settings/main.py
  server_addon/aftereffects/server/version.py
  server_addon/core/server/settings/main.py
  server_addon/core/server/version.py
  server_addon/max/server/settings/render_settings.py
  server_addon/maya/server/settings/creators.py
  server_addon/traypublisher/server/settings/simple_creators.py
Labels: type: enhancement, host: Maya, host: After Effects, host: TrayPublisher, host: 3dsmax, size/S

#5479 OCIO: windows unc path support in Nuke and Hiero
  openpype/hooks/pre_ocio_hook.py
  openpype/hosts/nuke/api/lib.py
Labels: type: bug, host: Nuke, size/XS

#5483 Nuke: fixing thumbnail and monitor out root attributes
  openpype/hosts/nuke/api/lib.py
Labels: type: bug, host: Nuke, size/XS

#5486 Nuke: existing frames validator is repairing render target
  openpype/hosts/nuke/plugins/publish/validate_rendered_frames.py
Labels: type: bug, host: Nuke, size/XS

#5494 Farm: adding target collector
  openpype/hosts/aftereffects/plugins/publish/collect_render.py
  openpype/hosts/fusion/plugins/publish/collect_render.py
  openpype/hosts/harmony/plugins/publish/collect_farm_render.py
  openpype/hosts/maya/plugins/publish/submit_maya_muster.py
  openpype/modules/deadline/plugins/publish/submit_celaction_deadline.py
  openpype/modules/deadline/plugins/publish/submit_houdini_render_deadline.py
  openpype/modules/deadline/plugins/publish/submit_max_deadline.py
  openpype/modules/deadline/plugins/publish/submit_maya_deadline.py
  openpype/modules/deadline/plugins/publish/submit_nuke_deadline.py
  openpype/pipeline/publish/abstract_collect_render.py
  openpype/plugins/publish/collect_farm_target.py
Labels: type: enhancement, host: Nuke, host: Maya, host: Houdini, host: Harmony, host: Fusion, host: After Effects, module: Deadline, host: 3dsmax, host: CelAction, size/XS

#5502 Global: avoiding cleanup of flagged representation
  openpype/pipeline/publish/lib.py
Labels: type: enhancement, size/XS
