Repository ynput/OpenPype, pull requests merged in 2023-09, with the labels that each got.

#5548 Houdini: Introduce imprint function for correct version in hda loader
  openpype/hosts/houdini/plugins/load/load_hda.py
Labels: type: bug, host: Houdini, size/XS

#5286 Max: Optional Renderable Camera Validator for Render Instance
  openpype/hosts/max/api/lib_rendersettings.py
  openpype/hosts/max/plugins/publish/collect_render.py
  openpype/hosts/max/plugins/publish/validate_no_max_content.py
  openpype/hosts/max/plugins/publish/validate_renderable_camera.py
  openpype/modules/deadline/plugins/publish/submit_max_deadline.py
Labels: type: bug, host: 3dsmax, size/XS

#5524 Maya: Validate Shape Zero fix repair action + provide informational artist-facing report
  openpype/hosts/maya/plugins/publish/validate_shape_zero.py
Labels: type: bug, host: Maya, size/XS

#5522 Maya: Optimize validate plug-in path attributes
  openpype/hosts/maya/plugins/publish/validate_plugin_path_attributes.py
Labels: type: enhancement, host: Maya, community contribution, size/XS

#5526 Maya: Refactor/tweak Validate Instance In same Context plug-in
  openpype/hosts/maya/plugins/publish/validate_instance_in_context.py
Labels: type: bug, type: enhancement, host: Maya, type: refactor, community contribution, size/S

#5493 Harmony: refresh code for current Deadline
  openpype/hosts/harmony/plugins/publish/collect_farm_render.py
  openpype/modules/deadline/plugins/publish/submit_harmony_deadline.py
  openpype/modules/deadline/repository/custom/plugins/HarmonyOpenPype/HarmonyOpenPype.param
  openpype/modules/deadline/repository/custom/plugins/HarmonyOpenPype/HarmonyOpenPype.py
Labels: type: bug, host: Harmony, module: Deadline, size/XS

#5545 Deadline: files on representation cannot be single item list
  openpype/modules/deadline/plugins/publish/validate_expected_and_rendered_files.py
Labels: type: bug, module: Deadline, size/XS

#5525 Maya: Remove Validate Instance Attributes plug-in
  openpype/hosts/maya/plugins/publish/validate_instance_attributes.py
Labels: type: enhancement, host: Maya, type: refactor, community contribution, size/XS

#5421 Houdini: Use default_variant to Houdini Node TAB Creator
  openpype/hosts/houdini/api/creator_node_shelves.py
Labels: type: bug, host: Houdini, community contribution, size/S

#5476 Unreal: Create project in temp location and move to final when done
  openpype/hosts/unreal/hooks/pre_workfile_preparation.py
Labels: type: enhancement, sponsored, host: UE, size/XS

#5557 Chore: Do not try to add schema to zip files
  igniter/bootstrap_repos.py
Labels: type: bug, Bump Minor, size/XS

#5378 Max: Adding custom modifiers back to the loaded objects
  openpype/hosts/max/api/lib.py
  openpype/hosts/max/api/pipeline.py
  openpype/hosts/max/plugins/load/load_camera_fbx.py
  openpype/hosts/max/plugins/load/load_max_scene.py
  openpype/hosts/max/plugins/load/load_model.py
  openpype/hosts/max/plugins/load/load_model_fbx.py
  openpype/hosts/max/plugins/load/load_model_obj.py
  openpype/hosts/max/plugins/load/load_model_usd.py
  openpype/hosts/max/plugins/load/load_pointcache.py
  openpype/hosts/max/plugins/load/load_pointcloud.py
  openpype/hosts/max/plugins/load/load_redshift_proxy.py
Labels: type: bug, sponsored, host: 3dsmax, size/S

#5555 Chore: Allow custom Qt scale factor rounding policy
  openpype/tools/utils/lib.py
Labels: type: enhancement, size/XS

#5560 Chore: Removed Ass export script
  openpype/modules/deadline/plugins/publish/submit_maya_deadline.py
  openpype/scripts/export_maya_ass_job.py
  openpype/scripts/export_maya_ass_sequence.mel
Labels: type: enhancement, host: Maya, module: Deadline, type: refactor, size/S

#5553 Chore: Create plugin does not expect system settings
  openpype/hosts/aftereffects/plugins/create/create_render.py
  openpype/hosts/fusion/plugins/create/create_saver.py
  openpype/hosts/houdini/api/plugin.py
  openpype/hosts/maya/api/plugin.py
  openpype/hosts/maya/plugins/create/create_animation.py
  openpype/hosts/maya/plugins/create/create_render.py
  openpype/hosts/maya/plugins/create/create_unreal_skeletalmesh.py
  openpype/hosts/maya/plugins/create/create_unreal_staticmesh.py
  openpype/hosts/maya/plugins/create/create_vrayscene.py
  openpype/hosts/nuke/api/plugin.py
  openpype/hosts/photoshop/plugins/create/create_flatten_image.py
  openpype/hosts/photoshop/plugins/create/create_image.py
  openpype/hosts/photoshop/plugins/create/create_review.py
  openpype/hosts/photoshop/plugins/create/create_workfile.py
  openpype/hosts/traypublisher/plugins/create/create_movie_batch.py
  openpype/hosts/tvpaint/plugins/create/create_render.py
  openpype/hosts/tvpaint/plugins/create/create_review.py
  openpype/hosts/tvpaint/plugins/create/create_workfile.py
  openpype/lib/python_module_tools.py
  openpype/pipeline/create/context.py
  openpype/pipeline/create/creator_plugins.py
Labels: type: enhancement, host: Nuke, host: Maya, host: Houdini, host: UE, host: Photoshop, host: Fusion, host: After Effects, host: TV Paint, host: TrayPublisher, size/XS

#5569 Fusion: Code updates
  openpype/hosts/fusion/deploy/Scripts/Comp/OpenPype/32bit/backgrounds_selected_to32bit.py
  openpype/hosts/fusion/deploy/Scripts/Comp/OpenPype/32bit/backgrounds_to32bit.py
  openpype/hosts/fusion/deploy/Scripts/Comp/OpenPype/32bit/loaders_selected_to32bit.py
  openpype/hosts/fusion/deploy/Scripts/Comp/OpenPype/32bit/loaders_to32bit.py
  openpype/hosts/fusion/deploy/Scripts/Comp/OpenPype/switch_ui.py
  openpype/hosts/fusion/deploy/Scripts/Comp/OpenPype/update_loader_ranges.py
  openpype/hosts/fusion/deploy/fusion_shared.prefs
  openpype/scripts/fusion_switch_shot.py
Labels: type: enhancement, host: Fusion, size/S

#5563 Max: OP Data updates in Loaders
  openpype/hosts/max/api/pipeline.py
Labels: type: bug, host: 3dsmax, size/XS

#5571 Create Plugins: Better check of overriden '__init__' method
  openpype/pipeline/create/creator_plugins.py
Labels: type: bug, size/XS

#5567 Houdini: Fix outdated containers pop-up on opening last workfile on launch
  openpype/hosts/houdini/api/pipeline.py
Labels: type: enhancement, host: Houdini, community contribution, size/XS

#5574 Maya: Fix attribute definitions for `CreateYetiCache`
  openpype/hosts/maya/plugins/create/create_yeti_cache.py
Labels: type: bug, host: Maya, community contribution, size/XS

#5561 Maya: Yeti Cache Include viewport preview settings from source
  openpype/hosts/maya/plugins/load/load_yeti_cache.py
  openpype/hosts/maya/plugins/publish/collect_yeti_cache.py
Labels: type: enhancement, host: Maya, community contribution, size/XS

#5587 Chore: Loader log deprecation warning for 'fname' attribute
  openpype/hosts/blender/plugins/load/load_blend.py
  openpype/pipeline/load/plugins.py
  openpype/pipeline/load/utils.py
Labels: host: Blender, community contribution, size/XS

#5591 AYON: Fix representation context conversion
  openpype/client/server/conversion_utils.py
Labels: type: bug, size/XS

#5530 TrayPublisher: set default frame values to sequential data
  openpype/hosts/traypublisher/plugins/publish/collect_missing_frame_range_asset_entity.py
  openpype/hosts/traypublisher/plugins/publish/validate_frame_ranges.py
  openpype/plugins/publish/collect_sequence_frame_data.py
Labels: type: bug, host: TrayPublisher, size/XS

#5497 Colorspace: adding abstraction of publishing related functions
  openpype/pipeline/colorspace.py
  openpype/pipeline/publish/publish_plugins.py
  tests/unit/openpype/pipeline/test_colorspace.py
Labels: type: enhancement, size/S

#5576 Publisher: Screenshot opacity value fix
  openpype/tools/publisher/widgets/screenshot_widget.py
Labels: type: bug, size/XS

#5596 Ftrack: Less verbose logs for Ftrack integration in artist facing logs
  openpype/lib/transcoding.py
  openpype/modules/ftrack/plugins/publish/integrate_ftrack_api.py
  openpype/modules/ftrack/plugins/publish/integrate_ftrack_description.py
  openpype/modules/ftrack/plugins/publish/integrate_ftrack_note.py
  openpype/modules/kitsu/plugins/publish/integrate_kitsu_note.py
Labels: type: enhancement, module: Ftrack, module: Kitsu, type: refactor, community contribution, tool: Publisher, size/XS

#5588 Chore: Remove unused variables and cleanup
  openpype/hosts/blender/plugins/load/load_camera_abc.py
  openpype/hosts/blender/plugins/load/load_camera_fbx.py
  openpype/hosts/blender/plugins/publish/extract_abc.py
  openpype/hosts/blender/plugins/publish/extract_abc_animation.py
  openpype/hosts/blender/plugins/publish/extract_camera_abc.py
  openpype/hosts/flame/plugins/load/load_clip.py
  openpype/hosts/flame/plugins/load/load_clip_batch.py
  openpype/hosts/flame/plugins/publish/collect_timeline_instances.py
  openpype/hosts/harmony/plugins/load/load_template.py
  openpype/hosts/hiero/api/plugin.py
  openpype/hosts/hiero/plugins/publish/collect_clip_effects.py
  openpype/hosts/houdini/plugins/load/load_bgeo.py
  openpype/hosts/houdini/plugins/publish/collect_vray_rop.py
  openpype/hosts/max/api/lib_rendersettings.py
  openpype/hosts/max/plugins/create/create_render.py
  openpype/hosts/max/plugins/publish/collect_render.py
  openpype/hosts/max/plugins/publish/extract_camera_abc.py
  openpype/hosts/max/plugins/publish/extract_camera_fbx.py
  openpype/hosts/max/plugins/publish/extract_max_scene_raw.py
  openpype/hosts/max/plugins/publish/extract_model.py
  openpype/hosts/max/plugins/publish/extract_model_fbx.py
  openpype/hosts/max/plugins/publish/extract_model_obj.py
  openpype/hosts/max/plugins/publish/extract_pointcache.py
  openpype/hosts/max/plugins/publish/extract_redshift_proxy.py
  openpype/hosts/max/plugins/publish/validate_resolution_setting.py
  openpype/hosts/maya/api/lib_rendersettings.py
  openpype/hosts/maya/api/plugin.py
  openpype/hosts/maya/plugins/inventory/import_reference.py
  openpype/hosts/maya/plugins/load/load_multiverse_usd.py
  openpype/hosts/maya/plugins/load/load_reference.py
  openpype/hosts/maya/plugins/load/load_xgen.py
  openpype/hosts/maya/plugins/publish/collect_multiverse_look.py
  openpype/hosts/maya/plugins/publish/extract_import_reference.py
  openpype/hosts/maya/plugins/publish/validate_maya_units.py
  openpype/hosts/maya/tools/mayalookassigner/widgets.py
  openpype/hosts/nuke/plugins/load/load_camera_abc.py
  openpype/hosts/nuke/plugins/publish/extract_review_data_lut.py
  openpype/hosts/nuke/plugins/publish/extract_thumbnail.py
  openpype/hosts/photoshop/plugins/publish/collect_auto_image.py
  openpype/hosts/resolve/api/plugin.py
  openpype/hosts/standalonepublisher/plugins/publish/extract_thumbnail.py
  openpype/hosts/tvpaint/plugins/load/load_reference_image.py
  openpype/hosts/tvpaint/plugins/publish/extract_sequence.py
  openpype/hosts/unreal/plugins/publish/extract_uasset.py
Labels: host: Nuke, host: Maya, host: Houdini, host: UE, host: Blender, host: Resolve, host: Harmony, host: Photoshop, host: Hiero, host: TV Paint, host: Flame, type: refactor, host: 3dsmax, community contribution, size/S

#5322 Houdini: validate colorspace in review rop
  openpype/hosts/houdini/api/colorspace.py
  openpype/hosts/houdini/plugins/create/create_review.py
  openpype/hosts/houdini/plugins/publish/validate_review_colorspace.py
  openpype/pipeline/colorspace.py
  openpype/scripts/ocio_wrapper.py
  openpype/settings/defaults/project_settings/houdini.json
  openpype/settings/entities/schemas/projects_schema/schemas/schema_houdini_publish.json
  server_addon/houdini/server/settings/publish_plugins.py
  server_addon/houdini/server/version.py
Labels: type: enhancement, host: Houdini, size/XS

#5595 Maya: Fix rig validators for new out_SET and controls_SET names
  openpype/hosts/maya/plugins/publish/collect_rig_sets.py
  openpype/hosts/maya/plugins/publish/validate_rig_contents.py
  openpype/hosts/maya/plugins/publish/validate_rig_controllers.py
  openpype/hosts/maya/plugins/publish/validate_rig_controllers_arnold_attributes.py
  openpype/hosts/maya/plugins/publish/validate_rig_out_set_node_ids.py
  openpype/hosts/maya/plugins/publish/validate_rig_output_ids.py
Labels: type: bug, host: Maya, community contribution, size/S

#5597 Maya: Fix look assigner showing no asset if 'not found' representations are present
  openpype/hosts/maya/tools/mayalookassigner/commands.py
Labels: type: bug, host: Maya, community contribution, size/XS

#5550 Workfiles tool: Refactor workfiles tool (for AYON)
  openpype/style/style.css
  openpype/tools/ayon_workfiles/__init__.py
  openpype/tools/ayon_workfiles/abstract.py
  openpype/tools/ayon_workfiles/control.py
  openpype/tools/ayon_workfiles/models/__init__.py
  openpype/tools/ayon_workfiles/models/hierarchy.py
  openpype/tools/ayon_workfiles/models/selection.py
  openpype/tools/ayon_workfiles/models/workfiles.py
  openpype/tools/ayon_workfiles/widgets/__init__.py
  openpype/tools/ayon_workfiles/widgets/constants.py
  openpype/tools/ayon_workfiles/widgets/files_widget.py
  openpype/tools/ayon_workfiles/widgets/files_widget_published.py
  openpype/tools/ayon_workfiles/widgets/files_widget_workarea.py
  openpype/tools/ayon_workfiles/widgets/folders_widget.py
  openpype/tools/ayon_workfiles/widgets/save_as_dialog.py
  openpype/tools/ayon_workfiles/widgets/side_panel.py
  openpype/tools/ayon_workfiles/widgets/tasks_widget.py
  openpype/tools/ayon_workfiles/widgets/utils.py
  openpype/tools/ayon_workfiles/widgets/window.py
  openpype/tools/utils/host_tools.py
Labels: type: feature, size/XXL

#5581 AfterEffects: fix imports of image sequences
  openpype/hosts/aftereffects/plugins/load/load_file.py
Labels: type: bug, host: After Effects, size/XS

#5600 Photoshop: fixed blank Flatten image
  openpype/hosts/photoshop/plugins/create/create_flatten_image.py
  openpype/hosts/photoshop/plugins/create/create_image.py
  openpype/hosts/photoshop/plugins/publish/collect_auto_image_refresh.py
  openpype/hosts/photoshop/plugins/publish/collect_image.py
  openpype/hosts/photoshop/plugins/publish/extract_image.py
  openpype/hosts/photoshop/plugins/publish/extract_review.py
  website/docs/admin_hosts_photoshop.md
  website/docs/assets/admin_hosts_photoshop_settings.png
Labels: type: bug, host: Photoshop, size/S

#5590 AfterEffects: added validator for missing files in FootageItems
  openpype/hosts/aftereffects/api/extension.zxp
  openpype/hosts/aftereffects/api/extension/CSXS/manifest.xml
  openpype/hosts/aftereffects/api/extension/jsx/hostscript.jsx
  openpype/hosts/aftereffects/api/ws_stub.py
  openpype/hosts/aftereffects/plugins/publish/help/validate_footage_items.xml
  openpype/hosts/aftereffects/plugins/publish/validate_footage_items.py
  website/docs/admin_hosts_aftereffects.md
Labels: host: After Effects, type: feature, size/S

#5603 Blender: Remove Hardcoded Subset Name for Reviews
  openpype/hosts/blender/plugins/publish/collect_review.py
Labels: type: bug, sponsored, host: Blender, size/XS

#5608 TVPaint: Fix tool callbacks
  openpype/hosts/tvpaint/api/communication_server.py
Labels: type: bug, host: TV Paint, size/XS

#5424 Max: switching versions of maxScene maintain parentage/links with the loaders
  openpype/hosts/max/api/lib.py
  openpype/hosts/max/api/pipeline.py
  openpype/hosts/max/plugins/load/load_camera_fbx.py
  openpype/hosts/max/plugins/load/load_max_scene.py
  openpype/hosts/max/plugins/load/load_model.py
  openpype/hosts/max/plugins/load/load_model_fbx.py
  openpype/hosts/max/plugins/load/load_model_obj.py
  openpype/hosts/max/plugins/load/load_model_usd.py
  openpype/hosts/max/plugins/load/load_pointcache.py
  openpype/hosts/max/plugins/load/load_pointcloud.py
  openpype/hosts/max/plugins/load/load_redshift_proxy.py
Labels: type: enhancement, host: 3dsmax, size/XS

#5341 Maya: Extract look is not AYON compatible - OP-5375
  openpype/hosts/maya/plugins/create/create_look.py
  openpype/hosts/maya/plugins/publish/extract_look.py
Labels: type: bug, host: Maya, size/XS

#5613 Extract Review: Multilayer specification for ffmpeg
  openpype/lib/transcoding.py
  openpype/plugins/publish/extract_review.py
Labels: type: bug, size/S

#5620 Photoshop: auto_images without alpha will not fail
  openpype/hosts/photoshop/plugins/publish/extract_review.py
Labels: type: bug, host: Photoshop, size/XS

#5626 Fix - _id key used instead of id in get_last_version_by_subset_name
  openpype/client/server/entities.py
Labels: type: bug, size/XS

#5627 AYON: Mark deprecated settings in Maya
  server_addon/maya/server/settings/imageio.py
Labels: type: enhancement, host: Maya, size/XS

#5102 Documentation/local settings
  website/docs/admin_settings_local.md
  website/docs/assets/settings/settings_local.png
Labels: type: documentation, community contribution, size/XS

#5253 Maya: Reduce amount of code for Collect Looks
  openpype/hosts/maya/plugins/publish/collect_look.py
Labels: type: enhancement, host: Maya, type: refactor, community contribution, size/S

#5426 Maya: Extract active view as thumbnail when no thumbnail set
  openpype/hosts/maya/plugins/publish/extract_active_view_thumbnail.py
Labels: host: Maya, type: feature, community contribution

#5566 Maya: Multiverse USD Override inherit from correct new style creator
  openpype/hosts/maya/plugins/create/create_multiverse_usd_over.py
Labels: type: bug, host: Maya, community contribution, size/XS

#5605 3ds max: small tweaks to obj extractor and model publishing flow
  openpype/hosts/max/plugins/publish/extract_model_obj.py
  openpype/hosts/max/plugins/publish/validate_usd_plugin.py
Labels: type: enhancement, sponsored, host: 3dsmax, size/XS

#5633 Bugfix: create symlinks for ssl libs on Centos 7
  Dockerfile.centos7
Labels: type: bug, size/XS

#5619 AYON: Ignore separated modules
  openpype/modules/base.py
Labels: type: feature, size/XS

#5636 General: Create a desktop icon is checked
  inno_setup.iss
Labels: type: enhancement, Bump Minor

#5434 Max: Bug Fix Alembic Loaders with Ornatrix
  openpype/hosts/max/api/pipeline.py
  openpype/hosts/max/plugins/load/load_model.py
  openpype/hosts/max/plugins/load/load_pointcache.py
  openpype/hosts/max/plugins/load/load_pointcache_ornatrix.py
Labels: type: bug, host: 3dsmax, size/S

#5572 Chore: add default isort config
  setup.cfg
Labels: type: enhancement, size/XS

#5186 Maya: Use custom staging dir function for Maya renders - OP-5265
  openpype/hosts/maya/plugins/publish/collect_render.py
  openpype/hosts/maya/plugins/publish/extract_pointcache.py
  openpype/hosts/maya/plugins/publish/extract_proxy_abc.py
  openpype/hosts/maya/plugins/publish/extract_thumbnail.py
  openpype/hosts/maya/plugins/publish/validate_render_image_rule.py
  openpype/modules/deadline/plugins/publish/submit_maya_deadline.py
  openpype/modules/deadline/plugins/publish/submit_publish_job.py
  openpype/plugins/publish/collect_rendered_files.py
  openpype/settings/entities/schemas/projects_schema/schemas/schema_maya_render_settings.json
  website/docs/project_settings/settings_project_global.md
Labels: type: enhancement, host: Maya, sponsored, type: documentation, module: Deadline, size/XS

#5584 Houdini: Camera Loader fix mismatch for Maya cameras
  openpype/hosts/houdini/api/lib.py
  openpype/hosts/houdini/api/pipeline.py
  openpype/hosts/houdini/plugins/inventory/set_camera_resolution.py
  openpype/hosts/houdini/plugins/load/load_camera.py
Labels: type: bug, host: Houdini, size/S

#5622 Deadline: set PATH environment in deadline jobs by GlobalJobPreLoad
  openpype/modules/deadline/repository/custom/plugins/GlobalJobPreLoad.py
Labels: type: enhancement, module: Deadline, size/XS

#5637 TVPaint: Fix review family extraction
  openpype/hosts/tvpaint/plugins/publish/extract_sequence.py
  openpype/pipeline/publish/__init__.py
  openpype/pipeline/publish/lib.py
Labels: type: bug, host: TV Paint, size/XS

#5481 Houdini: Add Static Mesh product-type (family)
  openpype/hosts/houdini/api/lib.py
  openpype/hosts/houdini/plugins/create/create_staticmesh.py
  openpype/hosts/houdini/plugins/load/load_fbx.py
  openpype/hosts/houdini/plugins/publish/collect_output_node.py
  openpype/hosts/houdini/plugins/publish/collect_staticmesh_type.py
  openpype/hosts/houdini/plugins/publish/extract_fbx.py
  openpype/hosts/houdini/plugins/publish/validate_fbx_output_node.py
  openpype/hosts/houdini/plugins/publish/validate_mesh_is_static.py
  openpype/hosts/houdini/plugins/publish/validate_sop_output_node.py
  openpype/hosts/houdini/plugins/publish/validate_subset_name.py
  openpype/hosts/houdini/plugins/publish/validate_unreal_staticmesh_naming.py
  openpype/settings/defaults/project_settings/houdini.json
  openpype/settings/entities/schemas/projects_schema/schemas/schema_houdini_create.json
  openpype/settings/entities/schemas/projects_schema/schemas/schema_houdini_publish.json
  server_addon/houdini/server/settings/publish_plugins.py
  server_addon/houdini/server/version.py
Labels: host: Houdini, host: UE, type: feature, size/M

#5617 Chore: Remove unused functions from Fusion integration
  openpype/hosts/fusion/api/__init__.py
  openpype/hosts/fusion/api/lib.py
  openpype/hosts/fusion/api/pipeline.py
  openpype/tests/test_lib_restructuralization.py
Labels: host: Fusion, type: unittest, type: refactor, community contribution, size/S

#5639 AYON settings: Extract OIIO transcode settings
  openpype/settings/ayon_settings.py
  server_addon/core/server/settings/publish_plugins.py
Labels: type: bug, size/XS

#5641 AYON: Fix task type short name conversion
  openpype/client/server/conversion_utils.py
  openpype/tools/ayon_workfiles/abstract.py
  openpype/tools/ayon_workfiles/control.py
  openpype/tools/ayon_workfiles/models/hierarchy.py
  openpype/tools/ayon_workfiles/models/workfiles.py
Labels: type: bug, size/XS

#5630 Maya: Support new publisher for colorsets validation.
  openpype/hosts/maya/plugins/publish/validate_color_sets.py
Labels: type: bug, host: Maya, community contribution, size/XS

#5273 Colorspace: updating file path detection methods
  openpype/pipeline/colorspace.py
  openpype/scripts/ocio_wrapper.py
  tests/unit/openpype/pipeline/test_colorspace.py
Labels: type: enhancement, size/S

#5643 Unreal: Yeti support
  openpype/hosts/maya/plugins/create/create_unreal_yeticache.py
  openpype/hosts/maya/plugins/publish/collect_yeti_cache.py
  openpype/hosts/maya/plugins/publish/extract_unreal_yeticache.py
  openpype/hosts/unreal/plugins/load/load_yeticache.py
  openpype/plugins/publish/collect_resources_path.py
  openpype/plugins/publish/integrate.py
Labels: host: Maya, sponsored, host: UE, type: feature, size/S

#5634 Nuke: fix set colorspace on writes
  openpype/hosts/nuke/api/lib.py
Labels: type: bug, host: Nuke, size/XS

#5647 Photoshop: remove trailing underscore in subset name
  openpype/hosts/photoshop/lib.py
  openpype/hosts/photoshop/plugins/create/create_flatten_image.py
  openpype/hosts/photoshop/plugins/create/create_image.py
  tests/unit/openpype/hosts/photoshop/test_lib.py
Labels: type: bug, host: Photoshop, size/XS

#5653 AYON: Workfiles tool save button works
  openpype/tools/ayon_workfiles/models/workfiles.py
Labels: type: bug, size/XS

#5654 Increase timout for deadline test
  tests/integration/hosts/maya/test_deadline_publish_in_maya.py
Labels: host: Maya, module: Deadline, size/XS

#5658 Max: bug fix delete items from container
  openpype/hosts/max/api/plugin.py
Labels: type: bug, host: 3dsmax, size/XS

#5648 traypublisher: missing `assetEntity` in context data
  openpype/hosts/traypublisher/plugins/publish/collect_frame_data_from_asset_entity.py
  openpype/hosts/traypublisher/plugins/publish/collect_sequence_frame_data.py
  openpype/settings/defaults/project_settings/traypublisher.json
  openpype/settings/entities/schemas/projects_schema/schema_project_traypublisher.json
Labels: type: bug, host: TrayPublisher, size/XS

#5618 Maya: Missing "data" field and enabling of audio
  openpype/hosts/maya/plugins/load/load_audio.py
Labels: type: bug, host: Maya, community contribution, size/XS

#5623 Nuke: Multiple format supports for ExtractReviewDataMov
  openpype/hosts/nuke/api/lib.py
  openpype/hosts/nuke/api/plugin.py
  openpype/hosts/nuke/plugins/publish/extract_review_intermediates.py
  openpype/settings/ayon_settings.py
  openpype/settings/defaults/project_settings/nuke.json
  openpype/settings/entities/schemas/projects_schema/schemas/schema_nuke_publish.json
  server_addon/nuke/server/settings/publish_plugins.py
  server_addon/nuke/server/version.py
  website/docs/project_settings/settings_project_global.md
  website/docs/pype2/admin_presets_plugins.md
Labels: type: enhancement, host: Nuke, sponsored, type: documentation, size/XS

#5445 Maya: implement matchmove publishing
  openpype/hosts/maya/api/lib.py
  openpype/hosts/maya/plugins/create/create_matchmove.py
  openpype/hosts/maya/plugins/load/load_reference.py
  openpype/hosts/maya/plugins/publish/extract_camera_alembic.py
  openpype/hosts/maya/plugins/publish/extract_camera_mayaScene.py
  openpype/settings/defaults/project_settings/maya.json
  openpype/settings/entities/schemas/projects_schema/schemas/schema_maya_publish.json
  website/docs/artist_publish.md
Labels: type: enhancement, host: Maya, sponsored, type: documentation, size/XS
