Repository ynput/OpenPype, pull requests merged in 2023-10, with the labels that each got.

#5667 Publisher: Fix report maker memory leak + optimize lookups using set
  openpype/tools/publisher/control.py
Labels: type: bug, type: enhancement, tool: Publisher, size/XS

#5438 Blender: Deadline support
  openpype/hosts/blender/api/__init__.py
  openpype/hosts/blender/api/colorspace.py
  openpype/hosts/blender/api/render_lib.py
  openpype/hosts/blender/plugins/create/create_render.py
  openpype/hosts/blender/plugins/publish/collect_render.py
  openpype/hosts/blender/plugins/publish/increment_workfile_version.py
  openpype/hosts/blender/plugins/publish/validate_deadline_publish.py
  openpype/hosts/blender/plugins/publish/validate_file_saved.py
  openpype/hosts/blender/plugins/publish/validate_render_camera_is_set.py
  openpype/modules/deadline/plugins/publish/submit_blender_deadline.py
  openpype/modules/deadline/plugins/publish/submit_publish_job.py
  openpype/settings/defaults/project_settings/blender.json
  openpype/settings/defaults/project_settings/deadline.json
  openpype/settings/entities/schemas/projects_schema/schema_project_blender.json
  openpype/settings/entities/schemas/projects_schema/schema_project_deadline.json
  openpype/settings/entities/schemas/projects_schema/schemas/schema_blender_publish.json
  server_addon/blender/server/settings/main.py
  server_addon/blender/server/settings/publish_plugins.py
  server_addon/blender/server/settings/render_settings.py
  server_addon/blender/server/version.py
  server_addon/deadline/server/settings/publish_plugins.py
Labels: sponsored, host: Blender, module: Deadline, type: feature, size/S

#5499 Max: Implementation of OCIO configuration
  openpype/hooks/pre_ocio_hook.py
  openpype/hosts/max/api/lib.py
  openpype/hosts/max/api/menu.py
  openpype/hosts/max/api/pipeline.py
  openpype/hosts/max/plugins/publish/collect_render.py
  openpype/hosts/max/plugins/publish/collect_review.py
  openpype/modules/deadline/plugins/publish/submit_max_deadline.py
Labels: type: enhancement, sponsored, module: Deadline, host: 3dsmax, size/XS

#5662 Nuke: workfile version synchronization settings fixed
  openpype/hosts/nuke/plugins/publish/collect_nuke_instance_data.py
Labels: type: bug, host: Nuke, size/XS

#5679 Blender: Fix remove/update in new layout instance
  openpype/hosts/blender/plugins/load/load_blend.py
Labels: type: bug, sponsored, host: Blender, size/XS

#5589 Maya: Add optional Fbx extractors in Rig and Animation family
  openpype/hosts/maya/api/fbx.py
  openpype/hosts/maya/api/lib.py
  openpype/hosts/maya/plugins/create/create_rig.py
  openpype/hosts/maya/plugins/load/_load_animation.py
  openpype/hosts/maya/plugins/publish/collect_fbx_animation.py
  openpype/hosts/maya/plugins/publish/collect_rig_sets.py
  openpype/hosts/maya/plugins/publish/collect_skeleton_mesh.py
  openpype/hosts/maya/plugins/publish/extract_fbx_animation.py
  openpype/hosts/maya/plugins/publish/extract_skeleton_mesh.py
  openpype/hosts/maya/plugins/publish/validate_animated_reference.py
  openpype/hosts/maya/plugins/publish/validate_rig_contents.py
  openpype/hosts/maya/plugins/publish/validate_rig_controllers.py
  openpype/hosts/maya/plugins/publish/validate_rig_out_set_node_ids.py
  openpype/hosts/maya/plugins/publish/validate_rig_output_ids.py
  openpype/hosts/maya/plugins/publish/validate_skeleton_top_group_hierarchy.py
  openpype/settings/defaults/project_settings/maya.json
  openpype/settings/entities/schemas/projects_schema/schemas/schema_maya_publish.json
  server_addon/maya/server/settings/publishers.py
  server_addon/maya/server/version.py
Labels: type: enhancement, host: Maya, sponsored, size/S

#5687 Maya: Bug in validate Plug-in Path Attribute
  openpype/hosts/maya/plugins/publish/validate_plugin_path_attributes.py
Labels: type: bug, host: Maya, sponsored, size/XS

#5676 Add openpype_mongo command flag for testing.
  openpype/cli.py
  openpype/pype_commands.py
  tests/conftest.py
  tests/lib/testing_classes.py
Labels: type: enhancement, size/XS

#5694 Deadline: handle all valid paths in RenderExecutable
  openpype/modules/deadline/repository/custom/plugins/Ayon/Ayon.py
Labels: type: bug, module: Deadline, size/XS

#5490 Use host's node uniqueness for instance id in new publisher
  openpype/hosts/fusion/plugins/create/create_saver.py
  openpype/hosts/houdini/api/plugin.py
  openpype/hosts/maya/api/plugin.py
Labels: type: enhancement, host: Maya, host: Houdini, host: Fusion, community contribution, size/XS

#5695 Nuke: minor docstring and code tweaks for ExtractReviewMov
  openpype/hosts/nuke/api/lib.py
  openpype/hosts/nuke/api/plugin.py
Labels: type: enhancement, host: Nuke, size/XS

#5669 Chore: Maya reduce get project settings calls
  openpype/hosts/maya/api/menu.py
  openpype/hosts/maya/api/pipeline.py
  openpype/hosts/maya/api/plugin.py
  openpype/hosts/maya/plugins/publish/validate_unreal_staticmesh_naming.py
  openpype/modules/muster/plugins/publish/submit_maya_muster.py
Labels: host: Maya, host: UE, community contribution, size/XS

#5703 Chore: Explore here action can work without task
  openpype/plugins/actions/open_file_explorer.py
Labels: type: bug, size/XS

#5699 AYON: Small settings fixes
  openpype/hosts/nuke/plugins/publish/extract_review_intermediates.py
  openpype/settings/ayon_settings.py
  server_addon/applications/server/applications.json
Labels: type: enhancement, host: Nuke, size/XS

#5702 Chore: Fix subst paths handling
  start.py
Labels: type: bug, Bump Minor, size/XS

#5700 AYON Launcher tool: Fix skip last workfile boolean
  openpype/tools/ayon_launcher/abstract.py
  openpype/tools/ayon_launcher/control.py
  openpype/tools/ayon_launcher/models/actions.py
  openpype/tools/ayon_launcher/ui/actions_widget.py
Labels: type: bug

#5696 Tests: Remove checks for env var
  openpype/pype_commands.py
Labels: size/XS

#5678 Fusion: implement toggle to use Deadline plugin FusionCmd
  openpype/modules/deadline/plugins/publish/submit_fusion_deadline.py
  openpype/settings/defaults/project_settings/deadline.json
  openpype/settings/entities/schemas/projects_schema/schema_project_deadline.json
  server_addon/deadline/server/settings/publish_plugins.py
  server_addon/deadline/server/version.py
Labels: sponsored, host: Fusion, module: Deadline, type: feature, size/XS

#5685 AYON Launcher tool: Fix refresh btn
  openpype/tools/ayon_launcher/abstract.py
  openpype/tools/ayon_launcher/control.py
  openpype/tools/ayon_launcher/ui/actions_widget.py
  openpype/tools/ayon_launcher/ui/hierarchy_page.py
  openpype/tools/ayon_launcher/ui/projects_widget.py
  openpype/tools/ayon_launcher/ui/window.py
  openpype/tools/ayon_utils/models/hierarchy.py
  openpype/tools/ayon_utils/widgets/folders_widget.py
  openpype/tools/ayon_utils/widgets/tasks_widget.py
Labels: type: bug, size/XS

#5651 Bugfix: houdini switching context doesnt update variables
  openpype/hosts/houdini/api/lib.py
  openpype/hosts/houdini/api/pipeline.py
  openpype/hosts/houdini/startup/MainMenuCommon.xml
  openpype/pipeline/context_tools.py
  openpype/settings/defaults/project_settings/houdini.json
  openpype/settings/entities/schemas/projects_schema/schema_project_houdini.json
  openpype/settings/entities/schemas/projects_schema/schemas/schema_houdini_general.json
  server_addon/houdini/server/settings/general.py
  server_addon/houdini/server/settings/main.py
  server_addon/houdini/server/version.py
  website/docs/admin_hosts_houdini.md
  website/docs/assets/houdini/update-houdini-vars-context-change.png
Labels: type: bug, type: enhancement, host: Houdini, size/S

#5723 Blender: Add support to auto-install PySide2 in blender 4
  openpype/hosts/blender/hooks/pre_pyside_install.py
Labels: type: bug, host: Blender, size/XS

#5717 Resolve: Fix load clip management (update/remove)
  openpype/hosts/resolve/api/lib.py
  openpype/hosts/resolve/api/pipeline.py
  openpype/hosts/resolve/api/plugin.py
  openpype/hosts/resolve/plugins/load/load_clip.py
Labels: type: bug, type: enhancement, host: Resolve, community contribution, size/S

#5711 Blender: Alembic Animation loader
  openpype/hosts/blender/plugins/load/load_abc.py
Labels: type: enhancement, sponsored, host: Blender, size/XS

#5693 Maya: Optional Resolution Validator for Render
  openpype/hosts/maya/plugins/publish/validate_resolution.py
  openpype/settings/defaults/project_settings/maya.json
  openpype/settings/entities/schemas/projects_schema/schemas/schema_maya_publish.json
  server_addon/maya/server/settings/publishers.py
  server_addon/maya/server/version.py
Labels: type: enhancement, host: Maya, sponsored, size/XS

#4944 Feature: Copy resources when downloading last workfile
  openpype/modules/sync_server/launch_hooks/pre_copy_last_published_workfile.py
Labels: module: Sitesync, type: feature, community contribution, size/XS

#5733 Fix: Hardcoded main site and wrongly copied workfile
  openpype/modules/sync_server/launch_hooks/pre_copy_last_published_workfile.py
Labels: type: bug, module: Sitesync, size/XS

#5652 General: Avoid fallback if value is 0 for handle start/end
  openpype/pipeline/farm/pyblish_functions.py
Labels: type: bug, community contribution, size/XS

#5705 Maya: Add MayaPy application.
  openpype/hooks/pre_new_console_apps.py
  openpype/hosts/maya/api/pipeline.py
  openpype/hosts/maya/hooks/pre_copy_mel.py
  openpype/settings/defaults/system_settings/applications.json
  openpype/settings/entities/schemas/system_schema/host_settings/schema_mayapy.json
  openpype/settings/entities/schemas/system_schema/schema_applications.json
  server_addon/applications/server/applications.json
Labels: host: Maya, sponsored, type: feature, size/S

#5735 Bugfix: ServerDeleteOperation asset -> folder conversion typo
  openpype/client/server/operations.py
Labels: type: bug, community contribution, size/XS

#5739 Nuke: loaders are filtering correctly
  openpype/hosts/nuke/plugins/load/actions.py
  openpype/hosts/nuke/plugins/load/load_backdrop.py
  openpype/hosts/nuke/plugins/load/load_camera_abc.py
  openpype/hosts/nuke/plugins/load/load_effects.py
  openpype/hosts/nuke/plugins/load/load_effects_ip.py
  openpype/hosts/nuke/plugins/load/load_gizmo.py
  openpype/hosts/nuke/plugins/load/load_gizmo_ip.py
  openpype/hosts/nuke/plugins/load/load_matchmove.py
  openpype/hosts/nuke/plugins/load/load_model.py
  openpype/hosts/nuke/plugins/load/load_script_precomp.py
Labels: type: bug, host: Nuke, size/XS

#5745 AYON Settings: Fix global overrides
  openpype/settings/ayon_settings.py
Labels: type: bug, size/XS

#5729 Loader tool: Refactor loader tool (for AYON)
  openpype/modules/avalon_apps/avalon_app.py
  openpype/pipeline/load/__init__.py
  openpype/pipeline/load/utils.py
  openpype/pipeline/thumbnail.py
  openpype/tools/ayon_loader/__init__.py
  openpype/tools/ayon_loader/abstract.py
  openpype/tools/ayon_loader/control.py
  openpype/tools/ayon_loader/models/__init__.py
  openpype/tools/ayon_loader/models/actions.py
  openpype/tools/ayon_loader/models/products.py
  openpype/tools/ayon_loader/models/selection.py
  openpype/tools/ayon_loader/ui/__init__.py
  openpype/tools/ayon_loader/ui/actions_utils.py
  openpype/tools/ayon_loader/ui/folders_widget.py
  openpype/tools/ayon_loader/ui/info_widget.py
  openpype/tools/ayon_loader/ui/product_group_dialog.py
  openpype/tools/ayon_loader/ui/product_types_widget.py
  openpype/tools/ayon_loader/ui/products_delegates.py
  openpype/tools/ayon_loader/ui/products_model.py
  openpype/tools/ayon_loader/ui/products_widget.py
  openpype/tools/ayon_loader/ui/repres_widget.py
  openpype/tools/ayon_loader/ui/window.py
  openpype/tools/ayon_utils/models/__init__.py
  openpype/tools/ayon_utils/models/hierarchy.py
  openpype/tools/ayon_utils/models/projects.py
  openpype/tools/ayon_utils/models/thumbnails.py
  openpype/tools/ayon_utils/widgets/__init__.py
  openpype/tools/ayon_utils/widgets/folders_widget.py
  openpype/tools/ayon_utils/widgets/projects_widget.py
  openpype/tools/ayon_utils/widgets/tasks_widget.py
  openpype/tools/utils/__init__.py
  openpype/tools/utils/host_tools.py
  openpype/tools/utils/images/__init__.py
  openpype/tools/utils/images/thumbnail.png
  openpype/tools/utils/thumbnail_paint_widget.py
Labels: type: feature, size/XXL

#5706 Testing: Inject mongo_url argument earlier
  tests/lib/testing_classes.py
Labels: type: bug, sponsored, size/XS

#5752 Chore: AYON query functions arguments
  openpype/client/server/entities.py
Labels: type: bug, size/XS

#5753 AYON: Tools enhancements
  openpype/tools/ayon_launcher/ui/hierarchy_page.py
  openpype/tools/ayon_loader/ui/folders_widget.py
  openpype/tools/ayon_loader/ui/products_widget.py
  openpype/tools/ayon_loader/ui/window.py
  openpype/tools/ayon_utils/models/hierarchy.py
  openpype/tools/ayon_utils/widgets/folders_widget.py
  openpype/tools/ayon_utils/widgets/projects_widget.py
  openpype/tools/ayon_utils/widgets/tasks_widget.py
  openpype/tools/ayon_workfiles/widgets/files_widget_published.py
  openpype/tools/ayon_workfiles/widgets/files_widget_workarea.py
  openpype/tools/ayon_workfiles/widgets/folders_widget.py
  openpype/tools/ayon_workfiles/widgets/utils.py
  openpype/tools/ayon_workfiles/widgets/window.py
  openpype/tools/utils/__init__.py
  openpype/tools/utils/views.py
Labels: type: enhancement, size/S

#5756 Blender: Remove 'update_hierarchy'
  openpype/hosts/blender/api/pipeline.py
Labels: type: bug, host: Blender, size/XS

#5749 Nuke: validator of asset context with repair actions
  openpype/hosts/nuke/api/__init__.py
  openpype/hosts/nuke/api/actions.py
  openpype/hosts/nuke/plugins/publish/help/validate_asset_context.xml
  openpype/hosts/nuke/plugins/publish/help/validate_asset_name.xml
  openpype/hosts/nuke/plugins/publish/validate_asset_context.py
  openpype/hosts/nuke/plugins/publish/validate_asset_name.py
  openpype/hosts/nuke/plugins/publish/validate_output_resolution.py
  openpype/hosts/nuke/plugins/publish/validate_write_nodes.py
  openpype/settings/defaults/project_settings/nuke.json
  openpype/settings/entities/schemas/projects_schema/schemas/schema_nuke_publish.json
  server_addon/nuke/server/settings/publish_plugins.py
Labels: type: enhancement, host: Nuke, size/S

#5758 Scene Inventory tool: Refactor Scene Inventory tool (for AYON)
  openpype/tools/ayon_sceneinventory/__init__.py
  openpype/tools/ayon_sceneinventory/control.py
  openpype/tools/ayon_sceneinventory/model.py
  openpype/tools/ayon_sceneinventory/models/__init__.py
  openpype/tools/ayon_sceneinventory/models/site_sync.py
  openpype/tools/ayon_sceneinventory/switch_dialog/__init__.py
  openpype/tools/ayon_sceneinventory/switch_dialog/dialog.py
  openpype/tools/ayon_sceneinventory/switch_dialog/folders_input.py
  openpype/tools/ayon_sceneinventory/switch_dialog/widgets.py
  openpype/tools/ayon_sceneinventory/view.py
  openpype/tools/ayon_sceneinventory/window.py
  openpype/tools/utils/delegates.py
  openpype/tools/utils/host_tools.py
Labels: type: feature, size/XXL

#5645 Maya: add colorspace argument to redshiftTextureProcessor
  openpype/hosts/maya/plugins/publish/extract_look.py
Labels: type: bug, host: Maya, size/XS

#5329 Fusion: Work with pathmaps
  openpype/hosts/fusion/plugins/create/create_saver.py
  openpype/hosts/fusion/plugins/load/load_sequence.py
  openpype/hosts/fusion/plugins/publish/collect_render.py
Labels: type: enhancement, host: Fusion, community contribution, size/S

#5762 Enhancement: Nuke refactor `SelectInvalidAction`
  openpype/hosts/nuke/api/__init__.py
  openpype/hosts/nuke/api/actions.py
  openpype/hosts/nuke/api/lib.py
  openpype/hosts/nuke/plugins/publish/validate_asset_context.py
Labels: type: enhancement, host: Nuke, type: refactor, community contribution, size/XS

#5763 Enhancement: Tweak logging for Nuke for artist facing reports
  openpype/hosts/nuke/plugins/publish/collect_backdrop.py
  openpype/hosts/nuke/plugins/publish/collect_context_data.py
  openpype/hosts/nuke/plugins/publish/collect_gizmo.py
  openpype/hosts/nuke/plugins/publish/collect_model.py
  openpype/hosts/nuke/plugins/publish/collect_slate_node.py
  openpype/hosts/nuke/plugins/publish/collect_workfile.py
  openpype/hosts/nuke/plugins/publish/extract_backdrop.py
  openpype/hosts/nuke/plugins/publish/extract_camera.py
  openpype/hosts/nuke/plugins/publish/extract_gizmo.py
  openpype/hosts/nuke/plugins/publish/extract_model.py
  openpype/hosts/nuke/plugins/publish/extract_ouput_node.py
  openpype/hosts/nuke/plugins/publish/extract_render_local.py
  openpype/hosts/nuke/plugins/publish/extract_review_data_lut.py
  openpype/hosts/nuke/plugins/publish/extract_review_intermediates.py
  openpype/hosts/nuke/plugins/publish/extract_script_save.py
  openpype/hosts/nuke/plugins/publish/extract_slate_frame.py
  openpype/hosts/nuke/plugins/publish/extract_thumbnail.py
  openpype/hosts/nuke/plugins/publish/validate_backdrop.py
  openpype/hosts/nuke/plugins/publish/validate_output_resolution.py
  openpype/hosts/nuke/plugins/publish/validate_rendered_frames.py
  openpype/hosts/nuke/plugins/publish/validate_write_nodes.py
Labels: type: enhancement, host: Nuke, community contribution, size/S

#5759 Max: Tweaks on ValidateMaxContents
  openpype/hosts/max/plugins/publish/validate_instance_has_members.py
Labels: type: enhancement, host: 3dsmax, size/XS

#5710 Maya: Multi-shot Layout Creator
  openpype/hosts/maya/plugins/create/create_multishot_layout.py
  server_addon/maya/server/settings/creators.py
Labels: host: Maya, sponsored, type: feature, size/S

#5768 Max: bug fix on the settings in pointcloud family
  openpype/hosts/max/plugins/publish/extract_pointcloud.py
  openpype/hosts/max/plugins/publish/validate_pointcloud.py
Labels: type: bug, host: 3dsmax, size/XS

#5769 Maya: don't call `cmds.ogs()` in headless mode
  openpype/hosts/maya/api/lib.py
Labels: type: bug, host: Maya, sponsored, size/XS

#5773 AYON settings: Fix default factory of tools
  server_addon/applications/server/settings.py
  server_addon/applications/server/version.py
Labels: type: bug, size/XS

#5674 Maya: Add Maya 2024 and remove pre 2022.
  openpype/settings/defaults/system_settings/applications.json
  server_addon/applications/server/applications.json
Labels: type: enhancement, sponsored, size/XS

#5776 Fusion: added missing OPENPYPE_VERSION
  openpype/modules/deadline/plugins/publish/submit_fusion_deadline.py
Labels: type: bug, host: Fusion, module: Deadline, size/XS

#5673 Resolve: inventory management fix
  openpype/hosts/resolve/api/lib.py
  openpype/hosts/resolve/api/pipeline.py
  openpype/hosts/resolve/api/plugin.py
  openpype/hosts/resolve/plugins/load/load_clip.py
  openpype/hosts/resolve/utility_scripts/tests/test_otio_as_edl.py
  openpype/hosts/resolve/utility_scripts/tests/testing_create_timeline_item_from_path.py
  openpype/hosts/resolve/utility_scripts/tests/testing_load_media_pool_item.py
  openpype/hosts/resolve/utility_scripts/tests/testing_startup_script.py
  openpype/hosts/resolve/utility_scripts/tests/testing_timeline_op.py
Labels: type: bug, host: Resolve, size/XS

#5734 Testing: Ingest Maya userSetup
  tests/integration/hosts/maya/input/startup/userSetup.py
  tests/integration/hosts/maya/lib.py
Labels: type: enhancement, host: Maya, sponsored, size/XS

#5777 Ftrack: Skip tasks when looking for asset equivalent entity
  openpype/modules/ftrack/plugins/publish/collect_ftrack_api.py
Labels: type: bug, sponsored, module: Ftrack, size/XS

#5780 General: thumbnail extractor as last extractor
  openpype/plugins/publish/extract_thumbnail.py
Labels: type: bug, size/XS

#5779 Nuke: loading gizmos fixes
  openpype/hosts/nuke/api/lib.py
  openpype/hosts/nuke/plugins/load/load_gizmo.py
  openpype/hosts/nuke/plugins/load/load_gizmo_ip.py
Labels: type: bug, host: Nuke, size/S

#5771 Nuke: fixing UNC support for OCIO path
  openpype/hosts/nuke/api/lib.py
Labels: host: Nuke, size/XS

#5787 Bug: fix key in application json
  server_addon/applications/server/applications.json
Labels: type: bug, size/XS

#5793 Publisher: Selection change by enabled checkbox on instance update attributes
  openpype/tools/publisher/widgets/card_view_widgets.py
Labels: type: bug, size/XS

#5783 AYON: Support dev bundles
  openpype/modules/base.py
  openpype/resources/__init__.py
  openpype/resources/icons/AYON_icon_dev.png
  openpype/resources/icons/AYON_splash_dev.png
  openpype/settings/ayon_settings.py
  openpype/vendor/python/common/ayon_api/_api.py
  openpype/vendor/python/common/ayon_api/graphql_queries.py
  openpype/vendor/python/common/ayon_api/server_api.py
  openpype/vendor/python/common/ayon_api/utils.py
  openpype/vendor/python/common/ayon_api/version.py
Labels: type: feature, size/S

#5727 Enhancement: Houdini: Allow using template keys in Houdini shelves manager
  openpype/hosts/houdini/api/shelves.py
Labels: type: enhancement, host: Houdini, size/XS

#5737 Houdini: Fix Show in usdview loader action
  openpype/hosts/houdini/plugins/load/show_usdview.py
Labels: type: bug, type: enhancement, host: Houdini, community contribution, size/XS

#5786 AYON Settings: Disk mapping
  server_addon/core/server/settings/main.py
Labels: type: enhancement, size/XS

#5796 Houdini: Remove `setParms` call since it's responsibility of `self.imprint` to set the values
  openpype/hosts/houdini/api/lib.py
  openpype/hosts/houdini/api/plugin.py
Labels: type: bug, host: Houdini, community contribution, size/XS

#5541 Colorspace: ociolook file product type workflow
  openpype/hosts/nuke/plugins/load/load_ociolook.py
  openpype/hosts/traypublisher/plugins/create/create_colorspace_look.py
  openpype/hosts/traypublisher/plugins/publish/collect_colorspace_look.py
  openpype/hosts/traypublisher/plugins/publish/collect_explicit_colorspace.py
  openpype/hosts/traypublisher/plugins/publish/extract_colorspace_look.py
  openpype/hosts/traypublisher/plugins/publish/validate_colorspace.py
  openpype/hosts/traypublisher/plugins/publish/validate_colorspace_look.py
  openpype/pipeline/colorspace.py
  openpype/plugins/publish/integrate.py
  openpype/scripts/ocio_wrapper.py
  tests/unit/openpype/pipeline/publish/test_publish_plugins.py
  tests/unit/openpype/pipeline/test_colorspace_convert_colorspace_enumerator_item.py
  tests/unit/openpype/pipeline/test_colorspace_get_colorspaces_enumerator_items.py
Labels: type: enhancement, host: Nuke, type: feature, host: TrayPublisher, size/S

#5799 AYON loader: Fix SubsetLoader functionality
  openpype/tools/ayon_loader/models/actions.py
Labels: type: bug, size/XS

#5792 'NumberAttrWidget' shows 'Multiselection' label on multiselection
  openpype/tools/attribute_defs/widgets.py
Labels: type: bug, size/XS

#5747 Blender: Fix pointcache family and fix alembic extractor
  openpype/hosts/blender/plugins/create/create_pointcache.py
  openpype/hosts/blender/plugins/load/load_abc.py
  openpype/hosts/blender/plugins/publish/collect_instances.py
  openpype/hosts/blender/plugins/publish/extract_abc.py
  openpype/hosts/blender/plugins/publish/increment_workfile_version.py
  openpype/settings/defaults/project_settings/blender.json
  openpype/settings/entities/schemas/projects_schema/schemas/schema_blender_publish.json
  server_addon/blender/server/settings/publish_plugins.py
Labels: type: bug, sponsored, host: Blender, size/S

#5800 Corrected a typo in Readme.md (Top -> To)
  README.md
Labels: community contribution, size/XS

#5802 Photoshop: Removed redundant copy of extension.zxp
  openpype/hosts/photoshop/api/extension/extension.zxp
Labels: host: Photoshop, size/XS

#5803 AYON: Remove 'shotgun_api3' from dependencies
  server_addon/openpype/client/pyproject.toml
Labels: type: bug, size/XS

#5807 Chore: Fix typo in filename
  openpype/pipeline/publish/constants.py
  openpype/pipeline/publish/contants.py
  openpype/pipeline/publish/lib.py
Labels: type: bug, size/XS

#5809 Chore: Create context respects instance changes
  openpype/pipeline/create/context.py
Labels: type: bug, size/XS

#5811 Blender: Fix tools handling in AYON mode
  openpype/hosts/blender/api/ops.py
Labels: type: bug, host: Blender, size/XS

#5805 Chore: Removed unused variable from `AbstractCollectRender`
  openpype/pipeline/publish/abstract_collect_render.py
Labels: type: enhancement, size/XS

#5812 Blender: Include Grease Pencil in review and thumbnails
  openpype/hosts/blender/api/capture.py
Labels: type: bug, sponsored, host: Blender, size/XS

#5813 Workfiles tool AYON: Fix double click of workfile
  openpype/tools/ayon_workfiles/widgets/files_widget_workarea.py
Labels: type: bug, size/XS

#5624 Max: tycache family support
  openpype/hosts/max/plugins/create/create_tycache.py
  openpype/hosts/max/plugins/load/load_tycache.py
  openpype/hosts/max/plugins/publish/collect_tycache_attributes.py
  openpype/hosts/max/plugins/publish/extract_tycache.py
  openpype/hosts/max/plugins/publish/validate_pointcloud.py
  openpype/hosts/max/plugins/publish/validate_tyflow_data.py
  openpype/plugins/publish/collect_resources_path.py
  openpype/plugins/publish/integrate.py
  openpype/settings/defaults/project_anatomy/templates.json
  openpype/settings/defaults/project_settings/global.json
  server_addon/core/server/settings/tools.py
  server_addon/core/server/version.py
Labels: type: enhancement, sponsored, host: 3dsmax, size/S

#5819 Webpublisher: removal of usage of no_of_frames in error message
  openpype/hosts/webpublisher/plugins/publish/collect_published_files.py
Labels: type: bug, sponsored, size/XS

#5746 Nuke: ayon server settings improvements
  openpype/settings/ayon_settings.py
  openpype/settings/defaults/project_settings/nuke.json
  openpype/settings/entities/schemas/projects_schema/schemas/schema_nuke_publish.json
  server_addon/nuke/server/settings/imageio.py
  server_addon/nuke/server/settings/publish_plugins.py
  server_addon/nuke/server/version.py
Labels: type: bug, host: Nuke, size/S

#5744 Max: Setting tweaks on Review Family
  openpype/hosts/max/api/lib.py
  openpype/hosts/max/api/preview_animation.py
  openpype/hosts/max/plugins/create/create_review.py
  openpype/hosts/max/plugins/publish/collect_review.py
  openpype/hosts/max/plugins/publish/extract_review_animation.py
  openpype/hosts/max/plugins/publish/extract_thumbnail.py
  openpype/hosts/max/plugins/publish/validate_resolution_setting.py
Labels: type: enhancement, sponsored, host: 3dsmax, size/S

#5698 Bugfix/houdini: wrong frame calculation with handles
  openpype/hosts/houdini/api/lib.py
  openpype/hosts/houdini/plugins/publish/collect_arnold_rop.py
  openpype/hosts/houdini/plugins/publish/collect_instance_frame_data.py
  openpype/hosts/houdini/plugins/publish/collect_instances.py
  openpype/hosts/houdini/plugins/publish/collect_karma_rop.py
  openpype/hosts/houdini/plugins/publish/collect_mantra_rop.py
  openpype/hosts/houdini/plugins/publish/collect_redshift_rop.py
  openpype/hosts/houdini/plugins/publish/collect_rop_frame_range.py
  openpype/hosts/houdini/plugins/publish/collect_vray_rop.py
  openpype/hosts/houdini/plugins/publish/validate_frame_range.py
  openpype/modules/deadline/plugins/publish/submit_houdini_render_deadline.py
  openpype/settings/defaults/project_settings/houdini.json
  openpype/settings/entities/schemas/projects_schema/schemas/schema_houdini_publish.json
  server_addon/houdini/server/settings/publish_plugins.py
  server_addon/houdini/server/version.py
Labels: type: bug, host: Houdini, module: Deadline, size/S

#5730 Unreal: Improved error reporting for Sequence Frame Validator
  openpype/hosts/unreal/plugins/publish/validate_sequence_frames.py
Labels: type: enhancement, sponsored, host: UE, size/XS

#5821 Attribute Defs: Hide multivalue widget in Number by default
  openpype/tools/attribute_defs/widgets.py
Labels: type: bug, size/XS

#5670 Unreal: Changed behaviour for updating assets
  openpype/hosts/unreal/api/pipeline.py
  openpype/hosts/unreal/plugins/inventory/delete_unused_assets.py
  openpype/hosts/unreal/plugins/inventory/update_actors.py
  openpype/hosts/unreal/plugins/load/load_alembic_animation.py
  openpype/hosts/unreal/plugins/load/load_geometrycache_abc.py
  openpype/hosts/unreal/plugins/load/load_skeletalmesh_abc.py
  openpype/hosts/unreal/plugins/load/load_skeletalmesh_fbx.py
  openpype/hosts/unreal/plugins/load/load_staticmesh_abc.py
  openpype/hosts/unreal/plugins/load/load_staticmesh_fbx.py
  openpype/hosts/unreal/plugins/load/load_uasset.py
  openpype/hosts/unreal/plugins/load/load_yeticache.py
Labels: type: enhancement, host: UE, size/M

#5704 Nuke: Dont update node name on update
  openpype/hosts/nuke/plugins/load/load_image.py
Labels: type: bug, host: Nuke, community contribution, size/XS

#5822 Chore: updating create ayon addon script
  server_addon/create_ayon_addons.py
Labels: type: enhancement, size/XS

#5826 Nuke: Remove unused 'get_render_path' function
  openpype/hosts/nuke/api/lib.py
Labels: type: enhancement, host: Nuke, size/XS

#5558 Enhancement: Fusion fix saver creation + minor Blender/Fusion logging tweaks
  openpype/hosts/blender/plugins/publish/extract_abc.py
  openpype/hosts/blender/plugins/publish/extract_abc_animation.py
  openpype/hosts/blender/plugins/publish/extract_blend.py
  openpype/hosts/blender/plugins/publish/extract_blend_animation.py
  openpype/hosts/blender/plugins/publish/extract_camera_abc.py
  openpype/hosts/blender/plugins/publish/extract_camera_fbx.py
  openpype/hosts/blender/plugins/publish/extract_fbx.py
  openpype/hosts/blender/plugins/publish/extract_fbx_animation.py
  openpype/hosts/blender/plugins/publish/extract_layout.py
  openpype/hosts/blender/plugins/publish/extract_playblast.py
  openpype/hosts/blender/plugins/publish/extract_thumbnail.py
  openpype/hosts/fusion/plugins/create/create_saver.py
  openpype/hosts/fusion/plugins/load/actions.py
Labels: type: enhancement, host: Blender, host: Fusion, community contribution, size/XS

#5325 Fusion: Resolution validator
  openpype/hosts/fusion/api/lib.py
  openpype/hosts/fusion/plugins/publish/validate_saver_resolution.py
  openpype/settings/defaults/project_settings/fusion.json
  openpype/settings/entities/schemas/projects_schema/schema_project_fusion.json
Labels: host: Fusion, type: feature, community contribution, size/S

#5828 AYON: Skip kitsu module when creating ayon addons
  openpype/modules/base.py
  server_addon/create_ayon_addons.py
Labels: type: bug, size/XS

#5061 Nuke: Fix workfile template builder so representations get loaded next to each other
  openpype/hosts/maya/api/workfile_template_builder.py
  openpype/hosts/nuke/api/workfile_template_builder.py
  openpype/pipeline/workfile/workfile_template_builder.py
Labels: type: bug, host: Nuke, host: Maya, community contribution, size/XS

#5827 UIDefLabel can be unique
  openpype/lib/attribute_definitions.py
Labels: type: bug, size/XS

#5832 Bugfix: Collect Rendered Files only collecting first instance
  openpype/plugins/publish/collect_rendered_files.py
Labels: type: bug, community contribution, size/XS

#5843 Fix registering launcher actions from OpenPypeModules
  openpype/modules/launcher_action.py
Labels: type: bug, community contribution, size/XS
