Repository ynput/OpenPype, pull requests merged in 2023-07, with the labels that each got.

#5215 Bug: Maya - xgen sidecar files arent moved when saving workfile as an new asset workfile changing context - OP-6222
  openpype/hosts/maya/api/pipeline.py
Labels: type: enhancement, host: Maya, sponsored, size/S

#5227 Enhancement: More descriptive error messages for Loaders
  openpype/pipeline/load/__init__.py
  openpype/pipeline/load/utils.py
  openpype/tools/sceneinventory/switch_dialog.py
Labels: type: enhancement, size/XS

#5222 Bug: Template builder fails when loading data without outliner representation
  openpype/hosts/maya/api/workfile_template_builder.py
Labels: host: Maya, community contribution, size/XS

#5230 Houdini: Add geometry check for pointcache family
  openpype/hosts/houdini/plugins/publish/validate_abc_primitive_to_detail.py
  openpype/hosts/houdini/plugins/publish/validate_primitive_hierarchy_paths.py
Labels: type: bug, host: Houdini, size/XS

#5232 Houdini: Add geometry check for VDB family
  openpype/hosts/houdini/plugins/publish/validate_vdb_output_node.py
Labels: type: bug, host: Houdini, size/XS

#5233 Maya: aligning default settings to distributed aces 1.2 config
  openpype/settings/defaults/project_settings/maya.json
Labels: type: bug, host: Maya, size/XS

#5234 Substance Painter: Include the setting only in publish tab
  openpype/hosts/substancepainter/plugins/create/create_textures.py
Labels: type: bug, host: Substance Painter, size/XS

#5001 Review Family in Max
  openpype/hosts/max/api/lib.py
  openpype/hosts/max/plugins/create/create_review.py
  openpype/hosts/max/plugins/publish/collect_review.py
  openpype/hosts/max/plugins/publish/extract_review_animation.py
  openpype/hosts/max/plugins/publish/extract_thumbnail.py
  openpype/hosts/max/plugins/publish/validate_animation_timeline.py
  openpype/hosts/max/plugins/publish/validate_camera_contents.py
  openpype/hosts/max/plugins/publish/validate_no_max_content.py
  openpype/plugins/publish/extract_burnin.py
  openpype/plugins/publish/extract_review.py
  openpype/settings/defaults/project_settings/global.json
Labels: sponsored, type: feature, host: 3dsmax, size/S

#5192 node references to check for duplicates in Max
  openpype/hosts/max/api/plugin.py
Labels: type: enhancement, host: 3dsmax, size/XS

#5206 General: Runtime dependencies
  poetry.lock
  pyproject.toml
  tools/fetch_thirdparty_libs.py
Labels: Bump Minor, type: feature, size/XS

#5244 Deadline: OPENPYPE_VERSION should only be added when running from build
  openpype/modules/deadline/plugins/publish/submit_publish_job.py
Labels: type: bug, module: Deadline, community contribution, size/XS

#5217 Houdini: Fix `get_color_management_preferences`
  openpype/hosts/houdini/api/lib.py
Labels: type: bug, host: Houdini, community contribution, size/XS

#5226 Maya: Minor refactoring and code cleanup
  openpype/hosts/maya/api/lib.py
  openpype/hosts/maya/api/obj.py
  openpype/hosts/maya/api/pipeline.py
  openpype/hosts/maya/api/plugin.py
  openpype/hosts/maya/api/render_setup_tools.py
  openpype/hosts/maya/plugins/publish/extract_obj.py
  openpype/hosts/maya/tools/mayalookassigner/app.py
  openpype/pipeline/create/legacy_create.py
Labels: host: Maya, type: refactor, community contribution, size/S

#5242 CreatePlugin: Get next version helper
  openpype/pipeline/create/__init__.py
  openpype/pipeline/create/context.py
  openpype/pipeline/create/creator_plugins.py
  openpype/pipeline/create/utils.py
Labels: type: feature, size/S

#5228 Validate delivery action representations status
  openpype/plugins/load/delivery.py
Labels: type: bug, size/XS

#5246 Fix no prompt for "unsaved changes" showing when opening workfile in Houdini
  openpype/hosts/houdini/api/pipeline.py
  openpype/hosts/houdini/plugins/publish/save_scene.py
Labels: type: bug, host: Houdini, community contribution, size/XS

#5248 Fix no prompt for "unsaved changes" showing when opening workfile in Substance Painter
  openpype/hosts/substancepainter/api/pipeline.py
  openpype/hosts/substancepainter/plugins/publish/save_workfile.py
Labels: type: bug, community contribution, host: Substance Painter, size/XS

#5240 RepairAction and SelectInvalidAction filter instances failed on the exact plugin
  openpype/action.py
  openpype/hosts/blender/api/action.py
  openpype/hosts/fusion/api/action.py
  openpype/hosts/houdini/api/action.py
  openpype/hosts/maya/api/action.py
  openpype/hosts/nuke/api/actions.py
  openpype/hosts/nuke/plugins/publish/validate_rendered_frames.py
  openpype/hosts/resolve/api/action.py
  openpype/pipeline/publish/lib.py
  openpype/pipeline/publish/publish_plugins.py
Labels: type: bug, host: Nuke, host: Maya, host: Houdini, host: Blender, host: Resolve, host: Fusion, community contribution, size/XS

#5231 Houdini: add select invalid action for ValidateSopOutputNode
  openpype/hosts/houdini/api/action.py
  openpype/hosts/houdini/plugins/publish/validate_sop_output_node.py
Labels: type: enhancement, host: Houdini, size/XS

#5202 Max: Publisher instances dont hold its enabled disabled states when Publisher reopened again
  openpype/hosts/max/api/lib.py
Labels: type: bug, host: 3dsmax, size/XS

#5243 Maya: Fix collecting arnold prefix when none
  openpype/hosts/maya/api/lib_renderproducts.py
Labels: type: bug, host: Maya, community contribution, size/XS

#5261 Maya: Fix set_attribute for enum attributes
  openpype/hosts/maya/api/lib.py
Labels: type: bug, host: Maya, community contribution, size/XS

#5235 Remove new lines from the delivery template string
  openpype/pipeline/delivery.py
Labels: type: enhancement, community contribution, size/XS

#5252 Update scene inventory even if any errors occurred during update
  openpype/tools/sceneinventory/view.py
Labels: type: enhancement, community contribution, size/S

#5051 Nuke: Create nodes with inpanel=False
  openpype/hosts/nuke/api/lib.py
  openpype/hosts/nuke/plugins/load/load_camera_abc.py
  openpype/hosts/nuke/plugins/load/load_clip.py
  openpype/hosts/nuke/plugins/load/load_effects.py
  openpype/hosts/nuke/plugins/load/load_effects_ip.py
  openpype/hosts/nuke/plugins/load/load_image.py
  openpype/hosts/nuke/plugins/load/load_model.py
  openpype/hosts/nuke/plugins/load/load_script_precomp.py
Labels: type: bug, host: Nuke, community contribution, size/XS

#5250 Houdini: better selection on pointcache creation
  openpype/hosts/houdini/plugins/create/create_pointcache.py
Labels: type: enhancement, host: Houdini, size/XS

#5268 Unreal: Move Qt imports away from module init
  openpype/hosts/unreal/addon.py
Labels: type: bug, host: UE, community contribution

#5257 Maya: Bugfix look update nodes by id with non-unique shape names (query with `fullPath`)
  openpype/hosts/maya/plugins/load/load_look.py
Labels: type: bug, host: Maya, community contribution, size/XS

#5259 Substance Painter: Fix default color management settings
  openpype/settings/defaults/project_settings/substancepainter.json
Labels: type: bug, community contribution, host: Substance Painter, size/XS

#5267 Nuke: fixing container data if windows path in value
  openpype/hosts/nuke/plugins/load/load_clip.py
Labels: type: bug, host: Nuke, size/XS

#5271 Testing: improving logging during testing
  openpype/pype_commands.py
Labels: type: enhancement, size/XS

#5264 Feature/blender handle q application
  openpype/hosts/blender/api/ops.py
Labels: host: Blender, type: feature, community contribution, size/XS

#5238 Substance Painter: Fix Collect Texture Set Images unable to copy.deepcopy due to QMenu
  openpype/hosts/substancepainter/plugins/publish/collect_textureset_images.py
Labels: type: bug, community contribution, host: Substance Painter, size/XS

#5275 Nuke: removing deprecated settings in baking
  openpype/hosts/nuke/api/plugin.py
Labels: type: enhancement, host: Nuke, Bump Minor, size/XS

#5281 Houdini: fix typo error in collect arnold rop
  openpype/hosts/houdini/plugins/publish/collect_arnold_rop.py
Labels: type: bug, host: Houdini, size/XS

#5229 Max: OP parameters only displays what is attached to the container
  openpype/hosts/max/api/plugin.py
Labels: type: enhancement, host: 3dsmax, size/XS

#5287 Slack - enhanced logging and protection against failure
  openpype/modules/slack/plugins/publish/integrate_slack_api.py
Labels: type: bug, sponsored, size/XS

#5152 Add collector to tray publisher for getting frame range data
  openpype/plugins/publish/collect_frame_range_asset_entity.py
  openpype/plugins/publish/collect_sequence_frame_data.py
  openpype/settings/defaults/project_settings/traypublisher.json
  openpype/settings/entities/schemas/projects_schema/schema_project_traypublisher.json
Labels: type: bug, sponsored, host: TrayPublisher, size/XS

#5292 Maya: Removed unnecessary import of pyblish.cli
  openpype/tests/lib.py
Labels: type: bug, type: unittest, size/XS

#5024 General: delivery action add renamed frame number in Loader
  openpype/pipeline/delivery.py
  openpype/plugins/load/delivery.py
Labels: type: enhancement, sponsored, size/XS

#5237 Enhancement/houdini add path action for abc validator
  openpype/hosts/houdini/plugins/publish/validate_primitive_hierarchy_paths.py
Labels: type: enhancement, host: Houdini, size/XS

#5258 Maya: Refactor imports to `lib.get_reference_node` since the other function…
  openpype/hosts/maya/plugins/inventory/import_reference.py
  openpype/hosts/maya/plugins/load/load_look.py
Labels: host: Maya, type: refactor, community contribution, size/XS

#5299 Traypublisher: Fix plugin order
  openpype/hosts/traypublisher/plugins/publish/collect_frame_range_asset_entity.py
Labels: type: bug, host: TrayPublisher, size/XS

#5298 AYON: Make appdirs case sensitive
  common/ayon_common/utils.py
  openpype/lib/local_settings.py
  openpype/modules/base.py
  openpype/vendor/python/common/ayon_api/thumbnails.py
Labels: type: bug, size/XS

#5289 Harmony:Removed loader settings for Harmony
  openpype/settings/defaults/project_settings/harmony.json
  openpype/settings/entities/schemas/projects_schema/schema_project_harmony.json
Labels: host: Harmony, size/XS

#5302 Deadline: removing OPENPYPE_VERSION from some host submitters
  openpype/modules/deadline/plugins/publish/submit_houdini_render_deadline.py
  openpype/modules/deadline/plugins/publish/submit_max_deadline.py
Labels: type: bug, host: Houdini, module: Deadline, host: 3dsmax, size/XS

#5308 AYON: Fix args for workfile conversion util
  openpype/client/server/conversion_utils.py
Labels: type: bug, size/XS

#4588 Houdini: simple bgeo publishing
  openpype/hosts/houdini/plugins/create/convert_legacy.py
  openpype/hosts/houdini/plugins/create/create_bgeo.py
  openpype/hosts/houdini/plugins/publish/collect_frames.py
  openpype/hosts/houdini/plugins/publish/collect_pointcache_type.py
  openpype/hosts/houdini/plugins/publish/extract_alembic.py
  openpype/hosts/houdini/plugins/publish/extract_bgeo.py
  openpype/hosts/houdini/plugins/publish/validate_abc_primitive_to_detail.py
  openpype/hosts/houdini/plugins/publish/validate_alembic_face_sets.py
  openpype/hosts/houdini/plugins/publish/validate_alembic_input_node.py
  openpype/hosts/houdini/plugins/publish/validate_bgeo_file_sop_path.py
  openpype/hosts/houdini/plugins/publish/validate_file_extension.py
  openpype/hosts/houdini/plugins/publish/validate_primitive_hierarchy_paths.py
  website/docs/artist_hosts_houdini.md
  website/docs/assets/houdini_bgeo-loading.png
  website/docs/assets/houdini_bgeo-publisher.png
  website/docs/assets/houdini_bgeo_output_node.png
Labels: host: Houdini, sponsored, type: documentation, host: After Effects, type: feature

#5277 Nuke: auto apply all settings after template build
  openpype/hosts/nuke/api/workfile_template_builder.py
Labels: type: enhancement, host: Nuke, size/XS

#5312 Deadline: missing context argument
  openpype/modules/deadline/plugins/publish/collect_pools.py
  openpype/modules/deadline/plugins/publish/submit_publish_job.py
Labels: type: bug, module: Deadline, size/XS

#5265 Windows: Support long paths on zip updates.
  igniter/bootstrap_repos.py
Labels: type: enhancement, size/XS

#5315 Remove forgotten dev logging
  openpype/modules/deadline/plugins/publish/collect_pools.py
Labels: module: Deadline, size/XS

#5319 Docker: handle openssl 1.1.1 for centos 7 docker build
  Dockerfile.centos7
Labels: type: bug, size/XS

#5324 Houdini: fix wrong creator identifier in pointCache workflow
  openpype/hosts/houdini/plugins/publish/collect_pointcache_type.py
Labels: type: bug, host: Houdini, size/XS

#5327 Fusion - Set selected tool to active
  openpype/hosts/fusion/api/action.py
Labels: host: Fusion, type: feature, community contribution, size/XS

#5326 Maya: All base create plugins
  openpype/hosts/maya/api/plugin.py
  openpype/pipeline/__init__.py
  openpype/pipeline/create/context.py
Labels: type: enhancement, host: Maya, size/S

#5335 Maya: Validate Instance In Context
  openpype/hosts/maya/plugins/publish/validate_instance_in_context.py
Labels: type: bug, host: Maya, size/XS

#5339 Blender: Support for ExtractBurnin
  openpype/hosts/blender/plugins/publish/collect_review.py
  openpype/plugins/publish/extract_burnin.py
Labels: type: enhancement, sponsored, host: Blender, size/XS

#5338 Blender: Added setting to set resolution and start/end frames at startup
  openpype/hosts/blender/api/ops.py
  openpype/hosts/blender/api/pipeline.py
  openpype/settings/defaults/project_settings/blender.json
  openpype/settings/entities/schemas/projects_schema/schema_project_blender.json
Labels: type: enhancement, sponsored, host: Blender, size/XS

#5334 Fix colorspace compatibility check
  openpype/pipeline/colorspace.py
Labels: type: bug, size/XS

#5323 Chore: Remove deprecated functions
  openpype/action.py
  openpype/lib/__init__.py
  openpype/lib/avalon_context.py
  openpype/lib/delivery.py
  openpype/lib/execute.py
  openpype/lib/log.py
  openpype/lib/mongo.py
  openpype/lib/path_tools.py
  openpype/lib/plugin_tools.py
  openpype/modules/shotgrid/plugins/publish/collect_shotgrid_entities.py
  openpype/plugin.py
  openpype/settings/handlers.py
Labels: type: enhancement, module: Shotgrid, size/XL

#5353 Ftrack: Sync to avalon settings
  openpype/modules/ftrack/event_handlers_server/action_sync_to_avalon.py
  openpype/settings/defaults/project_settings/ftrack.json
  openpype/settings/entities/schemas/projects_schema/schema_project_ftrack.json
Labels: type: enhancement, module: Ftrack, size/XS

#5303 Maya: Apply project settings to creators
  openpype/hosts/maya/api/plugin.py
  openpype/hosts/maya/plugins/create/create_arnold_scene_source.py
Labels: type: bug, host: Maya, sponsored, size/XS

#5340 Bugfix/maya validate frame rang fix
  openpype/hosts/maya/plugins/publish/collect_review.py
  openpype/settings/entities/schemas/projects_schema/schemas/schema_maya_publish.json
Labels: type: bug, host: Maya, size/XS

#5350 Houdini: Add farm toggle on creation menu
  openpype/hosts/houdini/plugins/create/create_arnold_rop.py
  openpype/hosts/houdini/plugins/create/create_karma_rop.py
  openpype/hosts/houdini/plugins/create/create_mantra_rop.py
  openpype/hosts/houdini/plugins/create/create_redshift_rop.py
  openpype/hosts/houdini/plugins/create/create_vray_rop.py
Labels: type: enhancement, host: Houdini, size/XS

#5310 Bug: Error on multiple instance rig with maya
  openpype/hosts/maya/plugins/create/create_rig.py
  openpype/hosts/maya/plugins/publish/validate_rig_output_ids.py
Labels: type: enhancement, host: Maya, community contribution, size/XS

#5354 Chore: Schemas inside OpenPype
  openpype/pipeline/schema/__init__.py
  openpype/pipeline/schema/application-1.0.json
  openpype/pipeline/schema/asset-1.0.json
  openpype/pipeline/schema/asset-2.0.json
  openpype/pipeline/schema/asset-3.0.json
  openpype/pipeline/schema/config-1.0.json
  openpype/pipeline/schema/config-1.1.json
  openpype/pipeline/schema/config-2.0.json
  openpype/pipeline/schema/container-1.0.json
  openpype/pipeline/schema/container-2.0.json
  openpype/pipeline/schema/hero_version-1.0.json
  openpype/pipeline/schema/inventory-1.0.json
  openpype/pipeline/schema/inventory-1.1.json
  openpype/pipeline/schema/project-2.0.json
  openpype/pipeline/schema/project-2.1.json
  openpype/pipeline/schema/project-3.0.json
  openpype/pipeline/schema/representation-1.0.json
  openpype/pipeline/schema/representation-2.0.json
  openpype/pipeline/schema/session-1.0.json
  openpype/pipeline/schema/session-2.0.json
  openpype/pipeline/schema/session-3.0.json
  openpype/pipeline/schema/shaders-1.0.json
  openpype/pipeline/schema/subset-1.0.json
  openpype/pipeline/schema/subset-2.0.json
  openpype/pipeline/schema/subset-3.0.json
  openpype/pipeline/schema/thumbnail-1.0.json
  openpype/pipeline/schema/version-1.0.json
  openpype/pipeline/schema/version-2.0.json
  openpype/pipeline/schema/version-3.0.json
  openpype/pipeline/schema/workfile-1.0.json
Labels: type: enhancement, size/XL

#5348 AYON: Remove AYON launch logic from OpenPype
  ayon_start.py
  common/ayon_common/__init__.py
  common/ayon_common/connection/__init__.py
  common/ayon_common/connection/credentials.py
  common/ayon_common/connection/ui/__init__.py
  common/ayon_common/connection/ui/__main__.py
  common/ayon_common/connection/ui/login_window.py
  common/ayon_common/connection/ui/widgets.py
  common/ayon_common/distribution/README.md
  common/ayon_common/distribution/__init__.py
  common/ayon_common/distribution/control.py
  common/ayon_common/distribution/data_structures.py
  common/ayon_common/distribution/downloaders.py
  common/ayon_common/distribution/file_handler.py
  common/ayon_common/distribution/tests/test_addon_distributtion.py
  common/ayon_common/distribution/ui/missing_bundle_window.py
  common/ayon_common/distribution/utils.py
  common/ayon_common/resources/AYON.icns
  common/ayon_common/resources/AYON.ico
  common/ayon_common/resources/AYON.png
  common/ayon_common/resources/AYON_staging.png
  common/ayon_common/resources/__init__.py
  common/ayon_common/resources/edit.png
  common/ayon_common/resources/eye.png
  common/ayon_common/resources/stylesheet.css
  common/ayon_common/ui_utils.py
  common/ayon_common/utils.py
  openpype/vendor/python/common/ayon_api/__init__.py
  openpype/vendor/python/common/ayon_api/_api.py
  openpype/vendor/python/common/ayon_api/server_api.py
  openpype/vendor/python/common/ayon_api/thumbnails.py
  openpype/vendor/python/common/ayon_api/utils.py
  openpype/vendor/python/common/ayon_api/version.py
  setup.py
  tools/run_tray_ayon.ps1
  tools/run_tray_ayon.sh
Labels: type: feature, size/XXL

#5344 Unreal: Python Environment Improvements
  openpype/hosts/unreal/addon.py
Labels: type: enhancement, sponsored, host: UE, size/XS

#5306 Nuke: removing settings schema with defaults for OpenPype
  openpype/settings/defaults/project_settings/nuke.json
  openpype/settings/entities/schemas/projects_schema/schemas/schema_nuke_publish.json
Labels: type: bug, host: Nuke, size/XS

#5296 Maya: fix validate frame range on review attached to other instances
  openpype/hosts/maya/plugins/publish/collect_review.py
  openpype/settings/entities/schemas/projects_schema/schemas/schema_maya_publish.json
Labels: type: bug, host: Maya, size/XS

#5356 AYON: Addons creation enhancements
  openpype/settings/ayon_settings.py
  server_addon/aftereffects/server/__init__.py
  server_addon/aftereffects/server/settings/creator_plugins.py
  server_addon/aftereffects/server/settings/main.py
  server_addon/aftereffects/server/settings/publish_plugins.py
  server_addon/aftereffects/server/settings/templated_workfile_build.py
  server_addon/aftereffects/server/settings/workfile_builder.py
  server_addon/aftereffects/server/version.py
  server_addon/applications/server/__init__.py
  server_addon/blender/server/settings/main.py
  server_addon/blender/server/settings/publish_plugins.py
  server_addon/blender/server/version.py
  server_addon/clockify/server/settings.py
  server_addon/clockify/server/version.py
  server_addon/core/server/__init__.py
  server_addon/core/server/settings/main.py
  server_addon/core/server/version.py
  server_addon/create_ayon_addons.py
  server_addon/deadline/server/settings/main.py
  server_addon/deadline/server/version.py
  server_addon/harmony/server/__init__.py
  server_addon/harmony/server/settings/load.py
  server_addon/harmony/server/settings/main.py
  server_addon/harmony/server/version.py
  server_addon/kitsu/server/settings.py
  server_addon/kitsu/server/version.py
  server_addon/maya/server/settings/creators.py
  server_addon/maya/server/settings/main.py
  server_addon/maya/server/version.py
  server_addon/muster/server/settings.py
  server_addon/muster/server/version.py
  server_addon/nuke/server/settings/publish_plugins.py
  server_addon/nuke/server/version.py
  server_addon/photoshop/server/__init__.py
  server_addon/royal_render/server/settings.py
  server_addon/royal_render/server/version.py
  server_addon/timers_manager/server/settings.py
  server_addon/timers_manager/server/version.py
  server_addon/traypublisher/server/__init__.py
  server_addon/traypublisher/server/settings/publish_plugins.py
  server_addon/traypublisher/server/version.py
Labels: type: enhancement, host: Nuke, size/XS

#5360 Houdini: Correct camera selection for karma renderer when using selected node
  openpype/hosts/houdini/plugins/create/create_karma_rop.py
Labels: type: bug, host: Houdini, size/XS

#5245 Applications: Environment variables order
  openpype/lib/applications.py
Labels: type: enhancement, size/XS

#5317 Resolve: Update with compatible resolve version and latest docs
  website/docs/admin_hosts_resolve.md
Labels: type: enhancement, host: Resolve, type: documentation, community contribution, size/S

#5336 Maya: Validate Model Content
  openpype/hosts/maya/plugins/publish/validate_model_content.py
Labels: type: bug, host: Maya, size/XS

#5370 Unreal: Move unreal splash screen to unreal
  openpype/hosts/unreal/hooks/pre_workfile_preparation.py
  openpype/hosts/unreal/ui/__init__.py
  openpype/hosts/unreal/ui/splash_screen.py
Labels: type: bug, host: UE, size/XS

#5332 Nuke Render and Prerender nodes Process Order - OP-3555
  openpype/hosts/nuke/api/pipeline.py
  openpype/hosts/nuke/plugins/create/create_write_prerender.py
  openpype/hosts/nuke/plugins/create/create_write_render.py
  openpype/pipeline/create/context.py
Labels: type: enhancement, host: Nuke, sponsored, size/XS

#5366 Nuke: farm rendering of prerender ignore roots in nuke
  openpype/pipeline/farm/pyblish_functions.py
  tests/integration/hosts/nuke/test_deadline_publish_in_nuke_prerender.py
Labels: type: bug, host: Nuke, module: Deadline, size/S

#5361 AYON: Environment variables and functions
  openpype/cli.py
  openpype/lib/__init__.py
  openpype/lib/applications.py
  openpype/lib/execute.py
  openpype/lib/openpype_version.py
  server_addon/create_ayon_addons.py
Labels: type: bug, size/S
