Repository ynput/OpenPype, pull requests merged in 2023-06, with the labels that each got.

#5038 AYON: Preparation for products
  openpype/client/mongo/entities.py
  openpype/client/server/constants.py
  openpype/client/server/conversion_utils.py
  openpype/client/server/entities.py
  openpype/client/server/openpype_comp.py
  openpype/client/server/operations.py
  openpype/plugins/publish/integrate_inputlinks.py
  openpype/plugins/publish/integrate_inputlinks_ayon.py
  openpype/settings/ayon_settings.py
  openpype/settings/defaults/project_settings/global.json
  openpype/settings/defaults/project_settings/tvpaint.json
  openpype/settings/entities/schemas/projects_schema/schema_project_tvpaint.json
  openpype/settings/entities/schemas/projects_schema/schemas/schema_global_publish.json
  openpype/settings/entities/schemas/projects_schema/schemas/schema_global_tools.json
  openpype/tools/creator/widgets.py
  openpype/tools/loader/app.py
  openpype/tools/loader/model.py
  openpype/tools/publisher/widgets/assets_widget.py
  openpype/tools/publisher/widgets/create_widget.py
  openpype/tools/publisher/widgets/widgets.py
  openpype/tools/standalonepublish/widgets/widget_asset.py
  openpype/tools/utils/assets_widget.py
  openpype/vendor/python/common/ayon_api/__init__.py
  openpype/vendor/python/common/ayon_api/_api.py
  openpype/vendor/python/common/ayon_api/constants.py
  openpype/vendor/python/common/ayon_api/entity_hub.py
  openpype/vendor/python/common/ayon_api/graphql_queries.py
  openpype/vendor/python/common/ayon_api/operations.py
  openpype/vendor/python/common/ayon_api/server_api.py
  openpype/vendor/python/common/ayon_api/utils.py
  openpype/vendor/python/common/ayon_api/version.py
Labels: host: TV Paint, Bump Minor, type: feature, size/S

#5078 Resolve: Make sure scripts dir exists
  openpype/hosts/resolve/utils.py
Labels: type: bug, host: Resolve, size/XS

#4625 Redshift Proxy Support in 3dsMax
  openpype/hosts/max/api/lib.py
  openpype/hosts/max/plugins/create/create_redshift_proxy.py
  openpype/hosts/max/plugins/load/load_redshift_proxy.py
  openpype/hosts/max/plugins/publish/extract_redshift_proxy.py
  openpype/hosts/max/plugins/publish/validate_renderer_redshift_proxy.py
  website/docs/artist_hosts_3dsmax.md
Labels: sponsored, type: feature, host: 3dsmax, size/S

#5064 Global: collect_frame_fix plugin fix and cleanup
  openpype/plugins/publish/collect_frames_fix.py
Labels: type: bug, sponsored, size/XS

#4905 Feature: Blender hook to execute python scripts at launch
  openpype/hosts/blender/hooks/pre_add_run_python_script_arg.py
  website/docs/dev_blender.md
  website/sidebars.js
Labels: host: Blender, type: documentation, type: feature, community contribution, size/S

#5047 Feature: Resolve: Open last workfile on launch through .scriptlib
  openpype/hosts/resolve/api/workio.py
  openpype/hosts/resolve/hooks/pre_resolve_launch_last_workfile.py
  openpype/hosts/resolve/startup.py
  openpype/hosts/resolve/utility_scripts/openpype_startup.scriptlib
  openpype/hosts/resolve/utils.py
  openpype/settings/defaults/project_settings/resolve.json
  openpype/settings/entities/schemas/projects_schema/schema_project_resolve.json
Labels: host: Resolve, type: feature, community contribution, size/S

#5039 Nuke: Custom script to set frame range of read nodes
  openpype/hosts/nuke/startup/__init__.py
  openpype/hosts/nuke/startup/frame_setting_for_read_nodes.py
  openpype/settings/defaults/project_settings/nuke.json
Labels: type: enhancement, host: Nuke, sponsored, size/S

#5081 Igniter: QApplication is created
  igniter/__init__.py
Labels: type: bug, Bump Minor, size/XS

#5080 General: Replace deprecated keyword argument in PyMongo
  igniter/tools.py
  openpype/client/mongo/mongo.py
Labels: type: bug, Bump Minor, size/XS

#5085 Tray: Fix restart arguments on update
  openpype/tools/tray/pype_tray.py
Labels: type: bug, size/XS

#5090 General: Lower unidecode version
  poetry.lock
  pyproject.toml
Labels: type: bug, Bump Minor, size/XS

#5052 Maya: Deadline servers
  openpype/hosts/maya/plugins/create/create_render.py
  openpype/hosts/maya/plugins/publish/collect_render.py
  openpype/modules/deadline/plugins/publish/collect_deadline_server_from_instance.py
  openpype/modules/deadline/plugins/publish/collect_default_deadline_server.py
  openpype/modules/deadline/plugins/publish/submit_publish_job.py
Labels: type: bug, host: Maya, module: Deadline, community contribution, size/XS

#5079 3dsmax: refactor load plugins
  openpype/hosts/max/plugins/load/load_model.py
  openpype/hosts/max/plugins/load/load_model_fbx.py
  openpype/hosts/max/plugins/load/load_pointcache.py
Labels: host: 3dsmax, size/S

#5091 Maya: Fix Load Reference.
  openpype/hosts/maya/plugins/load/load_reference.py
Labels: type: bug, host: Maya, community contribution, size/XS

#5074 Update extract review letterbox docs
  website/docs/project_settings/assets/global_extract_review_letter_box_settings.png
  website/docs/project_settings/settings_project_global.md
Labels: type: enhancement, type: documentation, size/XS

#5082 Project pack: Documents only skips roots validation
  openpype/lib/project_backpack.py
Labels: type: enhancement, size/XS

#5089 General: Remove default windowFlags from publisher
  openpype/tools/publisher/window.py
Labels: type: feature, community contribution, size/XS

#5096 Maya: bug fix on repair action in Arnold Scene Source CBID Validator
  openpype/hosts/maya/plugins/publish/validate_arnold_scene_source_cbid.py
Labels: type: bug, host: Maya, size/XS

#5092 Maya: Improve error feedback when no renderable cameras exist for ASS family.
  openpype/hosts/maya/plugins/publish/collect_arnold_scene_source.py
Labels: type: enhancement, host: Maya, community contribution, size/XS

#5093 General: Show user who created the workfile on the details pane of workfile manager
  openpype/tools/workfiles/window.py
Labels: type: feature, community contribution, size/XS

#5026 Houdini: Fix missing frame range for pointcache and camera exports
  openpype/hosts/houdini/plugins/publish/collect_frames.py
  openpype/hosts/houdini/plugins/publish/collect_instances.py
  openpype/hosts/houdini/plugins/publish/collect_rop_frame_range.py
Labels: type: bug, host: Houdini, community contribution, size/XS

#5083 removing info knob from nuke creators
  openpype/hosts/nuke/api/lib.py
  openpype/hosts/nuke/api/pipeline.py
  openpype/hosts/nuke/api/plugin.py
  openpype/hosts/nuke/plugins/create/create_backdrop.py
  openpype/hosts/nuke/plugins/create/create_camera.py
  openpype/hosts/nuke/plugins/create/create_gizmo.py
  openpype/hosts/nuke/plugins/create/create_model.py
  openpype/hosts/nuke/plugins/create/create_source.py
  openpype/hosts/nuke/plugins/create/create_write_image.py
  openpype/hosts/nuke/plugins/create/create_write_prerender.py
  openpype/hosts/nuke/plugins/create/create_write_render.py
Labels: type: bug, host: Nuke, size/XS

#5106 General: Sort launcher actions alphabetically
  openpype/tools/launcher/models.py
Labels: type: bug, size/XS

#5084 Nuke: custom settings for write node without publish
  openpype/hosts/nuke/startup/custom_write_node.py
  openpype/settings/defaults/project_settings/nuke.json
Labels: type: enhancement, host: Nuke, size/XS

#5099 General: Lower cryptography to 39.0.0
  poetry.lock
  pyproject.toml
Labels: type: bug, Bump Minor, size/XS

#5104 Deadline: make prerender check safer
  openpype/modules/deadline/plugins/publish/submit_publish_job.py
Labels: type: bug, sponsored, module: Deadline, size/XS

#5055 Maya: Repair RenderPass token when merging AOVs.
  openpype/hosts/maya/plugins/publish/validate_rendersettings.py
Labels: type: enhancement, host: Maya, community contribution, size/XS

#5118 AYON: Global environments key fix
  openpype/settings/ayon_settings.py
Labels: type: bug, Bump Minor, size/XS

#5109 General: CLI addon command
  openpype/cli.py
Labels: Bump Minor, type: feature, size/XS

#5100 Loader: Hide inactive versions in UI
  openpype/client/entities.py
  openpype/tools/loader/model.py
  openpype/tools/utils/delegates.py
Labels: sponsored, type: feature, size/XS

#5117 3dsmax: Move from deprecated interface
  openpype/hosts/max/api/pipeline.py
Labels: type: refactor, host: 3dsmax, size/XS

#5120 TrayPublisher: Editorial video stream discovery
  openpype/hosts/traypublisher/plugins/create/create_editorial.py
Labels: type: bug, host: TrayPublisher, size/XS

#5103 Nuke: batch of small fixes
  openpype/hosts/nuke/api/pipeline.py
  openpype/hosts/nuke/plugins/publish/extract_render_local.py
  openpype/lib/transcoding.py
  openpype/settings/defaults/project_settings/nuke.json
Labels: type: bug, host: Nuke, size/XS

#4700 ImageIO: Adding ImageIO activation toggle to all hosts
  openpype/hooks/pre_host_set_ocio.py
  openpype/hooks/pre_ocio_hook.py
  openpype/hosts/flame/api/plugin.py
  openpype/hosts/flame/hooks/pre_flame_setup.py
  openpype/hosts/hiero/api/lib.py
  openpype/hosts/maya/api/lib.py
  openpype/hosts/maya/plugins/load/load_image.py
  openpype/hosts/nuke/api/lib.py
  openpype/pipeline/colorspace.py
  openpype/pipeline/publish/publish_plugins.py
  openpype/settings/defaults/project_settings/aftereffects.json
  openpype/settings/defaults/project_settings/blender.json
  openpype/settings/defaults/project_settings/celaction.json
  openpype/settings/defaults/project_settings/flame.json
  openpype/settings/defaults/project_settings/fusion.json
  openpype/settings/defaults/project_settings/global.json
  openpype/settings/defaults/project_settings/harmony.json
  openpype/settings/defaults/project_settings/hiero.json
  openpype/settings/defaults/project_settings/houdini.json
  openpype/settings/defaults/project_settings/max.json
  openpype/settings/defaults/project_settings/maya.json
  openpype/settings/defaults/project_settings/nuke.json
  openpype/settings/defaults/project_settings/photoshop.json
  openpype/settings/defaults/project_settings/resolve.json
  openpype/settings/defaults/project_settings/substancepainter.json
  openpype/settings/defaults/project_settings/traypublisher.json
  openpype/settings/defaults/project_settings/tvpaint.json
  openpype/settings/defaults/project_settings/unreal.json
  openpype/settings/defaults/project_settings/webpublisher.json
  openpype/settings/entities/schemas/projects_schema/schema_project_aftereffects.json
  openpype/settings/entities/schemas/projects_schema/schema_project_blender.json
  openpype/settings/entities/schemas/projects_schema/schema_project_celaction.json
  openpype/settings/entities/schemas/projects_schema/schema_project_flame.json
  openpype/settings/entities/schemas/projects_schema/schema_project_fusion.json
  openpype/settings/entities/schemas/projects_schema/schema_project_global.json
  openpype/settings/entities/schemas/projects_schema/schema_project_harmony.json
  openpype/settings/entities/schemas/projects_schema/schema_project_hiero.json
  openpype/settings/entities/schemas/projects_schema/schema_project_houdini.json
  openpype/settings/entities/schemas/projects_schema/schema_project_max.json
  openpype/settings/entities/schemas/projects_schema/schema_project_maya.json
  openpype/settings/entities/schemas/projects_schema/schema_project_photoshop.json
  openpype/settings/entities/schemas/projects_schema/schema_project_resolve.json
  openpype/settings/entities/schemas/projects_schema/schema_project_substancepainter.json
  openpype/settings/entities/schemas/projects_schema/schema_project_traypublisher.json
  openpype/settings/entities/schemas/projects_schema/schema_project_tvpaint.json
  openpype/settings/entities/schemas/projects_schema/schema_project_unreal.json
  openpype/settings/entities/schemas/projects_schema/schema_project_webpublisher.json
  openpype/settings/entities/schemas/projects_schema/schemas/schema_imageio_config.json
  openpype/settings/entities/schemas/projects_schema/schemas/schema_imageio_file_rules.json
  openpype/settings/entities/schemas/projects_schema/schemas/schema_nuke_imageio.json
  openpype/settings/entities/schemas/projects_schema/schemas/template_colorspace_remapping.json
  openpype/settings/entities/schemas/projects_schema/schemas/template_host_color_management_derived.json
  openpype/settings/entities/schemas/projects_schema/schemas/template_host_color_management_ocio.json
  openpype/settings/entities/schemas/projects_schema/schemas/template_host_color_management_remapped.json
  openpype/settings/entities/schemas/projects_schema/schemas/template_imageio_config.json
  openpype/settings/entities/schemas/projects_schema/schemas/template_imageio_file_rules.json
  tests/unit/openpype/pipeline/publish/test_publish_plugins.py
  tests/unit/openpype/pipeline/test_colorspace.py
Labels: type: enhancement, host: Nuke, host: Maya, host: Houdini, sponsored, host: UE, host: Blender, host: Resolve, host: Harmony, host: Photoshop, host: Fusion, host: Hiero, host: After Effects, host: TV Paint, type: feature, host: Flame, host: TrayPublisher, host: 3dsmax, host: Substance Painter, host: CelAction, host: cross, size/S

#5054 Maya: Support same attribute names on different node types.
  openpype/hosts/maya/plugins/publish/validate_rendersettings.py
Labels: type: bug, host: Maya, community contribution, size/XS

#5133 hide macos dock icon on build
  tools/build.sh
Labels: type: enhancement, size/XS

#5119 Keep `publisher.create_widget` variant when creating subsets
  openpype/tools/publisher/widgets/create_widget.py
Labels: type: enhancement, size/XS

#5128 add label to matching family
  openpype/tools/creator/model.py
Labels: size/XS

#5145 Pack project: Raise exception with reasonable message
  openpype/lib/project_backpack.py
  openpype/pype_commands.py
Labels: type: enhancement, size/XS

#5148 Publisher: Fix save shortcut
  openpype/tools/publisher/window.py
Labels: type: bug, size/XS

#5142 TrayPublisher & StandalonePublisher: Specify version
  openpype/hosts/standalonepublisher/plugins/publish/collect_context.py
  openpype/hosts/traypublisher/api/plugin.py
  openpype/hosts/traypublisher/plugins/publish/collect_simple_instances.py
  openpype/hosts/traypublisher/plugins/publish/help/validate_existing_version.xml
  openpype/hosts/traypublisher/plugins/publish/validate_existing_version.py
  openpype/pipeline/create/context.py
  openpype/plugins/publish/collect_from_create_context.py
  openpype/settings/defaults/project_settings/traypublisher.json
  openpype/settings/entities/schemas/projects_schema/schema_project_traypublisher.json
  openpype/tools/standalonepublish/widgets/widget_family.py
Labels: sponsored, type: feature, host: TrayPublisher, size/S

#5146 Allow "inventory" actions to be supplied by a Module/Addon.
  openpype/modules/README.md
  openpype/modules/base.py
  openpype/modules/interfaces.py
  openpype/pipeline/context_tools.py
Labels: type: enhancement, size/XS

#5154 Pack Project: Fix files packing
  openpype/lib/project_backpack.py
Labels: type: bug, size/XS

#5075 Add height, width and fps setup to project manager
  openpype/client/operations.py
  openpype/tools/project_manager/project_manager/widgets.py
Labels: type: enhancement, community contribution, size/XS

#5143 Maya: bug fix the standin being not loaded when they are first loaded
  openpype/hosts/maya/plugins/load/load_arnold_standin.py
Labels: type: bug, host: Maya, size/XS

#4931 3dsmax: Use custom modifiers to hold instance members
  openpype/hosts/max/api/lib.py
  openpype/hosts/max/api/lib_renderproducts.py
  openpype/hosts/max/api/plugin.py
  openpype/hosts/max/plugins/create/create_camera.py
  openpype/hosts/max/plugins/create/create_maxScene.py
  openpype/hosts/max/plugins/create/create_model.py
  openpype/hosts/max/plugins/create/create_pointcache.py
  openpype/hosts/max/plugins/create/create_pointcloud.py
  openpype/hosts/max/plugins/create/create_redshift_proxy.py
  openpype/hosts/max/plugins/create/create_render.py
  openpype/hosts/max/plugins/load/load_camera_fbx.py
  openpype/hosts/max/plugins/load/load_max_scene.py
  openpype/hosts/max/plugins/load/load_model.py
  openpype/hosts/max/plugins/load/load_model_fbx.py
  openpype/hosts/max/plugins/load/load_model_obj.py
  openpype/hosts/max/plugins/load/load_model_usd.py
  openpype/hosts/max/plugins/load/load_pointcache.py
  openpype/hosts/max/plugins/load/load_pointcloud.py
  openpype/hosts/max/plugins/publish/collect_members.py
  openpype/hosts/max/plugins/publish/extract_camera_abc.py
  openpype/hosts/max/plugins/publish/extract_camera_fbx.py
  openpype/hosts/max/plugins/publish/extract_max_scene_raw.py
  openpype/hosts/max/plugins/publish/extract_model.py
  openpype/hosts/max/plugins/publish/extract_model_fbx.py
  openpype/hosts/max/plugins/publish/extract_model_obj.py
  openpype/hosts/max/plugins/publish/extract_model_usd.py
  openpype/hosts/max/plugins/publish/extract_pointcache.py
  openpype/hosts/max/plugins/publish/extract_pointcloud.py
  openpype/hosts/max/plugins/publish/extract_redshift_proxy.py
  openpype/hosts/max/plugins/publish/validate_camera_contents.py
  openpype/hosts/max/plugins/publish/validate_model_contents.py
  openpype/hosts/max/plugins/publish/validate_no_max_content.py
  openpype/hosts/max/plugins/publish/validate_pointcloud.py
  openpype/hosts/max/plugins/publish/validate_usd_plugin.py
Labels: type: enhancement, sponsored, host: 3dsmax, size/M

#5113 Nuke: connect custom write node script to the OP setting
  openpype/hosts/nuke/startup/custom_write_node.py
Labels: type: enhancement, host: Nuke, sponsored, size/XS

#5160 Maya: Xgen multiple descriptions on single shape - OP-6039
  openpype/hosts/maya/plugins/publish/collect_xgen.py
  openpype/hosts/maya/plugins/publish/extract_xgen.py
  openpype/hosts/maya/plugins/publish/validate_xgen.py
Labels: type: bug, host: Maya, sponsored, size/XS

#5167 Maya: Xgen export of Abc's during Render Publishing - OP-6206
  openpype/hosts/maya/plugins/publish/extract_workfile_xgen.py
  openpype/hosts/maya/plugins/publish/extract_xgen.py
Labels: type: bug, host: Maya, size/XS

#5053 OCIO: Support working with single frame renders
  openpype/plugins/publish/extract_color_transcode.py
Labels: type: bug, community contribution, size/XS

#5161 Maya: Xgen version mismatch after publish - OP-6204
  openpype/hosts/maya/plugins/load/load_xgen.py
Labels: type: bug, host: Maya, sponsored, size/XS

#5166 Colorspace: host config path backward compatibility
  openpype/hosts/nuke/api/lib.py
  openpype/pipeline/colorspace.py
Labels: type: bug, host: Nuke, size/XS

#5164 3dsmax: make code compatible with 3dsmax 2022
  openpype/hosts/max/api/plugin.py
  openpype/hosts/max/plugins/create/create_render.py
  openpype/hosts/max/plugins/publish/validate_camera_contents.py
  openpype/hosts/max/plugins/publish/validate_model_contents.py
  openpype/hosts/max/plugins/publish/validate_pointcloud.py
Labels: type: enhancement, host: 3dsmax, size/XS

#5137 Blender: Add support for custom path for app templates
  openpype/hosts/blender/api/lib.py
  openpype/hosts/blender/api/pipeline.py
Labels: sponsored, host: Blender, type: feature, size/XS

#5122 Color Management- added color management support for simple expected files on Deadline
  openpype/modules/deadline/plugins/publish/submit_publish_job.py
Labels: type: bug, type: enhancement, sponsored, module: Deadline, size/XS

#5176 Ftrack: Fix ignore sync filter
  openpype/modules/ftrack/lib/avalon_sync.py
Labels: type: bug, module: Ftrack, size/XS

#5094 Burnins: Refactored burnins script
  openpype/plugins/publish/extract_burnin.py
  openpype/scripts/otio_burnin.py
Labels: type: bug, sponsored, size/S

#5177 Webpublisher - headless publish shouldn't be blocking operation
  openpype/hosts/webpublisher/webserver_service/webpublish_routes.py
Labels: type: bug, size/XS

#5174 Maya: import workfile missing - OP-6233
  openpype/hosts/maya/plugins/load/actions.py
Labels: type: bug, host: Maya, sponsored, size/XS

#5110 Enhancement:animation family loaded as standing (abc) uses "use file sequence"
  openpype/hosts/maya/plugins/load/load_arnold_standin.py
Labels: host: Maya, size/XS

#5170 Unreal: get current project settings not using unreal project name
  openpype/hosts/unreal/hooks/pre_workfile_preparation.py
  openpype/hosts/unreal/lib.py
  openpype/hosts/unreal/ue_workers.py
Labels: type: bug, sponsored, host: UE, Bump Minor, size/XS

#5131 Workfile Builder UI: Workfile builder window is not modal
  openpype/hosts/maya/api/workfile_template_builder.py
  openpype/hosts/nuke/api/workfile_template_builder.py
  openpype/tools/workfile_template_build/window.py
Labels: type: enhancement, host: Nuke, host: Maya, community contribution, size/XS

#5184 Publisher: Fix disappearing actions
  openpype/tools/publisher/control.py
Labels: type: bug, size/XS

#5175 Maya: Include handles - OP-6236
  openpype/hosts/maya/api/lib.py
Labels: type: bug, host: Maya, sponsored, size/XS

#5107 Nuke: open_file function can open autosave script
  openpype/hosts/nuke/api/utils.py
  openpype/hosts/nuke/api/workio.py
Labels: type: bug, host: Nuke, size/XS

#5163 AfterEffects: support for workfile template builder
  openpype/hosts/aftereffects/api/extension.zxp
  openpype/hosts/aftereffects/api/extension/CSXS/manifest.xml
  openpype/hosts/aftereffects/api/extension/index.html
  openpype/hosts/aftereffects/api/extension/js/main.js
  openpype/hosts/aftereffects/api/extension/jsx/hostscript.jsx
  openpype/hosts/aftereffects/api/launch_logic.py
  openpype/hosts/aftereffects/api/pipeline.py
  openpype/hosts/aftereffects/api/plugin.py
  openpype/hosts/aftereffects/api/workfile_template_builder.py
  openpype/hosts/aftereffects/api/ws_stub.py
  openpype/hosts/aftereffects/plugins/load/load_background.py
  openpype/hosts/aftereffects/plugins/load/load_file.py
  openpype/pipeline/workfile/workfile_template_builder.py
  openpype/settings/defaults/project_settings/aftereffects.json
  openpype/settings/entities/schemas/projects_schema/schema_project_aftereffects.json
  openpype/settings/entities/schemas/projects_schema/schemas/schema_templated_workfile_build.json
  website/docs/admin_hosts_aftereffects.md
  website/docs/artist_hosts_aftereffects.md
  website/docs/assets/aftereffects_create_placeholder.png
  website/docs/assets/aftereffects_load_placeholder.png
  website/docs/assets/aftereffects_populated_template.png
  website/docs/assets/aftereffects_prepared_template.png
Labels: sponsored, host: After Effects, type: feature, size/S

#5194 Tweak profiles logging to debug level
  openpype/lib/profiles_filtering.py
Labels: type: enhancement, size/XS

#4854 Maya: Improve Templates
  openpype/hosts/maya/api/lib.py
  openpype/hosts/maya/api/plugin.py
  openpype/hosts/maya/api/workfile_template_builder.py
  openpype/hosts/nuke/api/workfile_template_builder.py
  openpype/pipeline/workfile/workfile_template_builder.py
Labels: type: enhancement, host: Nuke, host: Maya, size/XS

#5197 General: Revert backward incompatible change of path to template to multiplatform
  openpype/pipeline/workfile/workfile_template_builder.py
  openpype/settings/entities/schemas/projects_schema/schemas/schema_templated_workfile_build.json
Labels: type: bug, size/XS

#5203 AfterEffects - add container check validator to AE settings
  openpype/settings/defaults/project_settings/aftereffects.json
  openpype/settings/entities/schemas/projects_schema/schema_project_aftereffects.json
Labels: host: After Effects, size/XS

#5193 Resolve: after launch automatization fixes
  openpype/hosts/resolve/api/lib.py
  openpype/hosts/resolve/api/workio.py
  openpype/hosts/resolve/hooks/pre_resolve_last_workfile.py
  openpype/hosts/resolve/hooks/pre_resolve_setup.py
  openpype/hosts/resolve/hooks/pre_resolve_startup.py
  openpype/hosts/resolve/startup.py
  openpype/hosts/resolve/utility_scripts/tests/testing_startup_script.py
Labels: type: bug, host: Resolve, size/XS

#5205 Burnins: Filter script is defined only for video streams
  openpype/scripts/otio_burnin.py
Labels: type: bug, size/XS

#5187 Fix the reset frame range not setting up the right timeline in Max
  openpype/hosts/max/api/lib.py
Labels: type: bug, host: 3dsmax, size/XS

#5208 Enhancement: Reduce more visual clutter for artists in new publisher reports
  openpype/modules/ftrack/plugins/publish/collect_ftrack_family.py
  openpype/modules/ftrack/plugins/publish/integrate_ftrack_status.py
  openpype/plugins/publish/cleanup.py
Labels: type: enhancement, module: Ftrack, size/XS

#5216 Convert frame handles to int.
  openpype/hosts/maya/plugins/publish/collect_instances.py
Labels: type: bug, host: Maya, size/XS

#5213 Cosmetics: Tweak pyblish repair actions (icon, logs, docstring)
  openpype/pipeline/publish/publish_plugins.py
Labels: type: enhancement, community contribution, size/XS

#5214 Maya: fix the register_event_callback correctly collecting workfile save after
  openpype/hosts/maya/api/pipeline.py
Labels: type: bug, host: Maya, size/XS

#5218 Houdini: Redshift ROP image format bug
  openpype/hosts/houdini/plugins/create/create_redshift_rop.py
Labels: type: bug, host: Houdini, size/XS

#5212 Colorspace lib fix compatible python version comparison
  openpype/pipeline/colorspace.py
Labels: type: bug, community contribution, size/XS

#5188 Maya: Convert frame values to integers
  openpype/hosts/maya/plugins/publish/collect_instances.py
  openpype/hosts/maya/plugins/publish/collect_maya_scene_time.py
  openpype/hosts/maya/plugins/publish/extract_playblast.py
Labels: type: bug, host: Maya, size/XS

#5223 Colorspace: check PyOpenColorIO rather then python version
  openpype/pipeline/colorspace.py
Labels: type: bug, size/XS
