Repository ynput/OpenPype, pull requests merged in 2023-11, with the labels that each got.

#5845 Chore: Limit current context template data function
  openpype/hosts/houdini/api/lib.py
  openpype/hosts/houdini/api/shelves.py
  openpype/pipeline/context_tools.py
Labels: type: enhancement, host: Houdini, size/S

#5842 AYON: Use AYON username for user in template data
  openpype/lib/local_settings.py
  openpype/plugins/publish/collect_current_pype_user.py
Labels: type: feature, size/XS

#5766 Context Selection tool: Refactor Context tool (for AYON)
  openpype/tools/context_dialog/__init__.py
  openpype/tools/context_dialog/_ayon_window.py
  openpype/tools/context_dialog/_openpype_window.py
Labels: type: feature, size/M

#5849 Blender: Fix Render Settings in Ayon
  server_addon/blender/server/settings/main.py
  server_addon/blender/server/version.py
Labels: type: bug, host: Blender, size/XS

#5848 Blender: Fix missing Grease Pencils in review
  openpype/hosts/blender/plugins/publish/collect_review.py
Labels: type: bug, sponsored, host: Blender, size/XS

#5851 Bigfix: Houdini skip frame_range_validator if node has no 'trange' parameter
  openpype/hosts/houdini/plugins/publish/validate_frame_range.py
Labels: type: bug, host: Houdini, size/XS

#5847 Max: Make sure Collect Render not ignoring instance asset
  openpype/hosts/max/plugins/publish/collect_render.py
  openpype/plugins/publish/collect_scene_version.py
Labels: type: enhancement, host: 3dsmax, size/XS

#5844 Bugfix in houdini shelves manager and beautify settings
  openpype/hosts/houdini/api/shelves.py
  openpype/settings/entities/schemas/projects_schema/schemas/schema_houdini_scriptshelf.json
  server_addon/houdini/server/settings/shelves.py
  server_addon/houdini/server/version.py
Labels: type: bug, host: Houdini, size/XS

#5665 Resolve: load clip to timeline at set time
  openpype/hosts/resolve/RESOLVE_API_v18.5.1-build6.txt
  openpype/hosts/resolve/api/lib.py
  openpype/hosts/resolve/api/plugin.py
Labels: type: enhancement, host: Resolve, size/XS

#5866 Blender: Fix loading of blend layouts
  openpype/hosts/blender/plugins/load/load_blend.py
Labels: type: bug, sponsored, host: Blender, size/XS

#5855 Nuke: Add Nuke 11.0 as default setting
  openpype/settings/defaults/system_settings/applications.json
Labels: type: enhancement, size/XS

#5864 deadline: settings are not blocking extension input
  server_addon/deadline/server/settings/publish_plugins.py
  server_addon/deadline/server/version.py
Labels: type: bug, module: Deadline, size/XS

#5833 Houdini: set frame range for the created composite ROP
  openpype/hosts/houdini/plugins/create/create_composite.py
Labels: type: bug, host: Houdini, size/XS

#5852 Bugfix: houdini image sequence loading and missing frames
  openpype/hosts/houdini/api/lib.py
  openpype/hosts/houdini/plugins/load/load_image.py
  openpype/hosts/houdini/plugins/publish/collect_arnold_rop.py
  openpype/hosts/houdini/plugins/publish/collect_asset_handles.py
  openpype/hosts/houdini/plugins/publish/collect_frames.py
  openpype/hosts/houdini/plugins/publish/collect_karma_rop.py
  openpype/hosts/houdini/plugins/publish/collect_mantra_rop.py
  openpype/hosts/houdini/plugins/publish/collect_redshift_rop.py
  openpype/hosts/houdini/plugins/publish/collect_review_data.py
  openpype/hosts/houdini/plugins/publish/collect_rop_frame_range.py
  openpype/hosts/houdini/plugins/publish/collect_vray_rop.py
  openpype/hosts/houdini/plugins/publish/extract_ass.py
  openpype/hosts/houdini/plugins/publish/extract_bgeo.py
  openpype/hosts/houdini/plugins/publish/extract_composite.py
  openpype/hosts/houdini/plugins/publish/extract_fbx.py
  openpype/hosts/houdini/plugins/publish/extract_opengl.py
  openpype/hosts/houdini/plugins/publish/extract_redshift_proxy.py
  openpype/hosts/houdini/plugins/publish/extract_vdb_cache.py
  openpype/hosts/houdini/plugins/publish/validate_frame_range.py
  openpype/settings/defaults/project_settings/houdini.json
  openpype/settings/entities/schemas/projects_schema/schemas/schema_houdini_publish.json
  server_addon/houdini/server/settings/publish.py
  server_addon/houdini/server/version.py
Labels: type: bug, host: Houdini, size/XS

#5824 Max: Implement Validator for Properties/Attributes Value Check
  openpype/hosts/max/plugins/publish/validate_attributes.py
  openpype/settings/ayon_settings.py
  openpype/settings/defaults/project_settings/max.json
  openpype/settings/entities/schemas/projects_schema/schemas/schema_max_publish.json
  server_addon/max/server/settings/publishers.py
  server_addon/max/server/version.py
  website/docs/artist_hosts_3dsmax.md
  website/docs/assets/3dsmax_validate_attributes.png
Labels: type: enhancement, type: documentation, host: 3dsmax, size/S

#5854 Nuke: loaders' containers updating as nodes
  openpype/hosts/nuke/api/pipeline.py
  openpype/hosts/nuke/api/plugin.py
  openpype/hosts/nuke/plugins/load/load_backdrop.py
  openpype/hosts/nuke/plugins/load/load_camera_abc.py
  openpype/hosts/nuke/plugins/load/load_clip.py
  openpype/hosts/nuke/plugins/load/load_effects.py
  openpype/hosts/nuke/plugins/load/load_effects_ip.py
  openpype/hosts/nuke/plugins/load/load_gizmo.py
  openpype/hosts/nuke/plugins/load/load_gizmo_ip.py
  openpype/hosts/nuke/plugins/load/load_image.py
  openpype/hosts/nuke/plugins/load/load_model.py
  openpype/hosts/nuke/plugins/load/load_ociolook.py
  openpype/hosts/nuke/plugins/load/load_script_precomp.py
Labels: type: bug, host: Nuke, size/S

#5860 Houdini: Remove on instance toggled callback
  openpype/hosts/houdini/api/pipeline.py
  openpype/hosts/houdini/plugins/publish/collect_instances_usd_layered.py
Labels: host: Houdini, type: refactor, community contribution, size/XS

#5850 Bugfix: houdini tab menu working as expected
  openpype/hosts/houdini/api/creator_node_shelves.py
  openpype/hosts/houdini/api/lib.py
  openpype/hosts/houdini/plugins/create/create_bgeo.py
  openpype/hosts/houdini/plugins/create/create_hda.py
  openpype/hosts/houdini/plugins/create/create_redshift_proxy.py
  openpype/hosts/houdini/plugins/create/create_staticmesh.py
  openpype/hosts/houdini/plugins/create/create_vbd_cache.py
  openpype/hosts/houdini/startup/MainMenuCommon.xml
Labels: type: bug, host: Houdini, size/XS

#5870 Fix the Wrong key words for tycache workfile template settings in AYON
  server_addon/core/server/settings/tools.py
Labels: type: bug, size/XS

#5862 Chore: Remove unused `instanceToggled` callbacks
  openpype/hosts/aftereffects/api/pipeline.py
  openpype/hosts/nuke/api/pipeline.py
  openpype/hosts/photoshop/api/pipeline.py
  openpype/hosts/tvpaint/api/pipeline.py
Labels: host: Nuke, host: Photoshop, host: After Effects, host: TV Paint, type: refactor, community contribution, size/XS

#5874 AYON settings: Use correct label for follow workfile version
  server_addon/core/server/settings/publish_plugins.py
Labels: type: enhancement, size/XS

#5853 Ftrack: Events are not processed if project is not available in OpenPype
  openpype/modules/ftrack/event_handlers_server/event_first_version_status.py
  openpype/modules/ftrack/event_handlers_server/event_next_task_update.py
  openpype/modules/ftrack/event_handlers_server/event_push_frame_values_to_task.py
  openpype/modules/ftrack/event_handlers_server/event_task_to_parent_status.py
  openpype/modules/ftrack/event_handlers_server/event_task_to_version_status.py
  openpype/modules/ftrack/event_handlers_server/event_thumbnail_updates.py
  openpype/modules/ftrack/event_handlers_server/event_version_to_task_statuses.py
Labels: type: enhancement, sponsored, module: Ftrack, size/XS

#5869 Testing: app_group flag
  openpype/cli.py
  openpype/pype_commands.py
  tests/conftest.py
  tests/lib/testing_classes.py
Labels: sponsored, type: feature, size/XS

#5876 AYON tools: Handle empty icon definition
  openpype/tools/ayon_utils/widgets/utils.py
Labels: type: bug, size/XS

#5856 AYON: Fix bundles access in settings
  openpype/modules/base.py
  openpype/settings/ayon_settings.py
Labels: type: bug, size/XS

#5878 AYON 3dsMax settings: 'ValidateAttributes' settings converte only if available
  openpype/settings/ayon_settings.py
Labels: type: bug, size/XS

#5775 Testing: Validate Maya Logs
  openpype/hosts/maya/api/lib_rendersettings.py
  openpype/modules/deadline/plugins/publish/collect_deadline_server_from_instance.py
  openpype/modules/deadline/plugins/publish/submit_blender_deadline.py
  openpype/modules/deadline/plugins/publish/submit_houdini_remote_publish.py
  openpype/modules/deadline/plugins/publish/submit_houdini_render_deadline.py
  openpype/modules/deadline/plugins/publish/submit_max_deadline.py
  openpype/modules/deadline/plugins/publish/submit_maya_deadline.py
  openpype/modules/deadline/plugins/publish/submit_maya_remote_publish_deadline.py
  openpype/modules/deadline/plugins/publish/submit_nuke_deadline.py
  openpype/plugins/publish/collect_otio_frame_ranges.py
  openpype/plugins/publish/collect_otio_review.py
  openpype/plugins/publish/collect_otio_subset_resources.py
  openpype/plugins/publish/extract_otio_audio_tracks.py
  openpype/plugins/publish/extract_otio_file.py
  openpype/plugins/publish/extract_otio_review.py
  openpype/plugins/publish/extract_otio_trimming_video.py
  tests/integration/hosts/maya/lib.py
  tests/integration/hosts/maya/test_publish_in_maya.py
  tests/lib/testing_classes.py
Labels: type: enhancement, host: Nuke, host: Maya, host: Houdini, sponsored, host: Blender, module: Deadline, host: 3dsmax, size/S

#5877 Publisher: Center publisher window on first show
  openpype/tools/publisher/window.py
Labels: type: enhancement, size/XS

#5781 Reference USD file as maya native geometry
  openpype/hosts/maya/api/plugin.py
  openpype/hosts/maya/plugins/load/load_reference.py
Labels: type: enhancement, host: Maya, community contribution, size/S, USD

#5881 Publisher: Instance context changes confirm works
  openpype/tools/publisher/widgets/widgets.py
Labels: type: enhancement, size/XS

#5888 Blender: Fix blend extraction and packed images
  openpype/hosts/blender/plugins/publish/extract_blend.py
Labels: type: bug, sponsored, host: Blender, size/XS

#5879 Blender: Use folder path as unique identifier
  openpype/hosts/blender/plugins/publish/extract_abc.py
  openpype/hosts/blender/plugins/publish/extract_abc_animation.py
  openpype/hosts/blender/plugins/publish/extract_blend.py
  openpype/hosts/blender/plugins/publish/extract_blend_animation.py
  openpype/hosts/blender/plugins/publish/extract_camera_abc.py
  openpype/hosts/blender/plugins/publish/extract_camera_fbx.py
  openpype/hosts/blender/plugins/publish/extract_fbx.py
  openpype/hosts/blender/plugins/publish/extract_fbx_animation.py
  openpype/hosts/blender/plugins/publish/extract_layout.py
  openpype/hosts/blender/plugins/publish/extract_playblast.py
  openpype/hosts/blender/plugins/publish/extract_thumbnail.py
Labels: type: enhancement, host: Blender, size/XS

#5885 Chore: New session schema
  openpype/pipeline/context_tools.py
  openpype/pipeline/legacy_io.py
  openpype/pipeline/mongodb.py
  openpype/pipeline/schema/session-4.0.json
Labels: type: feature, size/XS

#5880 AYON: Fix TrayPublisher editorial settings
  openpype/settings/ayon_settings.py
  server_addon/traypublisher/server/settings/editorial_creators.py
  server_addon/traypublisher/server/version.py
Labels: type: bug, host: TrayPublisher, size/XS

#5691 Resolve: Add save current file button + "Save" shortcut when menu is active
  openpype/hosts/resolve/api/menu.py
Labels: type: enhancement, host: Resolve, community contribution, size/XS

#5840 Testing: Ingest expected files and input workfile
  tests/integration/README.md
  tests/integration/hosts/maya/lib.py
  tests/integration/hosts/maya/test_deadline_publish_in_maya.py
  tests/integration/hosts/maya/test_deadline_publish_in_maya/README.md
  tests/integration/hosts/maya/test_deadline_publish_in_maya/expected/test_project/test_asset/publish/model/modelMain/hero/test_project_test_asset_modelMain_hero.abc
  tests/integration/hosts/maya/test_deadline_publish_in_maya/expected/test_project/test_asset/publish/model/modelMain/hero/test_project_test_asset_modelMain_hero.ma
  tests/integration/hosts/maya/test_deadline_publish_in_maya/expected/test_project/test_asset/publish/model/modelMain/v001/test_project_test_asset_modelMain_v001.abc
  tests/integration/hosts/maya/test_deadline_publish_in_maya/expected/test_project/test_asset/publish/model/modelMain/v001/test_project_test_asset_modelMain_v001.ma
  tests/integration/hosts/maya/test_deadline_publish_in_maya/expected/test_project/test_asset/publish/render/renderTest_taskMain_beauty/v001/test_project_test_asset_renderTest_taskMain_beauty_v001.exr
  tests/integration/hosts/maya/test_deadline_publish_in_maya/expected/test_project/test_asset/publish/render/renderTest_taskMain_beauty/v001/test_project_test_asset_renderTest_taskMain_beauty_v001.jpg
  tests/integration/hosts/maya/test_deadline_publish_in_maya/expected/test_project/test_asset/publish/render/renderTest_taskMain_beauty/v001/test_project_test_asset_renderTest_taskMain_beauty_v001_png.png
  tests/integration/hosts/maya/test_deadline_publish_in_maya/expected/test_project/test_asset/publish/workfile/workfileTest_task/v001/test_project_test_asset_workfileTest_task_v001.ma
  tests/integration/hosts/maya/test_deadline_publish_in_maya/expected/test_project/test_asset/work/test_task/test_project_test_asset_test_task_v001.ma
  tests/integration/hosts/maya/test_deadline_publish_in_maya/expected/test_project/test_asset/work/test_task/test_project_test_asset_test_task_v002.ma
  tests/integration/hosts/maya/test_deadline_publish_in_maya/expected/test_project/test_asset/work/test_task/workspace.mel
  tests/integration/hosts/maya/test_deadline_publish_in_maya/input/dumps/avalon_tests/test_project.bson
  tests/integration/hosts/maya/test_deadline_publish_in_maya/input/dumps/avalon_tests/test_project.metadata.json
  tests/integration/hosts/maya/test_deadline_publish_in_maya/input/dumps/openpype_tests/settings.bson
  tests/integration/hosts/maya/test_deadline_publish_in_maya/input/dumps/openpype_tests/settings.metadata.json
  tests/integration/hosts/maya/test_deadline_publish_in_maya/input/env_vars/env_var.json
  tests/integration/hosts/maya/test_deadline_publish_in_maya/input/startup/userSetup.py
  tests/integration/hosts/maya/test_deadline_publish_in_maya/input/workfile/test_project_test_asset_test_task_v001.ma
  tests/integration/hosts/maya/test_publish_in_maya.py
  tests/integration/hosts/maya/test_publish_in_maya/expected/test_project/test_asset/publish/model/modelMain/hero/test_project_test_asset_modelMain_hero.abc
  tests/integration/hosts/maya/test_publish_in_maya/expected/test_project/test_asset/publish/model/modelMain/hero/test_project_test_asset_modelMain_hero.ma
  tests/integration/hosts/maya/test_publish_in_maya/expected/test_project/test_asset/publish/model/modelMain/v001/test_project_test_asset_modelMain_v001.abc
  tests/integration/hosts/maya/test_publish_in_maya/expected/test_project/test_asset/publish/model/modelMain/v001/test_project_test_asset_modelMain_v001.ma
  tests/integration/hosts/maya/test_publish_in_maya/expected/test_project/test_asset/publish/workfile/workfileTest_task/v001/test_project_test_asset_workfileTest_task_v001.ma
  tests/integration/hosts/maya/test_publish_in_maya/expected/test_project/test_asset/work/test_task/renders/maya/test_project_test_asset_workfileTest_task_v001/Main/renderMain_metadata.json
  tests/integration/hosts/maya/test_publish_in_maya/expected/test_project/test_asset/work/test_task/test_project_test_asset_test_task_v001.ma
  tests/integration/hosts/maya/test_publish_in_maya/expected/test_project/test_asset/work/test_task/test_project_test_asset_test_task_v002.ma
  tests/integration/hosts/maya/test_publish_in_maya/expected/test_project/test_asset/work/test_task/workspace.mel
  tests/integration/hosts/maya/test_publish_in_maya/input/dumps/avalon_tests/test_project.bson
  tests/integration/hosts/maya/test_publish_in_maya/input/dumps/avalon_tests/test_project.metadata.json
  tests/integration/hosts/maya/test_publish_in_maya/input/dumps/openpype_tests/settings.bson
  tests/integration/hosts/maya/test_publish_in_maya/input/dumps/openpype_tests/settings.metadata.json
  tests/integration/hosts/maya/test_publish_in_maya/input/env_vars/env_var.json
  tests/integration/hosts/maya/test_publish_in_maya/input/startup/userSetup.py
  tests/integration/hosts/maya/test_publish_in_maya/input/workfile/test_project_test_asset_test_task_v001.ma
  tests/lib/file_handler.py
  tests/lib/testing_classes.py
Labels: type: enhancement, host: Maya, sponsored, module: Deadline, size/XL

#5890 AYON: Initialize connection with all information
  openpype/client/__init__.py
  openpype/client/server/entities.py
  openpype/client/server/entity_links.py
  openpype/client/server/operations.py
  openpype/client/server/utils.py
  openpype/lib/local_settings.py
  openpype/modules/base.py
  openpype/pipeline/anatomy.py
  openpype/pipeline/context_tools.py
  openpype/pipeline/thumbnail.py
  openpype/settings/ayon_settings.py
Labels: type: bug, size/S

#5875 Maya: Bug fix the fbx animation export errored out when the skeletonAnim set is empty
  openpype/hosts/maya/api/fbx.py
  openpype/hosts/maya/plugins/publish/extract_fbx_animation.py
Labels: type: bug, host: Maya, size/XS

#5839 Max: Bug fix on wrong aspect ratio and viewport not being maximized during context in review family
  openpype/hosts/max/api/preview_animation.py
  openpype/hosts/max/plugins/create/create_review.py
  openpype/hosts/max/plugins/publish/collect_review.py
  openpype/plugins/publish/extract_review.py
Labels: type: enhancement, host: 3dsmax, size/XS

#5882 Bugfix: fix few typos in houdini's and Maya's Ayon settings
  server_addon/houdini/server/settings/create.py
  server_addon/houdini/server/settings/publish.py
  server_addon/houdini/server/version.py
  server_addon/maya/server/settings/creators.py
  server_addon/maya/server/version.py
Labels: type: bug, host: Maya, host: Houdini, size/XS

#5896 AYON: Scene inventory tool without site sync
  openpype/tools/ayon_sceneinventory/models/site_sync.py
Labels: type: bug, size/XS

#5898 Publish report tool: Fix PySide6
  openpype/tools/publisher/publish_report_viewer/window.py
Labels: type: bug, size/XS

#5859 Max: Allows user preset the setting of preview animation in OP/AYON Setting
  openpype/hosts/max/plugins/create/create_review.py
  openpype/settings/defaults/project_settings/max.json
  openpype/settings/entities/schemas/projects_schema/schema_project_max.json
  server_addon/max/server/settings/create_review_settings.py
  server_addon/max/server/settings/main.py
  server_addon/max/server/version.py
Labels: type: enhancement, host: 3dsmax, size/S

#5886 Update houdini license validator
  openpype/hosts/houdini/plugins/publish/validate_houdini_license_category.py
Labels: type: bug, host: Houdini, size/XS, USD

#5908 Chore: Create plugin auto-apply settings
  openpype/hosts/maya/api/plugin.py
  openpype/pipeline/create/creator_plugins.py
Labels: type: enhancement, host: Maya, size/S

#5917 Enhancement: Some publish logs cosmetics
  openpype/hosts/tvpaint/plugins/load/load_reference_image.py
  openpype/modules/ftrack/event_handlers_server/action_tranfer_hierarchical_values.py
  openpype/modules/ftrack/event_handlers_server/event_next_task_update.py
  openpype/modules/ftrack/event_handlers_server/event_sync_to_avalon.py
  openpype/modules/ftrack/event_handlers_user/action_component_open.py
  openpype/modules/ftrack/event_handlers_user/action_delete_asset.py
  openpype/modules/ftrack/event_handlers_user/action_delivery.py
  openpype/modules/ftrack/event_handlers_user/action_job_killer.py
  openpype/plugins/publish/cleanup_explicit.py
  openpype/plugins/publish/collect_rendered_files.py
  openpype/plugins/publish/extract_burnin.py
  openpype/plugins/publish/extract_color_transcode.py
  openpype/plugins/publish/extract_review.py
  openpype/plugins/publish/integrate_thumbnail.py
  openpype/plugins/publish/integrate_thumbnail_ayon.py
  openpype/settings/entities/dict_conditional.py
  openpype/settings/entities/dict_immutable_keys_entity.py
  openpype/settings/entities/dict_mutable_keys_entity.py
  openpype/settings/entities/item_entities.py
  openpype/settings/entities/list_entity.py
  openpype/settings/entities/root_entities.py
Labels: type: enhancement, module: Ftrack, host: TV Paint, type: refactor, community contribution, size/XS

#5884 TrayPublisher: editorial frame range check not needed
  openpype/hosts/traypublisher/plugins/create/create_editorial.py
  openpype/hosts/traypublisher/plugins/publish/collect_sequence_frame_data.py
  openpype/hosts/traypublisher/plugins/publish/validate_frame_ranges.py
  openpype/plugins/publish/collect_resources_path.py
Labels: type: bug, host: TrayPublisher, size/XS

#5815 Bugfix: Ayon Deadline env vars + error message on no executable found
  openpype/modules/deadline/repository/custom/plugins/Ayon/Ayon.py
  openpype/modules/deadline/repository/custom/plugins/GlobalJobPreLoad.py
Labels: type: bug, module: Deadline, community contribution, size/XS

#5801 Maya: Render Settings cleanup remove global `RENDER_ATTRS`
  openpype/hosts/maya/api/lib.py
  openpype/hosts/maya/api/lib_rendersettings.py
  openpype/hosts/maya/plugins/publish/validate_rendersettings.py
  openpype/modules/muster/plugins/publish/submit_maya_muster.py
Labels: type: enhancement, host: Maya, type: refactor, community contribution, size/XS

#5910 Blender: Refactor to new publisher
  openpype/hosts/blender/api/__init__.py
  openpype/hosts/blender/api/lib.py
  openpype/hosts/blender/api/ops.py
  openpype/hosts/blender/api/pipeline.py
  openpype/hosts/blender/api/plugin.py
  openpype/hosts/blender/blender_addon/startup/init.py
  openpype/hosts/blender/plugins/create/convert_legacy.py
  openpype/hosts/blender/plugins/create/create_action.py
  openpype/hosts/blender/plugins/create/create_animation.py
  openpype/hosts/blender/plugins/create/create_blendScene.py
  openpype/hosts/blender/plugins/create/create_camera.py
  openpype/hosts/blender/plugins/create/create_layout.py
  openpype/hosts/blender/plugins/create/create_model.py
  openpype/hosts/blender/plugins/create/create_pointcache.py
  openpype/hosts/blender/plugins/create/create_render.py
  openpype/hosts/blender/plugins/create/create_review.py
  openpype/hosts/blender/plugins/create/create_rig.py
  openpype/hosts/blender/plugins/create/create_workfile.py
  openpype/hosts/blender/plugins/load/load_blend.py
  openpype/hosts/blender/plugins/load/load_layout_json.py
  openpype/hosts/blender/plugins/publish/collect_current_file.py
  openpype/hosts/blender/plugins/publish/collect_instance.py
  openpype/hosts/blender/plugins/publish/collect_instances.py
  openpype/hosts/blender/plugins/publish/collect_render.py
  openpype/hosts/blender/plugins/publish/collect_review.py
  openpype/hosts/blender/plugins/publish/collect_workfile.py
  openpype/hosts/blender/plugins/publish/extract_abc.py
  openpype/hosts/blender/plugins/publish/extract_abc_animation.py
  openpype/hosts/blender/plugins/publish/extract_blend.py
  openpype/hosts/blender/plugins/publish/extract_blend_animation.py
  openpype/hosts/blender/plugins/publish/extract_camera_abc.py
  openpype/hosts/blender/plugins/publish/extract_camera_fbx.py
  openpype/hosts/blender/plugins/publish/extract_fbx.py
  openpype/hosts/blender/plugins/publish/extract_fbx_animation.py
  openpype/hosts/blender/plugins/publish/extract_layout.py
  openpype/hosts/blender/plugins/publish/extract_playblast.py
  openpype/hosts/blender/plugins/publish/increment_workfile_version.py
  openpype/hosts/blender/plugins/publish/integrate_animation.py
  openpype/hosts/blender/plugins/publish/validate_camera_zero_keyframe.py
  openpype/hosts/blender/plugins/publish/validate_deadline_publish.py
  openpype/hosts/blender/plugins/publish/validate_file_saved.py
  openpype/hosts/blender/plugins/publish/validate_instance_empty.py
  openpype/hosts/blender/plugins/publish/validate_mesh_has_uv.py
  openpype/hosts/blender/plugins/publish/validate_mesh_no_negative_scale.py
  openpype/hosts/blender/plugins/publish/validate_no_colons_in_name.py
  openpype/hosts/blender/plugins/publish/validate_object_mode.py
  openpype/hosts/blender/plugins/publish/validate_render_camera_is_set.py
  openpype/hosts/blender/plugins/publish/validate_transform_zero.py
  openpype/plugins/publish/collect_comment.py
Labels: type: enhancement, host: Blender, module: Deadline, type: refactor, community contribution, size/L

#5897 AYON workfiles tools: Revisit workfiles tool
  openpype/tools/ayon_utils/models/__init__.py
  openpype/tools/ayon_utils/models/cache.py
  openpype/tools/ayon_utils/models/selection.py
  openpype/tools/ayon_utils/widgets/projects_widget.py
  openpype/tools/ayon_workfiles/abstract.py
  openpype/tools/ayon_workfiles/control.py
  openpype/tools/ayon_workfiles/models/__init__.py
  openpype/tools/ayon_workfiles/models/hierarchy.py
  openpype/tools/ayon_workfiles/models/selection.py
  openpype/tools/ayon_workfiles/models/workfiles.py
  openpype/tools/ayon_workfiles/widgets/files_widget.py
  openpype/tools/ayon_workfiles/widgets/files_widget_published.py
  openpype/tools/ayon_workfiles/widgets/files_widget_workarea.py
  openpype/tools/ayon_workfiles/widgets/folders_widget.py
  openpype/tools/ayon_workfiles/widgets/side_panel.py
  openpype/tools/ayon_workfiles/widgets/tasks_widget.py
  openpype/tools/ayon_workfiles/widgets/window.py
Labels: type: enhancement, size/XL

#5927 Blender: Better name of 'asset_name' function
  openpype/hosts/blender/api/plugin.py
  openpype/hosts/blender/plugins/create/create_action.py
  openpype/hosts/blender/plugins/load/import_workfile.py
  openpype/hosts/blender/plugins/load/load_abc.py
  openpype/hosts/blender/plugins/load/load_action.py
  openpype/hosts/blender/plugins/load/load_audio.py
  openpype/hosts/blender/plugins/load/load_blend.py
  openpype/hosts/blender/plugins/load/load_blendscene.py
  openpype/hosts/blender/plugins/load/load_camera_abc.py
  openpype/hosts/blender/plugins/load/load_camera_fbx.py
  openpype/hosts/blender/plugins/load/load_fbx.py
  openpype/hosts/blender/plugins/load/load_layout_json.py
  openpype/hosts/blender/plugins/load/load_look.py
Labels: type: enhancement, host: Blender, size/XS

#5906 Nuke: updated colorspace settings
  openpype/settings/defaults/project_settings/nuke.json
  server_addon/nuke/server/settings/imageio.py
  server_addon/nuke/server/version.py
Labels: type: enhancement, host: Nuke, size/XS

#5907 fusion: removing hardcoded template name for saver
  openpype/hosts/fusion/plugins/create/create_saver.py
Labels: type: bug, host: Fusion, size/XS

#5915 AYON: Loader tool bugs hunt
  openpype/tools/ayon_loader/control.py
  openpype/tools/ayon_loader/models/products.py
Labels: type: bug, size/XS

#5918 Chore: Do not use template data as source for context
  openpype/hosts/photoshop/plugins/publish/collect_auto_image.py
  openpype/hosts/photoshop/plugins/publish/collect_auto_review.py
  openpype/hosts/photoshop/plugins/publish/collect_auto_workfile.py
  openpype/modules/deadline/plugins/publish/submit_publish_job.py
  openpype/modules/slack/plugins/publish/collect_slack_family.py
Labels: type: enhancement, host: Photoshop, module: Deadline, size/XS

#5887 Nuke: Change context label enhancement
  openpype/hosts/nuke/api/lib.py
  openpype/hosts/nuke/api/pipeline.py
Labels: type: enhancement, host: Nuke, size/XS

#5911 Max: fix the subset name not changing accordingly after the variant name changes
  openpype/hosts/max/api/lib.py
  openpype/hosts/max/api/plugin.py
Labels: type: bug, host: 3dsmax, size/XS

#5820 Max: Validate loaded plugins tweaks
  openpype/hosts/max/plugins/publish/validate_loaded_plugin.py
  openpype/hosts/max/plugins/publish/validate_usd_plugin.py
  openpype/settings/ayon_settings.py
  openpype/settings/defaults/project_settings/max.json
  openpype/settings/entities/schemas/projects_schema/schemas/schema_max_publish.json
  server_addon/max/server/settings/publishers.py
Labels: type: enhancement, sponsored, host: 3dsmax, size/S

#5923 AYON: Prepare for 'data' via graphql
  openpype/client/server/openpype_comp.py
Labels: type: feature, size/XS

#5914 Chore: Substance Painter Addons for Ayon
  openpype/hosts/substancepainter/api/pipeline.py
  openpype/settings/ayon_settings.py
  server_addon/applications/server/applications.json
  server_addon/applications/server/settings.py
  server_addon/applications/server/version.py
  server_addon/substancepainter/server/__init__.py
  server_addon/substancepainter/server/settings/__init__.py
  server_addon/substancepainter/server/settings/imageio.py
  server_addon/substancepainter/server/settings/main.py
  server_addon/substancepainter/server/version.py
Labels: host: Substance Painter, size/S

#5829 Hiero | Global: editorial with folder path
  openpype/hosts/hiero/api/plugin.py
  openpype/hosts/hiero/plugins/publish/precollect_instances.py
  openpype/hosts/hiero/plugins/publish/precollect_workfile.py
  openpype/plugins/publish/extract_hierarchy_to_ayon.py
Labels: host: Hiero, type: feature

#5873 TrayPublisher: editorial with folder path
  openpype/hosts/traypublisher/api/editorial.py
  openpype/hosts/traypublisher/plugins/create/create_editorial.py
  openpype/hosts/traypublisher/plugins/publish/collect_shot_instances.py
Labels: type: enhancement, host: TrayPublisher, size/M

#5892 AYON | Resolve: support for folder path
  openpype/hosts/resolve/api/plugin.py
  openpype/hosts/resolve/plugins/publish/extract_workfile.py
  openpype/hosts/resolve/plugins/publish/precollect_instances.py
  openpype/hosts/resolve/plugins/publish/precollect_workfile.py
Labels: host: Resolve, type: feature, size/XS

#5937 Chore AYON: AYON addon class
  openpype/modules/__init__.py
  openpype/modules/base.py
  openpype/settings/ayon_settings.py
Labels: type: feature, size/S

#5893 Maya: Render creation - fix broken imports
  openpype/hosts/maya/api/lib_rendersettings.py
Labels: type: bug, host: Maya, size/XS

#5931 Maya: Supports for additional Job Info and Plugin Info in deadline submission
  openpype/modules/deadline/plugins/publish/submit_maya_deadline.py
Labels: type: bug, host: Maya, sponsored, module: Deadline, size/XS

#5943 TrayPublisher: adding back `asset_doc` variable
  openpype/hosts/traypublisher/plugins/publish/validate_frame_ranges.py
Labels: type: bug, host: TrayPublisher, size/XS

#5946 Asset Usage Reporter Tool
  openpype/modules/asset_reporter/__init__.py
  openpype/modules/asset_reporter/module.py
  openpype/modules/asset_reporter/window.py
  openpype/settings/defaults/system_settings/modules.json
  openpype/settings/entities/schemas/system_schema/schema_modules.json
Labels: sponsored, type: feature, size/M

#5947 Settings: Fix ModulesManager init args
  openpype/settings/lib.py
Labels: type: bug, size/XS

#5945 Maya: Remove duplicated attributes of MTOA verbosity level
  openpype/modules/deadline/plugins/publish/submit_maya_deadline.py
Labels: type: bug, host: Maya, module: Deadline, size/XS

#5951 Testing: Fix is_test_failed
  tests/conftest.py
  tests/lib/testing_classes.py
Labels: type: bug, sponsored, size/XS

#5934 Bugfix: Houdini license validator missing families
  openpype/hosts/houdini/plugins/publish/validate_houdini_license_category.py
Labels: type: bug, host: Houdini, size/XS

#5932 Houdini: Add python3.10 libs for Houdini 20 startup
  openpype/hosts/houdini/startup/python3.10libs/pythonrc.py
Labels: type: enhancement, host: Houdini, community contribution, size/XS

#5764 Nuke: Validate Nuke Write Nodes refactor to use variable `node_value` instead of `value`
  openpype/hosts/nuke/plugins/publish/validate_write_nodes.py
Labels: type: bug, host: Nuke, community contribution, size/XS

#5836 Maya: Remove RenderSetup layer observers
  openpype/hosts/maya/api/lib.py
  openpype/hosts/maya/api/pipeline.py
Labels: host: Maya, type: refactor, community contribution, size/S

#5861 Houdini: Remove legacy LOPs USD output processors
  openpype/hosts/houdini/api/pipeline.py
  openpype/hosts/houdini/vendor/husdoutputprocessors/__init__.py
  openpype/hosts/houdini/vendor/husdoutputprocessors/avalon_uri_processor.py
  openpype/hosts/houdini/vendor/husdoutputprocessors/stagingdir_processor.py
Labels: host: Houdini, community contribution, size/S, USD

#5939 Ftrack: rewriting component creation to support multiple thumbnails
  openpype/modules/ftrack/plugins/publish/integrate_ftrack_instances.py
Labels: type: enhancement, module: Ftrack, size/S

#5956 Maya: Bug fix Redshift Proxy not being successfully published
  openpype/hosts/maya/plugins/publish/extract_redshift_proxy.py
Labels: type: bug, host: Maya, size/XS

#5957 Maya: Small Tweaks on Validator for Look Default Shader Connection for Maya 2024
  openpype/hosts/maya/plugins/publish/validate_look_default_shaders_connections.py
Labels: type: enhancement, host: Maya, size/XS

#5953 Harmony: Fix local rendering
  openpype/hosts/harmony/api/TB_sceneOpened.js
  openpype/hosts/harmony/plugins/publish/extract_render.py
Labels: type: bug, sponsored, host: Harmony, size/XS

#5929 Maya: fix crashing model renderset collector
  openpype/hosts/maya/plugins/inventory/import_modelrender.py
  openpype/hosts/maya/plugins/publish/collect_look.py
  openpype/pipeline/actions.py
Labels: type: bug, host: Maya, sponsored, size/XS

#5964 Maya: Add Label to MayaUSDReferenceLoader
  openpype/hosts/maya/plugins/load/load_reference.py
Labels: type: bug, host: Maya, size/XS

#5970 AYON: Fix thumbnail integration
  openpype/plugins/publish/integrate_thumbnail_ayon.py
Labels: type: bug, size/XS

#5938 General: Use colorspace data when creating thumbnail
  openpype/lib/transcoding.py
  openpype/plugins/publish/extract_thumbnail.py
  openpype/settings/defaults/project_settings/global.json
  openpype/settings/entities/schemas/projects_schema/schemas/schema_global_publish.json
Labels: type: enhancement, size/XS

#5974 Resolve: renaming menu to AYON
  openpype/hosts/resolve/api/menu.py
  openpype/hosts/resolve/utility_scripts/AYON__Menu.py
  openpype/hosts/resolve/utils.py
Labels: type: enhancement, host: Resolve, size/XS

#5981 Blender: Changed the labels for Layout JSON Extractor
  openpype/hosts/blender/plugins/publish/extract_layout.py
  server_addon/blender/server/settings/publish_plugins.py
Labels: type: enhancement, host: Blender, size/XS
