Repository ynput/OpenPype, pull requests merged in 2024-02, with the labels that each got.

#6187 AYON settings: Use bundle name as variant in dev mode
  openpype/settings/ayon_settings.py
Labels: type: bug, size/XS, target: AYON

#6190 Photoshop: High scaling in UIs
  openpype/hosts/photoshop/api/lib.py
Labels: type: enhancement, host: Photoshop, target: OpenPype, target: AYON

#6195 Ftrack: Status update settings are not case insensitive.
  openpype/modules/ftrack/launch_hooks/post_ftrack_changes.py
Labels: type: enhancement, module: Ftrack, size/XS, target: OpenPype

#6189 General: added fallback for broken ffprobe return
  openpype/lib/transcoding.py
Labels: type: enhancement, sponsored, size/XS

#6188 AYON Applications: Remove djvview group from default applications
  server_addon/applications/server/applications.json
Labels: type: enhancement, size/XS

#6104 AYON Switch tool: Keep version after switch
  openpype/tools/ayon_sceneinventory/switch_dialog/dialog.py
  openpype/tools/sceneinventory/switch_dialog.py
Labels: type: enhancement, size/XS, target: AYON

#5928 Chore: Wrapper for click proposal
  openpype/hosts/standalonepublisher/addon.py
  openpype/hosts/traypublisher/addon.py
  openpype/hosts/webpublisher/addon.py
  openpype/modules/__init__.py
  openpype/modules/click_wrap.py
  openpype/modules/example_addons/example_addon/addon.py
  openpype/modules/ftrack/ftrack_module.py
  openpype/modules/job_queue/module.py
  openpype/modules/kitsu/kitsu_module.py
  openpype/modules/sync_server/sync_server_module.py
Labels: sponsored, module: Ftrack, module: Sitesync, type: feature, module: Kitsu, host: TrayPublisher, size/S, target: OpenPype, target: AYON

#6199 Fusion: Use better resolution of Ayon apps on 4k display
  openpype/hosts/fusion/api/menu.py
  openpype/tools/utils/__init__.py
  openpype/tools/utils/lib.py
Labels: host: Fusion, size/XS, target: OpenPype, target: AYON

#6176 Publisher window as dialog
  openpype/tools/publisher/window.py
Labels: type: bug, size/XS

#6038 Traypublisher: editorial avoid audio tracks processing
  openpype/hosts/traypublisher/plugins/create/create_editorial.py
  openpype/hosts/traypublisher/plugins/publish/collect_shot_instances.py
  openpype/plugins/publish/validate_resources.py
Labels: type: bug, host: TrayPublisher, size/XS, target: OpenPype, target: AYON

#6179 Publisher: Show message with error on action failure
  openpype/tools/publisher/control.py
  openpype/tools/publisher/window.py
Labels: type: enhancement, size/XS, target: OpenPype, target: AYON

#6201 TimersManager: Idle dialog always on top
  openpype/modules/timers_manager/widget_user_idle.py
Labels: type: enhancement, size/XS, target: AYON

#6204 AfterEffects: added toggle for applying values from DB during creation
  openpype/hosts/aftereffects/plugins/create/create_render.py
  openpype/settings/defaults/project_settings/aftereffects.json
  openpype/settings/entities/schemas/projects_schema/schema_project_aftereffects.json
  server_addon/aftereffects/server/settings/creator_plugins.py
  server_addon/aftereffects/server/version.py
Labels: type: enhancement, sponsored, host: After Effects, size/XS, target: AYON

#6210 Update CONTRIBUTING.md
  CONTRIBUTING.md
Labels: size/XS

#6184 Nuke: Camera product type loaded is not updating - OP-7973
  openpype/hosts/nuke/plugins/load/load_camera_abc.py
Labels: type: bug, host: Nuke, size/XS, target: OpenPype, target: AYON, port to AYON

#6183 Nuke: Validate write node fix error report - OP-8088
  openpype/hosts/nuke/plugins/publish/validate_write_nodes.py
Labels: type: bug, host: Nuke, size/XS, target: OpenPype, target: AYON, port to AYON

#6211 Nuke: expose knobs backward compatibility fix - OP-8164
  openpype/hosts/nuke/api/plugin.py
Labels: type: bug, host: Nuke, size/XS, target: OpenPype

#6212 AE: fix local render doesn't push thumbnail to Ftrack
  openpype/plugins/publish/extract_thumbnail.py
Labels: type: bug, size/XS

#6213 Nuke: openpype expose knobs validator - OP-8166
  openpype/hosts/nuke/plugins/publish/validate_exposed_knobs.py
Labels: type: bug, host: Nuke, size/XS

#6200 Bugfix: AYON menu disappeared when the workspace has been changed in 3dsMax
  openpype/hosts/max/api/pipeline.py
Labels: type: bug, host: 3dsmax, size/XS, target: OpenPype, target: AYON, port to AYON

#5837 Maya: Remove `shelf` class and shelf build on maya `userSetup.py`
  openpype/hosts/maya/api/lib.py
  openpype/hosts/maya/startup/userSetup.py
Labels: host: Maya, type: refactor, community contribution, size/S, target: OpenPype, target: AYON, port to AYON

#6214 Maya: Add repair action to hidden joints validator
  openpype/hosts/maya/plugins/publish/validate_rig_joints_hidden.py
Labels: type: enhancement, host: Maya, size/XS, port to AYON

#6128 Resolve Inventory offsets clips when swapping versions
  openpype/hosts/resolve/api/lib.py
  openpype/hosts/resolve/api/plugin.py
Labels: type: bug, sponsored, host: Resolve, community contribution, size/XS, target: OpenPype, target: AYON, port to AYON

#6186 Max: updated implementation of save_scene + small QOL improvements to host
  openpype/hosts/max/api/pipeline.py
  openpype/hosts/max/plugins/publish/save_scene.py
  openpype/hosts/max/startup/startup.ms
Labels: sponsored, host: 3dsmax, community contribution, size/XS, target: OpenPype, target: AYON, port to AYON

#6221 Ftrack: Post-launch hook fix value lowering
  openpype/modules/ftrack/launch_hooks/post_ftrack_changes.py
Labels: type: bug, module: Ftrack, size/XS

#6219 Deadline: Remove redundant instance_skeleton_data code - OP-8269
  openpype/modules/deadline/plugins/publish/submit_publish_job.py
Labels: sponsored, module: Deadline, size/S, port to AYON

#6086 Blender: output node and EXR
  openpype/hosts/blender/api/render_lib.py
  openpype/hosts/blender/plugins/create/create_render.py
  openpype/hosts/blender/plugins/publish/validate_deadline_publish.py
  openpype/settings/defaults/project_settings/blender.json
  openpype/settings/entities/schemas/projects_schema/schema_project_blender.json
  server_addon/blender/server/settings/render_settings.py
  server_addon/blender/server/version.py
Labels: type: enhancement, sponsored, host: Blender, size/XS, target: AYON, port to AYON

#6110 Max: Implementation of Camera Attributes Validator
  openpype/hosts/max/api/action.py
  openpype/hosts/max/plugins/publish/validate_camera_attributes.py
  openpype/settings/defaults/project_settings/max.json
  openpype/settings/entities/schemas/projects_schema/schemas/schema_max_publish.json
  server_addon/max/server/settings/publishers.py
  server_addon/max/server/version.py
Labels: type: enhancement, sponsored, host: 3dsmax, size/S, target: OpenPype, target: AYON, port to AYON

#6218 Deadline: Add AVALON_DB to Deadline submissions - OP-8270
  openpype/modules/deadline/plugins/publish/submit_aftereffects_deadline.py
  openpype/modules/deadline/plugins/publish/submit_blender_deadline.py
  openpype/modules/deadline/plugins/publish/submit_fusion_deadline.py
  openpype/modules/deadline/plugins/publish/submit_harmony_deadline.py
  openpype/modules/deadline/plugins/publish/submit_houdini_cache_deadline.py
  openpype/modules/deadline/plugins/publish/submit_houdini_render_deadline.py
  openpype/modules/deadline/plugins/publish/submit_max_deadline.py
  openpype/modules/deadline/plugins/publish/submit_maya_deadline.py
  openpype/modules/deadline/plugins/publish/submit_maya_remote_publish_deadline.py
  openpype/modules/deadline/plugins/publish/submit_nuke_deadline.py
  openpype/modules/deadline/plugins/publish/submit_publish_cache_job.py
  openpype/modules/deadline/plugins/publish/submit_publish_job.py
Labels: type: bug, host: Nuke, host: Maya, host: Houdini, sponsored, host: Blender, host: Harmony, host: Fusion, host: After Effects, module: Deadline, host: 3dsmax, size/XS

#6233 Unreal: Fix Render Instance Collector to use folderPath
  openpype/hosts/unreal/plugins/publish/collect_render_instances.py
Labels: type: bug, host: UE, size/XS, port to AYON

#6236 Bugfix - Fix "Action Failed" window not showing
  openpype/tools/publisher/control.py
Labels: type: bug, size/XS
