Repository ynput/OpenPype, pull requests merged in 2024-01, with the labels that each got.

#6089 Nuke: Extract Review Intermediate disabled when both Extract Review Mov and Extract Review Intermediate disabled in setting
  openpype/hosts/nuke/plugins/publish/extract_review_intermediates.py
Labels: type: enhancement, host: Nuke, size/XS, target: OpenPype, target: AYON

#6098 Ftrack: DJV action fixes
  openpype/modules/ftrack/event_handlers_user/action_djvview.py
Labels: type: bug, sponsored, module: Ftrack, size/XS, target: OpenPype

#6099 AYON Workfiles tool: Fix arrow to timezone typo
  openpype/tools/ayon_workfiles/models/workfiles.py
Labels: type: bug, community contribution, size/XS

#5988 Testing: Release Maya/Deadline job from pending when testing.
  openpype/modules/deadline/plugins/publish/submit_maya_deadline.py
  openpype/modules/deadline/plugins/publish/submit_publish_job.py
  tests/integration/hosts/maya/test_publish_in_maya/expected/test_project/test_asset/work/test_task/test_project_test_asset_test_task_v001.ma
  tests/integration/hosts/maya/test_publish_in_maya/expected/test_project/test_asset/work/test_task/test_project_test_asset_test_task_v002.ma
  tests/integration/hosts/maya/test_publish_in_maya/input/workfile/test_project_test_asset_test_task_v001.ma
Labels: type: enhancement, host: Maya, module: Deadline, size/XS, target: AYON

#5942 Maya: bug fix the playblast without textures
  openpype/hosts/maya/api/exitstack.py
  openpype/hosts/maya/api/lib.py
  openpype/hosts/maya/plugins/publish/extract_playblast.py
  openpype/hosts/maya/plugins/publish/extract_thumbnail.py
  openpype/settings/defaults/project_settings/maya.json
  openpype/settings/entities/schemas/projects_schema/schemas/schema_maya_capture.json
  server_addon/maya/server/settings/publish_playblast.py
Labels: type: bug, host: Maya, sponsored, size/XS, target: AYON

#6097 Max: User's setting for scene unit scale
  openpype/hosts/max/api/lib.py
  openpype/hosts/max/api/menu.py
  openpype/hosts/max/plugins/publish/extract_camera_fbx.py
  openpype/hosts/max/plugins/publish/extract_fbx.py
  openpype/settings/defaults/project_settings/max.json
  openpype/settings/entities/schemas/projects_schema/schema_project_max.json
  server_addon/max/server/settings/main.py
  server_addon/max/server/version.py
Labels: type: enhancement, type: refactor, host: 3dsmax, size/S, target: OpenPype, target: AYON

#6080 Chore: Event callbacks can have order
  openpype/lib/events.py
  openpype/lib/python_module_tools.py
  tests/unit/openpype/lib/test_event_system.py
Labels: type: enhancement, community contribution, size/XS, target: OpenPype, target: AYON

#6095 AYON: OpenPype addon defines runtime dependencies
  server_addon/openpype/client/pyproject.toml
Labels: type: enhancement, size/XS, target: AYON

#4629 General: We should keep current subset version when we switch only the representation type
  openpype/tools/sceneinventory/switch_dialog.py
Labels: type: enhancement, community contribution, size/XS

#6079 AfterEffects: exposing Deadline pools fields in Publisher UI
  openpype/modules/deadline/plugins/publish/collect_pools.py
Labels: type: enhancement, sponsored, module: Deadline, size/XS, target: OpenPype, target: AYON

#6102 Maya: Apply initial viewport shader for Redshift Proxy after loading
  openpype/hosts/maya/plugins/load/load_redshift_proxy.py
Labels: type: enhancement, host: Maya, size/XS, target: OpenPype, target: AYON

#6109 :wrench: fix and update pydocstyle configuration
  pyproject.toml
  setup.cfg
Labels: type: bug, size/XS, target: OpenPype

#6108 Houdini: add split job export support for Redshift ROP
  openpype/hosts/houdini/plugins/create/create_redshift_rop.py
  openpype/hosts/houdini/plugins/publish/collect_redshift_rop.py
  openpype/modules/deadline/plugins/publish/submit_houdini_render_deadline.py
  server_addon/deadline/server/version.py
  server_addon/houdini/server/version.py
Labels: type: enhancement, host: Houdini, sponsored, module: Deadline, size/XS, target: OpenPype, target: AYON

#6103 Chore: Remove deprecated templates profiles
  openpype/pipeline/publish/lib.py
  openpype/plugins/publish/integrate_hero_version.py
  openpype/settings/entities/schemas/projects_schema/schemas/schema_global_publish.json
  server_addon/core/server/settings/publish_plugins.py
Labels: type: enhancement, size/S

#5948 Houdini: Add loader for redshift proxy family
  openpype/hosts/houdini/plugins/load/load_redshift_proxy.py
Labels: type: enhancement, host: Houdini, size/S, target: AYON

#6111 Fusion: automatic installation of PySide2
  openpype/hosts/fusion/hooks/pre_fusion_setup.py
  openpype/hosts/fusion/hooks/pre_pyside_install.py
  openpype/settings/defaults/project_settings/fusion.json
  openpype/settings/entities/schemas/projects_schema/schema_project_fusion.json
  server_addon/fusion/server/settings.py
  server_addon/fusion/server/version.py
Labels: type: enhancement, sponsored, host: Fusion, size/S, target: OpenPype, target: AYON

#6106 Publisher: Fix issue with parenting of widgets
  openpype/hosts/nuke/api/pipeline.py
  openpype/tools/publisher/window.py
Labels: type: bug, target: OpenPype, target: AYON

#6113 AYON: OpenPype addon dependencies
  server_addon/openpype/client/pyproject.toml
Labels: type: enhancement, size/XS, target: AYON

#6107 Publisher: Window is not always on top
  openpype/tools/publisher/widgets/screenshot_widget.py
  openpype/tools/publisher/window.py
Labels: type: enhancement, sponsored, size/XS, target: OpenPype, target: AYON

#6118 Nuke: Create camera node with the latest camera node class in Nuke 14
  openpype/hosts/nuke/api/lib.py
  openpype/hosts/nuke/plugins/create/create_camera.py
Labels: type: bug, host: Nuke, size/XS

#6048 Blender: Workfile instance update fix
  openpype/hosts/blender/plugins/create/create_workfile.py
Labels: type: bug, host: Blender, community contribution, size/XS

#6120 Chore: Template data for editorial publishing
  openpype/plugins/publish/collect_anatomy_instance_data.py
  openpype/plugins/publish/collect_resources_path.py
Labels: type: bug, sponsored, size/S, target: OpenPype, target: AYON

#6119 Site Sync: small fixes in Loader
  openpype/client/server/entity_links.py
  openpype/tools/ayon_loader/models/site_sync.py
  openpype/tools/ayon_sceneinventory/models/site_sync.py
Labels: type: bug, size/XS

#6116 Kitsu: Clear credentials is safe
  openpype/modules/kitsu/utils/credentials.py
Labels: type: enhancement, module: Kitsu, community contribution, size/XS, target: OpenPype

#6123 SceneInventory: Fix site sync icon conversion
  openpype/tools/ayon_sceneinventory/control.py
  openpype/tools/ayon_sceneinventory/model.py
  openpype/tools/ayon_sceneinventory/models/site_sync.py
Labels: type: bug, size/XS, target: AYON

#6114 Chore: Thumbnail representation has 'outputName'
  openpype/plugins/publish/extract_thumbnail_from_source.py
Labels: type: enhancement, size/XS, target: OpenPype, target: AYON

#6070 Blender: Fix long names for instances
  openpype/hosts/blender/api/plugin.py
  openpype/hosts/blender/plugins/load/load_animation.py
  openpype/hosts/blender/plugins/load/load_blend.py
  openpype/hosts/blender/plugins/load/load_blendscene.py
Labels: type: bug, sponsored, host: Blender, size/XS, target: AYON

#6057 Fusion: new creator for image product type
  openpype/hosts/fusion/api/plugin.py
  openpype/hosts/fusion/plugins/create/create_image_saver.py
  openpype/hosts/fusion/plugins/create/create_saver.py
  openpype/hosts/fusion/plugins/publish/collect_inputs.py
  openpype/hosts/fusion/plugins/publish/collect_instances.py
  openpype/hosts/fusion/plugins/publish/collect_render.py
  openpype/hosts/fusion/plugins/publish/save_scene.py
  openpype/hosts/fusion/plugins/publish/validate_background_depth.py
  openpype/hosts/fusion/plugins/publish/validate_comp_saved.py
  openpype/hosts/fusion/plugins/publish/validate_create_folder_checked.py
  openpype/hosts/fusion/plugins/publish/validate_filename_has_extension.py
  openpype/hosts/fusion/plugins/publish/validate_image_frame.py
  openpype/hosts/fusion/plugins/publish/validate_instance_frame_range.py
  openpype/hosts/fusion/plugins/publish/validate_saver_has_input.py
  openpype/hosts/fusion/plugins/publish/validate_saver_passthrough.py
  openpype/hosts/fusion/plugins/publish/validate_saver_resolution.py
  openpype/hosts/fusion/plugins/publish/validate_unique_subsets.py
  openpype/settings/defaults/project_settings/fusion.json
  openpype/settings/entities/schemas/projects_schema/schema_project_fusion.json
  server_addon/fusion/server/settings.py
  server_addon/fusion/server/version.py
Labels: type: enhancement, sponsored, host: Fusion, size/M, target: AYON

#5124 multiple render camera supports for 3dsmax
  openpype/hosts/max/api/lib_renderproducts.py
  openpype/hosts/max/api/lib_rendersettings.py
  openpype/hosts/max/plugins/create/create_render.py
  openpype/hosts/max/plugins/publish/collect_render.py
  openpype/hosts/max/plugins/publish/save_scenes_for_cameras.py
  openpype/modules/deadline/plugins/publish/submit_max_deadline.py
  openpype/pipeline/farm/pyblish_functions.py
Labels: type: enhancement, sponsored, module: Deadline, host: 3dsmax, size/XS, target: OpenPype, target: AYON

#6127 Substance Painter: Thumbnail errors with PBR Texture Set
  openpype/hosts/substancepainter/plugins/publish/validate_ouput_maps.py
Labels: type: bug, host: Substance Painter, size/XS

#6117 Traypublisher & Chore: Instance version on follow workfile version
  openpype/plugins/publish/collect_anatomy_instance_data.py
Labels: type: bug, community contribution, size/XS, target: OpenPype, target: AYON

#6129 Transcoding: Fix reading image sequences through oiiotool
  openpype/lib/transcoding.py
Labels: type: bug, sponsored, size/XS

#6136 Chore tools: Make sure style object is not garbage collected
  openpype/tools/utils/lib.py
Labels: type: bug, size/XS

#5993 Maya: Account and ignore free image planes.
  openpype/hosts/maya/plugins/publish/extract_camera_mayaScene.py
Labels: type: bug, host: Maya, community contribution, size/XS

#6139 AYON: Fix the bug on the limit group not being set correctly in Maya Deadline Setting
  server_addon/deadline/server/settings/publish_plugins.py
  server_addon/deadline/server/version.py
Labels: type: bug, sponsored, module: Deadline, size/XS, target: AYON

#6140 Chore: Add addons dir only if exists
  openpype/modules/base.py
Labels: type: enhancement, size/XS

#6073 Maya: Attributes are locked after publishing if they are locked in Camera Family
  openpype/hosts/maya/api/lib.py
Labels: type: bug, host: Maya, sponsored, size/S, target: OpenPype, target: AYON

#6142 Chore: Transcoding extensions add missing '.tif' extension
  openpype/lib/transcoding.py
Labels: type: bug, size/XS

#6150 BugFix: Include Model in FBX Loader in Houdini
  openpype/hosts/houdini/plugins/load/load_fbx.py
Labels: type: bug, host: Houdini, size/XS, target: AYON

#6131 Missing nuke family Windows arguments
  server_addon/applications/server/applications.json
  server_addon/applications/server/version.py
Labels: type: bug, size/XS

#6153 Blender: Restore actions to objects after update
  openpype/hosts/blender/plugins/load/load_blend.py
Labels: type: bug, sponsored, host: Blender, size/XS, target: AYON

#6145 Blender: Use the new API for override context
  openpype/hosts/blender/api/capture.py
  openpype/hosts/blender/plugins/load/load_audio.py
  openpype/hosts/blender/plugins/publish/extract_abc_animation.py
  openpype/hosts/blender/plugins/publish/extract_camera_fbx.py
  openpype/hosts/blender/plugins/publish/extract_fbx.py
  openpype/hosts/blender/plugins/publish/extract_fbx_animation.py
  openpype/hosts/blender/plugins/publish/extract_layout.py
Labels: type: bug, sponsored, host: Blender, size/S, target: AYON

#6143 Hiero: Effect Categories - OP-7397
  openpype/hosts/hiero/plugins/publish/collect_clip_effects.py
  server_addon/hiero/server/settings/publish_plugins.py
  server_addon/hiero/server/version.py
Labels: type: enhancement, host: Hiero, size/S

#6154 Chore: Collect template data with hierarchy context
  openpype/plugins/publish/collect_anatomy_instance_data.py
  openpype/plugins/publish/extract_hierarchy_to_ayon.py
Labels: type: bug, size/XS

#6157 Maya: Remove duplicate plugin
  openpype/hosts/maya/plugins/publish/validate_look_members_unique.py
Labels: host: Maya, size/XS

#6092 Publish report viewer: Report items sorting
  openpype/tools/publisher/control.py
  openpype/tools/publisher/publish_report_viewer/model.py
  openpype/tools/publisher/publish_report_viewer/window.py
Labels: community contribution, target: OpenPype, target: AYON

#6163 Max: Bugfix saving camera scene errored out when creating render instance with multi-camera option turned off
  openpype/hosts/max/plugins/publish/save_scenes_for_cameras.py
Labels: type: bug, host: 3dsmax, size/XS

#6156 OP-6382 - Thumbnail Integration Problem
  openpype/hosts/traypublisher/plugins/publish/collect_simple_instances.py
  openpype/plugins/publish/extract_color_transcode.py
  openpype/plugins/publish/extract_thumbnail.py
Labels: type: bug, host: TrayPublisher, size/XS

#6161 Maya: Extended error message
  openpype/hosts/maya/plugins/publish/validate_scene_set_workspace.py
Labels: host: Maya, size/XS

#6165 Blender: Fix missing animation data when updating blend assets
  openpype/hosts/blender/plugins/load/load_blend.py
Labels: type: bug, host: Blender, size/XS, target: AYON

#6159 ExtractOIIOTranscode: Missing product_names to subsets conversion.
  openpype/settings/ayon_settings.py
Labels: type: bug, size/XS

#6141 Workfile Template Builder: Use correct variable in create placeholder
  openpype/pipeline/workfile/workfile_template_builder.py
Labels: type: bug, size/XS

#6082 Fusion: provide better logging for validate saver crash due type error
  openpype/hosts/fusion/plugins/publish/validate_saver_resolution.py
Labels: type: bug, host: Fusion, size/S, target: AYON

#6172 AYON: Remove kitsu addon
  server_addon/kitsu/server/__init__.py
  server_addon/kitsu/server/settings.py
  server_addon/kitsu/server/version.py
Labels: type: enhancement, module: Kitsu, size/S, target: AYON

#6134 Maya: change label in the render settings to be more readable
  server_addon/maya/server/settings/render_settings.py
  server_addon/maya/server/version.py
Labels: host: Maya, size/XS

#6180 TrayPublisher: Pre-fill of version works in AYON
  openpype/hosts/traypublisher/api/plugin.py
Labels: type: bug, host: TrayPublisher, size/XS

#6137 Nuke: Expose write knobs - OP-7592
  openpype/hosts/nuke/api/__init__.py
  openpype/hosts/nuke/api/lib.py
  openpype/hosts/nuke/api/plugin.py
  openpype/hosts/nuke/plugins/create/create_write_image.py
  openpype/hosts/nuke/plugins/create/create_write_prerender.py
  openpype/hosts/nuke/plugins/create/create_write_render.py
  openpype/hosts/nuke/plugins/publish/validate_exposed_knobs.py
  openpype/hosts/nuke/plugins/publish/validate_write_nodes.py
  server_addon/nuke/server/settings/create_plugins.py
  server_addon/nuke/server/version.py
Labels: type: enhancement, host: Nuke, sponsored, size/XS
