Repository ynput/OpenPype, pull requests merged in 2024-04, with the labels that each got.

#5173 Maya: abc options for Pointcache/Animation family - OP-5920
  openpype/hosts/maya/api/alembic.py
  openpype/hosts/maya/api/lib.py
  openpype/hosts/maya/plugins/create/create_animation.py
  openpype/hosts/maya/plugins/create/create_animation_pointcache.py
  openpype/hosts/maya/plugins/create/create_pointcache.py
  openpype/hosts/maya/plugins/publish/collect_animation.py
  openpype/hosts/maya/plugins/publish/collect_pointcache.py
  openpype/hosts/maya/plugins/publish/extract_pointcache.py
  openpype/hosts/maya/plugins/publish/extract_proxy_abc.py
  openpype/hosts/maya/plugins/publish/extract_unreal_skeletalmesh_abc.py
  openpype/hosts/maya/plugins/publish/extract_workfile_xgen.py
  openpype/hosts/maya/plugins/publish/validate_alembic_options_defaults.py
  openpype/settings/defaults/project_settings/maya.json
  openpype/settings/entities/schemas/projects_schema/schemas/schema_maya_create.json
  openpype/settings/entities/schemas/projects_schema/schemas/schema_maya_publish.json
  openpype/tools/publisher/widgets/widgets.py
Labels: type: enhancement, host: Maya, sponsored, host: UE, size/M, target: OpenPype, target: AYON, port to AYON

#6155 Chore: Runtime dependencies
  openpype/modules/sync_server/providers/dropbox.py
  openpype/modules/sync_server/providers/gdrive.py
  openpype/modules/sync_server/providers/sftp.py
  poetry.lock
  pyproject.toml
  tools/fetch_thirdparty_libs.py
Labels: sponsored, module: Sitesync, Bump Minor, dependencies, size/S, target: OpenPype

#6257 Maya: Make sure validators being shown in the Publisher UI when they set to be optional in AYON setting
  openpype/hosts/maya/plugins/publish/validate_animated_reference.py
  openpype/hosts/maya/plugins/publish/validate_animation_content.py
  openpype/hosts/maya/plugins/publish/validate_animation_out_set_related_node_ids.py
  openpype/hosts/maya/plugins/publish/validate_ass_relative_paths.py
  openpype/hosts/maya/plugins/publish/validate_assembly_name.py
  openpype/hosts/maya/plugins/publish/validate_assembly_namespaces.py
  openpype/hosts/maya/plugins/publish/validate_assembly_transforms.py
  openpype/hosts/maya/plugins/publish/validate_camera_attributes.py
  openpype/hosts/maya/plugins/publish/validate_camera_contents.py
  openpype/hosts/maya/plugins/publish/validate_current_renderlayer_renderable.py
  openpype/hosts/maya/plugins/publish/validate_glsl_material.py
  openpype/hosts/maya/plugins/publish/validate_glsl_plugin.py
  openpype/hosts/maya/plugins/publish/validate_instancer_content.py
  openpype/hosts/maya/plugins/publish/validate_instancer_frame_ranges.py
  openpype/hosts/maya/plugins/publish/validate_loaded_plugin.py
  openpype/hosts/maya/plugins/publish/validate_look_shading_group.py
  openpype/hosts/maya/plugins/publish/validate_maya_units.py
  openpype/hosts/maya/plugins/publish/validate_mesh_lamina_faces.py
  openpype/hosts/maya/plugins/publish/validate_mesh_ngons.py
  openpype/hosts/maya/plugins/publish/validate_mesh_no_negative_scale.py
  openpype/hosts/maya/plugins/publish/validate_mesh_non_manifold.py
  openpype/hosts/maya/plugins/publish/validate_mesh_shader_connections.py
  openpype/hosts/maya/plugins/publish/validate_mesh_vertices_have_edges.py
  openpype/hosts/maya/plugins/publish/validate_model_content.py
  openpype/hosts/maya/plugins/publish/validate_no_default_camera.py
  openpype/hosts/maya/plugins/publish/validate_no_namespace.py
  openpype/hosts/maya/plugins/publish/validate_no_null_transforms.py
  openpype/hosts/maya/plugins/publish/validate_no_vraymesh.py
  openpype/hosts/maya/plugins/publish/validate_node_no_ghosting.py
  openpype/hosts/maya/plugins/publish/validate_plugin_path_attributes.py
  openpype/hosts/maya/plugins/publish/validate_render_image_rule.py
  openpype/hosts/maya/plugins/publish/validate_render_no_default_cameras.py
  openpype/hosts/maya/plugins/publish/validate_render_single_camera.py
  openpype/hosts/maya/plugins/publish/validate_renderlayer_aovs.py
  openpype/hosts/maya/plugins/publish/validate_rig_contents.py
  openpype/hosts/maya/plugins/publish/validate_rig_controllers.py
  openpype/hosts/maya/plugins/publish/validate_rig_controllers_arnold_attributes.py
  openpype/hosts/maya/plugins/publish/validate_rig_joints_hidden.py
  openpype/hosts/maya/plugins/publish/validate_rig_out_set_node_ids.py
  openpype/hosts/maya/plugins/publish/validate_shape_render_stats.py
  openpype/hosts/maya/plugins/publish/validate_shape_zero.py
  openpype/hosts/maya/plugins/publish/validate_skeletalmesh_hierarchy.py
  openpype/hosts/maya/plugins/publish/validate_skinCluster_deformer_set.py
  openpype/hosts/maya/plugins/publish/validate_step_size.py
  openpype/hosts/maya/plugins/publish/validate_transform_zero.py
  openpype/hosts/maya/plugins/publish/validate_unique_names.py
  openpype/hosts/maya/plugins/publish/validate_unreal_mesh_triangulated.py
  openpype/hosts/maya/plugins/publish/validate_visible_only.py
  openpype/hosts/maya/plugins/publish/validate_vray_distributed_rendering.py
  openpype/hosts/maya/plugins/publish/validate_vray_referenced_aovs.py
  openpype/hosts/maya/plugins/publish/validate_vray_translator_settings.py
  openpype/hosts/maya/plugins/publish/validate_vrayproxy.py
  openpype/hosts/maya/plugins/publish/validate_vrayproxy_members.py
  openpype/hosts/maya/plugins/publish/validate_yeti_renderscript_callbacks.py
  openpype/hosts/maya/plugins/publish/validate_yeti_rig_cache_state.py
  openpype/hosts/maya/plugins/publish/validate_yeti_rig_input_in_instance.py
  openpype/hosts/maya/plugins/publish/validate_yeti_rig_settings.py
Labels: type: bug, host: Maya, host: UE, size/M

#6249 Hiero: colorspace settings aligned with nuke - AY-978
  openpype/hosts/hiero/api/events.py
  openpype/hosts/hiero/api/lib.py
  openpype/settings/defaults/project_settings/hiero.json
  openpype/settings/defaults/project_settings/nuke.json
  openpype/settings/entities/schemas/projects_schema/schema_project_hiero.json
  openpype/settings/entities/schemas/projects_schema/schemas/schema_nuke_imageio.json
Labels: type: enhancement, host: Nuke, sponsored, host: Hiero, size/S, port to AYON

#6240 Maya: Fix Redshift cryptomatte multipartEXR
  openpype/pipeline/farm/pyblish_functions.py
Labels: type: bug, sponsored, size/XS

#6263 Deadline: Submit Publish job error
  openpype/modules/deadline/plugins/publish/submit_maya_remote_publish_deadline.py
  openpype/modules/deadline/plugins/publish/submit_publish_cache_job.py
  openpype/modules/deadline/plugins/publish/submit_publish_job.py
Labels: type: bug, sponsored, module: Deadline, size/XS

#6262 Substance Painter: Allow users to set texture resolutions when loading mesh to create project
  openpype/hosts/substancepainter/api/lib.py
  openpype/hosts/substancepainter/plugins/load/load_mesh.py
  openpype/settings/defaults/project_settings/substancepainter.json
  openpype/settings/entities/schemas/projects_schema/schema_project_substancepainter.json
  server_addon/substancepainter/server/settings/load_plugins.py
  server_addon/substancepainter/server/settings/main.py
  server_addon/substancepainter/server/version.py
Labels: type: bug, host: Substance Painter, size/XS

#5868 Integration: 3DEqualizer integration
  openpype/hosts/equalizer/__init__.py
  openpype/hosts/equalizer/addon.py
  openpype/hosts/equalizer/api/__init__.py
  openpype/hosts/equalizer/api/host.py
  openpype/hosts/equalizer/api/pipeline.py
  openpype/hosts/equalizer/api/plugin.py
  openpype/hosts/equalizer/hooks/pre_pyside2_install.py
  openpype/hosts/equalizer/plugins/__init__.py
  openpype/hosts/equalizer/plugins/create/__init__.py
  openpype/hosts/equalizer/plugins/create/create_lens_distortion_data.py
  openpype/hosts/equalizer/plugins/create/create_matchmove.py
  openpype/hosts/equalizer/plugins/load/__init__.py
  openpype/hosts/equalizer/plugins/load/load_plate.py
  openpype/hosts/equalizer/plugins/publish/__init__.py
  openpype/hosts/equalizer/plugins/publish/collect_3de_installation_dir.py
  openpype/hosts/equalizer/plugins/publish/collect_camera_data.py
  openpype/hosts/equalizer/plugins/publish/collect_workfile.py
  openpype/hosts/equalizer/plugins/publish/extract_lens_distortion_nuke.py
  openpype/hosts/equalizer/plugins/publish/extract_matchmove_script_maya.py
  openpype/hosts/equalizer/plugins/publish/extract_matchmove_script_nuke.py
  openpype/hosts/equalizer/plugins/publish/validate_camera_pointgroup.py
  openpype/hosts/equalizer/plugins/publish/validate_instance_camera_data.py
  openpype/hosts/equalizer/startup/ayon_create.py
  openpype/hosts/equalizer/startup/ayon_load.py
  openpype/hosts/equalizer/startup/ayon_manage.py
  openpype/hosts/equalizer/startup/ayon_publish.py
  openpype/hosts/equalizer/startup/ayon_workfile.py
  openpype/hosts/equalizer/tests/test_plugin.py
  openpype/hosts/maya/api/plugin.py
  openpype/hosts/maya/plugins/load/load_matchmove.py
  openpype/hosts/nuke/plugins/load/load_backdrop.py
  openpype/hosts/nuke/plugins/load/load_gizmo.py
  openpype/lib/log.py
  openpype/plugins/publish/collect_scene_loaded_versions.py
  openpype/plugins/publish/integrate.py
  openpype/resources/app_icons/3de4.png
  openpype/settings/defaults/project_settings/equalizer.json
  openpype/settings/defaults/system_settings/applications.json
  openpype/settings/entities/enum_entity.py
  openpype/settings/entities/schemas/projects_schema/schema_main.json
  openpype/settings/entities/schemas/projects_schema/schema_project_equalizer.json
  openpype/settings/entities/schemas/projects_schema/schemas/schema_equalizer_create.json
  openpype/settings/entities/schemas/system_schema/host_settings/schema_3dequalizer.json
  openpype/settings/entities/schemas/system_schema/schema_applications.json
  server_addon/applications/server/applications.json
  server_addon/applications/server/settings.py
  server_addon/equalizer/LICENSE
  server_addon/equalizer/README.md
  server_addon/equalizer/server/__init__.py
  server_addon/equalizer/server/settings/__init__.py
  server_addon/equalizer/server/settings/creator_plugins.py
  server_addon/equalizer/server/settings/main.py
  server_addon/equalizer/server/version.py
Labels: host: Nuke, host: Maya, sponsored, type: feature, size/XL, host: 3DEqualizer, port to AYON
