Repository ynput/OpenPype, pull requests merged in 2024-06, with the labels that each got.

#6269 Deadline: Houdini submission settings in OP
  openpype/modules/deadline/plugins/publish/collect_pools.py
  openpype/modules/deadline/plugins/publish/submit_houdini_cache_deadline.py
  openpype/modules/deadline/plugins/publish/submit_houdini_render_deadline.py
  openpype/settings/defaults/project_settings/deadline.json
  openpype/settings/entities/schemas/projects_schema/schema_project_deadline.json
  server_addon/deadline/server/settings/publish_plugins.py
  server_addon/deadline/server/version.py
Labels: type: enhancement, host: Houdini, module: Deadline, size/S

#6268 Maya: Correct Alembic export defaults AY-5273
  openpype/settings/defaults/project_settings/maya.json
Labels: type: bug, host: Maya, size/XS

#6251 Maya: Ensure unique class name compared to `extract_yeti_cache.py`
  openpype/hosts/maya/plugins/publish/extract_unreal_yeticache.py
Labels: type: bug, host: Maya, host: UE, size/XS
