Repository ynput/OpenPype, pull requests merged in 2024-03, with the labels that each got.

#6083 Houdini: fix default render product name in Vray
  openpype/hosts/houdini/plugins/publish/collect_vray_rop.py
Labels: type: bug, host: Houdini, size/XS, target: OpenPype, target: AYON, port to AYON

#6203 Max: Add missing workfile creator
  openpype/hosts/max/plugins/create/create_workfile.py
  openpype/hosts/max/plugins/publish/collect_members.py
  openpype/hosts/max/plugins/publish/collect_workfile.py
Labels: type: enhancement, sponsored, host: 3dsmax, size/S, target: OpenPype, target: AYON, port to AYON

#6235 Tests: Fix failing maya automatic test
  openpype/modules/deadline/plugins/publish/submit_max_deadline.py
Labels: module: Deadline, host: 3dsmax, size/XS

#6171 Use duration from streams as its more precise
  openpype/plugins/publish/extract_thumbnail.py
Labels: type: bug, sponsored, size/XS, target: OpenPype, target: AYON, port to AYON

#6232 Hiero: Add OP settings and convert in plugin - OP-8338
  openpype/hosts/hiero/plugins/publish/collect_clip_effects.py
  openpype/settings/defaults/project_settings/hiero.json
  openpype/settings/entities/schemas/projects_schema/schema_project_hiero.json
Labels: type: bug, host: Hiero, size/XS

#6126 Resolve Clip Load - Slate support
  openpype/hosts/resolve/api/plugin.py
Labels: type: bug, sponsored, host: Resolve, community contribution, size/XS, target: OpenPype, target: AYON, port to AYON

#6239 Nuke: render use existing frames with slate offsets the published render - AY-1433
  openpype/hosts/nuke/plugins/publish/collect_slate_node.py
  openpype/hosts/nuke/plugins/publish/collect_writes.py
Labels: type: bug, host: Nuke, sponsored, size/XS

#6241 AYON Workfiles tool: Copy and open of published workfile works
  openpype/tools/ayon_workfiles/control.py
Labels: type: bug, size/XS

#6242 Chore: OCIO and python2 compatibility fixes
  openpype/pipeline/colorspace.py
  openpype/scripts/ocio_wrapper.py
Labels: type: bug, sponsored, size/XS, target: OpenPype

#6215 Nuke: LoadClip colorspace override - OP-6591
  openpype/hosts/nuke/api/utils.py
  openpype/hosts/nuke/plugins/load/load_clip.py
Labels: type: bug, host: Nuke, sponsored, size/S, port to AYON

#6205 Core: Headless publish failing without GL lib
  openpype/pype_commands.py
Labels: type: bug, size/XS, target: OpenPype, port to AYON
